<%- if user_signed_in? -%>
  <ul>
  <%- if current_user.has_role?('Librarian') -%>
    <li><%= link_to t('question.all'), questions_path -%></li>
  <%- end -%>
  <%- if can? :create, Question -%>
    <li><%= link_to t('question.my'), user_questions_path(current_user) -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.question')), new_user_question_path(current_user) -%></li>
  <%- end -%>
  </ul>
<%- end -%>

<%- if @crd_results -%>
  <h4><%= link_to t('question.crd'), "http://crd.ndl.go.jp/" -%></h4>
  <p><%= t('question.number_of_search_results', :count => @crd_results.total_entries) -%><br />
  <ul>
    <%- @crd_results.each do |result| -%>
      <li><%= link_to h(truncate(result[:question])), result[:url] -%></li>
    <%- end -%>
  </ul>
  <%= will_paginate(@crd_results, :param_name => :crd_page, :class => 'sidebar_pagination') -%>
<%- else -%>
  <p><%= link_to t('question.you_can_search_crd'), "http://crd.ndl.go.jp/" -%></p>
<%- end -%>
