<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.question')) -%></h1>
<div id="content_list">

<%= form_for(@question, :url => {:action => "update"}) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('activerecord.models.user') -%><br />
    <%= link_to @question.user.username, @question.user if @question.user-%>
  </div>

  <div class="field">
    <%= f.label :body -%><br />
    <%= f.text_area :body, :class => 'resource_textarea' -%>
  </div>

  <div class="field">
    <%= f.label :shared -%>
    <%= f.check_box :shared -%>
  </div>

  <div class="field">
    <%= f.label :solved -%>
    <%- if @question.user && @question.user == current_user -%>
      <%= f.check_box :solved -%>
    <%- else -%>
      <%= f.check_box :solved, :disabled => 'disabled' -%>
    <%- end -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), question_path(@question) -%></li>
    <li><%= link_to t('page.back'), questions_path() -%></li>
  </ul>
</div>
