<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.question')) -%></h1>
<div id="content_list">

<%= form_for(:question, :url => user_questions_path(@question.user.username)) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.user') -%><br />
    <%= link_to h(@question.user.username), user_path(@question.user.username) -%>
    <%= f.hidden_field :user_id -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.question.body') -%><br />
    <%= f.text_area :body, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.question.shared') -%>
    <%= f.check_box :shared -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), user_questions_path(@question.user.username) -%></li>
  </ul>
</div>
