<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.question')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @question.user.username, @question.user.profile if @question.user.try(:profile) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.question.body') -%>:</strong>
  <%= raw auto_link(textilize(h(@question.body))) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.question.shared') -%>:</strong>
  <%= localized_boolean(@question.shared) -%>
  <strong><%= t('activerecord.attributes.question.solved') -%>:</strong>
  <%= localized_boolean(@question.solved) -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@question.created_at) -%>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@question.updated_at) -%>
</p>

<p>
  <strong><%= link_to t('activerecord.models.answer'), answers_path(question_id: @question.id) -%>:</strong>
</p>

<ul>
  <%- @question.answers.each do |answer| -%>
    <li><%= link_to answer.user.username, answer.user.profile if answer.user.try(:profile) -%>
    (<%=l answer.updated_at %>)<br />
    <%= raw auto_link(textilize(h(answer.body))) -%><br />
    <% unless answer.items.empty? %>
      <ul>
        <% answer.items.each do |item| %>
          <li><%= link_to item.manifestation.original_title, item.manifestation %><br /></li>
        <% end %>
      </ul>
    <% end %>
    </li>
  <%- end -%>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('question.answer_question'), new_question_answer_path(@question) -%></li>
    <%- if policy(@question).update? -%>
      <li><%= link_to t('page.edit'), edit_question_path(@question) -%></li>
    <%- end -%>
    <li><%= back_to_index(flash[:page_info]) -%></li>
    <li><%= link_to 'レファレンス協同データベース用XMLファイル', question_path(@question, mode: 'crd', format: 'xml') -%></li>
  </ul>
</div>
