<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.bookmark_stat_has_manifestation')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.bookmark_stat') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.attributes.bookmark_stat_has_manifestation.bookmarks_count') -%></th>
  </tr>

<%- @bookmark_stat_has_manifestations.each do |bookmark_stat_has_manifestation| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(bookmark_stat_has_manifestation.bookmark_stat.id), bookmark_stat_has_manifestation.bookmark_stat -%></td>
    <td><%= link_to h(bookmark_stat_has_manifestation.manifestation.original_title), bookmark_stat_has_manifestation.manifestation -%></td>
    <td><%= bookmark_stat_has_manifestation.bookmarks_count -%></td>
    <td><%= link_to t('page.show'), bookmark_stat_has_manifestation -%></td>
    <td><%= link_to t('page.edit'), edit_bookmark_stat_has_manifestation_path(bookmark_stat_has_manifestation) -%></td>
    <td><%= link_to t('page.destroy'), bookmark_stat_has_manifestation, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@bookmark_stat_has_manifestations) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.bookmark_stat_has_manifestation')), new_bookmark_stat_has_manifestation_path -%></li>
  </ul>
</div>
