<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.bookmark_stat_has_manifestation')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.bookmark_stat') -%>:</strong>
  <%= link_to h(@bookmark_stat_has_manifestation.bookmark_stat.id), @bookmark_stat_has_manifestation.bookmark_stat -%>
</p>

<p>
  <strong><%= t('activerecord.models.manifestation') -%>:</strong>
  <%= link_to h(@bookmark_stat_has_manifestation.manifestation.original_title), @bookmark_stat_has_manifestation.manifestation -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookmark_stat_has_manifestation.bookmarks_count') -%>:</strong>
  <%= @bookmark_stat_has_manifestation.bookmarks_count -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_bookmark_stat_has_manifestation_path(@bookmark_stat_has_manifestation) -%></li>
    <li><%= link_to t('page.back'), bookmark_stat_has_manifestations_path -%></li>
  </ul>
</div>
