<%= form_for(@series_statement_merge_list) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :title -%><br />
    <%= f.text_field :title -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
