<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.models.user_import_file') %></th>
    <th><%= t('activerecord.models.user') %></th>
    <th></th>
  </tr>

<% @user_import_results.each do |user_import_result| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to user_import_result.user_import_file.attachment.filename, user_import_result.user_import_file if user_import_result.user_import_file %>
      <br />
      <%=l user_import_result.created_at %>
    </td>
    <td><%= link_to user_import_result.user.username, user_import_result.user.profile if user_import_result.user.try(:profile) %></td>
    <td>
      <%= link_to t('page.show'), user_import_result %>
      <%= link_to t('page.destroy'), user_import_result, data: {confirm: t('page.are_you_sure')}, method: :delete %>
    </td>
  </tr>
<% end %>
</table>
