<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.user_import_result')) -%></h1>
<div id="content_list">
  <% if @user_import_file %>
    <%= render 'list_lines' %>
  <% else %>
    <%= render 'list' %>
  <% end %>
  <%= paginate(@user_import_results) %>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li>
    <% if @user_import_file %>
      <%= link_to((image_tag 'icons/page_white_excel.png', size: '16x16', alt: 'TSV', class: 'icon'), user_import_file_user_import_results_path(@user_import_file, format: :txt, locale: @locale.to_s)) -%>
      (<%= link_to 'TSV', user_import_file_user_import_results_path(format: :txt, locale: @locale.to_s) -%>)
    <% else %>
      <%= link_to((image_tag 'icons/page_white_excel.png', size: '16x16', alt: 'TSV', class: 'icon'), user_import_results_path(format: :txt, locale: @locale.to_s)) -%>
      (<%= link_to 'TSV', user_import_results_path(format: :txt, locale: @locale.to_s) -%>)
    <% end %>
    </li>
  </ul>
</div>
