<div id="content_detail" class="col col-md-9">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.user_import_result')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.models.user_import_file') %></b>
  <%= @user_import_result.user_import_file.attachment.filename if @user_import_result.user_import_file %>
</p>

<p>
  <b><%= t('activerecord.models.user') %></b>
  <%= link_to @user_import_result.user.username, @user_import_result.user.profile if @user_import_result.user.try(:profile) %>
</p>

<p>
  <b><%= t('activerecord.attributes.user_import_result.body') %></b>
  <%= @user_import_result.body.inspect %>
</p>

<p>
  <b><%= t('page.created_at') %></b>
  <%=l @user_import_result.created_at %>
</p>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
