<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.basket')) -%></h1>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.basket.note') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- @baskets.each do |basket| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= basket.user.username -%></td>
    <td><%= basket.note -%></td>
    <td><%= basket.updated_at -%></td>
    <td><%= link_to t('page.show'), user_basket_path(basket.user.username, basket) -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@baskets) -%>

<br />

<%= link_to t('page.new', :model => t('activerecord.models.basket')), new_user_basket_path(@user.username) -%>
