<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.bookmark')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= t('bookmark.user_bookmark', :login_name => @user.username) -%>
  </h2>
  <%= form_for :bookmarks, :url => user_bookmarks_path(@user), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%= submit_tag t('page.search') -%>
    </p>
  <%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.models.bookmark') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th></th>
  </tr>

<%- @bookmarks.each do |bookmark| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to bookmark.user.username, bookmark.user -%></td>
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => bookmark.manifestation} -%>
      <%= render :partial => 'manifestations/holding', :locals => {:manifestation => bookmark.manifestation} -%>
    </td>
    <td><%= l(bookmark.created_at) -%></td>
    <td>
      <%- if can? :destroy, bookmark -%>
        <%= link_to t('page.destroy'), user_bookmark_path(bookmark.user, bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@bookmarks) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Bookmark -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.bookmark')), new_user_bookmark_path(@user) -%></li>
    <%- end -%>
  </ul>
  <%- if user_signed_in? -%>
    <h4><%= t('page.bookmarklet') -%></h4>
    <ul>
      <li><a href="javascript:window.location.href='<%= new_user_bookmark_url(current_user) -%>?bookmark[url]='+encodeURIComponent(location.href)+'&bookmark[title]='+encodeURIComponent(document.title);"><%= t('bookmark.add_to_library_bookmark') -%></a></li>
    </ul>
  <%- end -%>
</div>
