<div class="row-fluid">
<div class="span9">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.bookmark')) -%></h1>

<%= form_for(@bookmark, :url => bookmark_path(@bookmark)) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('page.title') -%><br />
    <%- if @bookmark.manifestation -%>
      <%= link_to @bookmark.manifestation.original_title, @bookmark.manifestation.access_address -%>
    <%- else -%>
      <%= f.text_field :manifestation_id -%>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.tag') -%><br />
    <%= f.text_field :tag_list, :class => 'resource_title' -%>
  </div>

  <div class="field">
    <%= f.label :shared -%>
    <%= f.check_box :shared -%>
  </div>

  <div class="field">
    <%= f.label :note -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<%- end -%>
</div>

<div class="span3">
  <ul>
    <li><%= link_to t('page.showing', :model => t('activerecord.models.manifestation')), @bookmark.manifestation -%></li>
    <li><%= link_to t('page.show'), @bookmark -%></li>
    <li><%= link_to t('page.back'), user_bookmarks_path(@bookmark.user) -%></li>
  </ul>
</div>
</div>
