<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.bookmark')) -%></h1>
<div id="content_list">

<%= form_for(@bookmark, :url => user_bookmarks_path(@user.username)) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('page.title') -%><br />
    <%= f.text_field :title, :class => 'resource_title' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.bookmark.url') -%><br />
    <%- if @bookmark.url -%>
      <%= link_to h(@bookmark.url), @bookmark.url -%>
      <%= f.hidden_field :url, :class => 'resource_url' -%>
    <%- else -%>
      <%= f.url_field :url, :class => 'resource_url' -%>
    <%- end -%>
  </p>

  <p>
    <%= f.label t('page.tag') -%><br />
    <%= f.text_field :tag_list -%>
  </p>
  
  <p>
    <%= f.label t('activerecord.attributes.bookmark.shared') -%>
    <%= f.check_box :shared -%>
  </p>
  
  <p>
    <%= f.label t('activerecord.attributes.bookmark.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <%= javascript_tag("$('#bookmark_tag_list').focus()") -%>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
