<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.bookmark')) -%></h1>
<div id="content_list">

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @bookmark.user.username, @bookmark.user -%>
</p>

<p>
  <strong><%= t('activerecord.models.manifestation') -%>:</strong>
  <%= link_to @bookmark.manifestation.original_title, @bookmark.manifestation -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookmark.url') -%>:</strong>
  <%= link_to @bookmark.url, @bookmark.url -%>
</p>

<p>
  <strong><%= t('page.tag') -%>:</strong>
  <%- @bookmark.tag_counts.collect {|tag| -%>
  <%= link_to tag.name, manifestations_path(:tag => tag.name) -%>
  <%- } -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookmark.note') -%>:</strong>
  <%= @bookmark.note -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@bookmark.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@bookmark.updated_at) -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @user -%>
      <li><%= link_to t('page.edit'),edit_user_bookmark_path(@user, @bookmark) -%></li>
      <li><%= link_to t('page.destroy'), user_bookmark_path(@user, @bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <li><%= link_to t('page.back_to', :model => t('activerecord.models.manifestation')), @bookmark.manifestation -%></li>
      <li><%= link_to t('page.back'), user_bookmarks_path(@user) -%></li>
    <%- else -%>
      <li><%= link_to t('page.edit'),edit_bookmark_path(@bookmark) -%></li>
      <li><%= link_to t('page.destroy'), bookmark_path(@bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <li><%= link_to t('page.back'), :back -%></li>
    <%- end -%>
  </ul>
</div>
