<%= form_for(@inventory_file) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label "#{t('activerecord.models.library')} / #{t('activerecord.models.shelf')}" -%>
    <%= f.select :library_id, @libraries.map{|l| [l.display_name.localize, l.id]} %>
    <%= f.select :shelf_id, @shelves.map{|s| [s.display_name.localize, s.id]} %>
    <%= render 'observe_field' %>
  </div>

  <div class="field">
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :inventory -%>
  </div>

  <div class="field">
    <%= f.label :note -%> <br />
    <%= f.text_area :note -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
