<h2><%= t('activerecord.models.inventory') %></h2>

<p>
  <%= link_to((image_tag 'icons/page_white_excel.png', size: '16x16', alt: 'TSV', class: 'enju_icon'), inventories_path(inventory_file_id: @inventory_file.id, format: :txt)) -%>
  (<%= link_to 'TSV', inventories_path(inventory_file_id: @inventory_file.id, format: :txt) -%>)
</p>

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.attributes.inventory.lineno') %></th>
    <th><%= t('activerecord.attributes.inventory.current_shelf_name') %></th>
    <th><%= t('activerecord.attributes.inventory.item_identifier') %></th>
    <th><%= t('activerecord.models.manifestation') %></th>
    <th></th>
  </tr>
<% @inventories.each_with_index do |inventory, idx| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= @inventories.offset_value + idx + 1 %></td>
    <td><%= inventory.current_shelf_name %></td>
    <td><%= inventory.item_identifier %></td>
    </td>
    <td>
      <% if inventory.item %>
        <%= link_to inventory.item.item_identifier, inventory.item %>
        <br />
        <%= link_to inventory.item.manifestation.original_title, inventory.item.manifestation if inventory.item.try(:manifestation) %>
      <% end %>
    </td>
    <td>
      <%= link_to t('page.show'), inventory %>
      <%= link_to t('page.destroy'), inventory, data: {confirm: t('page.are_you_sure')}, method: :delete %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate(@inventories) %>
