<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.inventory_file')) -%></h1>
<div id="content_list">

<%= form_for(@inventory_file) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :inventory_file_name -%> <br />
    <%= f.text_field :inventory_file_name -%>
  </div>
  <div class="field">
    <%= f.label :inventory_content_type -%> <br />
    <%= f.text_field :inventory_content_type -%>
  </div>
  <div class="field">
    <%= f.label :inventory_file_size -%> <br />
    <%= f.text_field :inventory_file_size -%>
  </div>
  <div class="field">
    <%= f.label :file_hash -%> <br />
    <%= f.text_field :file_hash -%>
  </div>
  <div class="field">
    <%= f.label :user_id -%> <br />
    <%= f.text_field :user_id -%>
  </div>
  <div class="field">
    <%= f.label :note -%> <br />
    <%= f.text_area :note -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @inventory_file -%></li>
    <li><%= link_to t('page.back'), inventory_files_path -%></li>
  </ul>
</div>
