<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory_file')) -%></h1>
<div id="content_list">

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.attributes.inventory_file.shelf') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.inventory_file_name') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.inventory_file_size') -%> </th>
    <th><%= t('activerecord.models.user') -%> </th>
    <th></th>
  </tr>

<%- @inventory_files.each do |inventory_file| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to inventory_file.shelf.display_name, inventory_file.shelf %></td>
    <td>
      <%= link_to inventory_file.inventory_file_name, inventory_file -%>
      <br />
      <%= inventory_file.created_at -%>
    </td>
    <td><%= inventory_file.inventory_file_size -%> </td>
    <td><%= link_to inventory_file.user.username, inventory_file.user.profile if inventory_file.user.try(:profile) -%> </td>
    <td>
      <%= link_to t('page.edit'), edit_inventory_file_path(inventory_file) -%>
      <%= link_to t('page.destroy'), inventory_file, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@inventory_files) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.inventory_file')), new_inventory_file_path -%></li>
  </ul>
</div>

