<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory_file')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.inventory_file.inventory_file_name') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.inventory_content_type') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.inventory_file_size') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.file_hash') -%> </th>
    <th><%= t('activerecord.models.user') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.note') -%> </th>
  </tr>

<%- for inventory_file in @inventory_files -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= inventory_file.inventory_file_name -%> </td>
    <td><%= inventory_file.inventory_content_type -%> </td>
    <td><%= inventory_file.inventory_file_size -%> </td>
    <td><%= inventory_file.file_hash -%> </td>
    <td><%= link_to h(inventory_file.user.username), user_path(inventory_file.user.username) -%> </td>
    <td><%= inventory_file.note -%> </td>
    <td><%= link_to t('page.show'), inventory_file -%> </td>
    <td><%= link_to t('page.edit'), edit_inventory_file_path(inventory_file) -%> </td>
    <td><%= link_to t('page.destroy'), inventory_file, :confirm => t('page.are_you_sure'), :method => :delete -%> </td>
  </tr>
<%- end -%> 
</table>

<%= will_paginate(@inventory_files) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.inventory_file')), new_inventory_file_path -%></li>
  </ul>
</div>

