<div class="row-fluid">
<div class="span9">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.inventory_file')) -%> </h1>

<%= form_for(@inventory_file, :html => {:multipart => true, :class => 'well'}) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :inventory -%>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<%- end -%>

</div>

<div class="span3">
  <ul>
    <li><%= link_to t('page.back'), inventory_files_path -%> </li>
  </ul>
</div>
</div>
