<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.inventory_file')) -%> </h1>
<div id="content_list">

<%= form_for(@inventory_file, :html => {:multipart => true}) do |f| -%> 
  <%= f.error_messages -%> 

  <p>
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :inventory -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), inventory_files_path -%> </li>
  </ul>
</div>
