<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.inventory_file')) -%></h1>
  <div id="content_list">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t('activerecord.attributes.inventory_file.shelf') -%> :</strong>
      <%= link_to @inventory_file.shelf.display_name, @inventory_file.shelf -%>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.inventory_file.inventory_file_name') -%> :</strong>
      <%= @inventory_file.inventory_file_name -%>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.inventory_file.inventory_content_type') -%> :</strong>
      <%= @inventory_file.inventory_content_type -%>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.inventory_file.inventory_file_size') -%> :</strong>
      <%= @inventory_file.inventory_file_size -%>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.inventory_file.inventory_fingerprint') -%> :</strong>
      <%= @inventory_file.inventory_fingerprint -%>
    </p>

    <p>
      <strong><%= t('activerecord.models.user') -%> :</strong>
      <%= link_to @inventory_file.user.username, @inventory_file.user.profile if @inventory_file.user.try(:profile) -%>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.inventory_file.note') -%> :</strong>
      <%= @inventory_file.note -%>
    </p>

    <% if @inventories %>
      <%= render 'results' %>
    <% end %>

  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.edit'), edit_inventory_file_path(@inventory_file) -%> </li>
    <li><%= back_to_index(flash[:page_info]) -%> </li>
  </ul>
</div>
