<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.subject_heading_type')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.subject_heading_type.name') -%>:</strong>
  <%= @subject_heading_type.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.subject_heading_type.display_name') -%>:</strong>
  <%= @subject_heading_type.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.subject_heading_type.note') -%>:</strong>
  <%= @subject_heading_type.note -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- if policy(@subject_heading_type).update? -%>
      <li><%= link_to t('page.edit'), edit_subject_heading_type_path(@subject_heading_type) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
