<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.subject_heading_type')) -%></h1>
<div id="content_list">

<p>
  <strong><%= t('activerecord.attributes.subject_heading_type.display_name') -%>:</strong>
  <%= @subject_heading_type.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.subject_heading_type.note') -%>:</strong>
  <%= @subject_heading_type.note -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_subject_heading_type_path(@subject_heading_type) -%></li>
    <li><%= link_to t('page.back'), subject_heading_types_path -%></li>
    <%- if can? :create, SubjectHeadingTypeHasSubject -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.subject')), subject_heading_type_subjects_path(@subject_heading_type) -%></li>
    <%- end -%>
  </ul>
</div>
