<%= form_for(@classmark) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :name -%><br />
    <%= f.text_field :name -%>
  </div>

  <div class="field">
    <%= f.label :display_name -%><br />
    <%= f.text_field :display_name -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
