<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('activerecord.models.message') -%></h1>
<div id="content_list">
<%= form_for :messages, :url => user_messages_path(current_user), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
   </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<%= form_for :message, :url => destroy_selected_user_messages_path do |form| -%>
  <table class="index">
    <tr>
      <th></th>
      <th><%= t('activerecord.attributes.message.subject') -%></th>
      <th><%= t('activerecord.attributes.message.sender') -%></th>
      <th><%= t('message.sent_at') -%></th>
    </tr>
  <%- @messages.each do |message| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <input id="delete_<%=h message.id -%>" name="delete[]" type="checkbox" value="<%=h message.id %>" class="checkbox" />
      </td>
      <td>
        <% unless message.read? %><strong><% end %>
          <%= link_to h(message.subject), message -%>
        <% unless message.read? %></strong><% end %>
      </td>
      <td><%= link_to h(message.sender.username), message.sender -%></td>
      <td><%= l(message.created_at) -%></td>  
    </tr>
  <%- end -%>
    <tr>
      <td colspan="4"><%= submit_tag t('message.delete') -%></td>
    </tr>
  </table>
<%- end -%>
<%= will_paginate(@messages) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <% mode = params[:mode].to_s %>
    <%- @message_facet.each do |facet| -%>
      <li>
        <% facet.value ? facet_mode = 'read' : facet_mode = 'unread' %>
        <%- if facet_mode == mode -%><strong><%- end -%>
          <%= link_to t("message.#{facet_mode}"), url_for(:params => params.merge(:page => nil, :mode => facet_mode)) -%>
        (<%= facet.count -%>)
        <%- if facet_mode == mode -%></strong><%- end -%>
      </li>
    <%- end -%>
    <% if mode.present? %>
      <li><%= link_to t('page.remove_this_facet'), params.merge(:mode => nil, :page => nil) -%></li>
    <% end %>
  </ul>

  <ul>
    <% if can? :create, Message %>
      <li><%= link_to t('page.new', :model => t('activerecord.models.message')), new_user_message_path(current_user) -%></li>
    <% end %>
  </ul>
</div>
