      <% checkouts.each do |checkout| %>
        <tr class="line<%= cycle("0", "1") -%>">
          <td>
            <%= link_to checkout.item.item_identifier, checkout.item %><br />
            (<%= link_to checkout.item.manifestation.original_title, checkout.item.manifestation %>)
          </td>
          <td>
            <%=l checkout.due_date, formats: :only_date %>
            <br />
            <%- if can? :update, checkout -%>
              <% unless checkout.checkin %>
                (<%= link_to t('checkout.extend'), edit_checkout_path(checkout) -%>)
              <% end %>
            <%- end -%>
          </td>
        </tr>
      <% end %>

