<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.edit_user_profile', :login_name => @profile.user.username) -%></h1>
<div id="content_list">
<%= render 'page/required_field' %>
<%= simple_form_for(@profile, :validate => true) do |f| -%>
  <%= f.error_messages -%>

  <%= render :partial => 'profiles/edit_credential', :locals => {:f => f, :profile => @profile} -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<div style="clear: both">
  <div class="field">
    <%= f.label :keyword_list -%><br />
    <%= f.text_area :keyword_list, :class => 'resource_textarea' -%>
  </div>

  <%= render :partial => 'profiles/edit_profile', :locals => {:f => f, :profile => @profile} -%>
</div>
  <%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.show'), @profile -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.profile')), profiles_path -%></li>
    <%- if current_user.has_role?('Librarian') -%>
      <%- unless current_user == @profile.user -%>
        <li><%= link_to t('page.destroy'), @profile, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%></li>
      <%- end -%>
    <%- end -%>
  </ul>
</div>
