<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.new', model: t('activerecord.models.profile')) -%></h1>
<div id="content_list">
<%= render 'page/required_field' %>
<%= simple_form_for(@profile, validate: true) do |f| -%>
  <%= f.error_messages -%>

  <%= f.fields_for :user do |user_form| %>
    <div class="field">
      <%= user_form.label :username -%>
      <%= user_form.text_field :username, :class => 'resource_user' -%>
    </div>

    <div class="field">
      <%= user_form.label :email -%>
      <%= user_form.email_field :email, :class => 'resource_email' -%>
    </div>

    <div class="field">
      <%= user_form.label :email_confirmation -%>
      <%= user_form.email_field :email_confirmation, :class => 'resource_email' -%>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expired_at -%>
    <%= f.text_field :expired_at, class: 'date_text_field', placeholder: "#{t('page.example')}: 2011-04-12"-%>
  </div>

  <div class="field">
    <%= f.label :user_group_id -%>
    <%= f.select(:user_group_id, @user_groups.collect{|u| [u.display_name.localize, u.id]}) -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.library') -%>
    <%= f.select(:library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}) -%>
  </div>

  <div class="field">
    <%= f.label :locale -%>
    <%= f.select(:locale, @available_languages.collect{|language| [language.display_name.localize, language.iso_639_1]}) -%>
  </div>

  <% if defined?(EnjuSearchLog) %>
    <div class="field">
      <%= f.label :save_search_history %>
      <%= f.check_box :save_search_history %>
    </div>
  <% end %>

  <% if defined?(EnjuCirculation) %>
    <div class="field">
      <%= f.label :save_checkout_history %>
      <%= f.check_box :save_checkout_history %>
    </div>
  <% end %>

  <% if current_user.has_role?('Librarian') %>
    <div class="field">
      <%= f.label :note -%><br />
      <%= f.text_area :note, class: 'resource_textarea' -%>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_number -%>
    <%= f.text_field :user_number, class: 'resource_user' -%>
  </div>

  <div class="actions">
    <%= f.submit t('user.sign_up') -%>
  </div>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.listing', model: t('activerecord.models.profile')), profiles_path -%></li>
    <li><%= link_to t('page.import'), new_user_import_file_path -%></li>
  </ul>
</div>
