<div id="content_detail" class="ui-corner-all">
<div id="content_list">

<%= form_for :chekoutlist, :html => {:method => 'get'} do -%>

<%- @displist.each_with_index do |d, i| -%>
  <div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= d.dispname -%></h1>
  <div id="content_list">
  <table class="index">
    <tr>
      <th>
        <%= t('activerecord.attributes.manifestation.original_title') -%>
      </th>
      <th>
	<%= t('activerecord.models.library') -%>
      </th>
      <th>
        <%= t('activerecord.models.shelf') -%>
      </th>
      <th>
	<%= t('activerecord.attributes.item.call_number') -%>
      </th>
      <th>
        <%= t('activerecord.attributes.item.item_identifier') -%>
      </th>
    </tr>

<%- d.buflist.each_with_index do |c, j| -%>
    <tr>
      <td>
        <%= c['original_title'] -%>
      </td>
      <td>
        <%= c['libarary_name'] -%>
      </td>
      <td>
        <%= c['shelf_name'] -%>
      </td>
      <td>
        <%= c['call_number'] -%>
      </td>
      <td>
        <%= c['item_identifier'] -%>
      </td>
    </tr>
<%- end -%>
  </table>
  </div>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <p>
    <li>
      <%= link_to t('page.download'),  checkoutlist_path(:commit => t('page.download')) -%>
    </li>
  </p>
</div>
<%- end -%>
