<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    value:
                      (
                        if resource.pending_reconfirmation?
                          resource.unconfirmed_email
                        else
                          resource.email
                        end
                      ) %></p>
  </div>

  <div class="actions mt-3">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
