<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.event_category')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.event_category.name') -%></th>
    <th><%= t('activerecord.attributes.event_category.display_name') -%></th>
    <th><%= t('activerecord.attributes.event_category.note') -%></th>
    <th></th>
  </tr>

<%- @event_categories.each do |event_category| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, event_category -%>
        <%= move_position(event_category) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(event_category.name), event_category -%></td>
    <td><%= link_to h(event_category.display_name.localize), event_category -%></td>
    <td><%= event_category.note -%></td>
    <td>
      <%- if can? :destroy, event_category -%>
        <%= link_to t('page.edit'), edit_event_category_path(event_category) -%>
        <%= link_to t('page.destroy'), event_category, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@event_categories) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, EventCategory -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.event_category')), new_event_category_path -%></li>
    <%- end -%>
  </ul>
</div>
