<%= form_for(@resource_import_result) do |f| %>
  <% if @resource_import_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_import_result.errors.count, "error") %> prohibited this resource_import_result from being saved:</h2>

      <ul>
      <% @resource_import_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manifestation_id %><br />
    <%= f.text_field :manifestation_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
