<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.resource_import_result')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.models.resource_import_file') %></b>
  <%= @resource_import_result.resource_import_file.attachment.file_name if @resource_import_resukt.resource_import_file %>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') %></b>
  <%= link_to @resource_import_result.manifestation.original_title, @resource_import_result.manifestation if @resource_import_result.manifestation %>
</p>

<p>
  <b><%= t('activerecord.models.item') %></b>
  <%= link_to @resource_import_result.item.item_identifier, @resource_import_result.item if @resource_import_result.item %>
</p>

<p>
  <b><%= t('activerecord.attributes.resource_import_result.error_message') %></b>
  <%= @resource_import_result.error_message %>
</p>

<p>
  <b><%= t('activerecord.attributes.resource_import_result.body') %></b>
  <%= @resource_import_result.body %>
</p>

<p>
  <b><%= t('page.created_at') %></b>
  <%=l @resource_import_result.created_at %>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
