<div id="content_detail" class="col-md-9">
  <h5 class="title card-header"><%= t("page.showing", model: t("activerecord.models.resource_import_result")) -%></h5>
  <div id="content_list" class="card-body">
    <p id="notice"><%= notice %></p>

    <p>
      <b><%= t("activerecord.models.resource_import_file") %></b>
      <%= if @resource_import_result.resource_import_file
        @resource_import_result.resource_import_file.attachment.filename
      end %>
    </p>

    <p>
      <b><%= t("activerecord.models.manifestation") %></b>
      <%= if @resource_import_result.manifestation
        link_to @resource_import_result.manifestation.original_title,
        @resource_import_result.manifestation
      end %>
    </p>

    <p>
      <b><%= t("activerecord.models.item") %></b>
      <%= if @resource_import_result.item
        link_to @resource_import_result.item.item_identifier,
        @resource_import_result.item
      end %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.resource_import_result.error_message") %></b>
      <%= @resource_import_result.error_message %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.resource_import_result.body") %></b>
      <%= @resource_import_result.body %>
    </p>

    <p>
      <b><%= t("page.created_at") %></b>
      <%= l @resource_import_result.created_at %>
    </p>

  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
