<%= form_for(@patron_import_result) do |f| %>
  <% if @patron_import_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patron_import_result.errors.count, "error") %> prohibited this patron_import_result from being saved:</h2>

      <ul>
      <% @patron_import_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patron_import_file_id %><br />
    <%= f.text_field :patron_import_file_id %>
  </div>
  <div class="field">
    <%= f.label :patron_id %><br />
    <%= f.text_field :patron_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
