<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.user_checkout_stat')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.user_checkout_stat.start_date') -%></th>
    <th><%= t('activerecord.attributes.user_checkout_stat.end_date') -%></th>
    <th><%= t('activerecord.attributes.user_checkout_stat.note') -%></th>
  </tr>

<%- @user_checkout_stats.each do |user_checkout_stat| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= l(user_checkout_stat.start_date) -%></td>
    <td><%= l(user_checkout_stat.end_date) -%></td>
    <td><%= user_checkout_stat.note -%></td>
    <td><%= link_to t('page.show'), user_checkout_stat -%></td>
    <td><%= link_to t('page.edit'), edit_user_checkout_stat_path(user_checkout_stat) -%></td>
    <td><%= link_to t('page.destroy'), user_checkout_stat, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@user_checkout_stats) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.user_checkout_stat')), new_user_checkout_stat_path -%></li>
  </ul>
</div>
