<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.showing', model: t('activerecord.models.user_checkout_stat')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.user_checkout_stat.start_date') -%>:</strong>
  <%= l(@user_checkout_stat.start_date) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_checkout_stat.end_date') -%>:</strong>
  <%= l(@user_checkout_stat.end_date) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_checkout_stat.state') -%>:</strong>
  <%= localized_state(@user_checkout_stat.current_state) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_checkout_stat.note') -%>:</strong>
  <%= @user_checkout_stat.note -%>
</p>

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.checkout_stat_has_user.checkouts_count') -%></th>
  </tr>
  <%- @stats.each do |stat| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to stat.user.username, stat.user.profile if stat.user.try(:profile) -%>
      </td>
      <td><%= stat.checkouts_count -%></td>
    </tr>
  <%- end -%>
</table>

<%= paginate(@stats) -%>

</div>
</div>

<div id="submenu" class="col">
  <%= form_for(@user_checkout_stat) do |f| %>
  <ul>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
  <% end %>
  <h4><%= t('page.export') -%></h4>
  <ul>
    <li><%= link_to 'TSV', user_checkout_stat_path(@user_checkout_stat, format: :txt, locale: @locale.to_s) -%></li>
  </ul>
</div>
