<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.user_has_role')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.models.role') -%></th>
    <th></th>
  </tr>

<%- @user_has_roles.each do |user_has_role| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to user_has_role.user.username, user_has_role.user -%></td>
    <td><%= link_to user_has_role.role.display_name.localize, user_has_role.role -%></td>
    <td><%= link_to t('page.show'), user_has_role -%></td>
  </tr>
<%- end -%>
</table>

<%= paginate(@user_has_roles) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
