<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.order_list')) -%></h1>
<div id="content_list">

<%= form_for(@order_list) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.order_list.title') -%><br />
    <%= f.text_field :title, :class => 'resource_title' -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.bookstore') -%><br />
    <%= f.select(:bookstore_id, @bookstores.collect{|b| [b.name, b.id]}) -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.order_list.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), order_lists_path -%></li>
  </ul>
</div>
