<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.content_type')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.content_type.name') -%></th>
    <th><%= t('activerecord.attributes.content_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.content_type.note') -%></th>
    <th></th>
  </tr>
  
<%- @content_types.each do |content_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, content_type -%>
        <%= move_position(content_type) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(content_type.name), content_type -%></td>
    <td><%= link_to h(content_type.display_name.localize), content_type -%></td>
    <td><%= content_type.note -%></td>
    <td>
      <%- if can? :destroy, content_type -%>
        <%= link_to t('page.edit'), edit_content_type_path(content_type) -%>
        <%= link_to t('page.destroy'), content_type_path(content_type), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, CarrierType -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.content_type')), new_content_type_path -%></li>
    <%- end -%>
  </ul>
</div>
