<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.content_type')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.content_type.name') -%></th>
    <th>
      <%= t('activerecord.attributes.content_type.display_name') -%>
      /
      <%= t('activerecord.attributes.content_type.note') -%>
    </th>
    <th></th>
  </tr>

<%- @content_types.each do |content_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(content_type).update? -%>
        <%= move_position(content_type) -%>
      <%- end -%>
    </td>
    <td><%= content_type.name -%></td>
    <td>
      <%= link_to content_type.display_name.localize, content_type -%>
      <br />
      <%= content_type.note %>
    </td>
    <td>
      <%- if policy(content_type).update? -%>
        <%= link_to t('page.edit'), edit_content_type_path(content_type) -%>
      <% end %>
      <%- if policy(content_type).destroy? -%>
        <%= link_to t('page.destroy'), content_type_path(content_type), data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- if policy(ContentType).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.content_type')), new_content_type_path -%></li>
    <%- end -%>
  </ul>
</div>
