<%= form_for(@own) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('activerecord.models.library') -%><br />
    <%= f.text_field :patron_id -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.item') -%><br />
    <%= f.text_field :item_id -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
