<div id="content_detail" class="col col-md-9">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.own')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.models.agent') -%>:</strong>
  <%= link_to @own.agent.full_name, @own.agent -%>
</p>

<p>
  <strong><%= t('activerecord.models.item') -%>:</strong>
  <%= link_to @own.item.item_identifier, @own.item -%>
  (<%= link_to @own.item.manifestation.original_title, @own.item.manifestation -%>)
</p>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.back_to', model: t('activerecord.models.agent')), agents_path(item_id: @own.item_id) -%></li>
    <li><%= link_to t('page.back_to', model: t('activerecord.models.item')), items_path(agent_id: @own.agent_id) -%></li>
  </ul>
</div>
