<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.own')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.patron') -%>:</strong>
  <%= link_to h(@own.patron.full_name), @own.patron -%>
</p>

<p>
  <strong><%= t('activerecord.models.item') -%>:</strong>
  <%= link_to h(@own.item.item_identifier), @own.item -%>
  (<%= link_to h(@own.item.manifestation.original_title), @own.item.manifestation -%>)
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.patron')), item_patrons_path(@own.item) -%></li>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.item')), patron_items_path(@own.patron) -%></li>
  </ul>
</div>
