<%= form_with(model: donate) do |f| -%>
  <%= error_messages(donate) -%>
  <div class="field">
    <%= f.label t('activerecord.models.agent') -%><br />
    <%= f.text_field :agent_id -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.item') -%><br />
    <%= f.text_field :item_id -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
