<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.listing', model: t('activerecord.models.donate')) -%></h1>
<div id="content_list" class="card-body">

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.models.agent') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.models.item') -%></th>
    <th></th>
    <th></th>
  </tr>

<%- @donates.each do |donate| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to donate.agent.full_name, donate.agent -%></td>
    <td>
      <%= render 'manifestations/show_index', manifestation: donate.item.manifestation -%>
    </td>
    <td>
      <%= link_to donate.item.item_identifier, donate.item -%>
    </td>
    <td><%= link_to t('page.show'), donate -%></td>
    <td>
      <%- if policy(donate).destroy? -%>
        <%= link_to t('page.edit'), edit_donate_path(donate) -%>
        <%= link_to t('page.destroy'), donate, data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@donates) -%>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(Donate).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.donate')), new_donate_path -%></li>
    <%- end -%>
  </ul>
</div>
