<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.donate')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.models.item') -%></th>
    <th></th>
    <th></th>
  </tr>

<%- @donates.each do |donate| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(donate.patron.full_name), donate.patron -%></td>
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => donate.item.manifestation} -%>
    </td>
    <td>
      <%= link_to h(donate.item.item_identifier), donate.item -%>
    </td>
    <td><%= link_to t('page.show'), donate -%></td>
    <td>
      <%- if can? :destroy, donate -%>
        <%= link_to t('page.edit'), edit_donate_path(donate) -%>
        <%= link_to t('page.destroy'), donate, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@donates) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Donate -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.donate')), new_donate_path -%></li>
    <%- end -%>
  </ul>
</div>
