<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.shelf')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.shelf.name') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th></th>
  </tr>
  
<%- @shelves.each_with_index do |shelf, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td></td>
    <td><%= link_to h(shelf.display_name.localize), shelf_path(shelf) -%></td>
    <td><%= link_to h(shelf.library.display_name.localize), library_path(shelf.library.name) -%></td>
    <td>
      <%- if can? :destroy, shelf -%>
        <%= link_to t('page.edit'), edit_shelf_path(shelf) -%>
        <%= link_to t('page.destroy'), shelf_path(shelf), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@shelves) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Shelf -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.shelf')), new_shelf_path -%></li>
    <%- end -%>
  </ul>
</div>
