<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.shelf')) -%></h1>
<div id="content_list">
  <h2 class="resource_title"><%= link_to h(@shelf.library.display_name.localize), library_path(@shelf.library.name) -%>
    <%= @shelf.display_name.localize -%></h2>

<p>
  <%= @shelf.note -%><br />
</p>

<p>
  <strong><%= t('activerecord.models.picture_file') -%>:</strong><br />
  <%- @shelf.picture_files.each do |picture_file| -%>
    <%= link_to image_tag(picture_file_path(picture_file, :format => :download)), picture_file_path(picture_file, :format => :download, :size => 'original') -%>
  <%- end -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@shelf.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@shelf.updated_at) -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%- if can? :destroy, @shelf -%>
    <ul>
      <%- if @library -%>
        <li><%= link_to t('page.new', :model => t('activerecord.models.shelf')), new_library_shelf_path(@library.name) -%></li>
      <%- else -%>
        <li><%= link_to t('page.new', :model => t('activerecord.models.shelf')), new_shelf_path -%></li>
      <%- end -%>
      <li><%= link_to t('page.edit'), edit_shelf_path(@shelf) -%></li>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.picture_file')), shelf_picture_files_path(@shelf) -%></li>
      <li>
        <%= link_to t('page.back'), shelves_path -%>
      </li>
    </ul>
<%- end -%>
</div>
