<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.inventory')) -%> </h1>
<div id="content_list">

<%= form_for(@inventory) do |f| -%> 
  <%= f.error_messages -%> 

  <p>
    <%= f.label :item_id -%> <br />
    <%= f.text_field :item_id -%> 
  </p>
  <p>
    <%= f.label :inventory_file_id -%> <br />
    <%= f.text_field :inventory_file_id -%> 
  </p>
  <p>
    <%= f.label :note -%> <br />
    <%= f.text_area :note -%> 
  </p>
  <p>
    <%= f.submit %> 
  </p>
<%- end -%> 

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @inventory -%> </li>
    <li><%= link_to t('page.back'), inventories_path -%> </li>
  </ul>
</div>
