<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.inventory_file') -%> </th>
    <th><%= t('activerecord.models.item') -%> </th>
    <th><%= t('activerecord.attributes.inventory.note') -%> </th>
  </tr>

<%- @inventories.each do |inventory| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= inventory.inventory_file_id -%> </td>
    <td><%= inventory.item_id -%> </td>
    <td><%= inventory.note -%> </td>
    <td><%= link_to t('page.show'), inventory -%> </td>
    <td><%= link_to t('page.edit'), edit_inventory_path(inventory) -%> </td>
    <td><%= link_to t('page.destroy'), inventory, :confirm => t('page.are_you_sure'), :method => :delete -%> </td>
  </tr>
<%- end -%> 
</table>

<%= will_paginate(@inventories) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.inventory')), new_inventory_path -%></li>
  </ul>
</div>
