<%= form_for(@reserve) do |f| %>
  <% if @reserve.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@reserve.errors.count, "error") %> prohibited this reserve from being saved:</h2>
    <ul>
    <% @reserve.errors.map(&:full_message).each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :manifestation_id %><br />
    <% if @reserve.manifestation %>
      <%= render 'manifestations/title', manifestation: @reserve.manifestation -%>
      <%= f.hidden_field :manifestation_id %>
    <% else %>
      <%= f.text_field :manifestation_id %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :checked_out_at %><br />
    <%= f.datetime_select :checked_out_at %>
  </div>
  <div class="field">
    <%= f.label :canceled_at %><br />
    <%= f.datetime_select :canceled_at %>
  </div>
  <div class="field">
    <%= f.label :expired_at %><br />
    <%= f.datetime_select :expired_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
