<script>
  $(document).ready(function() {
     var $tgt_parent = $("input.check-parent");
     var $tgt_child = $("input.check-child");

     $tgt_parent.click(function(){
       $(this).parents("div.parent").find('input.check-child').attr('checked', this.checked);
     });

     $tgt_child.click(function(){
       var checkNum = $(this).parents("div.parent").find('input.check-child:checked').length;
       var listNum = $(this).parents("div.parent").find('input.check-child').length;

       if(checkNum < listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', false);
       if(checkNum == listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', true);
    });
  });
</script>

<%= form_for :reserve, :url => {:controller => 'reserves', :action => :output_list}, :html => {:method => :output_user,:name => 'reserves'} do -%>
  <div class="field">
    <p id="notice"><%= notice %></p>
    <%= label :list_condition, t('activerecord.attributes.item_list.list_condition') -%>:<br />
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_state", true, true, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.state')) -%><br />
      <%- @states.each do |state| -%>
        <%= check_box_tag "state[]", state, true, :class=>'check-child' -%><%= i18n_state(state) -%><br />
      <%- end -%>
    </div>
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_library", true, true, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.receipt_library')) -%><br />
      <%- @libraries.each do |library| -%>
        <%= check_box_tag "library[]", library.id, true, :class=>'check-child' -%><%= library.display_name -%><br />
      <%- end -%>
    </div>
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_method", true, true, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.information_method')) -%><br />
      <%- @information_types.each do |type| -%>
        <%= check_box_tag "method[]", type, true, :class=>'check-child' -%><%= i18n_information_type(type) -%><br />
      <%- end -%>
    </div>
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_expired", true, true, :class=> 'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.expired_at2')) -%><br />
      <%= check_box_tag "expired_at", true, true, :class=>'check-child' -%><%= t('activerecord.attributes.reserve.within_expired_at') -%><br />
      <%= check_box_tag "expired_at", false, true, :class=>'check-child' -%><%= t('activerecord.attributes.reserve.over_expired_at') -%><br />
    </div>
    <br style="clear:both;"/>
  </div>
  <div class="actions">
    <%- if @user-%>
      <%= hidden_field_tag :user_id, @user.id -%>
      <%= submit_tag t('page.output', :model => t('activerecord.attributes.reserve.reserve_list')) %>
    <%- else -%>
      <%= submit_tag t('page.output', :model => (t('page.listing', :model => t('activerecord.models.reserve')))) %>
    <%- end -%>
  </div>
<%- end -%>

