<script>
  $(document).ready(function() {
     // checked
     var $tgt_parent = $("input.check-parent");
     var $tgt_child = $("input.check-child");

     $tgt_parent.click(function(){
       $(this).parents("div.parent").find('input.check-child').attr('checked', this.checked);
     });

     $tgt_child.click(function(){
       var checkNum = $(this).parents("div.parent").find('input.check-child:checked').length;
       var listNum = $(this).parents("div.parent").find('input.check-child').length;

       if(checkNum < listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', false);
       if(checkNum == listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', true);
    });
  });
</script>

<%= form_for :reserve, :url => reserves_path, :html => {:method => :get} do -%>
  <div class="field">
    <p id="notice"><%= raw flash[:reserve_notice] -%></p>
    <%= label :list_condition, t('activerecord.attributes.item_list.list_condition') -%>:<br />
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_state", true, @selected_state.size == @states.size ? true : false, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.state')) -%><br />
      <ul style="list-style-type: none">
        <%- @states.each do |state| -%>
          <li>
            <%= check_box_tag "state[]", state, @selected_state.index(state) != nil ? true : false, :class=>'check-child' -%><%= i18n_state(state) -%>
          </li>
        <%- end -%>
      </ul>
    </div>
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_library", true, @selected_library.size == @libraries.size ? true : false, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.receipt_library')) -%><br />
      <ul style="list-style-type: none">
        <%- @libraries.each do |library| -%>
          <li>
            <%= check_box_tag "library[]", library.id, (@selected_library.index(library.id.to_s) != nil or @selected_library.index(library.id.to_i))? true : false, :class=>'check-child' -%><%= library.display_name -%>
          </li>
        <%- end -%>
      </ul>
    </div>
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_method", true, @selected_method.size == @information_types.size ? true : false, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.information_method')) -%><br />
      <ul style="list-style-type: none">
        <%- @information_types.each do |type| -%>
          <li>
            <%= check_box_tag "method[]", type, (@selected_method.index(type.to_s) != nil or @selected_method.index(type.to_i)) ? true : false, :class=>'check-child' -%><%= i18n_information_type(type) -%>
          </li>
        <%- end -%>
      </ul>
    </div>
    <br style="clear:both;"/>
  </div>
  <div>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%><br />
    <%= t('activerecord.attributes.user.birth_date') -%>:
    <%= text_field_tag 'birth_date', @date_of_birth, :class => 'wide_date_text_field', :placeholder => "#{t('page.example')}: 2011-04-12" -%>
    <%= t('activerecord.attributes.user.adddress') -%>:
    <%= text_field_tag 'address', @address, :class => 'search_form' -%><br />
  </div>
  <div class="actions">
    <%= hidden_field_tag 'do_search', true -%>
    <%= submit_tag t('page.search') %>
    <%= submit_tag t('page.output', :model => (t('page.listing', :model => t('activerecord.models.reserve')))), :name => 'output' %>
  </div>
<%- end -%>

