<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.reserve')) -%></h1>
<div id="content_list">

<%= form_for(@reserve, :url => user_reserve_path(@reserve.user.username, @reserve)) do |f| -%>
  <%= f.error_messages -%>

  <%- if @reserve.manifestation -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @reserve.manifestation} -%>
    <%= f.hidden_field :manifestation_id -%>
  <%- else -%>
    <p>
      <%= f.label t('activerecord.models.manifestation') -%><br />
      <%= f.text_field :manifestation_id -%>
    </p>
  <%- end -%>

  <p>
    <%= f.label t('activerecord.models.user') -%>
    <%= link_to h(@reserve.user.username), user_path(@reserve.user.username) -%>
    (<%= @reserve.user.user_number %>)
  </p>

  <p>
    <%= f.label t('activerecord.attributes.reserve.expired_at') -%><br />
    <%= f.text_field :expired_at, :value => @reserve.expired_at.try(:strftime, "%Y-%m-%d"), :class => 'date_field' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), user_reserve_path(@reserve.user.username, @reserve) -%></li>
    <li><%= link_to t('page.back'), user_reserves_path(@reserve.user.username) -%></li>
  </ul>
</div>
