<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.reserve')) -%></h1>

    <%= form_for(@reserve, :html => {:class => 'well'}) do |f| -%>
      <%= f.error_messages -%>

  <div class="field">
    <%- if @reserve.manifestation -%>
      <%= render 'manifestations/title', :manifestation => @reserve.manifestation -%>
      <%= f.hidden_field :manifestation_id -%>
    <%- else -%>
      <%= f.label t('activerecord.models.manifestation') -%><br />
      <%= f.text_field :manifestation_id -%>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.user') -%>
    <%= link_to @reserve.user.username, @reserve.user -%>
    (<%= @reserve.user.user_number %>)
  </div>

  <div class="field">
    <%= f.label :expired_at -%><br />
    <%= f.text_field :expired_at, :value => @reserve.expired_at.try(:strftime, "%Y-%m-%d"), :class => 'date_field', :placeholder => "#{t('page.example')}: 2011-04-12"-%>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<%- end -%>

  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.show'), @reserve -%></li>
      <li><%= link_to t('page.back'), user_reserves_path(@reserve.user) -%></li>
    </ul>
  </div>
</div>
