<div style="color: red"><%= flash[:message].to_s -%></div>
<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.reserve')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<% if @user %>
  <%= render 'reserves/output_user' -%>
<% elsif @manifestation %>
  <%= render 'manifestations/title', :manifestation => @manifestation -%>
<% else %>
  <%= render 'reserves/search_and_output' -%>
<% end %>

<table class="index">
  <tr>
    <%- if @manifestation && current_user.has_role?('Librarian') -%>
      <th><%= t('activerecord.attributes.reserve.position') -%></th>
      <th id="position"></th>
    <%- end -%>
    <th style="width: 30px"><%= 'Id' -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.manifestation.original_title')-%></th>
    <th><%= t('activerecord.attributes.reserve.state') -%></th>
    <th><%= t('activerecord.attributes.reserve.expired_at') -%></th>
    <th id="edit_icons"></th>
  </tr>

  <%- @reserves.each_with_index do |reserve, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <%- if @manifestation && current_user.has_role?('Librarian') -%>
        <td>
          <% if params[:page] %>
            <%= (params[:page].to_i - 1 ) * 10 + i + 1 -%>
          <% else %>
            <%= i + 1 -%>
          <% end %>
        </td>
        <td>
          <%- if can? :update, reserve -%>
            <%- if i == (@reserves.length - 1) -%>
              <%= move_position_for_reserve(reserve, 'last') -%>
            <%- else -%>
              <%= move_position_for_reserve(reserve) -%>
            <%- end -%>
          <%- end -%>
        </td>
      <%- end -%>
      <td><%= link_to reserve.id, reserve -%></td>
      <td><%= link_to reserve.user.username, reserve.user if reserve.user -%></td>
      <td><%= render 'title', :reserve => reserve -%></td>
      <td>
        <%= i18n_state(reserve.state) -%>
        <%- if reserve.retained -%>
          (<%= t('reserve.called')-%>)
        <%- end -%>
      </td>
      <td><%= l(reserve.expired_at, :format => :only_date) -%></td>
      <td>
        <%- if can? :destroy, reserve -%>
          <% if reserve.can_edit? %>
            <%= link_to image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit'), :title => t('tooltip.edit')), edit_reserve_path(reserve) if reserve.can_checkout? -%>
          <%- end -%>
          <%- if reserve.user && reserve.user.reserves.waiting.include?(reserve) -%>
            <%- if reserve.can_cancel? -%>
              <%= link_to image_tag('icons/cancel.png', :size => '16x16', :alt => t('page.cancel'), :title => t('tooltip.cancel')), reserve_path(reserve, :mode => 'cancel'), :confirm => t('page.cancel_confirm'), :method => :put -%>
            <%- end -%>
          <%- else -%>
            <%= link_to image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')), reserve_path(reserve), :confirm => t('page.are_you_sure'), :method => :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%- if @manifestation && current_user.has_role?('Librarian') -%>
  <div class="actions">
    <%= button_to_by_get t('reserve.update'), manifestation_reserves_path(@manifestation), {}, {:mode => 'position_update'} %>
  </div>
<%- end -%>

<%= paginate(@reserves) -%>

<% unless @in_process_reserves.blank? %>
<br />
<h4><%= t('reserve.in_process_reserve') -%></h4>
<table class="index">
  <tr>
    <th style="width: 30px"><%= 'Id' -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.manifestation.original_title')-%></th>
    <th><%= t('activerecord.attributes.reserve.state') -%></th>
    <th><%= t('activerecord.attributes.reserve.expired_at') -%></th>
    <%- if can? :destroy, @in_process_reserves.first -%>
      <th id="edit_icons"></th>
    <% end %>
  </tr>

<%- @in_process_reserves.each do |reserve| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to reserve.id, user_reserve_path(reserve.user, reserve) -%></td>
    <td><%= link_to reserve.user.username, reserve.user -%></td>
    <td><%= render 'title', :reserve => reserve -%></td>
    <td><%= i18n_state(reserve.state) -%></td>
    <td><%= l(reserve.expired_at, :format => :only_date) -%></td>
    <td>
      <% if reserve.can_edit? %>
        <%= link_to image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit'), :title => t('tooltip.edit')), edit_reserve_path(reserve) if reserve.can_checkout? -%>
      <%- end -%>
      <%- if reserve.user.reserves.waiting.include?(reserve) -%>
        <%- if reserve.can_cancel? -%>
          <%= link_to image_tag('icons/cancel.png', :size => '16x16', :alt => t('page.cancel'), :title => t('tooltip.cancel')), user_reserve_path(reserve.user, reserve, :mode => 'cancel'), :confirm => t('page.cancel_confirm'), :method => :put -%>
        <%- end -%>
      <%- else -%>
        <%- if can? :destroy, reserve -%>
          <%= link_to image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')), user_reserve_path(reserve.user, reserve), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>
<%= paginate(@reserves) -%>
<% end %>

<% unless @completed_reserves.blank? %>
<br />
<h4><%= t('reserve.completed_reserve') -%></h4>
<table class="index">
  <tr>
    <th style="width: 30px"><%= 'Id' -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.manifestation.original_title')-%></th>
    <th><%= t('activerecord.attributes.reserve.state') -%></th>
    <th><%= t('activerecord.attributes.reserve.expired_at') -%></th>
    <%- if can? :destroy, @completed_reserves.first -%>
      <th id="edit_icons"></th>
    <% end %>
  </tr>

<%- @completed_reserves.each do |reserve| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to reserve.id, user_reserve_path(reserve.user, reserve) -%></td>
    <td><%= link_to reserve.user.username, reserve.user -%></td>
    <td><%= render 'title', :reserve => reserve -%></td>
    <td><%= i18n_state(reserve.state) -%></td>
    <td><%= l(reserve.expired_at, :format => :only_date) -%></td>
    <%- if can? :destroy, reserve -%>
      <td>
        <%- if reserve.user.reserves.waiting.include?(reserve) -%>
          <%= link_to image_tag('icons/cancel.png', :size => '16x16', :alt => t('page.cancel'), :title => t('tooltip.cancel')), user_reserve_path(reserve.user, reserve, :mode => 'cancel'), :confirm => t('page.cancel_confirm'), :method => :put -%>
        <%- else -%>
          <%= link_to image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')), user_reserve_path(reserve.user, reserve), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      </td>
    <%- end -%>
  </tr>
<%- end -%>
</table>
<%= paginate(@reserves) -%>
<% end %>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @reserve_user.user_number? -%>
      <li>
        <%= link_to t('page.new', :model => t('activerecord.models.reserve')), manifestations_path(:reservable => true, :user_id => @reserve_user.id) -%>
        <br />
        (<%= t('page.search_resource', :model => t('page.resource')) -%>)
      </li>
    <%- end -%>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('reserve.all_reservation'), reserves_path -%></li>
      <li><%= link_to t('reserve.my_reservation'), user_reserves_path(current_user) -%></li>
      <li><%= link_to t('activerecord.models.retained_manifestation'), retained_manifestations_path -%></li>
    <%- end -%>
    <%- if @user -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.checkout')), user_checkouts_path(@user) -%></li>
    <%- end -%>
  </ul>
  <p>
    <%- if @user -%>
      <%= link_to (image_tag 'icons/feed.png', :size => '16x16', :alt => t('page.feed'), :title => t('tooltip.feed'), :class => 'icon'), user_reserves_path(@user, :format => :rss) -%>
      (<%= link_to 'RSS', user_reserves_path(@user, :format => :rss) -%>)
      <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'TSV', :title => 'TSV', :class => 'icon'), user_reserves_path(@user, :format => :tsv) -%>
      (<%= link_to 'TSV', user_reserves_path(@user, :format => :tsv) -%>)
    <%- end -%>
  </p>
  <div id="iconmenu" class="ui-corner-all">
    <strong><%= t('tooltip.icons_info') -%></strong>
    <ul>
      <li><%= image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit'), :title => t('tooltip.edit')) -%>:&nbsp;<%=t('page.edit')-%></li>
      <li><%= image_tag('icons/cancel.png', :size => '16x16', :alt => t('page.cancel'), :title => t('tooltip.cancel')) -%>:&nbsp;<%=t('page.cancel')-%></li>
      <li><%= image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')) -%>:&nbsp;<%=t('page.destroy')-%></li>
    </ul>
  </div>
</div>
