<div style="color: red"><%= flash[:message].to_s -%></div>
<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.reserve')) -%></h1>
<div id="content_list">
<table class="index">
  <tr>
    <th style="width: 30px"><%= 'Id' -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th style="width: 80px"><%= t('activerecord.attributes.reserve.state') -%></th>
    <th><%= t('activerecord.attributes.reserve.expired_at') -%></th>
    <%- if can? :update, @reserves.first -%>
      <th style="width: 70px"></th>
    <% end %>
  </tr>

<%- @reserves.each_with_index do |reserve, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to reserve.id, user_reserve_path(reserve.user, reserve) -%></td>
    <td><%= link_to reserve.user.username, reserve.user -%></td>
    <td>
      <%= render 'title', :reserve => reserve -%>
    </td>
    <td><%= i18n_state(reserve.state) -%></td>
    <td><%= l(reserve.expired_at, :format => :only_date) -%></td>
    <%- if can? :destroy, reserve -%>
      <td>
        <%= link_to t('page.edit'), edit_user_reserve_path(reserve.user, reserve) -%>
        <%- if reserve.user.reserves.waiting.include?(reserve) -%>
          <br />
          <%= link_to t('page.cancel'), user_reserve_path(reserve.user, reserve, :mode => 'cancel'), :confirm => t('page.are_you_sure'), :method => :put -%>
        <%- else -%>
          <br />
          <%= link_to t('page.destroy'), user_reserve_path(reserve.user, reserve), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      </td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@reserves) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li>
    <%= link_to t('page.new', :model => t('activerecord.models.reserve')), manifestations_path(:reservable => true) -%>
    <br />
    (<%= t('page.search_resource', :model => t('page.resource')) -%>)
    </li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('reserve.all_reservation'), reserves_path -%></li>
      <li><%= link_to t('reserve.my_reservation'), user_reserves_path(current_user) -%></li>
    <%- end -%>
    <%- if @user -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.checkout')), user_checkouts_path(@user) -%></li>
    <%- end -%>
  </ul>
  <p>
    <%- if @user -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :class => 'icon'), user_reserves_path(@user, :format => :rss) -%>
      (<%= link_to 'RSS', user_reserves_path(@user, :format => :rss) -%>)
      <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'CSV', :class => 'icon'), user_reserves_path(@user, :format => :csv, :locale => @locale.to_s) -%>
      (<%= link_to 'CSV', user_reserves_path(@user, :format => :csv, :locale => @locale.to_s) -%>)
    <%- else -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :class => 'icon'), reserves_path(:format => :rss) -%>
      (<%= link_to 'RSS', reserves_path(:format => :rss) -%>)
      <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'CSV', :class => 'icon'), reserves_path(:format => :csv, :locale => @locale.to_s) -%>
      (<%= link_to 'CSV', reserves_path(:format => :csv, :locale => @locale.to_s) -%>)
    <%- end -%>
  </p>
</div>
