<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.reserve')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<%= render 'manifestations/title', :manifestation => @reserve.manifestation -%>
<%= render 'manifestations/show_series_number', :manifestation => @reserve.manifestation -%>

<p>
  <%- if user_signed_in? and current_user.has_role?('Librarian') -%>
    (<%= link_to t('page.number_of_reservations', :count => @reserved_count), manifestation_reserves_path(@reserve.manifestation) -%>)
    <br /><br/ >
  <%- end -%>
</p>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @reserve.user.username, @reserve.user if @reserve.user -%>
  (<%= @reserve.user.user_number %>)
</p>

<p>
  <strong><%= t('activerecord.attributes.user.reserved_library') -%>:</strong>
  <%- if @reserve.reserved_library.blank? -%>
  <%= @reserve.reserved_library_name -%>
  <%- else -%>
  <%= link_to @reserve.reserved_library_name, @reserve.reserved_library -%>
  <%- end -%>
</p>

<%- if @reserve.user && @reserve.user.patron -%> 
<p>
  <strong><%= t('activerecord.attributes.reserve.contact') -%>:</strong>
  <%= link_to @reserve.user.patron.full_name, @reserve.user -%> <%= @reserve.user.patron.email -%></br>
  <%- unless @reserve.user.patron.address_1.blank? -%>
    <%- unless @reserve.user.patron.zip_code_1.blank? -%><%= t('activerecord.attributes.reserve.zipcode') -%><%= @reserve.user.patron.zip_code_1 -%><br /><%- end -%>
    <%= @reserve.user.patron.address_1 -%><br />
  <%- end -%>
  <%- unless @reserve.user.patron.telephone_number_1.blank? -%>
    <%= t('activerecord.attributes.patron.telephone_number') -%>: <%= @reserve.user.patron.telephone_number_1 -%>
  <%- end -%>
</p>
<%- end -%>
  
<p>
  <strong><%= t('activerecord.attributes.reserve.receipt_library') -%>:</strong>
  <%= link_to @receipt_library.display_name, @receipt_library unless @receipt_library.blank? -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.information_type') -%>:</strong>
  <%= i18n_information_type(@reserve.information_type_id) -%>
  &nbsp;<%= @information_type unless @information_type.blank? -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.state') -%>:</strong>
  <%= i18n_state(@reserve.state) -%>
  <%- if @reserve.retained -%>
    (<%= t('reserve.called')-%>)
  <%- end -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.created_at') -%>:</strong>
  <%= l(@reserve.created_at) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.canceled_at') -%>:</strong>
  <%= l(@reserve.canceled_at) if @reserve.canceled_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.expired_at') -%>:</strong>
  <%= l(@reserve.expired_at, :format => :only_date) if @reserve.expired_at -%>
</p>

<p>
<strong><%= t('activerecord.attributes.reserve.checked_out_at') -%>:</strong>
  <%= l(@reserve.checked_out_at) if @reserve.checked_out_at -%>
</p>

<%- if @reserve.can_checkout? -%>
  <%= form_tag ({:action => 'output'}) do -%>
    <%= hidden_field_tag :reserve_id, @reserve.id -%>
    <%= submit_tag t('page.output', :model => t('activerecord.attributes.reserve.reserve_list')) -%>
  <%- end -%>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render 'manifestations/book_jacket', :manifestation => @reserve.manifestation -%>
  <ul>
    <%- if @reserve.can_edit? and  @reserve.can_checkout? -%>
      <li><%= link_to t('page.edit'), edit_user_reserve_path(@reserve.user, @reserve) -%></li>
    <%- end -%>
    <%- if @reserve.user.reserves.waiting.include?(@reserve) -%>
      <%- if @reserve.can_cancel? -%>
        <li><%= link_to t('page.cancel'), user_reserve_path(@reserve.user, @reserve, :mode => 'cancel'), :confirm => t('page.cancel_confirm'), :method => :put -%></li>
      <%- end -%>
    <%- else -%>
      <li><%= link_to t('page.destroy'), user_reserve_path(@reserve.user, @reserve), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), user_reserves_path(@reserve.user) -%></li>
  </ul>
  <!--
  <p>TODO: 予約取り消し時に、次の予約者に連絡する</p>
  -->
</div>
