<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.reserve')) -%></h1>
<div id="content_list">
  
<%= render :partial => 'manifestations/title', :locals => {:manifestation => @reserve.manifestation} -%>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to h(@reserve.user.username), user_path(@reserve.user.username) -%>
  (<%= @reserve.user.user_number %>)
</p>

<p>
  <strong><%= t('activerecord.models.request_status_type') -%>:</strong>
  <%= @reserve.request_status_type.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.created_at') -%>:</strong>
  <%= l(@reserve.created_at) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.canceled_at') -%>:</strong>
  <%= l(@reserve.canceled_at) if @reserve.canceled_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve.expired_at') -%>:</strong>
  <%= l(@reserve.expired_at, :format => :only_date) if @reserve.expired_at -%>
</p>

<p>
<strong><%= t('activerecord.attributes.reserve.checked_out_at') -%>:</strong>
  <%= l(@reserve.checked_out_at) if @reserve.checked_out_at -%>
</p>

</div>
</div>

<div id="submenu">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @reserve.manifestation} -%>
  <ul>
    <li><%= link_to t('page.edit'), edit_user_reserve_path(@reserve.user.username, @reserve) -%></li>
    <%- if @reserve.user.reserves.waiting.include?(@reserve) -%>
      <li><%= link_to t('page.cancel'), user_reserve_path(@reserve.user.username, @reserve, :mode => 'cancel'), :confirm => t('page.are_you_sure'), :method => :put -%></li>
    <%- else -%>
      <li><%= link_to t('page.destroy'), user_reserve_path(@reserve.user.username, @reserve), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), user_reserves_path(@reserve.user.username) -%></li>
  </ul>
  <!--
  <p>TODO: 予約取り消し時に、次の予約者に連絡する</p>
  -->
</div>
