<div class="row-fluid">
<div class="span9">
<h1 class="title">NDLサーチ検索によるインポート</h1>
  <p id="notice"><%= notice %></p>

	<%= form_for :books, :url => ndl_books_path, :html => {:method => 'get', :class => 'well form-search' } do -%>
  	<p>
    	<%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search-query'} -%>
    	<%= submit_tag t('page.search'), :class => 'btn' -%>
  	</p>
	<%- end -%>

<% if @query.present? %>
<p><%= @books.total_count %> 件が見つかりました。</p>

<table class="table table-striped index">
  <tr>
    <th></th>
    <th>書名</th>
  </tr>
  <% @books.each do |book| %>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to_import(book.jpno) %>
      </td>
      <td>
        <%= link_to "#{book.title} #{book.volume}".strip , book.permalink %>
        <br />
        <%= book.creator %>
      	<%= book.publisher %>
        (<%= book.issued %>,
        ISBN: <%= book.isbn %>)
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= paginate(@books) %>
<% else %>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<% end %>

</div>

<div class="span3">
</div>
</div>
