<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.inter_library_loan')) -%></h1>
<div id="content_list">

<%= form_for(@inter_library_loan) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :from_library -%><br />
    <%= f.select(:from_library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}, :selected => @inter_library_loan.from_library_id) -%>
  </div>

  <div class="field">
    <%= f.label :to_library -%><br />
    <%= f.select(:to_library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}, :selected => @inter_library_loan.to_library_id) -%>
  </div>

  <div class="field">
    <%= f.label :reason -%><br />
    <%= f.select(:reason, @reasons.collect{|r| [r[0], r[1]]}, :selected => @inter_library_loan.reason) -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.item') -%><br />
    <%= link_to @inter_library_loan.item.shelf.library.display_name.localize, @inter_library_loan.item.shelf.library -%>
    <%= link_to @inter_library_loan.item.item_identifier, @inter_library_loan.item -%>
    (<%= link_to @inter_library_loan.item.manifestation.original_title, @inter_library_loan.item.manifestation -%>)
    <%= f.hidden_field :item_id -%>
  </div>

  <%- case @inter_library_loan.state
    when 'requested' -%>
    <div class="field">
      <%= f.label :requested_at -%><br />
      <%=l @inter_library_loan.requested_at if @inter_library_loan.requested_at %>
    </div>
    <%- if @inter_library_loan.item.hold?(current_user.library) -%>
      <div class="field">
        <%= f.label :shipped_at -%><br />
        <%= f.datetime_select :shipped_at -%>
      </div>
    <%- end -%>
  <%- when 'shipped' -%>
    <div class="field">
      <%= f.label :requested_at -%><br />
      <%=l @inter_library_loan.requested_at if @inter_library_loan.requested_at %>
    </div>

    <div class="field">
      <%= f.label :shipped_at -%><br />
      <%=l @inter_library_loan.shipped_at if @inter_library_loan.shipped_at %>
    </div>

    <%- if !@inter_library_loan.item.hold?(current_user.library) -%>
      <div class="field">
        <%= f.label :received_at -%><br />
        <%= f.datetime_select :received_at -%>
      </div>
      <div class="actions">
        <%= f.submit :confirm => t('page.inter_library_loans_confirm') -%>
      </div>
    <%- end -%>
  <%- when 'received' -%>
    <div class="field">
      <%= f.label :requested_at -%><br />
      <%=l @inter_library_loan.requested_at if @inter_library_loan.requested_at %>
    </div>

    <div class="field">
      <%= f.label :shipped_at -%><br />
      <%=l @inter_library_loan.shipped_at if @inter_library_loan.shipped_at %>
    </div>

    <div class="field">
      <%= f.label :received_at -%><br />
      <%=l @inter_library_loan.received_at if @inter_library_loan.received_at %>
    </div>
  <%- end -%>
  <div class="actions">
    <%= f.submit :confirm => t('page.inter_library_loans_confirm') -%>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @inter_library_loan -%></li>
    <li><%= link_to t('page.back'), inter_library_loans_path -%></li>
  </ul>
</div>
