<script>
  $(document).ready(function() {
     // checked
     var $tgt_parent = $("input.check-parent");
     var $tgt_child = $("input.check-child");

     $tgt_parent.click(function(){
       $(this).parents("div.parent").find('input.check-child').attr('checked', this.checked);
     });

     $tgt_child.click(function(){
       var checkNum = $(this).parents("div.parent").find('input.check-child:checked').length;
       var listNum = $(this).parents("div.parent").find('input.check-child').length;

       if(checkNum < listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', false);
       if(checkNum == listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', true);
    });
  });
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.output', :model => t('inter_library_loan.loan_lists')) -%></h1>
<div id="content_list">
<div style="color: green"><%= flash[:message] -%></div>
<%= form_for(:inter_library_loan, :url => {:controller => 'inter_library_loans', :action => :get_loan_lists}, :html => {:multipart => true, :method => 'post'}) do |f| -%>
  <div class="field">
    <%= label :library, t('inter_library_loan.original_library') -%>:<br />
    <div class="parent">
      <%= check_box_tag "all_library", true, @selected_library.size == @libraries.size ? true : false, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.receipt_library')) -%><br />
      <%- @libraries.each do |library| -%>
        &nbsp;&nbsp;<%= check_box_tag "library[]", library.id, (@selected_library.index(library.id.to_s) or @selected_library.index(library.id.to_i))? true : false, :class => 'check-child' -%><%= library.display_name -%><br />
      <%- end -%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('page.output', :model => t('inter_library_loan.loan_lists')) %>
  </div>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), inter_library_loans_path -%></li>
    <li><%= link_to t('inter_library_loan.pickup_item'), {:action => :pickup}, {:method => :post} -%></li>
  </ul>
</div>
