<script>
  $(document).ready(function() {
     // checked
     var $tgt_parent = $("input.check-parent");
     var $tgt_child = $("input.check-child");

     $tgt_parent.click(function(){
       $(this).parents("div.parent").find('input.check-child').attr('checked', this.checked);
     });

     $tgt_child.click(function(){
       var checkNum = $(this).parents("div.parent").find('input.check-child:checked').length;
       var listNum = $(this).parents("div.parent").find('input.check-child').length;

       if(checkNum < listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', false);
       if(checkNum == listNum)
         $(this).parents("div.parent").find("input.check-parent").attr('checked', true);
    });
  });
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inter_library_loan')) -%></h1>
<div id="content_list">
<p id="notice"><%= raw flash[:notice] -%></p>
<%= form_for :inter_library_loan, :url => inter_library_loans_path, :html => {:method => :get} do -%>
  <%= label :list_condition, t('activerecord.attributes.item_list.list_condition') -%>:<br />
  <div class="field">
    <div id="list_condition_200" class="parent">
      <%= check_box_tag "all_from_library", true, @from_library.size == @selected_from_library.size ? true : false, :class=>'check-parent' -%>
      <%= t('advanced_search.all', :model=>t('activerecord.attributes.inter_library_loan.from_library')) -%><br />
      <%- @from_library.each do |library| -%>
        &nbsp;&nbsp;<%= check_box_tag "from_library[]", library.id, @selected_from_library.index(library.id) ? true : false, :class=>'check-child' -%><%= library.display_name -%><br />
      <%- end -%>
    </div>
    <div id="list_condition_200" class="parent">
      <%= check_box_tag "all_to_library", true, @to_library.size == @selected_to_library.size ? true : false, :class=>'check-parent' -%>
      <%= t('advanced_search.all', :model=>t('activerecord.attributes.inter_library_loan.to_library')) -%><br />
      <%- @to_library.each do |library| -%>
        &nbsp;&nbsp;<%= check_box_tag "to_library[]", library.id, @selected_to_library.index(library.id) ? true : false, :class=>'check-child' -%><%= library.display_name -%><br />
      <%- end -%>
    </div>
    <div id="list_condition_150" class="parent">
      <%= check_box_tag "all_reason", true, @reasons.size == @selected_reason.size ? true : false, :class=>'check-parent' -%>
      <%= t('advanced_search.all', :model=>t('activerecord.attributes.inter_library_loan.reason')) -%><br />
      <%- @reasons.each do |reason| -%>
        &nbsp;&nbsp;<%= check_box_tag "reason[]", reason[1], @selected_reason.index(reason[1]) ? true : false, :class=>'check-child' -%><%= reason[0] -%><br />
      <%- end -%>
    </div> 
    <br style="clear:both;"/>
  </div>
  <div>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
  </div>
  <div class="actions"> 
    <%= submit_tag t('page.search') %>
  </div>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.item') -%></th>
    <th><%= t('activerecord.attributes.inter_library_loan.from_library') -%></th>
    <th><%= t('activerecord.attributes.inter_library_loan.to_library') -%></th>
    <th><%= t('activerecord.attributes.inter_library_loan.reason') -%></th>
    <th>
      <%= t('activerecord.attributes.inter_library_loan.shipped_at') -%> / 
      <%= t('activerecord.attributes.inter_library_loan.received_at') -%>
    </th>
    <th></th>
  </tr>

<%- @inter_library_loans.each do |inter_library_loan| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to inter_library_loan.item.item_identifier, inter_library_loan.item -%>
      <br />
      (<%= link_to inter_library_loan.item.manifestation.original_title, inter_library_loan.item.manifestation -%>)
    </td>
    <td><%= link_to inter_library_loan.from_library.display_name.localize, inter_library_loan.from_library -%></td>
    <td><%= link_to inter_library_loan.to_library.display_name.localize, inter_library_loan.to_library -%></td>
    <%- if inter_library_loan.reason == 1 -%>
      <td><%= t('inter_library_loan.checkout') -%></td>
    <%- else -%>
      <td><%= t('inter_library_loan.checkin') -%></td>
    <%- end -%>
    <td>
      <%= l(inter_library_loan.shipped_at) if inter_library_loan.shipped_at -%><br />
      <%= l(inter_library_loan.received_at) if inter_library_loan.received_at -%>
    </td>
    <td>
        <%= link_to t('page.show'), inter_library_loan -%>
    <%- if can? :destroy, inter_library_loan -%>
        <%= link_to t('page.edit'), edit_inter_library_loan_path(inter_library_loan) -%>
        <%= link_to t('page.destroy'), inter_library_loan, :confirm => t('page.are_you_sure'), :method => :delete -%>
    <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@inter_library_loans) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, InterLibraryLoan -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.inter_library_loan')), new_inter_library_loan_path -%></li>
    <%- end -%>
    <li><%= link_to t('page.output', :model => t('inter_library_loan.loan_lists')), {:action => :export_loan_lists}, {:method => :post} -%></li>
    <li><%= link_to t('inter_library_loan.pickup_item'), {:action => :pickup}, {:method => :post} -%></li>
    <li><%= link_to t('inter_library_loan.accept_item'), {:action => :accept}, {:method => :post} -%></li>
  </ul>
</div>
