<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.new', :model => t('activerecord.models.inter_library_loan')) -%></h1>
<div id="content_list">

<%= form_for(@inter_library_loan) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :from_library -%><br />
    <%= f.select(:from_library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}, :selected => @current_library.id) -%>
  </div>

  <div class="field">
    <%= f.label :to_library -%><br />
    <%= f.select(:to_library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}) -%>
  </div>

  <div class="field">
    <%= f.label :reason -%><br />
    <%= f.select(:reason, @reasons.collect{|r| [r[0], r[1]]}) -%>
  </div>

  <div class="field">
    <%= f.label :requested_at -%><br />
    <%= f.text_field :requested_at, :class => 'date_field' -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.item') -%><br />
    <%- if @item -%>
      <%= link_to @item.shelf.library.display_name.localize, @item.shelf.library -%>
      <%= link_to @item.item_identifier, @item -%>
      (<%= link_to @item.manifestation.original_title, @item.manifestation -%>)
      <%= f.hidden_field :item_identifier, :value => @item.item_identifier -%>
    <%- else -%>
      <%= f.text_field :item_identifier, :class => 'resource_item_identifier' -%>
    <%- end -%>
  </div>

  <div class="actions">
    <%= f.submit :disable_with => t('page.wait') %>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), inter_library_loans_path -%></li>
  </ul>
</div>
