<script>
  $(document).ready(function() {
    if ("<%= flash[:path]-%>".length > 0) {
      location.href= "<%= url_for(:controller => :inter_library_loans, :action => :download_file, :path => flash[:path])-%>"
    }
  });

  function delete_field(){
    var item_identifier = $("#item_identifier").val();
    $("#item_identifier_tmp").val(item_identifier);
    $("#item_identifier").val("");
  }
</script>
<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('inter_library_loan.pickup_item') -%></h1>
  <div id="content_list">
    <div style="color: green"><%= flash[:message] -%></div>
    <div id="pickup_item_list">
      <%= form_for :inter_library_loan, :url => {:controller => 'inter_library_loans', :action => :pickup_item}, :html => {:method => :post} do -%>
        <p>
          <%= t('activerecord.attributes.item.item_identifier') -%>: <%= text_field_tag :item_identifier -%>
          <input type="hidden" name="item_identifier_tmp" id="item_identifier_tmp" value="">
          <%= submit_tag t('page.read'), :disable_with => t('page.wait'), :onclick => "delete_field();return true;" -%>
        </p>
      <%- end -%>
      <%= javascript_tag("$('#item_identifier').focus()") -%>
    </div>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), inter_library_loans_path -%></li>
  </ul>
</div>
