<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.inter_library_loan')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.inter_library_loan.from_library') -%>:</strong>
  <%= link_to @inter_library_loan.from_library.display_name.localize, @inter_library_loan.from_library -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.inter_library_loan.to_library') -%>:</strong>
  <%= link_to @inter_library_loan.to_library.display_name.localize, @inter_library_loan.to_library -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.inter_library_loan.reason') -%>:</strong>
  <%- if @inter_library_loan.reason == 1 -%>
    <%= t('inter_library_loan.checkout') -%>
  <%- else -%>
    <%= t('inter_library_loan.checkin') -%>
  <%- end -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.inter_library_loan.state') -%>:</strong>
  <%= i18n_loan_state(@inter_library_loan.state) -%>
</p>

<p>
  <strong><%= t('activerecord.models.item') -%>:</strong>
  <%= link_to @inter_library_loan.item.item_identifier, @inter_library_loan.item -%>
  (<%= link_to @inter_library_loan.item.manifestation.original_title, @inter_library_loan.item.manifestation -%>)
</p>

<p>
  <strong><%= t('activerecord.attributes.inter_library_loan.requested_at') -%>:</strong>
  <%= l(@inter_library_loan.requested_at) if @inter_library_loan.requested_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.inter_library_loan.shipped_at') -%>:</strong>
  <%= l(@inter_library_loan.shipped_at) if @inter_library_loan.shipped_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.inter_library_loan.received_at') -%>:</strong>
  <%= l(@inter_library_loan.received_at) if @inter_library_loan.received_at -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :destroy, @inter_library_loan -%>
      <li><%= link_to t('page.edit'), edit_inter_library_loan_path(@inter_library_loan) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), inter_library_loans_path -%></li>
  </ul>
</div>
