<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.imported_object')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.imported_object.imported_file') -%></th>
    <th><%= t('activerecord.attributes.imported_object.line_number') -%></th>
    <th><%= t('activerecord.attributes.imported_object.importable') -%></th>
  </tr>

<%- for imported_object in @imported_objects -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h("#{imported_object.imported_file_type} / #{imported_object.imported_file_id}"), imported_object.imported_file -%></td>
    <td><%= imported_object.line_number -%></td>
    <td><%= link_to h("#{imported_object.importable_type} / #{imported_object.importable_id}"), imported_object.importable -%></td>
    <td><%= link_to t('page.show'), imported_object -%></td>
    <td><%= link_to t('page.edit'), edit_imported_object_path(imported_object) -%></td>
    <td><%= link_to t('page.destroy'), imported_object, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@imported_objects) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.patron_import_file')), new_patron_import_file_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.resource_import_file')), new_resource_import_file_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.event_import_file')), new_event_import_file_path -%></li>
  </ul>
</div>
