<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.imported_object')) -%></h1>
<div id="content_list">

<%= form_for(@imported_object) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.imported_object.imported_file') -%><br />
    <%= f.text_field :imported_file_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.imported_object.imported_file_type') -%><br />
    <%= f.text_field :imported_file_type -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.imported_object.importable') -%><br />
    <%= f.text_field :importable_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.imported_object.importable_type') -%><br />
    <%= f.text_field :importable_type -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), imported_objects_path -%></li>
  </ul>
</div>
