<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.imported_object')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.imported_object.imported_file') -%></strong>
  <%= link_to h("#{@imported_object.imported_file_type} / #{@imported_object.imported_file_id}"), @imported_object.imported_file -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.imported_object.importable') -%></strong>
  <%= link_to h("#{@imported_object.importable_type} / #{@imported_object.importable_id}"), @imported_object.importable -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_imported_object_path(@imported_object) -%></li>
    <li><%= link_to t('page.back'), imported_objects_path -%></li>
  </ul>
</div>
