<div id="content_detail" class="col-md-9">
  <div class="card">
    <h2 class="title"><%= t('activerecord.models.registration') %></h2>
    <div id="content_list" class="card-body">

      <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> <%= t('devise.registration.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit t('page.update'), class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t('page.back'), :back %></li>
    </ul>
  </div>
</div>
