<div class="row">
  <div class="col-9">
    <h2 class="title"><%= t('activerecord.models.registration') %></h2>

    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> <%= t('devise.registration.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit t('page.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.back'), :back %></li>
      </ul>
    </div>
  </div>
</div>
