<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.identifier_type')) -%></h1>
<div id="content_list">

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.identifier_type.name') -%></th>
    <th><%= t('activerecord.attributes.identifier_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.identifier_type.note') -%></th>
    <th></th>
  </tr>

<%- @identifier_types.each do |identifier_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :update, identifier_type -%>
        <%= move_position(identifier_type) -%>
      <%- end -%>
    </td>
    <td><%= link_to identifier_type.name, identifier_type -%></td>
    <td><%= link_to identifier_type.display_name.localize, identifier_type -%></td>
    <td><%= identifier_type.note -%></td>
    <td>
      <%- if can? :update, identifier_type -%>
        <%= link_to t('page.edit'), edit_identifier_type_path(identifier_type) -%>
      <% end %>
      <%- if can? :delete, identifier_type -%>
        <%= link_to t('page.destroy'), identifier_type_path(identifier_type), :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, CarrierType -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.identifier_type')), new_identifier_type_path -%></li>
    <%- end -%>
  </ul>
</div>
