<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.user_import_file')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user_import_file.id -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.user_import_file_name') -%>:</strong>
  <%= link_to @user_import_file.user_import_file_name, user_import_file_path(@user_import_file, :format => :download) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.user_import_content_type') -%>:</strong>
  <%= @user_import_file.user_import_content_type -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.user_import_file_size') -%>:</strong>
  <%= @user_import_file.user_import_file_size -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.user_import_fingerprint') -%>:</strong>
  <%= @user_import_file.user_import_fingerprint -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@user_import_file.created_at) if @user_import_file.created_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.executed_at') -%>:</strong>
  <%= l(@user_import_file.executed_at) if @user_import_file.executed_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.edit_mode') -%>:</strong>
  <%= @user_import_file.edit_mode -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.state') -%>:</strong>
  <%= localized_state(@user_import_file.current_state) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_import_file.error_message') -%>:</strong>
  <%= @user_import_file.error_message -%>
</p>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @user_import_file.user.username, @user_import_file.user -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('activerecord.models.user_import_result'), user_import_file_user_import_results_path(@user_import_file) -%></li>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
