<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_import_file.user_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user_import_file.note %>
</p>

<p>
  <strong>Executed at:</strong>
  <%= @user_import_file.executed_at %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_import_file.state %>
</p>

<p>
  <strong>User import file name:</strong>
  <%= @user_import_file.user_import_file_name %>
</p>

<p>
  <strong>User import content type:</strong>
  <%= @user_import_file.user_import_content_type %>
</p>

<p>
  <strong>User import file size:</strong>
  <%= @user_import_file.user_import_file_size %>
</p>

<p>
  <strong>User import updated at:</strong>
  <%= @user_import_file.user_import_updated_at %>
</p>

<p>
  <strong>User import fingerprint:</strong>
  <%= @user_import_file.user_import_fingerprint %>
</p>

<p>
  <strong>Edit mode:</strong>
  <%= @user_import_file.edit_mode %>
</p>

<p>
  <strong>Error message:</strong>
  <%= @user_import_file.error_message %>
</p>

<%= link_to 'Edit', edit_user_import_file_path(@user_import_file) %> |
<%= link_to 'Back', user_import_files_path %>
