<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron_merge_list')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.patron_merge_list.title') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%- @patron_merge_lists.each do |patron_merge_list| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to patron_merge_list.title, patron_merge_list -%></td>
    <td><%= l(patron_merge_list.created_at) -%></td>
    <td><%= link_to t('page.show'), patron_merge_list -%></td>
    <td><%= link_to t('page.edit'), edit_patron_merge_list_path(patron_merge_list) -%></td>
    <td><%= link_to t('page.destroy'), patron_merge_list, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@patron_merge_lists) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.patron_merge_list')), new_patron_merge_list_path -%></li>
  </ul>
</div>
