<p style="color: green"><%= notice %></p>

<%= render @shelf_import_file %>

<div>
  <%= link_to "Edit this shelf import file", edit_shelf_import_file_path(@shelf_import_file) %> |
  <%= link_to "Back to shelf import files", shelf_import_files_path %>

  <%= button_to "Destroy this shelf import file", @shelf_import_file, method: :delete %>
</div>
