<div id="content_detail" class="col col-md-9">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.agent_relationship')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.agent_relationship.parent') -%>:</strong>
  <%= link_to @agent_relationship.parent.full_name, @agent_relationship.parent %>
</p>

<p>
  <strong><%= t('activerecord.attributes.agent_relationship.child') -%>:</strong>
  <%= link_to @agent_relationship.child.full_name, @agent_relationship.child %>
</p>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.edit'), edit_agent_relationship_path(@agent_relationship) %></li>
    <li><%= back_to_index(flash[:page_info]) %></li>
  </ul>
</div>
