<p id="notice"><%= notice %></p>

<h1>Listing Names</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Language</th>
      <th>Profile</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @names.each do |name| %>
      <tr>
        <td><%= name.first_name %></td>
        <td><%= name.middle_name %></td>
        <td><%= name.last_name %></td>
        <td><%= name.language_id %></td>
        <td><%= name.profile_id %></td>
        <td><%= name.position %></td>
        <td><%= link_to 'Show', name %></td>
        <td><%= link_to 'Edit', edit_name_path(name) %></td>
        <td><%= link_to 'Destroy', name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Name', new_name_path %>
