<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @name.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @name.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @name.last_name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @name.language_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @name.profile_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @name.position %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
