<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.series_statement')) -%></h1>
<div id="content_list">
<%= form_for :series_statements, :url => series_statements_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= hidden_field_tag 'manifestation_id', @manifestation.id -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>
<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.series_statement.original_title') -%></th>
    <th><%= t('activerecord.attributes.series_statement.numbering') -%></th>
    <th><%= t('activerecord.attributes.series_statement.title_subseries') -%></th>
    <th><%= t('activerecord.attributes.series_statement.numbering_subseries') -%></th>
  </tr>

<% @series_statements.each do |series_statement| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, series_statement -%>
        <%= move_position(series_statement) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(series_statement.original_title), series_statement %></td>
    <td><%= series_statement.numbering %></td>
    <td><%= series_statement.title_subseries %></td>
    <td><%= series_statement.numbering_subseries %></td>
    <td>
      <%= link_to t('page.select'), edit_manifestation_path(@manifestation, :series_statement_id => series_statement.id) %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@series_statements) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.series_statement')), new_series_statement_path -%></li>
  </ul>
</div>
