<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.series_statement')) -%></h1>
<div id="content_list">

<% form_for(@series_statement) do |f| %>
  <%= f.error_messages %>

  <%- if @series_statement.work -%>
    <p>
      <%= link_to h(@series_statement.work.original_title), @series_statement.work -%>
    </p>
  <%- end -%>
  
  <%- if @manifestation -%>
    <p>
      <%= link_to h(@manifestation.original_title), @manifestation -%>
      <%= f.hidden_field :manifestation_id %>
    </p>
  <%- end -%>
  
  <p>
    <%= f.label t('activerecord.attributes.series_statement.original_title') -%><br />
    <%= f.text_field :original_title %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.series_statement.numbering') -%><br />
    <%= f.text_field :numbering %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.series_statement.title_subseries') -%><br />
    <%= f.text_field :title_subseries %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.series_statement.numbering_subseries') -%><br />
    <%= f.text_field :numbering_subseries %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.series_statement.series_statement_identifier') -%><br />
    <%= f.text_field :series_statement_identifier, :class => 'resource_item_identifier' %>
  </p>
  <p>
    <%= f.submit t('page.create') %>
  </p>
<% end %>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), series_statements_path %></li>
  </ul>
</div>
