<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.series_statement')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>
<%= render 'manifestations/paginated_id_link', :manifestation => @manifestation if @manifestation %>

<h2 class="resource_title">
  <%= @series_statement.original_title %>
  <%= image_tag('icons/newspaper.png', :size => '16x16', :alt => t('manifestation.serial')) if @series_statement.periodical -%>
</h2>

<p>
  <strong><%= t('activerecord.attributes.series_statement.title_transcription') -%></strong>
  <%= @series_statement.title_transcription %>
</p>

<p>
  <strong><%= t('activerecord.attributes.series_statement.periodical') -%></strong>
  <%= localized_boolean(@series_statement.periodical) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.series_statement.issn') -%></strong>
  <%= @series_statement.issn %>
</p>

<!--
<p>
  <strong><%= t('activerecord.attributes.series_statement.numbering') -%></strong>
  <%= @series_statement.numbering %>
</p>

<p>
  <strong><%= t('activerecord.attributes.series_statement.title_subseries') -%></strong>
  <%= @series_statement.title_subseries %>
</p>

<p>
  <strong><%= t('activerecord.attributes.series_statement.numbering_subseries') -%></strong>
  <%= @series_statement.numbering_subseries %>
</p>
-->

<p>
  <strong><%= t('activerecord.attributes.series_statement.series_statement_identifier') -%></strong>
  <%= @series_statement.series_statement_identifier %>
</p>

  <%= render 'manifestation_list' -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <% if can? :create, Manifestation %>
      <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_series_statement_manifestation_path(@series_statement) %></li>
    <% end %>
    <% if can? :update, @series_statement %>
      <li><%= link_to t('page.edit'), edit_series_statement_path(@series_statement) %></li>
    <% end %>
    <li><%= link_to t('page.back'), series_statements_path %></li>
  </ul>
</div>
