<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.series_statement')) -%></h1>
<div id="content_list">
  <p id="notice"><%= notice %></p>

  <h2 class="resource_title">
    <%= @series_statement.original_title %>
    <%= image_tag('icons/newspaper.png', :size => '16x16', :alt => t('manifestation.serial')) if @series_statement.periodical -%>
  </h2>

  <div id="tabs">
    <%= render 'tab_menu', :series_statement => @series_statement %>
    <div id="detail">
      <table id="resource_detail">
        <tr>
          <td style="width: 200px"><%= t('activerecord.attributes.series_statement.title_transcription') -%></td>
          <td style="width: 490px"><%= @series_statement.title_transcription %></td>
        </tr>
        <tr>
          <td style="width: 200px"><%= t('activerecord.attributes.series_statement.title_subseries') -%></td>
          <td style="width: 490px"><%= @series_statement.title_subseries %>
            <% if @series_statement.title_subseries_transcription? %>
              (<%= @series_statement.title_subseries_transcription %>)
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.periodical') -%></td>
          <td><%= localized_boolean(@series_statement.periodical) %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.issn') -%></td>
          <td><%= @series_statement.issn %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.series_statement_identifier') -%></td>
          <td><%= @series_statement.series_statement_identifier %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.note') -%></td>
          <td><%= @series_statement.note %></td>
        </tr>
    </table>
  </div>
</div>

  <%= render 'series_statements/refine_search_form', :series_statement => @series_statement %>
  <%= render 'manifestation_list' -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <% if can? :create, Manifestation %>
      <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_series_statement_manifestation_path(@series_statement) %></li>
    <% end %>
    <% if can? :update, @series_statement %>
      <li><%= link_to t('page.edit'), edit_series_statement_path(@series_statement) %></li>
    <% end %>
    <li><%= back_to_index(flash[:page_info]) %></li>
  </ul>
</div>
