<script>
  $(document).ready(function() {
    $("#user_number").change(function() {
      $('#loss_item_item_id').children().remove();
      $('#loss_item_item_id').attr('disabled', 'disabled');
      $('#loss_item_submit').attr('disabled', 'disabled');
      var user_number = $("#user_number").val().replace(/^\s+|\s+$/g, "");
      if (user_number != "") {
        $.ajax({
           type: "GET",
           url: "<%= url_for(:controller => :users, :action => :get_user_rent)-%>",
           data: {"user_number": user_number},
           success: function(obj) {
             if (obj.success) {
               if (obj["items"].length != 0 && obj["user_id"] != null) {
                 $('#loss_item_item_id').removeAttr('disabled');
                 $('#loss_item_submit').removeAttr('disabled');
                 jQuery.each(obj["items"], function() {
                   $('#loss_item_item_id').append($('<option>').attr({ value: this[0] }).text(this[1]));
                 });
                 $("#loss_item_user_id").val(obj["user_id"]);
               }
             }
           }
        });
      }
    });
  });
</script>

<%= form_for(@loss_item) do |f| %>
  <%= f.error_messages %>
  <div style="color: red"><%= raw flash[:message] -%></div>

  <%- if @loss_item.item and @loss_item.item.manifestation -%>
    <%= render 'manifestations/title', :manifestation => @loss_item.item.manifestation -%>
    <%= f.hidden_field :item_id, :value => @loss_item.item.id -%>
    <br />
  <%- end -%>

  <%- if @loss_item.user -%>
    <p>
      <strong><%= t('activerecord.models.user') -%>:</strong>
      <%= link_to @loss_item.user.patron.full_name, @loss_item.user -%>
      (<%= link_to @loss_item.user.username, @loss_item.user -%>)
    </p>
    <%= f.hidden_field :user_id, :value => @loss_item.user.id -%>
  <%- else -%>
    <div class="field">
      <%= f.label t('activerecord.attributes.user.user_number') -%><br />
      <%= text_field_tag :user_number, nil, :class => 'resource_user_number' -%>
      <%= f.hidden_field :user_id, :value => nil -%>
    </div>
  <%- end -%>

  <%- if @loss_item.item.blank? and @loss_item.user.blank? -%>
    <div class="field">
      <%= f.label t('activerecord.attributes.loss_item.loss_item') -%><br />
      <%= f.select(:item_id, {}, {}, :disabled => true) -%>
    </div>
  <%- end -%>

  <div class="field">
    <%= f.label :note -%><br />
    <%= f.text_area :note, :class => 'resource_note' -%>
  </div>
  <br />
  <div class="field">
    <%- if @loss_item.status == 0 -%>
      <strong><%= t('activerecord.attributes.loss_item.will_reimburse') -%></strong><br />
      <%= f.hidden_field :status, :value => 1 -%>
    <%- else -%>
      <strong><%= t('activerecord.attributes.loss_item.will_cancellation') -%></strong><br />
      <%= f.hidden_field :status, :value => 0 -%>
    <%- end -%>
  </div>
  <div class="actions">
    <%- if @loss_item.user and @loss_item.item -%>
      <%= f.submit %>
    <%- else -%>
      <%= f.submit :disabled => true -%>
    <%- end -%>
  </div>
<%- end -%>
