<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.subject_heading_type_has_subject')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.subject') %></strong>
  <%= link_to h(@subject_heading_type_has_subject.subject.term), @subject_heading_type_has_subject.subject %>
</p>

<p>
  <strong><%= t('activerecord.models.subject_heading_type') %></strong>
  <%= link_to h(@subject_heading_type_has_subject.subject_heading_type.display_name.localize), @subject_heading_type_has_subject.subject_heading_type %>
</p>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_subject_heading_type_has_subject_path(@subject_heading_type_has_subject) %></li>
    <li><%= link_to t('page.back'), subject_heading_type_has_subjects_path %></li>
  </ul>
</div>
