<div style="color: red"><%= flash[:message] -%></div>

<div class="search_form">
<%= form_for @accept, :html => {:method => :post}, :url => basket_accepts_path(@basket, :mode => 'list'), :remote => true do |f| -%>

  <p>
    <%= t('activerecord.attributes.item.item_identifier') -%>:
    <%= f.text_field :item_identifier, :class => 'resource_item_identifier' -%>
    <%= f.submit t('accept.accept') -%>
  </p>
<%- end -%>
</div>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.item') -%></th>
  </tr>

<%- @accepts.each_with_index do |accept, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= render 'manifestations/show_index', :manifestation => accept.item.manifestation -%>
    </td>
    <td>
      <%= link_to accept.item.item_identifier, accept.item -%> / <%= accept.item.call_number %>
      <br />
      (<%= link_to accept.item.shelf.library.display_name.localize, accept.item.shelf.library %> /
      <%= link_to accept.item.shelf.display_name.localize, accept.item.shelf %>)
    </td>
  </tr>
<%- end -%>
</table>

<%= javascript_tag("$('#accept_item_identifier').focus()") -%>
