<div style="color: red"><%= flash[:message] -%></div>

<div class="search_form">
  <%= form_for(:accept, url: accepts_path(basket_id: @basket.id), local: false) do |f| %>
    <%= error_messages(@accept) if @accept %>
    <p>
      <%= label_tag :item_identifier, t('activerecord.attributes.item.item_identifier') -%>:
      <%= f.search_field :item_identifier, class: 'resource_item_identifier', value: nil -%>
      <%= f.submit t('accept.accept'), 'data-disable-with' => t('page.saving') -%>
    </p>
  <%- end -%>
</div>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.item') -%></th>
  </tr>
  <%- @accepts.each_with_index do |accept, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= render 'manifestations/show_index', manifestation: accept.item.manifestation %>
        <%= link_to accept.item.item_identifier, accept.item -%> / <%= accept.item.call_number %>
        (<%= link_to accept.item.shelf.library.display_name.localize, accept.item.shelf.library %> /
        <%= link_to accept.item.shelf.display_name.localize, accept.item.shelf %>)<br />
        <%=l accept.created_at %>
      </td>
    </tr>
  <%- end -%>
</table>

<%= javascript_tag("$(function(){$('#accept_item_identifier').focus()})") %>
