<%# cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'show_index', :role => current_user_role_name, :locale => @locale, :manifestation_id => nil) do %>
  <strong>
    <% if manifestation.access_address.present? and !SystemConfiguration.isWebOPAC %>
      <%= link_to manifestation.original_title, manifestation.access_address %>
    <%- else -%>
      <%= manifestation.original_title %>
    <%- end -%>
  </strong>
  <br />
  <div id="creator_list_<%= manifestation.id -%>">
    <%= render 'themes/show_creators', :manifestation => manifestation -%>
  </div>
  <div>
    <%= manifestation.article_title %>
    <%- if manifestation.pub_date.present? -%><%= t('manifestation.format_year', :year => manifestation.pub_date) -%><%- end -%>
    <%- unless manifestation.volume_number_string.blank? %><%= t('manifestation.format_volume', :volume => manifestation.volume_number_string) %><%- end -%>
    <%- unless manifestation.issue_number_string.blank? %><%= t('manifestation.format_issue', :issue => manifestation.issue_number_string) %><%- end -%>
    <%= manifestation.serial_number_string %>
    <%- if manifestation.start_page || manifestation.end_page %>(<%= page_format(manifestation.start_page, manifestation.end_page) -%>)<%- end -%>
  </div>
<%# end %>
