<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.theme')) -%></h1>
  <div id="content_list">

    <p id="notice"><%= notice %></p>

    <p>
      <b><%= t('activerecord.attributes.theme.name') -%>:</b>
      <%= @theme.name %>
    </p>

    <p>
      <b><%= t('activerecord.attributes.theme.description') -%>:</b>
      <%= @theme.description %>
    </p>

    <%- if can? :edit, Theme -%>
      <p>
        <b><%= t('activerecord.attributes.theme.publish') -%>:</b>
        <%= i18n_publish(@theme.publish) %>
      </p>
    <%- end -%>

    <%- if can? :edit, Theme -%>
      <p>
        <b><%= t('activerecord.attributes.theme.note') -%>:</b>
        <%= @theme.note %>
      </p>
    <%- end -%>

  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, CarrierType -%>
      <li><%= link_to t('page.edit'), edit_theme_path(@theme) %>
    <%- end -%>   
    <li><%= link_to t('page.back'), themes_path %>
  </ul>
</div>
