<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.output', :model => t('activerecord.models.export_item_list')) -%></h1>
<div id="content_list">
<div id="message" style="color: green"><%= flash[:message] -%></div>
<%= form_for(:export_item_list, :url => {:controller => 'export_item_lists', :action => :create}, :html => {:multipart => true, :method => :create}) do |f| -%>
  <div class="field">
    <%= label :list_type, t('activerecord.attributes.item_list.list_type')-%>: 
    <%= f.select :list_type, @list_types.collect{|l| [l[0], l[1]]} -%>
  </div>

  <div class="field">
    <%= label :list_condition, t('activerecord.attributes.item_list.list_condition') -%>:<br />
    <div id="item_list_library">
    <input type='checkbox', name='all_library', id='all_library', onclick ='check_all_library();', checked><%= t('item_list.all_library') -%></input><br />
    <%- @libraries.each do |library| -%>
      <%= check_box_tag "library[]", library.id, true, :class => 'library' -%><%= library.display_name -%><br />
    <%- end -%>
    </div>
    <div id="item_list_carrier_type">
    <input type='checkbox', name='all_carrier_type', id='all_carrier_type', onclick='check_all_carrier_type();', checked><%= t('item_list.all_carrier_type') -%></input><br />
    <%- @carrier_types.each do |carrier_type| -%>
      <%= check_box_tag "carrier_type[]", carrier_type.id, true, :class => 'carrier_type' -%><%= carrier_type.display_name.localize -%><br />
    <%- end -%>
    </div>
    <div id="item_list_ndc">
    <%= t('item_list.ndc') -%> <%= t('item_list.ndc_message') -%><br />
    <%= text_field_tag :ndc, @ndc rescue "" -%>
    </div>
  </div>

  <div class="actions" style="clear: both;">
    <%= f.submit t('page.output', :model => t('activerecord.models.export_item_list')) %>
  </div>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), page_exstatistics_path -%></li>
  </ul>
</div>

<script>
  function check_all_library(){
    var test = $('#all_library').attr('checked');
    if (test == "checked") {
      $('.library').attr('checked', true);
    } else {
      $('.library').attr('checked', false);
    }
  }
  function check_all_carrier_type(){
    var test = $('#all_carrier_type').attr('checked');
    if (test == "checked") {
      $('.carrier_type').attr('checked', true);
    } else {
      $('.carrier_type').attr('checked', false);
    }
  }
  $("#export_item_list_list_type").change(function () {
    list_type = $("#export_item_list_list_type").val();
    if ((list_type == 1) || (list_type == 5)) {
      $("#item_list_ndc").show();
    } else {
      $("#message").hide();
      $("#ndc").val("");
      $("#item_list_ndc").hide();
    }
  });
</script>
