<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron')) -%></h1>
<div id="content_list">
<%= form_for :patrons, :url => patrons_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.patron.full_name') -%></th>
    <th><%= t('activerecord.attributes.user.username') -%></th>
    <th><%= t('activerecord.models.patron_type') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_birth') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_death') -%></th>
    <th></th>
  </tr>
  <%- @patrons.each do |patron| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(patron.full_name), patron -%><br />
        <%= patron.full_name_transcription -%>
      </td>
      <td>
        <%= link_to h(patron.user.username), edit_user_path(patron.user.username) if patron.user -%>
      </td>
      <td><%= patron.patron_type.display_name.localize  -%></td>
      <td><%=l patron.date_of_birth if patron.date_of_birth -%></td>
      <td><%=l patron.date_of_death if patron.date_of_death -%></td>
      <td>
        <%- if can? :destroy, patron -%>
          <%= link_to image_tag('/icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit')), edit_patron_path(patron) -%>
          <%= link_to image_tag('/icons/arrow_divide.png', :size => '16x16', :alt => t('patron.add_derivation')), patron_patrons_path(patron) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@patrons) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if can? :create, Patron -%>
      <li><%= link_to t('patron.add'), new_patron_path -%></li>
      <li><%= link_to t('page.merge', :model => t('activerecord.models.patron')), patron_merge_lists_path -%></li>
    <%- end -%>
  </ul>
</div>
