<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.listing', :model => t('patron.contributor')) -%></h1>

  <h2 class="resource_title">
    [E]
    <%= link_to expression.original_title, expression -%>
  </h2>

  <div class="search_form">
    <%= form_for :patrons, :url => expression_patrons_path(expression), :html => {:method => 'get', :class => 'well form-search'} do -%>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search-query', :placeholder => t('page.search_term')} -%>
      <%- if can? :update, expression -%>
        <%= render 'page/add' %>
      <%- end -%>
      <%= submit_tag t('page.search'), :class => 'btn' -%>
      <%= link_to t('page.back_to_index'), expression_patrons_path(expression) -%>
    <%- end -%>
  </div>

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.attributes.patron.full_name') -%></th>
    <th><%= t('activerecord.models.realize_type') -%></th>
    <th><%= t('activerecord.models.patron_type') -%></th>
    <th id="edit_icons"></th>
  </tr>
  <%- @patrons.each do |patron| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to patron.full_name, patron -%></td>
      <td><%= expression.realized(patron).realize_type.display_name.localize if params[:mode] != 'add' and expression.realized(patron).try(:realize_type) -%></td>
      <td><%= patron.patron_type.display_name.localize -%></td>
      <td>
        <%- if can? :destroy, patron -%>
          <%- if params[:mode] == 'add' -%>
            <%= link_to t('page.add'), new_expression_realize_path(expression, :patron_id => patron.id) unless expression.contributors.include?(patron) -%>
          <%- else -%>
            <%= link_to t('page.destroy'), expression_realize_path(expression, expression.realized(patron)), :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

    <%= will_paginate(@patrons) -%>
  </div>

  <div class="span3">
    <ul>
      <%- if can? :create, Patron -%>
        <li><%= link_to t('page.new', :model => t('activerecord.models.patron')), new_expression_patron_path(expression) -%></li>
        <li><%= link_to t('page.rearrange_order'), expression_realizes_path(expression) %></li>
      <%- end -%>
    </ul>
  </div>
</div>
