<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('patron.publisher')) -%></h1>
<div id="content_list">
  <%= render 'manifestations/title', :manifestation => manifestation -%>

<%= form_for :patrons, :url => manifestation_patrons_path(manifestation), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%- if can? :update, manifestation -%>
      <%= render 'page/add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), manifestation_patrons_path(manifestation) -%>
  </p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.patron.full_name') -%></th>
    <th><%= t('activerecord.models.patron_type') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_birth') -%></th>
    <th id="edit_icons"></th>
  </tr>
  <%- @patrons.each do |patron| -%>
    <%- if patron.user.blank? -%>
      <tr class="line<%= cycle("0", "1") -%>">
        <td><%= link_to patron.full_name, patron -%></td>
        <td><%= patron.patron_type.display_name.localize -%></td>
        <td><%= l(patron.date_of_birth, :format => :only_date) if patron.date_of_birth -%></td>
        <td>
          <%- if can? :destroy, patron -%>
            <%- if params[:mode] == 'add' -%>
              <%= link_to t('page.add'), new_manifestation_produce_path(manifestation, :patron_id => patron.id) unless manifestation.publishers.include?(patron) -%>
            <%- else -%>
              <%= link_to t('page.destroy'), manifestation_produce_path(manifestation, manifestation.produced(patron)), :confirm => t('page.are_you_sure'), :method => :delete -%>
            <%- end -%>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  <%- end -%>
</table>

<%= paginate(@patrons) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render 'manifestations/book_jacket', :manifestation => manifestation -%>
  <ul>
    <li><%= link_to t('activerecord.models.manifestation'), manifestations_path -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.item')), manifestation_items_path(manifestation) -%></li>
    <%- if can? :create, Patron -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.patron')), new_manifestation_patron_path(manifestation) -%></li>
    <%- end -%>
  </ul>
</div>
