<div id="related">
  <ul>
    <%- if @patron.patron_aliases.exists? -%>
      <%= t('page.see') -%>
    <%- end -%>
    <%- @patron.patron_aliases.each do |patron_alias| -%>
      <li>
        <%= patron_alias.full_name -%>
        <%= '||' if patron_alias.full_name_transcription.present? && patron_alias.full_name.present? -%>
        <%= patron_alias.full_name_transcription -%>
        <%= '||' if ( patron_alias.full_name.present? || patron_alias.full_name_transcription.present? ) && patron_alias.full_name_alternative.present? -%>
        <%= patron_alias.full_name_alternative -%>
      </li>
    <%- end -%>

    <%- if @patron.parents.seealso.exists? or @patron.children.seealso.exists? -%>
      <%= t('page.see') -%>
    <%- end -%> 
    <%- @patron.parents.each do |patron_relationship| -%>
      <li>
        <%= link_to patron_relationship.parent.full_name, patron_relationship.parent -%>
      </li>
    <%- end -%>
    <%- @patron.children.seealso.each do |patron_relationship| -%>
      <li>
        <%= link_to patron_relationship.child.full_name, patron_relationship.child -%>
      </li>
    <%- end -%>
  </ul>
</div>
