<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.patron')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.show'), @patron -%></li>
      <%- if can? :destroy, @patron -%>
        <li><%= link_to t('page.destroy'), @patron, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%></li>
      <%- end -%>
      <li><%= link_to t('page.back'), patrons_path -%></li>
    </ul>
  </div>
</div>
