<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.patron')) -%></h1>
<div id="content_list">

<%= form_for(@patron) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.patron_type') -%>
    <%= f.select(:patron_type_id, @patron_types.collect{|p| [p.display_name.localize, p.id]}) -%>
  </p>

  <p>
    <span id="name_person">
      <%- if configatron.family_name_first == true -%>
        <%= render :partial => 'patrons/form_family_name_first', :locals => {:f => f} -%>
      <%- else -%>
        <%= render :partial => 'patrons/form_family_name_last', :locals => {:f => f} -%>
      <%- end -%>
    </span>
    <%= f.label t('activerecord.attributes.patron.full_name') -%><br />
    <%= f.text_field :full_name, :class => 'resource_title' -%><br />
    <%= f.label t('activerecord.attributes.patron.full_name_transcription') -%><br />
    <%= f.text_field :full_name_transcription, :class => 'resource_title' -%><br />
    <%= link_to_function t('activerecord.attributes.patron.full_name_alternative'), "$('#full_name_alternative').toggle()" -%>
    <span id="full_name_alternative" style="display: none">
      <br />
      <%= f.text_area :full_name_alternative, :class => 'resource_textarea' -%>
    </span>
  </p>

  <script>
    $("select#patron_patron_type_id").change(function(){
      str = $("select#patron_patron_type_id option:selected").val();
      if(str == <%= PatronType.find_by_name('Person').id %>){
        $("#name_person").show();
      }else{
        $("#name_person").hide();
      }
    })
    .change();
  </script>

  <p>
    <%= f.label t('activerecord.attributes.patron.date_of_birth') -%><br />
    <%= f.text_field :date_of_birth, :value => @patron.date_of_birth.try(:strftime, "%Y-%m-%d"), :class => 'date_field' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.date_of_death') -%><br />
    <%= f.text_field :date_of_death, :value => @patron.date_of_death.try(:strftime, "%Y-%m-%d"), :class => 'date_field' -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.language') -%>
    <%= f.select(:language_id, @languages.collect{|l| [l.display_name.localize, l.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.country') -%>
    <%= f.select(:country_id, @countries.collect{|c| [c.display_name.localize, c.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.email') -%><br />
    <%= f.text_field :email, :class => 'resource_email'  -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.url') -%><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>

  <p>
    <%= f.label t('role.required_role') -%>
    <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>

  <hr />

  <div id="address_1">
  <p>
    <%= f.label t('activerecord.attributes.patron.zip_code_1') -%><br />
    <%= f.text_field :zip_code_1, :class => 'resource_title' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.address_1') -%><br />
    <%= f.text_area :address_1, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.telephone_number_1') -%><br />
    <%= f.text_field :telephone_number_1, :class => 'resource_telephone_number' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.fax_number_1') -%><br />
    <%= f.text_field :fax_number_1, :class => 'resource_telephone_number' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.address_1_note') -%><br />
    <%= f.text_area :address_1_note, :class => 'resource_textarea' -%>
  </p>
  <p><%= link_to_function t('patron.other_address'), "$('#address_2').toggle()" -%></p>
  </div>

  <div id="address_2" style="display: none">
  <hr />
  <p>
    <%= f.label t('activerecord.attributes.patron.zip_code_2') -%><br />
    <%= f.text_field :zip_code_2, :class => 'resource_title' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.address_2') -%><br />
    <%= f.text_area :address_2, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.telephone_number_2') -%><br />
    <%= f.text_field :telephone_number_2, :class => 'resource_telephone_number' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.fax_number_2') -%><br />
    <%= f.text_field :fax_number_2, :class => 'resource_telephone_number' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.patron.address_2_note') -%><br />
    <%= f.text_area :address_2_note, :class => 'resource_textarea' -%>
  </p>
  </div>

  <hr />
  <p>
    <%= f.label t('activerecord.attributes.patron.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
  <%= javascript_tag("$('#patron_patron_type_id').focus()") -%>
<%- end -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @patron -%></li>
    <li><%= link_to t('page.back'), patrons_path -%></li>
  </ul>
</div>
