<div class="span6">
  <div class="field">
    <%= f.label :username -%>
    <%= user.username -%>
  </div>

  <div class="field">
    <%= f.label :email -%>
    <%= f.email_field :email, :class => 'resource_email' -%>
  </div>

  <div class="field">
    <abbr title="required"><%= t('simple_form.required.mark') %></abbr>
    <%= f.label :current_password -%>
    <%= f.password_field :current_password, :class => 'resource_email' -%>
  </div>
  <div class="field">
    <%= f.label :password -%>
    <%= f.password_field :password, :class => 'resource_email' -%>
  </div>
  <div class="field">
    <%= f.label :password_confirmation -%>
    <%= f.password_field :password_confirmation, :class => 'resource_email' -%>
  </div>

  <div class="field">
    <%= f.label :expired_at -%>
    <%- if current_user.has_role?('Librarian') -%>
      <%= f.text_field :expired_at, :value => user.expired_at.try(:strftime, "%Y-%m-%d"), :class => 'date_text_field', :placeholder => "#{t('page.example')}: 2011-04-12"-%>
    <%- else -%>
      <%= l(user.expired_at) if user.expired_at -%>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.check_box :locked, :disabled => 'disabled' -%>
    <%= f.label :locked -%>
  </div>
</div>

<div class="span6">
  <%- if current_user.has_role?('Librarian') -%>
    <div class="field">
      <%= f.label t('activerecord.models.user_group') -%>
      <%= f.select(:user_group_id, @user_groups.collect{|u| [u.display_name.localize, u.id]}) -%>
    </div>
  <%- end -%>

    <div class="field">
      <%= f.label t('activerecord.models.role') -%>
      <%= f.fields_for :user_has_role do |u| %>
        <%- if current_user.has_role?('Administrator') and current_user != user -%>
          <%= u.select :role_id, @roles.collect{|r| [r.display_name.localize, r.id]} %>
        <% else %>
          <%= u.select(:role_id, @roles.collect{|r| [r.display_name.localize, r.id]}, {}, {:disabled => 'disabled'}) -%>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :user_number -%>
      <%- if current_user.has_role?('Librarian') -%>
        <%= f.text_field :user_number, :class => 'resource_user_number' -%>
      <%- else -%>
        <%= user.user_number -%>
      <%- end -%>
    </div>

  <%- if current_user.has_role?('Librarian') -%>
    <div class="field">
      <%= f.label t('activerecord.models.library') -%>
      <%= f.select(:library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}) -%>
    </div>

    <div class="field">
      <%= f.label t('role.required_role') -%>
      <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
    </div>
  <%- end -%>
  <div class="field">
    <%= f.label :locale -%>
    <%= f.select(:locale, @available_languages.collect{|language| [language.display_name.localize, language.iso_639_1]}) -%>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
</div>
