  <div id="left_pane_detail">

  <div class="field">
    <%= f.label :username -%><br />
    <%= user.username -%>
  </div>

  <div class="field">
    <%= f.label :email -%><br />
    <%= f.email_field :email, :class => 'resource_email' -%>
  </div>
  <div class="field">
    <abbr title="required"><%= t('simple_form.required.mark') %></abbr>
    <%= f.label :current_password -%><br />
    <%= f.password_field :current_password, :class => 'resource_email' -%>
  </div>
  <div class="field">
    <%= f.label :password -%><br />
    <%= f.password_field :password, :class => 'resource_email' -%>
  </div>
  <div class="field">
    <%= f.label :password_confirmation -%><br />
    <%= f.password_field :password_confirmation, :class => 'resource_email' -%>
  </div>

  <div class="field">
    <%= f.label :expired_at -%><br />
    <%- if current_user.has_role?('Librarian') -%>
      <%= f.text_field :expired_at, :value => user.expired_at.try(:strftime, "%Y-%m-%d"), :class => 'date_field', :placeholder => "#{t('page.example')}: 2011-04-12"-%>
    <%- else -%>
      <%= l(user.expired_at) if user.expired_at -%>
    <%- end -%>
  </div>

  <div class="field">
    <%- if user.check_update_own_account(current_user) -%>
      <%= f.check_box :locked, :disabled => 'disabled' -%>
    <%- else -%>
      <%= f.check_box :locked -%>
    <%- end -%>
    <%= f.label :locked -%>
  </div>

  </div>

  <div id="right_pane_detail">
  <%- if current_user.has_role?('Librarian') -%>
    <div class="field">
      <%= f.label t('activerecord.models.user_group') -%><br />
      <%= f.select(:user_group_id, @user_groups.collect{|u| [u.display_name.localize, u.id]}) -%>
    </div>
  <%- end -%>

    <div class="field">
      <%= f.label t('activerecord.models.role') -%><br />
      <%- if current_user.has_role?('Administrator') and current_user != user -%>
        <%= f.select(:role_id, @roles.collect{|r| [r.display_name.localize, r.id]}, {}) -%>
      <% else %>
        <%= f.select(:role_id, @roles.collect{|r| [r.display_name.localize, r.id]}, {}, {:disabled => 'disabled'}) -%>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :user_number -%><br />
      <%- if current_user.has_role?('Librarian') -%>
        <%= f.text_field :user_number, :class => 'resource_user_number' -%>
      <%- else -%>
        <%= user.user_number -%>
      <%- end -%>
    </div>

  <%- if current_user.has_role?('Librarian') -%>
    <div class="field">
      <%= f.label t('activerecord.models.library') -%><br />
      <%= f.select(:library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}) -%>
    </div>

    <div class="field">
      <%= f.label t('role.required_role') -%><br />
      <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
    </div>
  <%- end -%>
  <div class="field">
    <%= f.label :locale -%><br />
    <%= f.select(:locale, @available_languages.collect{|language| [language.display_name.localize, language.iso_639_1]}) -%>
  </div>
  </div>
