<div id="content_detail" class="col col-md-9">
<h1 class="title"><%= t('page.edit_user_profile', login_name: @profile.user.username) -%></h1>
<div id="content_list">
<%= render 'page/required_field' %>
<%= form_for(@profile, url: my_account_path) do |f| -%>
  <%= error_messages(@profile) -%>

  <%= render partial: 'edit_credential', locals: {f: f, profile: @profile} -%>

  <div class="actions" style="clear: both">
    <%= f.submit %>
  </div>
  <div class="field">
    <%= f.label :keyword_list -%><br />
    <%= f.text_area :keyword_list, class: 'resource_textarea' -%>
  </div>

  <%= render partial: 'profiles/edit_profile', locals: {f: f, profile: @profile} -%>
<%- end -%>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), my_account_path -%></li>
    <% if current_user.has_role?('Librarian') %>
      <li><%= link_to t('page.listing', model: t('activerecord.models.user')), profiles_path -%></li>
    <% end %>
    <li><%= link_to t('activerecord.models.registration'), edit_user_registration_path -%></li>
  </ul>
</div>
