<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.user')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

  <h2 class="resource_title">
    [U]
    <%= current_user.username -%>
  </h2>

  <p><%= t('activerecord.attributes.profile.user_number') %>: <%= @profile.user_number %></p>
  <% if defined?(EnjuOrcid) %>
    <p><%= 'ORCID iD' %>: <%= link_to orcid_url(@profile), orcid_url(@profile) %></p>
  <% end %>

  <% if defined?(EnjuCirculation) %>
    <%= render 'profiles/checkout_list', profile: @profile %>
  <% end %>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <% if defined?(EnjuCirculation) %>
    <%= render 'profiles/submenu_checkout', profile: @profile %>
  <% end %>
  <ul>
    <li><%= link_to t('page.edit'), edit_my_account_path -%></li>
    <li><%= link_to t('activerecord.models.registration'), edit_user_registration_path -%></li>
    <%- if policy(@profile).destroy? -%>
      <li><%= link_to t('page.destroy'), @profile, data: {confirm: t('page.are_you_sure')}, method: :delete -%></li>
    <%- end -%>
    <% if defined?(EnjuSearchLog) %>
      <li><%= link_to t('activerecord.models.search_history'), search_histories_path %></li>
    <% end %>
    <% if defined?(EnjuCirculation) %>
      <li><%= link_to t('page.listing', model: t('activerecord.models.checkout')), checkouts_path(user_id: @profile.user.username) %></li>
      <li><%= link_to t('page.listing', model: t('activerecord.models.reserve')), reserves_path(user_id: @profile.user.username) %></li>
    <% end %>
    <% if defined?(EnjuQuestion) %>
      <li><%= link_to t('page.listing', model: t('activerecord.models.question')), questions_path(user_id: @profile.user.username) %></li>
    <% end %>
    <% if defined?(EnjuBookmark) %>
      <li><%= link_to t('page.listing', model: t('activerecord.models.bookmark')), bookmarks_path(user_id: @profile.user.username) %></li>
    <% end %>
    <% if defined?(EnjuPurchaseRequest) %>
      <li><%= link_to t('page.listing', model: t('activerecord.models.purchase_request')), purchase_requests_path(user_id: @profile.user.username) %></li>
    <% end %>
  </ul>
</div>
