<%= simple_nested_form_for(@user_group) do |f| %>
  <%= f.error_notification -%>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_area :display_name %>
  </div>
  <div class="field">
    <%= f.label :valid_period_for_new_user %><br />
    <%= f.text_field :valid_period_for_new_user, :class => 'resource_integer' %>
  </div>
  <div class="field">
    <%= f.label :number_of_day_to_notify_due_date %><br />
    <%= f.text_field :number_of_day_to_notify_due_date, :class => 'resource_integer' %>
  </div>
  <div class="field">
    <%= f.label :number_of_day_to_notify_overdue %><br />
    <%= f.text_field :number_of_day_to_notify_overdue, :class => 'resource_integer' %>
  </div>
  <div class="field">
    <%= f.label :number_of_time_to_notify_overdue %><br />
    <%= f.text_field :number_of_time_to_notify_overdue, :class => 'resource_integer' %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.user_group_has_checkout_type') %><br />
    <%= f.fields_for :user_group_has_checkout_types do |checkout_form| %>
      <%= checkout_form.label :checkout_type_id -%>
      <%= checkout_form.select(:checkout_type_id, @checkout_types.collect{|c| [c.display_name.localize, c.id]}) %>
      <%= checkout_form.link_to_remove t('page.remove'), :confirm => t('page.are_you_sure') %>
      <br />
      <%= checkout_form.label :checkout_limit -%>
      <%= checkout_form.text_field :checkout_limit, :class => 'resource_integer' %>
      <%= checkout_form.label :checkout_period -%>
      <%= checkout_form.text_field :checkout_period, :class => 'resource_integer' %>
      <%= checkout_form.label :checkout_renewal_limit -%>
      <%= checkout_form.text_field :checkout_renewal_limit, :class => 'resource_integer' %>
      <br />
      <%= checkout_form.label :reservation_limit -%>
      <%= checkout_form.text_field :reservation_limit, :class => 'resource_integer' %>
      <%= checkout_form.label :reservation_expired_period -%>
      <%= checkout_form.text_field :reservation_expired_period, :class => 'resource_integer' %>
      <%= checkout_form.label :set_due_date_before_closing_day -%>
      <%= checkout_form.check_box :set_due_date_before_closing_day %>
    <% end %>
    <p><%= f.link_to_add t('page.add'), :user_group_has_checkout_types %></p>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
