<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.user_group')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.user_group.display_name') -%></th>
    <th><%= t('activerecord.attributes.user_group.note') -%></th>
    <th></th>
  </tr>
  
<%- @user_groups.each do |user_group| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, user_group -%>
        <%= move_position(user_group) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(user_group.display_name.localize), user_group -%></td>
    <td><%= user_group.note -%></td>
    <td>
      <%- if can? :destroy, user_group -%>
        <%= link_to t('page.edit'), edit_user_group_path(user_group) -%>
        <%= link_to t('page.destroy'), user_group_path(user_group), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <% end %>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.user_group')), new_user_group_path -%></li>
  </ul>
</div>
