<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.patron_type')) -%></h1>
<div id="content_list">

<%= form_for(@patron_type) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('activerecord.attributes.patron_type.display_name') -%><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.patron_type.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), patron_types_path -%></li>
  </ul>
</div>
