<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.message_request')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('message.sender') -%>:</strong>
  <%= link_to @message_request.sender.username, @message_request.sender -%>
</p>

<p>
  <strong><%= t('message.receiver') -%>:</strong>
  <%= link_to @message_request.receiver.username, @message_request.receiver -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@message_request.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@message_request.updated_at) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.message_request.sent_at') -%>:</strong>
  <%= l(@message_request.sent_at) if @message_request.sent_at -%>
</p>

<p>
  <strong><%= t('activerecord.models.message_template') -%>:</strong>
  <%= link_to @message_request.message_template.status, message_template_path(@message_request.message_template) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.message.subject') -%>:</strong>
  <%= @message_request.subject -%>
</p>

<div>
  <strong><%= t('activerecord.attributes.message.body') -%>:</strong>
  <%= raw auto_link(simple_format(h(@message_request.body))) -%>
</div>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_message_request_path(@message_request) -%></li>
    <li><%= back_to_index(flash[:page_info]) -%></li>
    <li><%= link_to t('message.send'), new_message_path(:message_request_id => @message_request.id) -%></li>
  </ul>
</div>
