<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.message_template')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.message_template.status') -%></th>
    <th><%= t('activerecord.attributes.message_template.title') -%></th>
    <th></th>
  </tr>

<%- @message_templates.each do |message_template| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, message_template -%>
        <%= move_position(message_template) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(message_template.status), message_template -%></td>
    <td><%= message_template.title -%></td>
    <td>
      <%- if can? :destroy, message_template -%>
        <%= link_to t('page.edit'), edit_message_template_path(message_template) -%>
        <%= link_to t('page.destroy'), message_template, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@message_templates) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.message_template')), new_message_template_path -%></li>
  </ul>
</div>
