<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.message_template')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.message_template.status') -%></th>
    <th><%= t('activerecord.attributes.message_template.locale') -%></th>
    <th><%= t('activerecord.attributes.message_template.title') -%></th>
    <th></th>
  </tr>

<%- @message_templates.each do |message_template| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(message_template).update? -%>
        <%= move_position(message_template) -%>
      <%- end -%>
    </td>
    <td><%= link_to message_template.status, message_template -%></td>
    <td><%= message_template.locale -%></td>
    <td><%= message_template.title -%></td>
    <td>
      <%- if policy(message_template).update? -%>
        <%= link_to t('page.edit'), edit_message_template_path(message_template) -%>
      <% end %>
      <%- if policy(message_template).destroy? -%>
        <%= link_to t('page.destroy'), message_template, data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@message_templates) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- if policy(MessageTemplate).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.message_template')), new_message_template_path -%></li>
    <%- end -%>
  </ul>
</div>
