<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.message_template')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.message_template.status') -%>:</strong>
  <%= @message_template.status -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.message_template.locale') -%>:</strong>
  <%= @message_template.locale -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.message_template.title') -%>:</strong>
  <%= @message_template.title -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.message_template.body') -%>:</strong><br />
  <%= simple_format(@message_template.body) -%>
</p>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- if policy(@message_template).update? -%>
      <li><%= link_to t('page.edit'), edit_message_template_path(@message_template) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
