<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.family')) -%></h1>
<div id="content_list">
<div style="color: green"><%= flash[:message] -%></div>

<table class="index">
  <tr>
    <th></th>
    <th><%= t('activerecord.models.family_user') -%></th>
    <th></th>
  </tr>

<%- @families.each_with_index do |family, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to family.id, family -%></td>
    <td>
      <%- family.users.each do |user| -%> 
        <%= user.patron.full_name -%>(<%= user.username -%>)&nbsp;
      <%- end -%>
    </td>
    <td><%= link_to t('page.edit'), edit_family_path(family) -%></td>
  </tr>
<%- end -%>
</table>

<br />

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.family')), new_family_path -%></li>
  </ul>
</div>
