<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.bookmark_stat')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.bookmark_stat.start_date') -%></th>
    <th><%= t('activerecord.attributes.bookmark_stat.end_date') -%></th>
    <th><%= t('activerecord.attributes.bookmark_stat.note') -%></th>
  </tr>

<%- @bookmark_stats.each do |bookmark_stat| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= l(bookmark_stat.start_date) -%></td>
    <td><%= l(bookmark_stat.end_date) -%></td>
    <td><%= bookmark_stat.note -%></td>
    <td><%= link_to t('page.show'), bookmark_stat -%></td>
    <td><%= link_to t('page.edit'), edit_bookmark_stat_path(bookmark_stat) -%></td>
    <td><%= link_to t('page.destroy'), bookmark_stat, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@bookmark_stats) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.bookmark_stat')), new_bookmark_stat_path -%></li>
  </ul>
</div>
