<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.patron_merge')) -%></h1>
<div id="content_list">

<%= form_for(@patron_merge) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.patron') -%><br />
    <%= f.text_field :patron_id, :value => @patron_merge.patron_id -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.patron_merge_list') -%><br />
    <%= f.text_field :patron_merge_list_id, :value => @patron_merge.patron_merge_list_id -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @patron_merge -%></li>
    <li><%= link_to t('page.back'), patron_merges_path -%></li>
  </ul>
</div>
