<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron_merge')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <td><%= t('activerecord.models.patron') -%></td>
    <td><%= t('activerecord.models.patron_merge_list') -%></td>
  </tr>

<%- @patron_merges.each do |patron_merge| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to patron_merge.patron.full_name, patron_merge.patron -%></td>
    <td><%= link_to patron_merge.patron_merge_list.title, patron_merge_list_path(patron_merge.patron_merge_list) -%></td>
    <td><%= link_to t('page.show'), patron_merge -%></td>
    <td><%= link_to t('page.edit'), edit_patron_merge_path(patron_merge) -%></td>
    <td><%= link_to t('page.destroy'), patron_merge, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@patron_merges) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @patron_merge_list -%>
      <li><%= link_to t('page.add', :model => t('activerecord.models.patron')), patron_merge_list_patrons_path(@patron_merge_list) -%></li>
    <%- end -%>
  </ul>
</div>
