<%= form_for(@language) do |f| %>
  <% if @language.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h2>
    <ul>
    <% @language.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_area :display_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
