<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.language')) -%></h1>
<div id="content_list">

<%= form_for(@language) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.language.native_name') -%><br />
    <%= f.text_field :native_name -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.language.name') -%><br />
    <%= f.text_field :name -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.language.display_name') -%><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.language.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), languages_path -%></li>
  </ul>
</div>
