<script language="JavaScript" type="text/javascript">
  <!--
    function addItem(item_identifier) {
      var result = $.ajax({
        url: "<%= bookbinding_binding_items_path(@bookbinding, :mode => 'list') %>",
        type: 'POST',
        dataType: 'json',
        data: {binding_item: {item_identifier: item_identifier}},
        error: function() {
          $("#message").text("<%= t('binding_item.no_item_identifier') %>");
        },
        success: function(obj){
          $("#list").html(obj.result);          
        }
      });
    }
  // -->
</script>

<div id="list">
  <%= render :partial => "binding_items_list" %>
</div>

<%= form_for(:bookbinding, :url => {:controller => 'bookbindings', :action => 'update', :id => @bookbinding.id}, :html => { :method => :put }) do |f| -%>
  <div>
    <%= f.submit t('binding_item.bind') -%>
  </div>
<%- end -%>

<%= t('binding_item.search_items') -%>
<%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get', :remote => true} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', nil, :class => 'search_form_short', :placeholder => t('page.search_term') -%>
    <%= check_box_tag 'all_manifestations', true %><%= t('advanced_search.all_manifestations') %>
    <%= hidden_field_tag :without_article, true %>
    <%= hidden_field_tag :with_periodical_item, true %>
    <%= hidden_field_tag :per_page, 30 %>
    <%= submit_tag t('page.search') -%><br />
  </p>
<%- end -%>
<%= javascript_tag("$('#query').focus()") -%>

<div id="result">
  <%= render :partial => "manifestation_list" %>
</div>
