<div id="content_detail" class="col col-md-9">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.medium_of_performance')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.medium_of_performance.name') -%></th>
    <th>
      <%= t('activerecord.attributes.medium_of_performance.display_name') -%>
      /
      <%= t('activerecord.attributes.medium_of_performance.note') -%>
    </th>
    <th></th>
  </tr>

<%- @medium_of_performances.each do |medium_of_performance| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(medium_of_performance).update? -%>
        <%= move_position(medium_of_performance) -%>
      <%- end -%>
    </td>
    <td><%= medium_of_performance.name -%></td>
    <td>
      <%= link_to medium_of_performance.display_name.localize, medium_of_performance -%>
      <br />
      <%= medium_of_performance.note %>
    </td>
    <td>
      <%- if policy(medium_of_performance).update? -%>
        <%= link_to t('page.edit'), edit_medium_of_performance_path(medium_of_performance) -%>
      <% end %>
      <%- if policy(medium_of_performance).destroy? -%>
        <%= link_to t('page.destroy'), medium_of_performance_path(medium_of_performance), data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(MediumOfPerformance).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.medium_of_performance')), new_medium_of_performance_path -%></li>
    <%- end -%>
  </ul>
</div>
