<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.medium_of_performance')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.medium_of_performance.name') -%>:</strong>
  <%= @medium_of_performance.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.medium_of_performance.display_name') -%>:</strong>
  <%= @medium_of_performance.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.medium_of_performance.note') -%>:</strong>
  <%= @medium_of_performance.note -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_medium_of_performance_path(@medium_of_performance) -%></li>
    <li><%= link_to t('page.back'), medium_of_performances_path -%></li>
  </ul>
</div>
