<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.purchase_request')) -%></h1>
<div id="content_list">

<%= form_for :purchase_requests, :url => purchase_requests_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.purchase_request.title') -%></th>
    <th><%= t('activerecord.attributes.purchase_request.price') -%></th>
<%- if false -%><th><%= t('activerecord.models.order_list') -%></th><%- end -%>
    <th><%= t('activerecord.attributes.purchase_request.state') -%></th>
    <th id="edit_icons"></th>
  </tr>

  <%- @purchase_requests.each_with_index do |purchase_request, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to purchase_request.title, purchase_request -%>
        <br />
        <%= purchase_request.author -%>
        <%= purchase_request.publisher -%>
        <%= purchase_request.pub_date -%>
      </td>
      <td><%= purchase_request.price -%></td>
<%- if false -%>
      <td>
        <%= link_to purchase_request.order_list.title, order_list_purchase_requests_path(purchase_request.order_list) if purchase_request.order_list -%>
      </td>
<%- end -%>
      <td><%= i18n_pr_state(purchase_request.state) -%></td>
      <td>
        <%= link_to image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit'), :title => t('tooltip.edit')), edit_user_purchase_request_path(purchase_request.user, purchase_request) -%>
        <%- if can? :destroy, purchase_request %>
          <%= link_to image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')), purchase_request, :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@purchase_requests) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.purchase_request')), new_user_purchase_request_path(current_user)%></li>
    <% if current_user.try(:has_role?, 'Librarian') %>
      <li><%= link_to t('purchase_request.all_request'), purchase_requests_path -%></li>
      <li><%= link_to t('purchase_request.ordered'), purchase_requests_path(:mode => 'ordered') -%></li>
      <li><%= link_to t('purchase_request.not_ordered'), purchase_requests_path(:mode => 'not_ordered') -%></li>
      <li><%= link_to t('purchase_request.pending'), purchase_requests_path(:mode => 'pending') -%></li>
    <%- end -%>
  </ul>
<p>
  <%- if @user -%>
    <%= link_to (image_tag 'icons/feed.png', :size => '16x16', :alt => t('page.feed'), :title => t('tooltip.feed'), :class => 'icon'), :user_id => @user.username, :format => :rss, :mode => params[:mode], :query => @query -%>
    (<%= link_to 'RSS', user_purchase_requests_path(@user, :format => :rss) -%>)
    <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'TSV', :title => t('tooltip.tsv'), :class => 'icon'), user_purchase_requests_path(@user, :format => :tsv, :locale => @locale.to_s, :mode => params[:mode], :query => @query) -%>
    (<%= link_to 'TSV', user_purchase_requests_path(@user, :format => :tsv, :locale => @locale.to_s, :mode => params[:mode], :query => @query) -%>)
  <%- else -%>
    <%= link_to (image_tag 'icons/feed.png', :size => '16x16', :alt => t('page.feed'), :title => t('tooltip.feed'), :class => 'icon'), :format => :rss, :mode => params[:mode], :query => @query -%>
    (<%= link_to 'RSS', purchase_requests_path(:format => :rss, :mode => params[:mode], :query => @query) -%>)
    <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'TSV', :title => t('tooltip.tsv'), :class => 'icon'), purchase_requests_path(:format => :tsv, :locale => @locale.to_s, :mode => params[:mode], :query => @query) -%>
    (<%= link_to 'TSV', purchase_requests_path(:format => :tsv, :locale => @locale.to_s, :mode => params[:mode], :query => @query) -%>)
  <%- end -%>
</p>

<h4><%= t('page.bookmarklet') -%></h4>
<ul>
  <li><a href="javascript:window.location.href='<%= new_user_purchase_request_url(current_user) -%>?purchase_request[url]='+encodeURIComponent(location.href)+'&purchase_request[title]='+encodeURIComponent(document.title);"><%= t('purchase_request.add_to_purchase_request') -%></a></li>
</ul>
<div id="iconmenu" class="ui-corner-all">
  <strong><%= t('tooltip.icons_info') -%></strong>
  <ul>
    <li><%= image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit'), :title => t('tooltip.edit')) -%>:&nbsp;<%=t('page.edit')-%></li>
    <li><%= image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')) -%>:&nbsp;<%=t('page.destroy')-%></li>
  </ul>
</div>
</div>
