<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.purchase_request')) -%></h1>
<div id="content_list">

<%= form_for :purchase_requests, :url => purchase_requests_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.purchase_request.title') -%></th>
    <th><%= t('activerecord.attributes.purchase_request.price') -%></th>
    <th><%= t('activerecord.models.order_list') -%></th>
    <th id="edit_icons"></th>
  </tr>

  <%- @purchase_requests.each_with_index do |purchase_request, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(purchase_request.title), purchase_request -%>
        <br />
        <%= purchase_request.author -%>
        <%= purchase_request.publisher -%>
        <%=l purchase_request.date_of_publication if purchase_request.date_of_publication -%>
      </td>
      <td><%= purchase_request.price -%></td>
      <td>
        <%= link_to h(purchase_request.order_list.title), order_list_purchase_requests_path(purchase_request.order_list) if purchase_request.order_list -%>
      </td>
      <td>
        <%= link_to image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit')), edit_user_purchase_request_path(purchase_request.user, purchase_request) -%>
        <%- if can? :destroy, purchase_request %>
          <%= link_to image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy')), purchase_request, :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@purchase_requests) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.purchase_request')), new_user_purchase_request_path(current_user)%></li>
    <% if current_user.try(:has_role?, 'Librarian') %>
      <%- case params[:mode] when 'not_ordered' -%>
        <li><%= link_to t('purchase_request.ordered'), purchase_requests_path(:mode => 'ordered') -%></li>
        <li><%= link_to t('purchase_request.all_request'), purchase_requests_path -%></li>
      <%- when 'ordered' -%>
        <li><%= link_to t('purchase_request.not_ordered'), purchase_requests_path(:mode => 'not_ordered') -%></li>
        <li><%= link_to t('purchase_request.all_request'), purchase_requests_path -%></li>
      <%- else -%>
        <li><%= link_to t('purchase_request.all_request'), purchase_requests_path -%></li>
        <li><%= link_to t('purchase_request.ordered'), purchase_requests_path(:mode => 'ordered') -%></li>
        <li><%= link_to t('purchase_request.not_ordered'), purchase_requests_path(:mode => 'not_ordered') -%></li>
      <%- end -%>
    <%- end -%>
  </ul>
<p>
  <%- if @user -%>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), :user_id => @user.username, :format => :rss -%>
    (<%= link_to 'RSS', user_purchase_requests_path(@user, :format => :rss) -%>)
    (<%= link_to 'CSV', user_purchase_requests_path(@user, :format => :csv, :locale => @locale) -%>)
  <%- else -%>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), :format => :rss -%>
    (<%= link_to 'RSS', purchase_requests_path(:format => :rss) -%>)
    (<%= link_to 'CSV', purchase_requests_path(:format => :csv, :locale => @locale) -%>)
  <%- end -%>
</p>

<h4><%= t('page.bookmarklet') -%></h4>
<ul>
  <li><a href="javascript:window.location.href='<%= new_user_purchase_request_url(current_user) -%>?purchase_request[url]='+encodeURIComponent(location.href)+'&purchase_request[title]='+encodeURIComponent(document.title);"><%= t('purchase_request.add_to_purchase_request') -%></a></li>
</ul>
</div>
