<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.purchase_request')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<h2 class="resource_title"><%= link_to @order_list.title, @order_list -%></h2>
<p>
  <% if @order_list.ordered? -%>
    <%= t('activerecord.attributes.order_list.ordered_at') -%>: <%= l(@order_list.ordered_at) if @order_list.ordered_at -%>
    (<%= link_to @order_list.bookstore.name, @order_list.bookstore %>)
  <% end %>
  <%= t('order_list.total_price') -%>: <%= @order_list.total_price -%>
</p>

<div class="search_form">
  <%= form_for :purchase_requests, url: purchase_requests_path(order_list_id: @order_list.id), :html => {method: 'get'} do -%>
    <p>
      <%= label_tag :search_form_top, t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', class: 'search_form', placeholder: t('page.search_term')} -%>
      <%= submit_tag t('page.search') -%>
    </p>
  <%- end -%>
</div>

<table class="table table-striped index">
  <tr>
    <th style="width: 500px"><%= t('activerecord.attributes.purchase_request.title') -%></th>
    <th><%= t('activerecord.attributes.purchase_request.price') -%></th>
    <th></th>
  </tr>

  <%- @purchase_requests.each_with_index do |purchase_request, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to purchase_request.title, purchase_request -%>
        <br />
        <%= purchase_request.author -%>
        <%= purchase_request.publisher -%>
        <%= purchase_request.pub_date -%>
      </td>
      <td><%= purchase_request.price -%></td>
      <td>
        <%- if policy(purchase_request).update? -%>
          <%= link_to t('page.edit'), edit_purchase_request_path(purchase_request) -%>
        <% end %>
        <%- if policy(purchase_request).destroy? -%>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_purchase_request_path(order_list_id: @order_list, purchase_request_id: purchase_request.id, mode: 'add') -%>
          <%- else -%>
            <%- order = @order_list.orders.where(purchase_request_id: purchase_request.id).first -%>
            <%= link_to t('page.destroy'), order_path(order, order_list_id: @order_list.id), data: {confirm: t('page.are_you_sure')}, method: :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= paginate(@purchase_requests) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- unless @order_list.ordered? -%>
      <li><%= link_to t('order_list.create_order_sheet'), edit_order_list_path(@order_list, mode: 'order') -%></li>
    <%- end -%>
    <li><%= link_to t('purchase_request.all_request'), purchase_requests_path -%></li>
  </ul>
  <% if @order_list.ordered? %>
    <p>
      <%= link_to image_tag('icons/feed.png', size: '16x16', class: 'enju_icon', alt: t('page.feed')), purchase_requests_path(order_list_id: @order_list.id, format: :rss) -%>
      (<%= link_to 'RSS', purchase_requests_path(order_list_id: @order_list.id, format: :rss) -%>)
      <%= link_to image_tag('icons/page_white_excel.png', size: '16x16', class: 'enju_icon', alt: 'TSV'), purchase_requests_path(order_list_id: @order_list.id, format: :txt) -%>
      (<%= link_to 'TSV', purchase_requests_path(order_list_id: @order_list.id, format: :txt) -%>)
    </p>
  <% end %>
  <h4><%= t('page.bookmarklet') -%></h4>
  <ul>
    <li><a href="javascript:window.location.href='<%= new_purchase_request_url -%>?purchase_request[url]='+encodeURIComponent(location.href)+'&purchase_request[title]='+encodeURIComponent(document.title);"><%= t('purchase_request.add_to_purchase_request') -%></a></li>
  </ul>
</div>
