<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.purchase_request')) %></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>
<%= render 'show_list' %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <% if user_signed_in? and current_user.has_role?('Librarian') %>
      <% if SystemConfiguration.get("use_order_lists") %>
        <li>
          <% if @purchase_request.order_list %>
            <%= link_to t('purchase_request.remove_from_order_list'), order_path(@purchase_request.order_list), 
              :method => :delete, :confirm => t('page.are_you_sure') if @purchase_request.order_list %>
          <% else %>
            <%= link_to t('purchase_request.add_to_order_list'), new_purchase_request_order_path(@purchase_request) %>
          <% end %>
        </li>
      <% end %>

      <% if @purchase_request.state == "pending" %>
        <li><%= link_to t('purchase_request.accept'), accept_purchase_request_path(@purchase_request) %></li>
        <li><%= link_to t('purchase_request.reject'), reject_purchase_request_path(@purchase_request) %></li>
      <% elsif @purchase_request.state == "accepted" %>
        <li><%= link_to t('purchase_request.order'), do_order_purchase_request_path(@purchase_request) %></li>
      <% end %>
    <% end %>

    <li>
      <%= link_to t('page.new', :model => t('activerecord.models.purchase_request')), new_user_purchase_request_path(@user) if @user %>
      <%= link_to t('page.new', :model => t('activerecord.models.purchase_request')), new_purchase_request_path unless @user %>
    </li>

    <% if user_signed_in? %>
      <% if can? :edit, @purchase_request %>
        <li>
          <%= link_to t('page.edit'), edit_user_purchase_request_path(@purchase_request.user, @purchase_request) if @purchase_request.user %>
          <%= link_to t('page.edit'), edit_purchase_request_path(@purchase_request) unless @purchase_request.user %>
        </li>
      <% end %>
      <% if can? :destroy, @purchase_request %>
        <li>
          <%= link_to t('page.destroy'), user_purchase_request_path(@purchase_request.user, @purchase_request), :confirm => t('page.are_you_sure'), :method => :delete if @purchase_request.user %>
          <%= link_to t('page.destroy'), purchase_request_path(@purchase_request), :confirm => t('page.are_you_sure'), :method => :delete unless @purchase_request.user %>
        </li>
      <% end %>
    <% end %>

    <li>
      <%= link_to t('page.back'), user_purchase_requests_path(@user, :page => flash[:page] ||= nil) if @user %>
      <%= link_to t('page.back'), purchase_requests_path unless @user %>
    </li>
  </ul>
</div>
