<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.purchase_request')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
<strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @purchase_request.user.username, @purchase_request.user.profile -%>
</p>

<% if current_user.has_role?('Librarian') %>
  <p>
    <strong><%= t('activerecord.models.order_list') -%>:</strong>
    <%- if @purchase_request.order_list -%>
      <%= link_to @purchase_request.order_list.title, purchase_requests_path(order_list_id: @purchase_request.order_list.id) -%>
    <%- else -%>
      <%= t('purchase_request.not_ordered') -%>
    <%- end -%>
  </p>
<% end %>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.title') -%>:</strong>
  <%= @purchase_request.title -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.author') -%>:</strong>
  <%= @purchase_request.author -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.publisher') -%>:</strong>
  <%= @purchase_request.publisher -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.isbn') -%>:</strong>
  <%= @purchase_request.isbn -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.pub_date') -%>:</strong>
  <%= @purchase_request.pub_date -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.price') -%>:</strong>
  <%= @purchase_request.price -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.url') -%>:</strong>
  <%= link_to @purchase_request.url, URI.parse(@purchase_request.url).to_s if @purchase_request.url? -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.purchase_request.note') -%>:</strong>
  <%= @purchase_request.note -%>
</p>

<% if current_user.has_role?('Librarian') %>
  <p>
    <strong><%= t('activerecord.attributes.order_list.ordered_at') -%>:</strong>
    <%= l(@purchase_request.order_list.ordered_at) if @purchase_request.order_list rescue nil -%>
  </p>
<% end %>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@purchase_request.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@purchase_request.updated_at) -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <% if policy(Order).create? %>
      <%- if @purchase_request.order_list -%>
        <li><%= link_to t('purchase_request.remove_from_order_list'), order_path(@purchase_request.order, order_list_id: @purchase_request.order_list.id), method: :delete, data: {confirm: t('page.are_you_sure')} -%></li>
      <%- else -%>
        <li><%= link_to t('purchase_request.add_to_order_list'), new_order_path(purchase_request_id: @purchase_request.id) -%></li>
      <%- end -%>
    <%- end -%>
    <%- if @user -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.purchase_request')), new_purchase_request_path %></li>
    <%- end -%>
    <li><%= link_to t('page.edit'), edit_purchase_request_path(@purchase_request) -%></li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('page.destroy'), @purchase_request, data: {confirm: t('page.are_you_sure')}, method: :delete -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), purchase_requests_path(user_id: @purchase_request.user.username, page: flash[:page] ||= nil) -%></li>
  </ul>
</div>
