<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.checkout_stat_has_manifestation')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.manifestation_checkout_stat') -%>:</strong>
  <%= link_to h(@checkout_stat_has_manifestation.manifestation_checkout_stat.id), @checkout_stat_has_manifestation.manifestation_checkout_stat -%>
</p>

<p>
  <strong><%= t('activerecord.models.manifestation') -%>:</strong>
  <%= link_to h(@checkout_stat_has_manifestation.manifestation.original_title), @checkout_stat_has_manifestation.manifestation -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.checkout_stat_has_manifestation.checkouts_count') -%>:</strong>
  <%= @checkout_stat_has_manifestation.checkouts_count -%>
</p>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_checkout_stat_has_manifestation_path(@checkout_stat_has_manifestation) -%></li>
    <li><%= link_to t('page.back'), checkout_stat_has_manifestations_path -%></li>
  </ul>
</div>
