  <div id="left_pane_detail">

  <p>
    <%= f.label t('activerecord.attributes.user.username') -%><br />
    <%= @user.username -%>
  </p>

  <%- if current_user == @user -%>
    <% if @user.respond_to?(:confirm!) %>
      <p>
        <%= link_to t('page.email_and_password'), edit_user_registration_path -%>
      </p>
    <% else %>
      <p>
        <%= f.label t('activerecord.attributes.user.email') -%><br />
        <%= f.email_field :email, :class => 'resource_email' -%>
      </p>
      <p>
        <%= f.label t('activerecord.attributes.user.current_password') -%><br />
        <%= f.password_field :current_password, :class => 'resource_email' -%>
      </p>
      <p>
        <%= f.label t('activerecord.attributes.user.password') -%><br />
        <%= f.password_field :password, :class => 'resource_email' -%>
      </p>
      <p>
        <%= f.label t('activerecord.attributes.user.password_confirmation') -%><br />
        <%= f.password_field :password_confirmation, :class => 'resource_email' -%>
      </p>
    <% end %>

  <%- elsif current_user.has_role?('Librarian') and current_user != @user -%>
    <p>
      <%= f.label t('activerecord.attributes.user.email') -%>
      <%= f.email_field :email, :class => 'resource_email' -%>
    </p>

    <p>
      <%= f.label t('user.set_auto_generated_password') -%>
      <%= f.check_box :auto_generated_password -%>
    </p>
  <%- end -%>

  <p>
    <%= f.label t('activerecord.attributes.user.expired_at') -%><br />
    <%- if current_user.has_role?('Librarian') -%>
      <%= f.date_select :expired_at, :include_blank => true -%>
    <%- else -%>
      <%= l(@user.expired_at) if @user.expired_at -%>
    <%- end -%>
  </p>
  
  <p>
    <%= f.label t('activerecord.attributes.user.locked') -%>
    <%- if @user.check_update_own_account(current_user) -%>
      <%= f.check_box :locked, :disabled => 'disabled' -%>
    <%- else -%>
      <%= f.check_box :locked -%>
    <%- end -%>
  </p>

  </div>

  <div id="right_pane_detail">
  <%- if current_user.has_role?('Librarian') -%>
    <p>
      <%= f.label t('activerecord.models.user_group') -%><br />
      <%= f.select(:user_group_id, @user_groups.collect{|u| [u.display_name.localize, u.id]}) -%>
    </p>
  <%- end -%>

    <p>
      <%= f.label t('activerecord.models.role') -%><br />
      <%- if current_user.has_role?('Administrator') and current_user != @user -%>
        <%= f.select(:role_id, @roles.collect{|r| [r.display_name.localize, r.id]}, {}) -%>
      <% else %>
        <%= f.select(:role_id, @roles.collect{|r| [r.display_name.localize, r.id]}, {}, {:disabled => 'disabled'}) -%>
      <% end %>
    </p>

    <p>
      <%= f.label t('activerecord.attributes.user.user_number') -%><br />
      <%- if current_user.has_role?('Librarian') -%>
        <%= f.text_field :user_number, :class => 'resource_user_number' -%>
      <%- else -%>
        <%= @user.user_number -%>
      <%- end -%>
    </p>

  <%- if current_user.has_role?('Librarian') -%>
    <p>
      <%= f.label t('activerecord.models.library') -%><br />
      <%= f.select(:library_id, @libraries.collect{|l| [l.display_name.localize, l.id]}) -%>
    </p>

    <p>
      <%= f.label t('role.required_role') -%><br />
      <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
    </p>
  <%- end -%>
  <p>
    <%= f.label t('activerecord.attributes.user.locale') -%><br />
    <%= f.select(:locale, @available_languages.collect{|language| [language.display_name.localize, language.iso_639_1]}) -%>
  </p>
  </div>
