<%= form_for(@user) do |f| %>
  <%= f.error_notification -%>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
<% end %>
