<% unless @family_users.blank? %>
<div id="family_users">
  <div><%= t('family.already_family_with') -%></div> 
  <%= check_box_tag 'out_of_family', "1" -%><%= t('family.out_of_family') -%>
  <% @family_users.each do |f_user| %>
    <div><%= f_user.username if f_user != current_user -%></div>
  <% end %>
</div>
<hr>
<% end %>
<% unless @users.blank? %>
<div id="search_family">
  <div><%= t('family.may_family_with') -%></div>
  <div><%= radio_button_tag :family, "" %><%=t('family.not_select_family') -%></div>
  <% @users.each do |user| %>
    <div><%= radio_button_tag :family, user.id %><%= user.patron.full_name if user.patron -%>(<%= user.username -%>)</div>
  <% end %>
</div>
<% end %>
