<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.user')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

  <h2 class="resource_title">
    [U]
    <%= user.username -%>
    <% if can? :show, user.patron %>
      (<%= link_to user.patron.full_name, user.patron %>)
    <% end %>
  </h2>

  <p><%= t('activerecord.attributes.user.user_number') %>: <%= user.user_number %></p>
  <%- unless @family_users.blank? -%>
    <p><%= t('activerecord.attributes.checkout.family_info') %>: 
      <%- @family_users.each do |f_user| -%>
        <%- unless f_user == user -%>
          <%= link_to f_user.username, f_user -%>
          (<%= link_to f_user.patron.full_name, f_user.patron if current_user.has_role?('Librarian') -%>)&nbsp; 
        <%- end -%>
      <%- end -%>
    </p>  
  <%- end -%>
  <%- if flash[:temporary_password] -%>
    <p><%= t('user.your_temporary_password_is') -%>: </p>
    <p style="font-size: 200%"><%= flash[:temporary_password] -%></p>
  <%- end -%>

  <div style="color: red">
    <%= user_notice(user) -%>
    <%- unless @family_users.blank? -%>
      <%- @family_users.each do |user| -%>
        <%= user_notice(user) -%>
      <%- end -%>
    <%- end -%>
  </div>

  <h2><%= t('activerecord.models.checkout') %></h2>
  <table class="index">
    <tr>
      <th><%= t('activerecord.models.item') %></th>
      <th><%= t('activerecord.attributes.checkout.due_date') %></th>
    </tr>
    <% user.checkouts.not_returned.each do |checkout| %>
      <tr class="line<%= cycle("0", "1") -%>">
        <td>
          <%= link_to checkout.item.item_identifier, checkout.item %><br />
          (<%= link_to checkout.item.manifestation.original_title, checkout.item.manifestation %>)
        </td>
        <td><%=l checkout.due_date, :format => :only_date %></td>
      </tr>
    <% end %>
  </table>
  <br />
  <h2><%= t('activerecord.models.reserve') %></h2>
  <table class="index">
    <tr>
      <th class="checked_item_title"><%= t('page.title') -%></th>
      <th><%= t('activerecord.attributes.reserve.state') -%></th>
      <th><%= t('activerecord.attributes.reserve.expired_at') -%></th>
    </tr>
    <%- user.reserves.previous_reserves.each_with_index do |reserve, i| -%>
      <tr class="line<%= cycle("0", "1") -%>">
        <td><%= render 'reserves/title', :reserve => reserve -%></td>
        <td><%= i18n_state(reserve.state) -%></td>
        <td><%= l(reserve.expired_at, :format => :only_date) -%></td>
      </tr>
    <%- end -%>
  </table>

  <%- unless @family_users.blank? -%>
    <br />
    <h2><%= t('activerecord.models.checkout_family') %></h2>
    <table class="index">
      <tr>
        <th><%= t('activerecord.models.item') %></th>
        <th><%= t('activerecord.attributes.checkout.due_date') %></th>
        <th><%= t('activerecord.attributes.checkout.family_info') -%></th>
      </tr>
      <% @family_users.each do |f_user| %>
        <%- f_user.checkouts.not_returned.each_with_index do |checkout, i| -%>
          <%- unless f_user == user -%>
            <tr class="line<%= cycle("0", "1") -%>">
              <td>
                <%= link_to checkout.item.item_identifier, checkout.item %><br />
                (<%= link_to checkout.item.manifestation.original_title, checkout.item.manifestation %>)
              </td>
              <td><%=l checkout.due_date, :format => :only_date %></td>
              <td><%= link_to f_user.username, f_user -%><br />
                  (<%= link_to f_user.patron.full_name, f_user.patron if current_user.has_role?('Librarian') -%>)</td>
            </tr>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </table>
    <br />
    <h2><%= t('activerecord.models.reserve_family') %></h2>
    <table class="index">
      <tr>
        <th class="checked_item_title"><%= t('page.title') -%></th>
        <th><%= t('activerecord.attributes.reserve.state') -%></th>
        <th><%= t('activerecord.attributes.reserve.expired_at') -%></th>
        <th><%= t('activerecord.attributes.checkout.family_info') -%></th>
      </tr>
      <% @family_users.each do |f_user| %>
        <%- f_user.reserves.previous_reserves.each_with_index do |reserve, i| -%>
          <%- unless f_user == user -%>
            <tr class="line<%= cycle("0", "1") -%>">
              <td><%= render 'reserves/title', :reserve => reserve -%></td>
              <td><%= i18n_state(reserve.state) -%></td>
              <td><%= l(reserve.expired_at, :format => :only_date) -%></td>
              <td><%= link_to f_user.username, f_user -%><br />
                  (<%= link_to f_user.patron.full_name, f_user.patron if current_user.has_role?('Librarian') -%>)</td>
            </tr>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </table>
  <%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), users_path -%></li>
        <%- if user.user_number? -%>
          <li><%= link_to t('activerecord.models.checkout'), new_basket_path(:user_number => user.user_number) -%></li>
          <li><%= link_to t('activerecord.models.reserve'), user_reserves_path(user) -%></li>
          <li><%= link_to t('activerecord.models.checkin'), checkins_path -%></li>
        <%- end -%>
    <% if user_signed_in? %>
      <% if can? :update, user %>
        <li><%= link_to t('page.edit'), edit_user_path(user) -%></li>
      <% end %>
      <li><%= link_to t('message.send'), new_message_path(:recipient => user.username) -%></li>
      <%- if can? :create, user -%>
        <li><%= link_to t('page.new', :model => t('activerecord.models.user')), new_user_path -%></li>
        <li><%= link_to t('user.create_family_user'), new_user_path(:user => user.id) -%></li>        
      <% end %>
      <%- if can? :destroy, user -%>
        <li><%= link_to t('page.destroy'), user, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <% end %>
    <%- end -%>
  </ul>
</div>
