<div id="left_pane">
  <h1 class="title"><%= @user.username -%></h1>
  <div id="user_box">
    <%- if flash[:temporary_password] -%>
      <p><%= t('user.your_temporary_password_is') -%>: </p>
      <p style="font-size: 200%"><%= flash[:temporary_password] -%></p>
    <%- end -%>
    <ul>
      <%- if can? :destroy, @user -%>
        <li><%= link_to t('user.edit_profile'), edit_patron_path(@user.patron) -%></li>
        <li><%= link_to t('user.edit_account'), edit_user_path(@user.username) -%></li>
      <%- end -%>
      <li><%= link_to t('message.send'), new_user_message_path(current_user, :recipient => @user.username) -%></li>
    </ul>
  </div>
</div>

<div id="right_pane">
  <h3 class="title"><%= t('tag.user_tag', :login_name => @user.username) -%></h3>
  <div id="tag_cloud_box">
    <%= render :partial => 'bookmarks/tag_cloud', :locals => {:tags => @tags} -%>
    <p>(<%= link_to t('page.listing', :model => t('activerecord.models.tag')), tags_path -%>)</p>
  </div>

</div>
