<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.user')) -%></h1>
<div id="content_list">

<%= form_for :users, :url => users_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= hidden_field_tag 'patron_id', @patron.id if @patron -%>
    <%= submit_tag t('page.search') -%>
    <%= javascript_tag("$('#search_form_top').focus()") -%>
  </p>
<%- end -%>

<table class="index">
  <tr>
    <th>
      <%= t('activerecord.attributes.user.username') -%>
      <%= link_to image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), url_for(params.merge(:sort_by => 'login', :order => 'asc')) -%>
      <%= link_to image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), url_for(params.merge(:sort_by => 'login', :order => 'desc')) -%>
    </th>
    <th><%= t('activerecord.attributes.user.user_number') -%></th>
    <th>
      <%= t('page.created_at') -%>
      <%= link_to image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), url_for(params.merge(:sort_by => 'created_at', :order => 'asc')) -%>
      <%= link_to image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), url_for(params.merge(:sort_by => 'created_at', :order => 'desc')) -%>
    </th>
    <th><%= t('activerecord.models.checkout') -%></th>
    <th><%= t('activerecord.models.reserve') -%></th>
    <th></th>
  </tr>
  
<%- @users.each_with_index do |user, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(user.username), user -%>
      <br />
      <%- if user.patron -%>
        <%= link_to h(user.patron.full_name), user.patron if current_user.has_role?('Librarian') -%>
      <%- end -%>
    </td>
    <td><%= user.user_number -%></td>
    <td><%= l(user.created_at) if user.created_at -%></td>
    <td>
      <%= link_to t('activerecord.models.checkout'), new_basket_path(:user_number => user.user_number) unless user.user_number.blank? -%>
      (<%= link_to t('page.checkout_history'), user_checkouts_path(user) -%>)
    </td>
    <td><%= link_to t('activerecord.models.reserve'), user_reserves_path(user) -%></td>
    <td><%= link_to t('page.edit'), edit_user_path(user) -%></td>
  </tr>
<%- end -%>
</table>

<br />
<%= will_paginate(@users) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if user_signed_in? && current_user.has_role?('Librarian') -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.user')), new_user_path -%></li>
    <%- end -%>
    <li><%= link_to t('page.search_resource', :model => t('activerecord.models.patron')), patrons_path -%></li>
  </ul>
</div>
