<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.user')) -%></h1>
<div id="content_list">
<%= simple_form_for(@user) do |u_form| -%>
<%= simple_form_for(@patron) do |p_form| -%>
<%= render 'page/required_field' %>
<%- if @family_id -%>
  <div style="color: green"><%= @family_with.patron.full_name if @family_with.patron -%>(<%= @family_with.username -%>) <%= t('family.will_be_family_with') -%></div> 
  <input type="hidden", name="family", value="<%= @family_id -%>">
<%- end -%>
<%= render :partial => 'users/edit_credential', :locals => {:f => u_form, :user => @user} -%>
<%= render :partial => 'users/form', :locals => {:f => p_form, :u_form => u_form, :patron => @patron}-%>
<%- end -%>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.user')), users_path -%></li>
    <li><%= link_to t('page.import'), new_patron_import_file_path -%></li>
  </ul>
</div>
