<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.user')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

  <h2 class="resource_title">
    [U]
    <%= @user.username -%>
    <% if can? :show, @user.patron %>
      (<%= link_to @user.patron.full_name, @user.patron %>)
    <% end %>
  </h2>

  <p><%= t('activerecord.attributes.user.user_number') %>: <%= @user.user_number %></p>
  <%- if flash[:temporary_password] -%>
    <p><%= t('user.your_temporary_password_is') -%>: </p>
    <p style="font-size: 200%"><%= flash[:temporary_password] -%></p>
  <%- end -%>

  <% if defined?(EnjuCirculation) %>
    <h2><%= t('activerecord.models.checkout') %></h2>
    <table class="index">
      <tr>
        <th><%= t('activerecord.models.item') %></th>
        <th><%= t('activerecord.attributes.checkout.due_date') %></th>
      </tr>
      <% @user.checkouts.not_returned.each do |checkout| %>
        <tr class="line<%= cycle("0", "1") -%>">
          <td>
            <%= link_to checkout.item.item_identifier, checkout.item %><br />
            (<%= link_to checkout.item.manifestation.original_title, checkout.item.manifestation %>)
          </td>
          <td><%=l checkout.due_date, :format => :only_date %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <% if defined?(EnjuCirculation) %>
    <ul>
      <%- @user.user_group.user_group_has_checkout_types.each do |available_checkout_type| -%>
        <li>
          <%= available_checkout_type.checkout_type.display_name.localize -%>:
          <%= @user.checked_item_count[:"#{available_checkout_type.checkout_type.name}"] -%> / <%= available_checkout_type.checkout_limit -%>
        </li>
      <%- end -%>
    </ul>
  <% end %>
  <ul>
    <%- if flash[:query] -%>
      <li><%= link_to t('page.back'), users_path(@user, :query => flash[:query]) -%></li>
    <% else %>
      <li><%= back_to_index -%></li>
    <% end %>
    <% if user_signed_in? %>
      <% if can? :update, @user %>
        <li><%= link_to t('page.edit'), edit_user_path(@user) -%></li>
      <% end %>
      <% if defined?(EnjuMessage) %>
        <li><%= link_to t('message.send'), new_message_path(:recipient => @user.username) -%></li>
      <% end %>
      <%- if can? :create, @user -%>
        <li><%= link_to t('page.new', :model => t('activerecord.models.user')), new_user_path -%></li>
      <% end %>
      <%- if can? :destroy, @user -%>
        <li><%= link_to t('page.destroy'), @user, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <% end %>
    <%- end -%>
    <% if defined?(EnjuCirculation) %>
      <li><%= link_to t('activerecord.models.checkout'), user_checkouts_path(@user) %></li>
      <li><%= link_to t('activerecord.models.reserve'), user_reserves_path(@user) %></li>
    <% end %>
    <% if defined?(EnjuQuestion) %>
      <li><%= link_to t('activerecord.models.question'), user_questions_path(@user) %></li>
    <% end %>
    <% if defined?(EnjuBookmark) %>
      <li><%= link_to t('activerecord.models.bookmark'), user_bookmarks_path(@user) %></li>
    <% end %>
    <% if defined?(EnjuPurchaseRequest) %>
      <li><%= link_to t('activerecord.models.purchase_request'), user_purchase_requests_path(@user) %></li>
    <% end %>
  </ul>
</div>
