<div style="color: red"><%= flash[:message].try(:join) -%></div>

<%= form_for @checked_item, :html => {:method => :post}, :url => user_basket_checked_items_path(@basket.user, @basket, :mode => 'list'), :remote => true do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= t('activerecord.attributes.item.item_identifier') -%>: <%= f.text_field :item_identifier -%>
    <%= t('checked_item.ignore_restriction') -%>: <%= f.check_box :ignore_restriction -%>
    <%= submit_tag t('page.read') -%>
  </p>
<%- end -%>
<%= javascript_tag("$('#checked_item_item_identifier').focus()") -%>
<table class="index">
  <tr>
    <th class="checked_item_title"><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.checkout.due_date') -%></th>
    <th></th>
  </tr>

<%- @checked_items.each_with_index do |checked_item, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= render 'manifestations/show_index', :manifestation => checked_item.item.manifestation -%>
    </td>
    <td><%= link_to checked_item.item.item_identifier, checked_item.item -%></td>
    <td><%= l(checked_item.due_date, :format => :only_date) -%></td>
    <td><%= link_to t('page.destroy'), user_basket_checked_item_path(checked_item.basket.user, checked_item.basket, checked_item), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= form_for(:basket, :url => {:controller => 'baskets', :action => 'update', :id => @basket.id}, :html => { :method => :put }) do |f| -%>
  <div>
    <%= f.submit t('checked_item.checkout') -%>
  </div>
<%- end -%>
