<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checked_item')) -%></h1>
  <div id="content_list">
    <p id="notice"><%= notice %></p>
    <%= render 'user_comment' -%>
    <div id="checked_item_list">
      <%= render 'list' -%>
    </div>
    <br />
    <div>
      <%= render 'checkouts' -%>
    </div>
    <br>
    <div>
      <%- unless @family_users.blank? -%>
        <%= render 'checkouts_family' -%>
      <%- end -%>
    </div>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <%- if configatron.checked_items.disp_user == true -%>
    <ul>
      <li>
        <%= link_to @basket.user.username, @basket.user -%>
        <%- if @basket.user.patron -%>
          (<%= link_to @basket.user.patron.full_name, @basket.user.patron if current_user.has_role?('Librarian') -%>)
        <%- end -%>
      </li>
    </ul>
  <%- end -%>
  <ul>
    <%- @basket.user.user_group.user_group_has_checkout_types.each do |available_checkout_type| -%>
      <li>
        <%= available_checkout_type.checkout_type.display_name.localize -%>:
        <%= @basket.user.checked_item_count[:"#{available_checkout_type.checkout_type.name}"] -%> / <%= available_checkout_type.checkout_limit -%>
      </li>
    <%- end -%>
  </ul>
  <ul>
    <li><%= link_to t('activerecord.models.checkin'), checkins_path -%></li>
    <li><%= link_to t('activerecord.models.reserve'), user_reserves_path(@basket.user) -%></li>
  </ul>
</div>
