<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checked_item')) -%></h1>
  <div id="content_list">
    <p id="notice"><%= notice %></p>
    <div style="color: red">
      <%= user_notice(@basket.user) -%>
      <%- if @family_users -%>
        <%- if notice -%><br /><%- end -%>
        <%- @family_users.each do |user| -%>
          <%= user_notice(user) unless user == @basket.user -%>
        <%- end -%>
      <%- end -%>
    </div>

    <%= render 'user_comment' -%>

    <div id="checked_item_list">
      <%= render 'list' -%>
    </div>
    <br />

    <div id="checkouts_list">
      <%= render 'page/checkouts_list', :user => @basket.user -%>
    </div>
    <br />

    <div id="reserves_list">
      <%= render 'page/reserves_list', :user => @basket.user -%>
    </div>
    <%- unless @family_users.blank? -%>
      <br />
      <div id="checkouts_family_list">
        <%= render 'page/checkouts_family_list'-%>
      </div>
      <br />
      <div id="reserves_family_list">
        <%= render 'page/reserves_family_list' -%>
      </div>
    <%- end -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <%- if SystemConfiguration.get("checked_items.disp_user") -%>
    <ul>
      <li>
        <%= link_to @basket.user.username, @basket.user -%>
        <%- if @basket.user.patron -%>
          (<%= link_to @basket.user.patron.full_name, @basket.user -%>)
        <%- end -%>
      </li>
    </ul>
  <%- else -%>
    <%- if current_user.has_role?('Librarian') -%>
    <ul>
      <li>
        <%- if @basket.user.patron -%>
          <%= link_to t("page.userdetail"), @basket.user if current_user.has_role?('Librarian') -%>
        <%- end -%>
      </li>
    </ul>    
    <%- end -%>
  <%- end -%>
  <ul>
    <%- @basket.user.user_group.user_group_has_checkout_types.each do |available_checkout_type| -%>
      <li>
        <%= available_checkout_type.checkout_type.display_name.localize -%>:
        <%= @basket.user.checked_item_count[:"#{available_checkout_type.checkout_type.name}"] -%> / <%= available_checkout_type.checkout_limit -%>
      </li>
    <%- end -%>
  </ul>
  <ul>
    <li><%= link_to t('activerecord.models.checkin'), checkins_path -%></li>
    <li><%= link_to t('activerecord.models.reserve'), user_reserves_path(@basket.user) -%></li>
  </ul>
</div>
