<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.checked_item')) -%></h1>
  <div id="content_list">

    <div id="checked_item_list">
      <p id="notice"><%= notice %></p>
      <%= render 'list', checked_item: @checked_item -%>
    </div>
    <%= render 'checkout' -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= t('activerecord.attributes.user.username') %>: <%= link_to @basket.user.username, @basket.user.profile -%></li>
    <li><%= t('activerecord.attributes.user.user_number') %>: <%= @basket.user.profile.user_number %></li>
  </ul>
  <ul>
    <%- @basket.user.profile.user_group.user_group_has_checkout_types.each do |available_checkout_type| -%>
      <li>
        <%= available_checkout_type.checkout_type.display_name.localize -%>:
        <%= @basket.user.checked_item_count[:"#{available_checkout_type.checkout_type.name}"] -%> / <%= available_checkout_type.checkout_limit -%>
      </li>
    <%- end -%>
  </ul>
  <ul>
    <li><%= link_to t('activerecord.models.checkin'), checkins_path -%></li>
    <li><%= link_to t('activerecord.models.reserve'), reserves_path(user_id: @basket.user.username) -%></li>
  </ul>
</div>
