<h1 class="title"><%= t('page.new', :model => t('activerecord.models.checked_item')) -%></h1>

<%= form_for(@checked_item, :url => user_basket_checked_items_path(@basket.user.username, @basket)) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('activerecord.models.item') -%><br />
    <%= f.text_field :item_id -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.basket') -%><br />
    <%= f.text_field :basket_id -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

<%= link_to t('page.back'), user_basket_checked_items_path(@basket.user.username, @basket) -%>
