<br />
<div>
  <table style="border: 0px;">
    <th style="border:0px; border-bottom: 1px solid #aaa;"><%= t('activerecord.attributes.resource_import_textfile.sheet') %></th>
    <th style="border:0px; border-bottom: 1px solid #aaa;"><%= t('activerecord.models.manifestation_type') %></th>
    <th style="border:0px; border-bottom: 1px solid #aaa;"><%= t('activerecord.models.numbering') %></th>
    <% @oo.sheets.each_with_index do |name, i| %>
    <tr>
      <td style="border:0px; border-bottom: 1px solid #aaa;">
        <%= check_box_tag "extraparams[#{i}][sheet]", name, :selected => true %>
        <%= name.to_s %>
      </td>
      <td style="border:0px; border-bottom: 1px solid #aaa;">
        <%= select_tag "extraparams[#{i}][manifestation_type]", options_for_select(@manifestation_types.collect{|m| [m.display_name.localize, m.id]}) %>
      </td>
      <td style="border:0px; border-bottom: 1px solid #aaa;">
        <%= select_tag "extraparams[#{i}][numbering]", options_for_select(@numberings.map{|n| [n.display_name, n.name]}.insert(0, '')) %>
      </td>
    </tr>
  <% end %>
  </table>  
</div>
