<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.library_check')) -%> </h1>
<div id="content_list">

<%= form_for(@library_check) do |f| -%> 
  <%= f.error_messages -%> 

  <p>
    <%= f.label t('page.operated_at') -%> <br />
    <%= f.text_field :opeym -%> 
  </p>
  <p>
    <%= f.submit %> 
  </p>
<%- end -%> 

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @library_check -%> </li>
    <li><%= link_to t('page.back_to_index'), library_checks_path -%> </li>
  </ul>
</div>
