<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.library_check')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.library_check.id') -%> </th>
    <th><%= t('activerecord.attributes.library_check.opeym') -%> </th>
    <th><%= t('activerecord.attributes.library_check.shelf_def_file') -%> </th>
    <th><%= t('activerecord.attributes.library_check.operated_at') -%> </th>
    <th><%= t('activerecord.attributes.library_check.status') -%> </th>
    <th></th>
  </tr>

<%- @library_checks.each do |library_check| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to library_check.id, library_check -%> </td>
    <td><%= library_check.opeym -%> </td>
    <td><%= library_check.shelf_def_file -%> </td>
    <td><% if library_check.operated_at.blank? %><%= t('activerecord.attributes.library_check.not_yet') -%>
        <% else %><%= l(library_check.operated_at) -%><% end %></td>
    <td><%= localized_state(library_check.state) -%> </td>
    <td><%= link_to t('page.destroy'), library_check, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%> 
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.library_check')), new_library_check_path -%></li>
  </ul>
</div>

