<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.library_check')) -%> </h1>
<div id="content_list">

<%= form_for(@library_check) do |f| -%> 
  <%= f.error_messages -%> 

  <p>
    <%= f.label t('page.operated_at') -%><br />
    <%= f.text_field :opeym , :size => 12 -%> <%= t("library_check.opeym_notice") -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), library_checks_path -%> </li>
  </ul>
</div>
