<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.library_check')) -%></h1>
<div id="content_list">

<p>
  <strong><%= t('activerecord.attributes.library_check.id') -%> :</strong>
  <%= @library_check.id -%> 
</p>

<p>
  <strong><%= t('activerecord.attributes.library_check.opeym') -%> :</strong>
  <%= @library_check.opeym -%> 
</p>

<p>
  <strong><%= t('activerecord.attributes.library_check.shelf_def_file') -%> :</strong>
  <%= @library_check.shelf_def_file -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.library_check.operated_at') -%> :</strong>
  <td><% if @library_check.operated_at.blank? %><%= t('activerecord.attributes.library_check.not_yet') -%>
      <% else %><%= l(@library_check.operated_at) -%><% end %></td>
</p>

<p>
  <strong><%= t('activerecord.attributes.library_check.status') -%> :</strong>
  <%= localized_state(@library_check.state) -%> 
</p>

<p>
  <strong><%= t('activerecord.attributes.library_check.error_msg') -%> :</strong>
  <%= h(@library_check.error_msg) -%> 
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_library_check_path(@library_check) -%> </li>
    <li><%= link_to t('activerecord.attributes.library_check.shelf_data'), library_check_library_check_shelves_path(@library_check) -%></li> 
    <li>
      <%- unless @library_check.shelf_def_file.blank? -%>
        <%= link_to t('activerecord.attributes.library_check.download'), library_check_path(@library_check, :format => :download, :file => :pdf) -%> 
      <%- else -%>
        <p class="no_file"><%= t('activerecord.attributes.library_check.download') -%></p>
      <%- end -%>
    </li>
    <li><%= link_to t('activerecord.attributes.library_check.book_data'), library_check_libcheck_data_files_path(@library_check) -%> </li>
    <li><%= link_to t('activerecord.attributes.library_check.do'), {:mode => 'exec'} -%> </li>
    <%- if @resource_list_pdf -%>
      <li><%= link_to t('activerecord.attributes.library_check.resource_list') + "(PDF)", download_file_library_check_path(@library_check, :format => :pdf, :file => :resource_list)-%> </li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.resource_list') + "(PDF)" -%></p></li>
    <%- end -%>
    <%- if @resource_list_tsv -%>
      <li><%= link_to t('activerecord.attributes.library_check.resource_list') + "(TSV)", download_file_library_check_path(@library_check, :format => :download, :file => :resource_list)-%> </li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.resource_list') + "(TSV)" -%></p></li>
    <%- end -%>
    <%- if @error_list_pdf -%>
      <li><%= link_to t('activerecord.attributes.library_check.error_list') + "(PDF)", download_file_library_check_path(@library_check, :format => :pdf, :file => :error_list)-%> </li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.error_list') + "(PDF)" -%></p></li>
    <%- end -%>
    <%- if @error_list_tsv -%>
      <li><%= link_to t('activerecord.attributes.library_check.error_list') + "(TSV)", download_file_library_check_path(@library_check, :format => :download, :file => :error_list)-%> </li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.error_list') + "(TSV)" -%></p></li>
    <%- end -%>
    <%- if @item_register_pdf -%>
      <li><%= link_to t('activerecord.attributes.library_check.item_register') + "(PDF)", download_file_library_check_path(@library_check, :format => :pdf, :file => :item_register)-%> </li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.item_register') + "(PDF)" -%></p></li>
    <%- end -%>
    <%- if @item_register_tsv -%>
      <li><%= link_to t('activerecord.attributes.library_check.item_register') + "(TSV)", download_file_library_check_path(@library_check, :format => :download, :file => :item_register)-%> </li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.item_register') + "(TSV)" -%></p></li>
    <%- end -%>
    <%- if @notfound_list_pdf -%>
      <li><%= link_to t('activerecord.attributes.library_check.notfound_list') + "(PDF)", download_file_library_check_path(@library_check, :format => :pdf, :file => :notfound_list)-%></li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.notfound_list') + "(PDF)" -%></p></li>
    <%- end -%>
    <%- if @notfound_list_tsv -%>
      <li><%= link_to t('activerecord.attributes.library_check.notfound_list') + "(TSV)", download_file_library_check_path(@library_check, :format => :download, :file => :notfound_list)-%></li> 
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.notfound_list') + "(TSV)" -%></p></li> 
    <%- end -%>
    <%- if @detection_list_pdf -%>
      <li><%= link_to t('activerecord.attributes.library_check.detection_list') + "(PDF)", download_file_library_check_path(@library_check, :format => :pdf, :file => :detection_list)-%></li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.detection_list') + "(PDF)" -%></p></li> 
    <%- end -%>
    <%- if @detection_list_tsv -%>
      <li><%= link_to t('activerecord.attributes.library_check.detection_list') + "(TSV)", download_file_library_check_path(@library_check, :format => :download, :file => :detection_list)-%></li> 
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.detection_list') + "(TSV)" -%></li> 
    <%- end -%>
    <%- if @removing_list_pdf -%>
      <li><%= link_to t('activerecord.attributes.library_check.removing_list') + "(PDF)", download_file_library_check_path(@library_check, :format => :pdf, :file => :removing_list)-%></li> 
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.removing_list') + "(PDF)" -%></p></li> 
    <%- end -%>
    <%- if @removing_list_tsv -%>
      <li><%= link_to t('activerecord.attributes.library_check.removing_list') + "(TSV)", download_file_library_check_path(@library_check, :format => :download, :file => :removing_list)-%></li>
    <%- else -%>
      <li><p class="no_file"><%= t('activerecord.attributes.library_check.removing_list') + "(TSV)" -%></p></li>
    <%- end -%>
    <li><%= link_to t('page.destroy'), @library_check, :confirm => t('page.are_you_sure'), :method => :delete -%>
    <li><%= link_to t('page.back_to_index'), library_checks_path -%> </li>
  </ul>
</div>
