<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.agent_merge')) -%></h1>
  <div id="content_list">

  <%= form_with(model: @agent_merge) do |f| -%>
    <%= error_messages(@agent_merge) -%>

    <div class="field">
      <%= f.label t('activerecord.models.agent') -%><br />
      <%= f.text_field :agent_id -%>
    </div>

    <div class="field">
      <%= f.label t('activerecord.models.agent_merge_list') -%><br />
      <%= f.text_field :agent_merge_list_id -%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <%- end -%>

  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.show'), @agent_merge -%></li>
    <li><%= link_to t('page.back'), agent_merges_path -%></li>
  </ul>
</div>
