<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.agent_merge')) -%></h1>
<div id="content_list">

<table class="table table-striped index">
  <tr>
    <td><%= t('activerecord.models.agent') -%></td>
    <td><%= t('activerecord.models.agent_merge_list') -%></td>
  </tr>

<%- @agent_merges.each do |agent_merge| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to agent_merge.agent.full_name, agent_merge.agent -%></td>
    <td><%= link_to agent_merge.agent_merge_list.title, agent_merge.agent_merge_list -%></td>
    <td><%= link_to t('page.show'), agent_merge -%></td>
    <td><%= link_to t('page.edit'), edit_agent_merge_path(agent_merge) -%></td>
    <td><%= link_to t('page.destroy'), agent_merge, data: {confirm: t('page.are_you_sure')}, method: :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= paginate(@agent_merges) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- if @agent_merge_list -%>
      <li><%= link_to t('page.add', model: t('activerecord.models.agent')), agent_merge_list_agents_path(@agent_merge_list) -%></li>
    <%- end -%>
  </ul>
</div>
