<%= form_for(@create) do |f| %>
  <% if @create.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@create.errors.count, "error") %> prohibited this create from being saved:</h2>
    <ul>
    <% @create.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :patron_id %><br />
    <%= f.text_field :patron_id %>
  </div>
  <div class="field">
    <%= f.label :work_id %><br />
    <%= f.text_field :work_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
