<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.create')) -%></h1>
<div id="content_list">

<%= form_for(@create) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.patron') -%><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.work') -%><br />
    <%= f.text_field :work_id -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), create_path(@create) -%></li>
    <li><%= link_to t('page.back'), creates_path -%></li>
  </ul>
</div>
