<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.create')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.patron') -%>:</strong>
  <%= link_to h(@create.patron.full_name), @create.patron -%>
</p>

<p>
  <strong><%= t('activerecord.models.work') -%>:</strong>
  <%= link_to h(@create.work.original_title), @create.work -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.patron')), work_patrons_path(@create.work) -%></li>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.work')), patron_works_path(@create.patron) -%></li>
  </ul>
</div>
