<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @demand.user.username %>
</p>

<p>
  <strong>Item:</strong>
  <%= @demand.item.item_identifier %>
</p>

<p>
  <strong>Message:</strong>
  <%= @demand.message.subject %>
</p>

<%= link_to 'Back', demands_path %>
