<div id="event_list">
  (<%= link_to t('page.calendar'), :controller => :calendar, :action => :index, :library_id => @library.name -%>)
  <ul>
    <%- @events.each do |event| -%>
      <li>
        <%= link_to h(event.name), event -%>
        (<%= l(event.start_at) -%> - <%= l(event.end_at) -%>)
      </li>
    <%- end -%>
  </ul>

  <%= will_paginate(@events, :param_name => :event_page, :class => 'content_pagination digg_pagination') -%>
</div>
