<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.library')) -%></h1>
<div id="content_list">

<%= form_for(@library, :url => library_path(@library.name)) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.library.name') -%><br />
    <%= f.text_field :name, :class => 'short_name' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.short_display_name') -%><br />
    <%= f.text_area :short_display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.display_name') -%><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <%- unless @library.web? -%>
  <p>
    <%= f.label t('activerecord.models.country') -%><br />
    <%= f.select(:country_id, @countries.collect{|c| [c.display_name.localize, c.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.zip_code') -%><br />
    <%= f.text_field :zip_code -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.region') -%><br />
    <%= f.text_field :region -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.locality') -%><br />
    <%= f.text_field :locality -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.street') -%><br />
    <%= f.text_area :street, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('page.telephone_number') -%> 1<br />
    <%= f.phone_field :telephone_number_1 -%>
  </p>

  <p>
    <%= f.label t('page.telephone_number') -%> 2<br />
    <%= f.phone_field :telephone_number_2 -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.fax_number') -%><br />
    <%= f.phone_field :fax_number -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.call_number_rows') -%><br />
    <%= f.text_field :call_number_rows, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.call_number_delimiter') -%><br />
    <%= f.text_field :call_number_delimiter, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.opening_hour') -%><br />
    <%= f.text_area :opening_hour, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.library.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <%- end -%>

  <p>
    <%= f.submit %>
  </p>
  <%= javascript_tag("$('#library_name').focus()") -%>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), library_path(@library.name) -%></li>
    <li><%= link_to t('page.back'), libraries_path -%></li>
  </ul>
</div>
