<h2><%= t('activerecord.models.event_import_result') %></h2>
<p>
  <%= link_to((image_tag 'icons/page_white_excel.png', size: '16x16', class: 'enju_icon', alt: 'TSV'), event_import_results_path(event_import_file_id: @event_import_file.id, format: :text, locale: @locale.to_s)) -%>
  (<%= link_to 'TSV', event_import_results_path(event_import_file_id: @event_import_file.id, format: :text, locale: @locale.to_s) -%>)
</p>

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.attributes.event_import_result.lineno') %></th>
    <th><%= t('activerecord.attributes.event_import_result.body') %></th>
    <th><%= t('activerecord.models.event') %></th>
    <th></th>
  </tr>
<% @event_import_results.each_with_index do |event_import_result, idx| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= @event_import_results.offset_value + idx + 1 %></td>
    <td><%= event_import_result.body.inspect %></td>
    <td><%= link_to event_import_result.event.display_name, event_import_result.event if event_import_result.event %></td>
    <td>
      <%= link_to t('page.show'), event_import_result %>
      <%= link_to t('page.destroy'), event_import_result, data: {confirm: t('page.are_you_sure')}, method: :delete %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate(@event_import_results) %>
