<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.event_import_file')) -%></h1>
<div id="content_list">

<%= form_for(@event_import_file) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :event_import_file_name -%><br />
    <%= f.text_field :event_import_file_name -%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @event_import_file -%></li>
    <li><%= link_to t('page.back'), event_import_files_path -%></li>
  </ul>
</div>
