<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.event_import_file')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @event_import_file.id -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.event_import_file.event_import_file_name') -%>:</strong>
  <%= link_to @event_import_file.event_import_file_name, event_import_file_path(@event_import_file, :format => :download) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.event_import_file.event_import_content_type') -%>:</strong>
  <%= @event_import_file.event_import_content_type -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.event_import_file.event_import_file_size') -%>:</strong>
  <%= @event_import_file.event_import_file_size -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.event_import_file.file_hash') -%>:</strong>
  <%= @event_import_file.file_hash -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@event_import_file.created_at) if @event_import_file.created_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.event_import_file.imported_at') -%>:</strong>
  <%= l(@event_import_file.imported_at) if @event_import_file.imported_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.event_import_file.edit_mode') -%>:</strong>
  <%= @event_import_file.edit_mode -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_import_file.state') -%>:</strong>
  <%= localized_state(@event_import_file.state) -%>
</p>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @event_import_file.user.username, @event_import_file.user -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('activerecord.models.event_import_result'), event_import_file_event_import_results_path(@event_import_file) -%></li>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
