<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.showing', model: t('activerecord.models.frequency')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.frequency.name') -%>:</strong>
  <%= @frequency.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.frequency.display_name') -%>:</strong>
  <%= @frequency.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.frequency.note') -%>:</strong>
  <%= @frequency.note -%>
</p>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(@frequency).update? -%>
      <li><%= link_to t('page.edit'), edit_frequency_path(@frequency) -%></li>
    <%- end -%>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
