<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.carrier_type_has_checkout_type')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.carrier_type') -%></th>
    <th><%= t('activerecord.models.checkout_type') -%></th>
    <th><%= t('activerecord.attributes.carrier_type_has_checkout_type.note') -%></th>
    <th></th>
  </tr>

<%- for carrier_type_has_checkout_type in @carrier_type_has_checkout_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(carrier_type_has_checkout_type.carrier_type.display_name.localize), carrier_type_has_checkout_type.carrier_type -%></td>
    <td><%= link_to h(carrier_type_has_checkout_type.checkout_type.display_name.localize), carrier_type_has_checkout_type.checkout_type -%></td>
    <td><%= carrier_type_has_checkout_type.note -%></td>
    <td>
      <%= link_to t('page.edit'), edit_carrier_type_has_checkout_type_path(carrier_type_has_checkout_type) -%>
      <%= link_to t('page.destroy'), carrier_type_has_checkout_type, :confirm => t('page.are_you_sure'), :method => :delete -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.carrier_type_has_checkout_type')), new_carrier_type_has_checkout_type_path -%></li>
  </ul>
</div>
