<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.carrier_type_has_checkout_type')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.models.carrier_type') -%>:</strong>
  <%= link_to @carrier_type_has_checkout_type.carrier_type.display_name.localize, @carrier_type_has_checkout_type.carrier_type -%>
</p>

<p>
  <strong><%= t('activerecord.models.checkout_type') -%>:</strong>
  <%= link_to @carrier_type_has_checkout_type.checkout_type.display_name.localize, @carrier_type_has_checkout_type.checkout_type -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.carrier_type_has_checkout_type.note') -%>:</strong>
  <%= @carrier_type_has_checkout_type.note -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_carrier_type_has_checkout_type_path(@carrier_type_has_checkout_type) -%></li>
    <li><%= link_to t('page.back'), carrier_type_has_checkout_types_path -%></li>
  </ul>
</div>
