<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.libcheck_data_file')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.libcheck_data_file.id') -%> </th>
    <th><%= t('activerecord.attributes.libcheck_data_file.file_name') -%> </th>
    <th><%= t('activerecord.attributes.libcheck_data_file.uploaded_at') -%> </th>
    <th></th>
  </tr>

<% unless @libcheck_data_files.blank? %>
<%- @libcheck_data_files.each do |libcheck_data_file| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to libcheck_data_file.id, libcheck_data_file -%> </td>
    <td><%= libcheck_data_file.file_name -%> </td>
    <td><%= l(libcheck_data_file.uploaded_at) if libcheck_data_file.uploaded_at -%> </td>
    <td><%= link_to t('page.destroy'), libcheck_data_file, :confirm => t('page.are_you_sure'), :method => :delete -%> </td>
  </tr>
<%- end -%> 
<% end %>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.libcheck_data_file')), new_library_check_libcheck_data_file_path -%></li>
    <li><%= link_to t('page.back_to_index'), library_checks_path -%> </li>
  </ul>
</div>

