<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.libcheck_data_file')) -%> </h1>
<div id="content_list">

<%= form_for(@libcheck_data_file, :html => { :multipart => true }) do |f| -%> 
  <%= f.error_messages -%> 

  <p>
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :data_upload -%>
    <%= f.hidden_field :library_check_id, :value => @libcheck_data_file.library_check_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), :action => 'index', :library_check_id => @libcheck_data_file.library_check_id -%> </li>
  </ul>
</div>
