<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subject_has_classification')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.subject') -%></th>
    <th><%= t('activerecord.models.classification') -%></th>
    <th></th>
    <th></th>
  </tr>

<%- @subject_has_classifications.each do |subject_has_classification| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to subject_has_classification.subject.term, subject_has_classification.subject -%></td>
    <td><%= link_to subject_has_classification.classification.category, subject_has_classification.classification -%></td>
    <td><%= link_to t('page.show'), subject_has_classification -%></td>
    <td>
      <% if can? :destroy, subject_has_classification %>
        <%= link_to t('page.edit'), edit_subject_has_classification_path(subject_has_classification) -%>
        <%= link_to t('page.destroy'), subject_has_classification, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <% end %>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@subject_has_classifications) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <!--
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.subject_has_classification')), new_subject_has_classification_path -%></li>
  </ul>
  -->
</div>
