<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.subject_has_classification')) -%></h1>
<div id="content_list">

<%= form_for(@subject_has_classification) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.subject') -%><br />
    <%= link_to h(@subject_has_classification.subject.term), @subject_has_classification.subject if @subject_has_classification.subject -%>
    <%= f.hidden_field :subject_id -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.classification') -%><br />
    <%= link_to h(@subject_has_classification.classification.category), @subject_has_classification.classification if @subject_has_classification.classification -%>
    <%= f.hidden_field :classification_id -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), subject_has_classifications_path -%></li>
  </ul>
</div>
