<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.event')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<%- if @library -%>
  <h2><%= link_to @library.display_name.localize, @library -%></h2>
<%- else -%>
  <h2><%= t('event.all_libraries') -%></h2>
<%- end -%>

<% if params[:mode] == 'calendar' %>
  <%= render 'calendar' %>
<% else %>
  <%= form_for :events, url: events_path, html: {method: 'get'} do -%>
    <p>
      <%= label_tag :search_form_top, t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {id: 'search_form_top', class: 'search_form', placeholder: t('page.search_term')} -%>
      <%= submit_tag t('page.search') -%>
    </p>
  <%- end -%>

  <p>
    <%- case params[:mode]
      when 'upcoming' -%>
      <%= link_to t('event.all'), url_for(filtered_params.merge(mode: nil, only_path: true)) -%>
      <strong><%= t('event.upcoming') -%></strong>
      <%= link_to t('event.past'), url_for(filtered_params.merge(mode: 'past', only_path: true)) -%>
    <%- when 'past' -%>
      <%= link_to t('event.all'), url_for(filtered_params.merge(mode: nil, only_path: true)) -%>
      <%= link_to t('event.upcoming'), url_for(filtered_params.merge(mode: 'upcoming', only_path: true)) -%>
      <strong><%= t('event.past') -%></strong>
    <%- else -%>
      <strong><%= t('event.all') -%></strong>
      <%= link_to t('event.upcoming'), url_for(filtered_params.merge(mode: 'upcoming', only_path: true)) -%>
      <%= link_to t('event.past'), url_for(filtered_params.merge(mode: 'past', only_path: true)) -%>
    <%- end -%>
  </p>

  <table class="table table-striped index">
    <tr>
      <th><%= t('activerecord.models.library') -%></th>
      <th><%= t('activerecord.attributes.event.name') -%></th>
      <th></th>
    </tr>

  <%- @events.each_with_index do |event, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to event.library.display_name.localize, event.library -%>
        <br />
        <%= event.event_category.display_name.localize -%>
      </td>
      <td>
        <%= link_to event.display_name.localize, event -%>
        <br />
        <%= l(event.start_at, format: :short) -%>
        -
        <%= l(event.end_at, format: :short) -%>
      </td>
      <td>
        <%- if policy(event).update? -%>
          <%= link_to t('page.edit'), edit_event_path(event) -%>
        <% end %>
        <%- if policy(event).destroy? -%>
          <%= link_to t('page.destroy'), event, data: {confirm: t('page.are_you_sure')}, method: :delete -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
  </table>

  <%= paginate(@events) -%>
<% end %>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <% if params[:mode] == 'calendar' %>
      <li><%= link_to t('event.table'), url_for(filtered_params.merge(mode: nil)) -%></li>
    <% else %>
      <li><%= link_to t('event.calendar'), url_for(filtered_params.merge(mode: 'calendar')) -%></li>
    <% end %>
  </ul>
  <ul>
    <%- if user_signed_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
        <%- if @library -%>
          <li><%= link_to t('page.new', model: t('activerecord.models.event')), new_event_path(library_id: @library.name) -%></li>
        <%- else -%>
          <li><%= link_to t('page.new', model: t('activerecord.models.event')), new_event_path(date: params[:date]) -%></li>
        <%- end -%>
        <li><%= link_to t('event.import_event'), event_import_files_path -%></li>
      <%- end -%>
    <%- end -%>
  </ul>
  <ul>
    <li><%= link_to t('event.all_libraries'), url_for(filtered_params.merge(library_id: nil, page: nil)) -%></li>
    <%- @libraries.each do |library| -%>
      <li><%= link_to library.display_name.localize, url_for(filtered_params.merge(library_id: library.name, mode: params[:mode])) -%></li>
    <%- end -%>
  </ul>
  <p>
    <%- if @library -%>
      <%= link_to (image_tag 'icons/feed.png', size: '16x16', class: 'enju_icon', alt: t('page.feed')), url_for(filtered_params.merge(library_id: @library.name, format: :rss, page: nil)) -%>
      (<%= link_to 'RSS', url_for(filtered_params.merge(library_id: @library.name, format: :rss, page: nil)) -%>)
      <%= link_to (image_tag 'icons/page_white_excel.png', size: '16x16', class: 'enju_icon', alt: 'TSV'), url_for(filtered_params.merge(library_id: @library.name, format: :text, locale: @locale.to_s)) -%>
      (<%= link_to 'TSV', url_for(filtered_params.merge(library_id: @library.name, format: :text, locale: @locale.to_s)) -%>)
      <br />
      <%= link_to (image_tag 'icons/calendar.png', size: '16x16', class: 'enju_icon', alt: 'iCalendar'), url_for(filtered_params.merge(library_id: @library.name, format: :ics, locale: @locale.to_s)) -%>
      (<%= link_to 'iCalendar', url_for(filtered_params.merge(library_id: @library.name, format: :ics, locale: @locale.to_s)) -%>)
    <%- else -%>
      <%= link_to (image_tag 'icons/feed.png', size: '16x16', class: 'enju_icon', alt: t('page.feed')), url_for(filtered_params.merge(format: :rss)) -%>
      (<%= link_to 'RSS', url_for(filtered_params.merge(format: :rss)) -%>)
      <%= link_to (image_tag 'icons/page_white_excel.png', size: '16x16', class: 'enju_icon', alt: 'TSV'), url_for(filtered_params.merge(format: :text, locale: @locale.to_s)) -%>
      (<%= link_to 'TSV', url_for(filtered_params.merge(format: :text, locale: @locale.to_s)) -%>)
      <br />
      <%= link_to (image_tag 'icons/calendar.png', size: '16x16', class: 'enju_icon', alt: 'iCalendar'), url_for(filtered_params.merge(format: :ics, locale: @locale.to_s)) -%>
      (<%= link_to 'iCalendar', url_for(filtered_params.merge(format: :ics, locale: @locale.to_s)) -%>)
    <%- end -%>
  </p>
</div>
