<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.event')) -%></h1>
<div id="content_list">

<%- if @library -%>
  <h2><%= link_to @library.display_name.localize, @library -%></h2>
<%- else -%>
  <h2><%= t('event.all_libraries') -%></h2>
<%- end -%>

<%= form_for :events, :url => events_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<p>
  <%- case params[:mode]
      when 'upcoming' -%>
    <%= link_to t('event.all'), params.merge(:mode => nil) -%>
    <strong><%= t('event.upcoming') -%></strong>
    <%= link_to t('event.past'), params.merge(:mode => 'past') -%>
  <%- when 'past' -%>
    <%= link_to t('event.all'), params.merge(:mode => nil) -%>
    <%= link_to t('event.upcoming'), params.merge(:mode => 'upcoming') -%>
    <strong><%= t('event.past') -%></strong>
  <%- else -%>
    <strong><%= t('event.all') -%></strong>
    <%= link_to t('event.upcoming'), params.merge(:mode => 'upcoming') -%>
    <%= link_to t('event.past'), params.merge(:mode => 'past') -%>
  <%- end -%>
</p>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.attributes.event.name') -%></th>
    <th id="edit_icons"></th>
  </tr>

<%- @events.each_with_index do |event, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to event.library.display_name.localize, event.library -%>
      <br />
      <%= event.event_category.display_name.localize -%>
    </td>
    <td>
      <%= link_to event.name.localize, event -%>
      <br />
      <%= l(event.start_at, :format => :short) -%>
      -
      <%= l(event.end_at, :format => :short) -%>
    </td>
    <td>
      <%- if can? :destroy, event -%>
        <%= link_to image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit')), edit_event_path(event) -%>
        <%= link_to image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy')), event, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@events) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.calendar'), '/calendar' -%></li>
  </ul>
  <ul>
    <%- if user_signed_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
        <%- if @library -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.event')), new_library_event_path(@library) -%></li>
        <%- else -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.event')), new_event_path(:date => params[:date]) -%></li>
        <%- end -%>
        <li><%= link_to t('event.import_event'), event_import_files_path -%></li>
      <%- end -%>
    <%- end -%>
  </ul>
  <ul>
    <%- @libraries.each do |library| -%>
      <li><%= link_to library.display_name.localize, library_events_path(library) -%></li>
    <%- end -%>
  </ul>
  <p>
    <%- if @library -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :class => 'icon'), library_events_path(@library, :format => :rss) -%>
      (<%= link_to 'RSS', library_events_path(@library, :format => :rss) -%>)
      (<%= link_to 'CSV', library_events_path(@library, :format => :csv, :locale => @locale) -%>)
    <%- else -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :class => 'icon'), events_path(:format => :rss) -%>
      (<%= link_to 'RSS', events_path(:format => :rss) -%>)
      (<%= link_to 'CSV', events_path(:format => :csv, :locale => @locale) -%>)
    <%- end -%>
  </p>
  <%= render 'page/login' unless current_user -%>
</div>
