<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.new', :model => t('activerecord.models.event')) -%></h1>
    <%= render 'form' %>
    <%= render 'all_day' %>
  </div>

  <div class="span3">
    <ul>
      <%- if @library -%>
        <li><%= link_to t('page.back'), library_events_path(@library) -%></li>
      <%- else -%>
        <li><%= link_to t('page.back'), events_path -%></li>
      <%- end -%>
    </ul>
  </div>
</div>
