<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.event')) -%></h1>
<div id="content_list">
  <%= render 'form' %>
  <%= render 'all_day' %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @library -%>
      <li><%= link_to t('page.back'), library_events_path(@library) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), events_path -%></li>
    <%- end -%>
  </ul>
</div>
