<div data-role="header">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.event')) -%></h1>
</div>

<div data-role="content">
<h2 class="resource_title">
  <%= @event.display_name.localize -%>
</h2>

<p>
  <strong><%= t('activerecord.models.event_category') -%>:</strong>
  <%= @event.event_category.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.models.library') -%>:</strong>
  <%= link_to @event.library.display_name.localize, @event.library -%>
</p>

<%- if @event.all_day -%>
  <p>
    <strong><%= t('activerecord.attributes.event.all_day') -%>:</strong>
    <%= l(@event.start_at, :format => :only_date) -%>
  </p>
<%- else -%>
  <p>
    <strong><%= t('activerecord.attributes.event.start_at') -%>:</strong>
    <%= l(@event.start_at, :format => :short) -%>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.event.end_at') -%>:</strong>
    <%= l(@event.end_at, :format => :short) -%>
  </p>
<%- end -%>

<p>
  <strong><%= t('activerecord.attributes.event.note') -%>:</strong>
  <%= raw auto_link(simple_format(h(@event.note))) -%>
</p>

</div>
