<div id="content_detail" class="ui-corner-all">
  <h2 class="title"><%= t('page.not_found') -%></h2>
  <div id="content_list">
  <%= form_for :manifestations, :url => manifestation_path, :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>:
      <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%= hidden_field_tag 'reservable', h(@reservable) if @reservable -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
    </p>
    <%= javascript_tag("$('#search_form_top').focus()") -%>
  <%- end -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
