<%- if params[:mode] == 'add' -%>
  <label><%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%></label>
  <label><%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%></label>
<%- else -%>
  <label><%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%></label>
  <label><%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%></label>
<%- end -%>
