<h3><%= t('checked_item.previous_checkout') -%></h3>
<%= checkout_checkout_types(@user) if @user %>
<table class="index">
  <tr>
    <%- if SystemConfiguration.get("checked_items.disp_title") -%>
      <th class="checked_item_title"><%= t('page.title') -%></th>
    <%- end -%>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.note') -%></th>
    <th><%= t('activerecord.attributes.checkout.due_date') -%></th>
  </tr>

  <%- user.checkouts.not_returned.each_with_index do |checkout, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <%- if SystemConfiguration.get("checked_items.disp_title") -%>
        <td>
          <%= render 'manifestations/show_index', :manifestation => checkout.try(:item).try(:manifestation) if checkout.try(:item).try(:manifestation) -%>
          <%= render 'manifestations/holding', :manifestation => checkout.try(:item).try(:manifestation) if checkout.try(:item).try(:manifestation) -%>
        </td>
      <%- end -%>
      <td><%= link_to checkout.try(:item).try(:item_identifier), checkout.try(:item) if checkout.try(:item) -%></td>
      <td><%= checkout.try(:item).try(:note) -%></td>
      <td>
        <%= l(checkout.due_date, :format => :only_date) %><br />
        <% if Time.zone.parse(checkout.due_date.to_s) < Time.now %>
          <strong style="color: red;"><%= t('activerecord.attributes.checkout.past_due') %></strong><br />
        <% end %>
        <%- if current_user.has_role?('Librarian') %><%= link_to t('activerecord.attributes.item.loss_item'), {:controller => 'loss_items', :action => 'new', :item_id => checkout.item_id, :user_id => checkout.user.id} -%><%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>
