<h3><%= t('checked_item.previous_checkout') -%></h3>

<table class="index">
  <tr>
    <%- if configatron.checked_items.disp_title == true -%>
      <th class="checked_item_title"><%= t('page.title') -%></th>
    <%- end -%>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.note') -%></th>
    <th><%= t('activerecord.attributes.checkout.due_date') -%></th>
  </tr>

  <%- @checkout_user.checkouts.not_returned.each_with_index do |checkout, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <%- if configatron.checked_items.disp_title == true -%>
        <td>
          <%= render 'manifestations/show_index', :manifestation => checkout.item.manifestation -%>
          <%= render 'manifestations/holding', :manifestation => checkout.item.manifestation -%>
        </td>
      <%- end -%>
      <td><%= link_to checkout.item.item_identifier, checkout.item -%></td>
      <td><%= checkout.item.note -%></td>
      <td>
        <%= l(checkout.due_date, :format => :only_date) -%><br />
        <%= link_to t('activerecord.attributes.item.loss_item'), loss_item_item_path(checkout.item) -%>
      </td>
    </tr>
  <%- end -%>
</table>
