  <div class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to @library_group.display_name.localize, root_path, :class => 'brand' %>
        <%= render 'page/menu' %>
        <% unless controller_name == 'sessions' %>
          <div class="btn-group pull-right">
            <a id="menu-account" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>
              <% if user_signed_in? %>
                <%= current_user.username %>
              <% else %>
                (<%= t('page.not_logged_in') %>)
              <% end %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu-account">
              <% if user_signed_in? %>
                <li><%= link_to t('page.account'), my_account_path %></li>
                <li>
                <% if defined?(EnjuMessage) %>
                  <%= link_to "#{t('activerecord.models.message')} (#{h(current_user.received_messages.unread.size)})", messages_path %>
                <% end %>
                </li>
                <li class="divider"></li>
                <li><%= link_to t('page.sign_out'), destroy_user_session_path, :method => :delete -%></li>
              <% else %>
                <li><%= link_to t('page.sign_in'), new_user_session_path -%></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
