<div class="header_and_footer">
  <div id="header_left">
    <div id="library_system_name">
      <h1 class="resource_title"><%= link_to LibraryGroup.system_name(@locale), root_path, :title => LibraryGroup.system_name(@locale) %></h1>
    </div>
    <div id="header_micro_advertisement"></div>
  </div>

  <div id="header_advertisement"></div>

  <div id="header_right">
    <div id="user_account">
      <% if user_signed_in? %>
        <%= t('page.logged_in_as', :login_name => current_user.username) -%>
        <br />
        <%= link_to image_tag('icons/email.png', :size => '16x16', :alt => t('activerecord.models.message')), user_messages_path(current_user) %>
        <% if current_user.received_messages.unread.size > 0 %>
          <%= link_to "(#{h(current_user.received_messages.unread.size)})", user_messages_path(current_user) %>
        <% else %>
          (<%= current_user.received_messages.unread.size %>)
        <% end %>
        <%= link_to t('page.account'), edit_user_path(current_user) -%>
        <%= link_to t('page.sign_out'), destroy_user_session_path -%>
        <br />
      <% else %>
        <% unless controller_name == 'sessions' %>
          <%= link_to t('page.sign_in'), new_user_session_path -%>
        <% end %>
      <% end %>
    </div>
    <%= render 'page/select_locale' -%>
  </div>
</div>
