<div class="header_and_footer">
  <div id="header_left">
    <% cache("library_group_header_#{@locale.to_s}") do %>
      <h1><a href="/" title="<%= LibraryGroup.site_config.display_name.localize -%>"><%= LibraryGroup.site_config.display_name.localize -%></a></h1>
    <% end %>
  </div>

  <div id="header_advertisement"></div>
  <%= render 'page/select_locale' -%>

  <div id="header_right">
    <%- if user_signed_in? -%>
        <%= t('page.logged_in_as', :login_name => current_user.username) -%>
        <br />
        <%= link_to image_tag('icons/email.png', :size => '16x16', :alt => t('activerecord.models.message')), user_messages_path(current_user) %>
        <% if current_user.received_messages.unread.size > 0 %>
          <%= link_to "(#{h(current_user.received_messages.unread.size)})", user_messages_path(current_user) %>
        <% else %>
          (<%= current_user.received_messages.unread.size %>)
        <% end %>
        <%= link_to t('page.account'), edit_user_path(current_user) -%>
        <%= link_to t('page.sign_out'), destroy_user_session_path -%>
    <%- else -%>
      <%= link_to t('page.sign_in'), new_user_session_path -%>
    <%- end -%>
  </div>
</div>
