  <div data-role="header">
    <h1><%= @library_group.display_name.localize %></h1>
    </div>
  <div data-role="content">
    <h2 class="title">
      <% if user_signed_in? %>
        <%= t('page.user_title', :login_name => current_user.username) -%>
      <% else %>
        <%= t('page.catalog_search') -%>
      <% end %>
    </h2>
    <div id="user_search_form">
      <%= render 'page/search_form' -%>
      <p><%= t('page.number_of_manifestations', :numdocs => Manifestation.cached_numdocs, :count => Manifestation.cached_numdocs) -%></p>
      <h3 style="display: inline"><%= link_to t('page.new_resource'), manifestations_path(:mode => 'recent') -%></h3>
      <h4 style="display: inline"><%= link_to t('activerecord.models.question'), questions_path %></h4>
      <% if user_signed_in? %>
        <h4 style="display: inline"><%= link_to t('activerecord.models.bookmark'), user_bookmarks_path(current_user) %></h4>
      <% end %>
    </div>
  </div>
