<div class="row">
  <div class="col">
    <div class="card bg-info">
      <h2 class="card-header text-light">
        <% if user_signed_in? %>
          <%= t('page.user_title', login_name: current_user.username) -%>
        <% else %>
          <%= t('page.catalog_search') -%>
        <% end %>
      </h2>
      <div class="card-body bg-light" id="user_search_form">
        <p id="notice"><%= notice %></p>

        <%= render 'page/search_form' -%>
        <p><%= t('page.number_of_manifestations', numdocs: Manifestation.search.total, count: Manifestation.search.total) -%></p>
        <h3 style="display: inline"><%= link_to t('page.new_resource'), manifestations_path(mode: 'recent') -%></h3>
        <% if defined?(EnjuBookmark) %>
          <% if user_signed_in? %>
           <h4 style="display: inline"><%= link_to t('activerecord.models.bookmark'), bookmarks_path(user_id: current_user.username) %></h4>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if defined?(EnjuNews) %>
      <div class="card bg-info">
        <h2 class="card-header text-light" id="news_feed">
          <%= t('page.news') -%>
        </h2>
        <div class="card-body bg-light" id="news_feed_box">
          <%= render partial: 'news_feeds/list', locals: {news_feeds: @news_feeds} -%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col">
    <div class="card bg-info" id="pickup">
      <h2 class="card-header text-light">
        <%= t('manifestation.pickup') -%>
      </h2>
      <div class="card-body bg-light" id="picked_up_box">
        <%= render 'manifestations/pickup', manifestation: @manifestation -%>
      </div>
    </div>

    <% if defined?(EnjuBookmark) %>
      <div class="card bg-info" id="tag_cloud">
        <h2 class="card-header text-light">
          <% if user_signed_in? %>
            <%= t('tag.my_tag') -%>
          <% else %>
            <%= t('tag.popular_tag') -%>
          <% end %>
        </h2>
        <div class="card-body bg-light" id="tag_cloud_box">
          <%= render 'bookmarks/tag_cloud', tags: @tags -%>
          <p>(<%= link_to t('page.listing', model: t('activerecord.models.tag')), tags_path -%>)</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
