<div id="navibar">
  <% cache(:controller => 'page', :page => 'menu', :role => current_user_role_name, :locale => @locale) do %>
  <a tabindex="0" href="#circulation_menu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="fg_circulation"><span class="ui-icon ui-icon-triangle-1-s"></span>
    <% if current_user.try(:has_role?, 'Librarian') %>
      <%= t('page.librarian_circulation') -%>
    <% else %>
      <%= t('page.user_circulation') -%>
    <% end %>
  </a>
  <div id="circulation_menu" class="hidden">
    <%- if user_signed_in? -%>
      <ul>
        <%- if current_user.has_role?('Librarian') -%>
          <li><%= link_to t('page.checkout'), new_basket_path -%></li>
          <li>
            <%- if @checkins and @basket -%>
              <%= link_to t('page.checkin'), user_basket_checkins_path(@basket.user, @basket) -%>
            <%- else -%>
              <%= link_to t('page.checkin'), checkins_path -%>
            <%- end -%>
          </li>
        <% end %>
        <li>
          <%- if current_user.has_role?('Librarian') -%>
            <%= link_to t('page.listing', :model => t('activerecord.models.reserve')), reserves_path -%>
          <%- else -%>
            <%= link_to t('page.listing', :model => t('activerecord.models.reserve')), user_reserves_path(current_user) -%>
          <%- end -%>
        </li>
        <%- if current_user.has_role?('Librarian') -%>
          <li><%= link_to t('activerecord.models.inter_library_loan'), inter_library_loans_path -%></li>
          <!--
          <li><%= link_to 'NACSIS ILL', 'page/under_construction' -%></li>
          -->
        <%- end -%>
        <li><%= link_to t('page.checkout_history'), user_checkouts_path(current_user) -%></li>
      </ul>
    <%- else -%>
      <ul>
        <li><%= link_to t('page.checkout_history'), checkouts_path -%></li>
        <li><%= link_to t('page.listing', :model => t('activerecord.models.reserve')), reserves_path -%></li>
      </ul>
    <%- end -%>
  </div>
  <a tabindex="1" href="#acquisition_menu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="fg_acquisition"><span class="ui-icon ui-icon-triangle-1-s"></span><%= t('page.acquisition') -%></a>
  <%- if user_signed_in? -%>
    <div id="acquisition_menu" class="hidden">
      <ul>
        <%- if current_user.has_role?('Librarian') -%>
          <li><%= link_to t('page.add_manually'), new_import_request_path -%></li>
          <li><%= link_to t('page.import_from_file'), page_import_path -%></li>
          <li><%= link_to t('page.upload_file'), new_manifestation_path(:mode => 'attachment') -%></li>
        <%- end -%>
      </ul>
    </div>
  <%- else -%>
    <div id="acquisition_menu" class="hidden">
      <ul>
        <li><%= link_to t('page.listing', :model => t('activerecord.models.bookmark')), bookmarks_path -%></li>
      </ul>
    </div>
  <%- end -%>
    <a tabindex="2" href="#request_menu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="fg_request"><span class="ui-icon ui-icon-triangle-1-s"></span><%= t('page.request') -%></a>
    <%- if user_signed_in? -%>
      <div id="request_menu" class="hidden">
        <ul>
          <li><%= link_to t('activerecord.models.purchase_request'), user_purchase_requests_path(current_user) -%></li>
          <li><%= link_to t('activerecord.models.question'), user_questions_path(current_user) -%></li>
        </ul>
      </div>
    <%- else -%>
      <div id="request_menu" class="hidden">
        <ul>
          <li><%= link_to t('activerecord.models.purchase_request'), purchase_requests_path -%></li>
          <li><%= link_to t('activerecord.models.question'), questions_path -%></li>
        </ul>
      </div>
  <%- end -%>
  <a tabindex="3" href="#event_menu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="fg_event"><span class="ui-icon ui-icon-triangle-1-s"></span><%= t('activerecord.models.event') -%></a>
  <div id="event_menu" class="hidden">
    <%- if @library_group.real_libraries.first -%>
      <ul>
        <li><%= link_to t('page.calendar'), '/calendar' -%></li>
        <li><%= link_to t('event.all'), events_path -%></li>
        <%- @library_group.real_libraries.each do |library| -%>
          <li><%= link_to h(library.display_name.localize), library_events_path(library.name) -%></li>
        <%- end -%>
        <%- if can? :create, Event -%>
          <li><%= link_to t('page.import'), new_event_import_file_path -%></li>
        <%- end -%>
      </ul>
    <%- end -%>
  </div>
  <a tabindex="4" href="#configuration_menu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="fg_configuration"><span class="ui-icon ui-icon-triangle-1-s"></span>
    <% if current_user.try(:has_role?, 'Librarian') %>
      <%= t('page.management') -%>
    <% else %>
      <%= t('page.configuration') -%>
    <% end %>
  </a>
  <div id="configuration_menu" class="hidden">
    <%- if user_signed_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
        <ul>
          <li><%= link_to t('page.new', :model => t('activerecord.models.user')), new_user_path -%></li>
          <li><%= link_to t('page.patron_management'), patrons_path -%></li>
          <li><%= link_to t('page.import'), page_import_path -%></li>
          <!--
          <li><%= link_to t('page.export'), 'page/export' -%></li>
          -->
          <li><%= link_to t('activerecord.models.order_list'), order_lists_path -%></li>
          <li><%= link_to t('page.statistics'), page_statistics_path -%></li>
          <li><%= link_to t('activerecord.models.search_history'), search_histories_path -%></li>
          <!--
          <li><%= link_to t('page.recommendation'), 'page/under_construction' -%></li>
          <li><%= link_to 'Send questions and answers to CRD', 'page/under_construction' -%></li>
          -->
          <li><%= link_to t('page.configuration'), page_configuration_path -%></li>
        </ul>
      <%- else -%>
        <ul>
          <li><%= link_to t('user.account_management'), edit_user_path(current_user) -%></li>
        </ul>
      <%- end -%>
    <%- else -%>
      <ul>
        <li><%= link_to t('page.sign_in'), new_user_session_path -%></li>
      </ul>
    <%- end -%>
  </div>
  <% end %>
</div>
