    <ul class="nav nav-pills">
      <li class="dropdown">
        <a id="menu1" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">
          <% if current_user.try(:has_role?, 'Librarian') %>
            <%= t('page.librarian_circulation') -%>
          <% else %>
            <%= t('page.user_circulation') -%>
          <% end %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <% if defined?(EnjuCirculation) %>
            <%- if user_signed_in? -%>
              <%- if current_user.has_role?('Librarian') -%>
                <li><%= link_to t('page.checkout'), new_basket_path -%></li>
                <li><%= link_to t('page.checkin'), new_checkin_path -%></li>
              <% end %>
              <li>
                <%= link_to t('page.listing', :model => t('activerecord.models.reserve')), reserves_path -%>
              </li>
              <%- if current_user.has_role?('Librarian') -%>
                <% if defined?(EnjuInterLibraryLoan) %>
                  <li><%= link_to t('activerecord.models.inter_library_loan'), inter_library_loans_path -%></li>
                <% end %>
              <%- end -%>
              <% if defined?(EnjuCirculation) %>
                <li><%= link_to t('page.checkout_history'), checkouts_path -%></li>
              <% end %>
            <%- else -%>
              <% if defined?(EnjuCirculation) %>
                <li><%= link_to t('page.checkout_history'), checkouts_path -%></li>
                <li><%= link_to t('page.listing', :model => t('activerecord.models.reserve')), reserves_path -%></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </li>
      <li class="dropdown">
        <a id="menu2" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t('page.acquisition') -%>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
          <%- if current_user.try(:has_role?, 'Librarian') -%>
            <li><%= link_to t('import_request.enter_isbn'), new_import_request_path -%></li>
            <% if defined?(EnjuNdl) %>
              <li><%= link_to t('enju_ndl.import_from_ndl_search'), ndl_books_path -%></li>
            <% end %>
            <% if defined?(EnjuNii) %>
              <li><%= link_to t('enju_ndl.import_from_cinii_books'), cinii_books_path -%></li>
            <% end %>
            <li><%= link_to t('page.add_manually'), new_manifestation_path -%></li>
            <li><%= link_to t('page.serial'), series_statements_path -%></li>
            <li><%= link_to t('page.import_from_file'), new_resource_import_file_path -%></li>
            <li><%= link_to t('activerecord.models.accept'), new_accept_path -%></li>
            <% if defined?(EnjuBookmark) %>
              <li><%= link_to t('page.listing', :model => t('activerecord.models.bookmark')), bookmarks_path -%></li>
            <% end %>
          <%- else -%>
            <% if defined?(EnjuBookmark) %>
              <li><%= link_to t('page.listing', :model => t('activerecord.models.bookmark')), bookmarks_path -%></li>
            <% end %>
          <%- end -%>
        </ul>
      </li>
      <li class="dropdown">
        <a id="menu3" class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t('page.request') -%>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
          <% if defined?(EnjuPurchaseRequest) %>
            <li><%= link_to t('activerecord.models.purchase_request'), purchase_requests_path -%></li>
          <% end %>
          <% if defined?(EnjuQuestion) %>
            <li><%= link_to t('activerecord.models.question'), questions_path -%></li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown">
        <a id="menu4" class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t('activerecord.models.event') -%>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
          <% if defined?(EnjuEvent) %>
            <%- unless @library_group.real_libraries.empty? -%>
              <li><%= link_to t('page.calendar'), calendar_path -%></li>
              <li><%= link_to t('event.all'), events_path -%></li>
              <%- @library_group.real_libraries.each do |library| -%>
                <li><%= link_to library.display_name.localize, library_events_path(library) -%></li>
              <%- end -%>
              <%- if can? :create, Event -%>
                <li><%= link_to t('page.import'), new_event_import_file_path -%></li>
              <%- end -%>
            <%- end -%>
          <% end %>
        </ul>
      </li>
      <li class="dropdown">
        <a id="menu5" class="dropdown-toggle" data-toggle="dropdown" href="#">
          <% if current_user.try(:has_role?, 'Librarian') %>
            <%= t('page.management') -%>
          <% else %>
            <%= t('page.configuration') -%>
          <% end %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu5">
          <%- if user_signed_in? -%>
            <%- if current_user.has_role?('Librarian') -%>
              <li><%= link_to t('user.management'), users_path -%></li>
              <li><%= link_to t('page.patron_management'), patrons_path -%></li>
              <li><%= link_to t('page.import'), page_import_path -%></li>
              <% if defined?(EnjuPurchaseRequest) %>
                <li><%= link_to t('activerecord.models.order_list'), order_lists_path -%></li>
              <% end %>
              <li><%= link_to t('page.statistics'), page_statistics_path -%></li>
              <li><%= link_to t('activerecord.models.search_history'), search_histories_path -%></li>
              <li><%= link_to t('page.configuration'), page_configuration_path -%></li>
            <%- else -%>
              <li><%= link_to t('user.account_management'), edit_my_account_path -%></li>
            <%- end -%>
          <%- else -%>
            <li><%= link_to t('page.sign_in'), new_user_session_path -%></li>
          <%- end -%>
        </ul>
      </li>
    </ul>
