<div id="navibar">
  <%= render 'page/menu_tabindex0' %>
  <%= render 'page/menu_tabindex1' %>
  <%= render 'page/menu_tabindex2' %>
  <%= render 'page/menu_tabindex3' %>
  <%= render 'page/menu_tabindex4' %>
</div>
