  <%- if user_signed_in? and current_user.has_role?('Librarian') -%>
    <a tabindex="1" href="#acquisition_menu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all <%= tab_menu_width %>" id="fg_acquisition"><span class="ui-icon ui-icon-triangle-1-s"></span><%= t('page.acquisition') -%></a>
    <div id="acquisition_menu" class="hidden">
      <ul>
        <li><%= link_to t('import_request.enter_isbn'), new_import_request_path -%></li>
        <% if defined?(EnjuNdl) %>
          <li><%= link_to t('enju_ndl.import_from_ndl_search'), ndl_books_path -%></li>
        <% end %>
        <li><%= link_to t('page.add_manually'), new_manifestation_path -%></li>
        <li><%= link_to t('page.serial'), series_statements_path -%></li>
        <!--
        <li><%= link_to t('page.import_from_tsvfile'), new_resource_import_file_path -%></li>
        -->
        <li><%= link_to t('page.import_from_file'), new_resource_import_textfile_path -%></li>
      </ul>
    </div>
  <%- end  -%>
