<div id="navibar">
  <ul id="bar1" class="menubar">
    <li>
      <a href="#circulation_menu">
        <% if current_user.try(:has_role?, 'Librarian') %>
          <%= t('page.librarian_circulation') -%>
        <% else %>
          <%= t('page.user_circulation') -%>
        <% end %>
      </a>
      <ul>
        <% if defined?(EnjuCirculation) %>
          <%- if user_signed_in? -%>
            <%- if current_user.has_role?('Librarian') -%>
              <li><%= link_to t('page.checkout'), new_basket_path -%></li>
              <li><%= link_to t('page.checkin'), new_checkin_path -%></li>
            <% end %>
            <li>
              <%= link_to t('page.listing', :model => t('activerecord.models.reserve')), reserves_path -%>
            </li>
            <%- if current_user.has_role?('Librarian') -%>
              <% if defined?(EnjuInterLibraryLoan) %>
                <li><%= link_to t('activerecord.models.inter_library_loan'), inter_library_loans_path -%></li>
              <% end %>
            <%- end -%>
            <% if defined?(EnjuCirculation) %>
              <li><%= link_to t('page.checkout_history'), checkouts_path -%></li>
            <% end %>
          <%- else -%>
            <% if defined?(EnjuCirculation) %>
              <li><%= link_to t('page.checkout_history'), checkouts_path -%></li>
              <li><%= link_to t('page.listing', :model => t('activerecord.models.reserve')), reserves_path -%></li>
            <% end %>
          <%- end -%>
        <% end %>
      </ul>
    </li>
    <%- if user_signed_in? -%>
      <li>
        <a href="#acquisition_menu"><%= t('page.acquisition') -%></a>
        <ul>
          <%- if current_user.has_role?('Librarian') -%>
            <li><%= link_to t('import_request.enter_isbn'), new_import_request_path -%></li>
            <% if defined?(EnjuNdl) %>
              <li><%= link_to t('enju_ndl.import_from_ndl_search'), ndl_books_path -%></li>
            <% end %>
            <li><%= link_to t('page.add_manually'), new_manifestation_path -%></li>
            <li><%= link_to t('page.serial'), series_statements_path -%></li>
            <li><%= link_to t('page.import_from_file'), new_resource_import_file_path -%></li>
            <li><%= link_to t('activerecord.models.accept'), new_accept_path -%></li>
            <% if defined?(EnjuBookmark) %>
              <li><%= link_to t('page.listing', :model => t('activerecord.models.bookmark')), bookmarks_path -%></li>
            <% end %>
          <%- else -%>
            <% if defined?(EnjuBookmark) %>
              <li><%= link_to t('page.listing', :model => t('activerecord.models.bookmark')), bookmarks_path -%></li>
            <% end %>
          <%- end -%>
        </ul>
      </li>
    <% end %>
    <li>
      <a href="#request_menu"><%= t('page.request') -%></a>
      <ul>
        <%- if user_signed_in? -%>
          <% if defined?(EnjuPurchaseRequest) %>
            <li><%= link_to t('activerecord.models.purchase_request'), purchase_requests_path -%></li>
          <% end %>
          <% if defined?(EnjuQuestion) %>
            <li><%= link_to t('activerecord.models.question'), questions_path -%></li>
          <% end %>
        <%- else -%>
          <% if defined?(EnjuPurchaseRequest) %>
            <li><%= link_to t('activerecord.models.purchase_request'), purchase_requests_path -%></li>
          <% end %>
          <% if defined?(EnjuQuestion) %>
            <li><%= link_to t('activerecord.models.question'), questions_path -%></li>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% if defined?(EnjuEvent) %>
      <li>
        <a href="#event_menu"><%= t('activerecord.models.event') -%></a>
        <ul>
          <%- unless @library_group.real_libraries.empty? -%>
            <li><%= link_to t('page.calendar'), calendar_path -%></li>
            <li><%= link_to t('event.all'), events_path -%></li>
            <%- @library_group.real_libraries.each do |library| -%>
              <li><%= link_to library.display_name.localize, library_events_path(library) -%></li>
            <%- end -%>
            <%- if can? :create, Event -%>
              <li><%= link_to t('page.import'), new_event_import_file_path -%></li>
            <%- end -%>
          <%- end -%>
        </ul>
      </li>
    <% end %>
    <li>
      <a href="#configuration_menu">
        <% if current_user.try(:has_role?, 'Librarian') %>
          <%= t('page.management') -%>
        <% else %>
          <%= t('page.configuration') -%>
        <% end %>
      </a>
      <ul>
        <%- if user_signed_in? -%>
          <%- if current_user.has_role?('Librarian') -%>
            <li><%= link_to t('user.management'), users_path -%></li>
            <li><%= link_to t('page.patron_management'), agents_path -%></li>
            <li><%= link_to t('page.import'), page_import_path -%></li>
           <!--
            <li><%= link_to t('page.export'), 'page/export' -%></li>
            -->
            <% if defined?(EnjuPurchaseRequest) %>
              <li><%= link_to t('activerecord.models.order_list'), order_lists_path -%></li>
            <% end %>
            <li><%= link_to t('page.statistics'), page_statistics_path -%></li>
            <% if defined?(EnjuSearchLog) %>
              <li><%= link_to t('activerecord.models.search_history'), search_histories_path %></li>
            <% end %>
            <% if Setting.enju.erms_url %>
              <li><%= link_to t('page.electronic_resource_management'), Setting.enju.erms_url -%></li>
            <% end %>
            <li><%= link_to t('page.configuration'), page_configuration_path -%></li>
          <% else %>
            <ul>
              <li><%= link_to t('user.account_management'), edit_my_account_path -%></li>
            </ul>
          <%- end -%>
        <%- else -%>
          <li><%= link_to t('page.sign_in'), new_user_session_path -%></li>
        <%- end -%>
      </ul>
    </li>
  </ul>
</div>
