<div data-role="fieldcontain">
<%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', nil, :class => 'search_form_short', :placeholder => t('page.search_term') -%>
    <%= submit_tag t('page.search') -%><br />
  </p>
<%- end -%>
</div>
<%= javascript_tag("$('#query').focus()") -%>
