<%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', nil, :class => 'search_form_short', :placeholder => t('page.search_term') -%>
    <%= submit_tag t('page.search') -%><br />
    (<%= link_to t('page.advanced_search'), page_advanced_search_path -%>)
  </p>
<%- end -%>
<%= javascript_tag("$('#query').focus()") -%>
