<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.advanced_search') -%></h1>
<div id="content_list">

<%= form_tag({controller: 'manifestations'}, {method: 'get'}) do -%>
  <table style="width: 100%">
    <tr>
      <td><%= label_tag :library_adv, t('activerecord.models.library') %>:</td>
      <td>
        <% @libraries.sort_by{|l| l.position }.each do |library| %>
          <label><%= check_box_tag "library_adv[]", library.name %><%= library.display_name.localize %></label>
        <% end %>
        <div class="check_all"><%= check_all_button "library_adv_", t('advanced_search.check_all') %> / <%= uncheck_all_button "library_adv_", t('advanced_search.uncheck_all') %></div>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :query, t('page.search_term') -%>:</td>
      <td><%= search_field_tag 'query', nil, class: 'search_form_short', placeholder: t('page.search_term') -%></td>
    </tr>
    <tr>
      <td><label><%= t('page.title') -%>:</label></td>
      <td><%= text_field_tag 'title' -%></td>
    </tr>
    <% if defined?(EnjuBookmark) %>
      <tr>
        <td><label><%= t('page.tag') -%>:</label></td>
        <td><%= text_field_tag 'tag' -%></td>
      </tr>
    <% end %>
    <tr>
      <td><label><%= t('agent.creator') -%>:</label></td>
      <td><%= text_field_tag 'creator' -%></td>
    </tr>
    <tr>
      <td><label><%= t('agent.publisher') -%>:</label></td>
      <td><%= text_field_tag 'publisher' -%></td>
    </tr>
    <tr>
      <td><label><%= t('activerecord.attributes.manifestation.isbn') -%>:</label></td>
      <td><%= text_field_tag 'isbn' -%></td>
    </tr>
    <tr>
      <td><label><%= t('activerecord.attributes.manifestation.issn') -%>:</label></td>
      <td><%= text_field_tag 'issn' -%></td>
    </tr>
    <tr>
      <td><label><%= t('activerecord.attributes.item.call_number') %>:</label></td>
      <td><%= text_field_tag 'call_number' %></td>
    </tr>
    <tr>
      <td><label><%= t('activerecord.attributes.item.item_identifier') -%>:</label></td>
      <td><%= text_field_tag 'item_identifier' -%></td>
    </tr>
    <tr>
      <td><label><%= t('activerecord.attributes.manifestation.date_of_publication') -%>:</label></td>
      <td><%= t('advanced_search.from') -%> <%= text_field_tag 'pub_date_from', nil, class: 'date_text_field', placeholder: "#{t('page.example')}: 1978, 1978-04-12" -%>
        <%= t('advanced_search.to') -%> <%= text_field_tag 'pub_date_to', nil, class: 'date_text_field', placeholder: "#{t('page.example')}: 2011, 2011-04-12"-%></td>
    </tr>
    <tr>
      <td><label><%= t('activerecord.attributes.item.acquired_at') -%>:</label></td>
      <td><%= t('advanced_search.from') -%> <%= text_field_tag 'acquired_from', nil, class: 'wide_date_text_field', placeholder: "#{t('page.example')}: 2005, 2005-04-01" -%>
        <%= t('advanced_search.to') -%> <%= text_field_tag 'acquired_to', nil, class: 'wide_date_text_field', placeholder: "#{t('page.example')}: 2011, 2011-03-31"-%></td>
    </tr>
    <tr>
      <td><label><%= t('page.number_of_pages') -%>:</label></td>
        <td><%= t('advanced_search.from') -%> <%= text_field_tag 'number_of_pages_at_least', nil, size: 5 -%>
          <%= t('advanced_search.to') -%> <%= text_field_tag 'number_of_pages_at_most', nil, size: 5 -%></td>
    </tr>
    <!--
    <tr>
      <td><label><%= t('page.holding_library') -%>:</label></td>
      <td>
        <select id="library_top" name="library">
          <option value=""><%= t('advanced_search.all_libraries') -%></option>
          <%- @libraries.each do |library| -%>
            <option value="<%= library.name -%>"><%= library.display_name.localize -%></option>
          <%- end -%>
        </select>
      </td>
    </tr>
    -->
    <tr>
      <td></td>
      <td>
        <%= hidden_field_tag 'advanced_search', 'true' -%>
        <%= submit_tag t('page.search') -%>
      </td>
    </tr>
  </table>
<%- end -%>
<%= javascript_tag("$(function(){$('#query').focus()})") %>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
</div>
