<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.export') -%></h1>
<div id="content_list">

<ul>
  <!--
  <li>
    <%= t('activerecord.models.agent') -%>
    (<%= link_to 'CSV', agents_path(:format => :csv) -%>)
  </li>
  <% if defined?(EnjuEvent) %>
    <li>
      <%= t('activerecord.models.event') -%>
      (<%= link_to 'CSV', events_path(:format => :csv) -%>)
    </li>
  <% end %>
  <li>
    <%= t('activerecord.models.manifestation') -%>
    (<%= link_to 'CSV', manifestations_path(:format => :csv) -%>)
  </li>
  <li>
    <%= t('activerecord.models.item') -%>
    (<%= link_to 'CSV', items_path(:format => :csv) -%>)
  </li>
  -->
  <li>
    <%= link_to t('activerecord.models.resource_export_file'), resource_export_files_path -%>
  </li>
</ul>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
  </ul>
</div>
