<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.export') -%></h1>
<div id="content_list">

<ul>
  <li>
    <%= t('activerecord.models.patron') -%>
    (<%= link_to 'CSV', patrons_path(:format => :csv) -%>)
  </li>
  <li>
    <%= t('activerecord.models.event') -%>
    (<%= link_to 'CSV', events_path(:format => :csv) -%>)
  </li>
  <li>
    <%= t('activerecord.models.resource') -%>
    (<%= link_to 'CSV', resources_path(:format => :csv) -%>)
  </li>
  <li>
    <%= t('activerecord.models.item') -%>
    (<%= link_to 'CSV', items_path(:format => :csv) -%>)
  </li>
</ul>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
  </ul>
</div>
