<div id="content_detail">
<h1 class="title"><%= t('page.import_from_file') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('activerecord.models.patron'), patron_import_files_path -%>
  (<%= t('activerecord.models.user') -%>)</li>

  <li><%= link_to t('activerecord.models.event'), event_import_files_path -%></li>
  <li><%= link_to t('page.resource'), new_resource_import_file_path -%> (MARC, TSV)</li>
</ul>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.add_manually'), new_import_request_path -%></li>
  </ul>
</div>
