<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.import_from_file') -%></h1>
<div id="content_list" class="card-body">

<ul>
  <li><%= link_to t('activerecord.models.user'), user_import_files_path -%>
  <li><%= link_to t('page.manifestation_and_item'), resource_import_files_path -%></li>
  <% if defined?(EnjuEvent) %>
    <li><%= link_to t('activerecord.models.event'), event_import_files_path -%></li>
  <% end %>
  <!--
  <li><%= link_to t('activerecord.models.agent'), agent_import_files_path -%></li>
  -->
</ul>
</div>
</div>

<div id="submenu" class="col">
</div>
