<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.import_from_file') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('activerecord.models.user'), user_import_files_path -%>
  <li><%= link_to t('page.resource'), resource_import_files_path -%></li>
  <li><%= link_to t('activerecord.models.event'), event_import_files_path -%></li>
  <!--
  <li><%= link_to t('activerecord.models.agent'), agent_import_files_path -%></li>
  -->
</ul>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
</div>
