<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.system_information') %></h1>
<div id="content_list">

  <ul>
    <li>Environment: <%= Rails.env %></li>
    <li>Gems:
    <ul>
      <% @specs.each do |spec| %>
        <li><%= spec.name %>: <%= spec.version.to_s %></li>
      <% end %>
    </ul>
    </li>
  </ul>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.configuration'), page_configuration_path %></li>
  </ul>
</div>
