<%= simple_form_for(@answer, validate: true) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :question_id %>

  <div class="field">
    <%= f.label t('activerecord.models.user') %><br />
    <%= link_to @answer.user.username, @answer.user.profile if @answer.user.try(:profile) %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.question') %><br />
    <%= link_to @answer.question.body, @answer.question %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, class: 'resource_textarea' %>
  </div>

  <div class="field">
    <%= f.label :item_identifier_list %><br />
    <%= f.text_area :item_identifier_list, class: 'resource_textarea' %>
  </div>

  <div class="field">
    <%= f.label :url_list %><br />
    <%= f.text_area :url_list, class: 'resource_textarea' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end %>
