<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.answer')) -%></h1>
<div id="content_list">

<%- if @question -%>
  <p><%= link_to textilize_without_paragraph(h(@question.body)), user_question_path(@question.user.username, @question) -%></p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.answer.body') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
    <th></th>
  </tr>
  
<%- @answers.each_with_index do |answer, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(answer.user.username), user_path(answer.user.username) -%></td>
    <td><%= link_to truncate(h(answer.body), :length => 20), user_question_answer_path(answer.user.username, answer.question, answer) -%></td>
    <td><%= l(answer.created_at) -%></td>
    <td><%= l(answer.updated_at) -%></td>
    <td>
      <%- if can? :destroy, answer -%>
        <%= link_to t('page.edit'), edit_user_question_answer_path(answer.user.username, answer.question, answer) -%>
        <%= link_to t('page.destroy'), user_question_answer_path(answer.user.username, answer.question, answer), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@answers) -%>
</div>
</div>

<div id="submenu">
  <%- if @question -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.answer')), new_user_question_answer_path(@user.username, @question) -%></li>
    </ul>
  <%- end -%>
</div>
