<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.answer')) -%></h1>
<div id="content_list">

<%- if @question -%>
  <p><%= link_to raw(textilize(h(@question.body))), question_path(@question) -%></p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.answer.body') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
    <th></th>
  </tr>

<%- @answers.each_with_index do |answer, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to answer.user.username, answer.user if answer.user -%></td>
    <td><%= link_to truncate(answer.body, :length => 20), question_answer_path(answer.question, answer) -%></td>
    <td><%= l(answer.created_at) -%></td>
    <td><%= l(answer.updated_at) -%></td>
    <td>
      <%- if can? :destroy, answer -%>
        <%= link_to t('page.edit'), edit_question_answer_path(answer.question, answer) -%>
        <%= link_to t('page.destroy'), question_answer_path(answer.question, answer), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@answers) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%- if @question -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.answer')), new_question_answer_path(@question) -%></li>
    </ul>
  <%- end -%>
</div>
