<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.answer')) -%></h1>
<div id="content_list">

<%= form_for(:answer, :url => user_question_answers_path(@answer.question.user, @answer.question)) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('activerecord.models.question') -%><br />
    <%= @answer.question.body -%>
    <%= f.hidden_field :question_id, :value => @answer.question.id -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.answer.body') -%><br />
    <%= f.text_area :body, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.answer.item_identifier_list') -%><br />
    <%= f.text_area :item_identifier_list, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.answer.url_list') -%><br />
    <%= f.text_area :url_list, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @answer.question -%>
      <li><%= link_to t('page.back'), user_question_answers_path(@answer.question.user, @answer.question) -%></li>
    <%- end -%>
  </ul>
</div>
