<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.answer')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to h(@answer.user.username), user_path(@answer.user.username) -%>
</p>

<p>
  <strong><%= t('activerecord.models.question') -%>:</strong>
  <%= link_to h(@answer.question.user.username), user_path(@answer.question.user.username) -%>: <%= auto_link(textilize_without_paragraph(h(@answer.question.body))) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.answer.body') -%>:</strong>
  <%= auto_link(textilize_without_paragraph(h(@answer.body)))  -%>
</p>

<p>
  <ul>
    <%- @answer.items.each do |item| -%>
      <li>
        <%= link_to h(item.manifestation.original_title), item.manifestation -%>
        <% if item.item_identifier.present? %>
          (<%= link_to h(item.item_identifier), item -%>)
        <% end %>
      </li>
    <%- end -%>
  </ul>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@answer.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@answer.updated_at) -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <%- if can? :update, @answer -%>
      <li><%= link_to t('page.edit'), edit_user_question_answer_path(@answer.question.user.username, @answer.question, @answer) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), user_question_answers_path(@answer.question.user.username, @answer.question) -%></li>
  </ul>
</div>
