<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.answer')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @answer.user.username, @answer.user -%>
</p>

<p>
  <strong><%= t('activerecord.models.question') -%>:</strong>
  <%= link_to @answer.question.user.username, @answer.question.user -%>: <%= auto_link(textilize_without_paragraph(@answer.question.body)) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.answer.body') -%>:</strong>
  <%= auto_link(textilize_without_paragraph(@answer.body))  -%>
</p>

<p>
  <ul>
    <%- @answer.items.each do |item| -%>
      <li>
        <%= link_to item.manifestation.original_title, item.manifestation -%>
        <% if item.item_identifier.present? %>
          (<%= link_to item.item_identifier, item -%>)
        <% end %>
      </li>
    <%- end -%>
  </ul>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@answer.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@answer.updated_at) -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :update, @answer -%>
      <li><%= link_to t('page.edit'), edit_user_question_answer_path(@answer.question.user, @answer.question, @answer) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), user_question_answers_path(@answer.question.user, @answer.question) -%></li>
  </ul>
</div>
