<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation_relationship_type')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.manifestation_relationship_type.name') -%></th>
    <th><%= t('activerecord.attributes.manifestation_relationship_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.manifestation_relationship_type.note') -%></th>
    <th></th>
  </tr>

<%- @manifestation_relationship_types.each do |manifestation_relationship_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, manifestation_relationship_type -%>
        <%= move_position(manifestation_relationship_type) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(manifestation_relationship_type.name), manifestation_relationship_type -%></td>
    <td><%= link_to h(manifestation_relationship_type.display_name.localize), manifestation_relationship_type -%></td>
    <td><%= manifestation_relationship_type.note -%></td>
    <td>
      <%- if can? :destroy, manifestation_relationship_type -%>
        <%= link_to t('page.edit'), edit_manifestation_relationship_type_path(manifestation_relationship_type) -%>
        <%= link_to t('page.destroy'), manifestation_relationship_type, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <% end %>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation_relationship_type')), new_manifestation_relationship_type_path -%></li>
  </ul>
</div>
