<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.reserve_stat_has_manifestation')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.manifestation_reserve_stat') -%></strong>
  <%= link_to h(@reserve_stat_has_manifestation.manifestation_reserve_stat.id), @reserve_stat_has_manifestation.manifestation_reserve_stat -%>
</p>

<p>
  <strong><%= t('activerecord.models.manifestation') -%>:</strong>
  <%= link_to h(@reserve_stat_has_manifestation.manifestation.original_title), @reserve_stat_has_manifestation.manifestation -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.reserve_stat_has_manifestation.reserves_count') -%></strong>
  <%= @reserve_stat_has_manifestation.reserves_count -%>
</p>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_reserve_stat_has_manifestation_path(@reserve_stat_has_manifestation) -%></li>
    <li><%= link_to t('page.back'), reserve_stat_has_manifestations_path -%></li>
  </ul>
</div>
