<div id="manifestation">
  <%= paginate(@manifestations, param_name: :manifestation_list_page, remote: true) -%>
  <ul>
    <%- @manifestations.each do |manifestation| -%>
      <li>
        [M]
        <%= link_to manifestation.original_title, manifestation -%>
        <%= form_icon(manifestation.carrier_type) -%>
        <%= agents_list(manifestation.creates) -%>
        <%= agents_list(manifestation.realizes) -%>
        <%= agents_list(manifestation.produces) -%>
        <%- if manifestation.pub_date? -%>
          (<%= manifestation.pub_date -%>)
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
  <%= paginate(@manifestations, param_name: :manifestation_list_page, remote: true) -%>
</div>
