<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.agent')) -%></h1>
  <div id="content_list">
    <%= render 'form', agent: @agent %>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.show'), @agent -%></li>
    <%- if policy(@agent).destroy? -%>
      <li><%= link_to t('page.destroy'), @agent, data: {confirm: t('page.are_you_sure')}, method: :delete -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), agents_path -%></li>
  </ul>
</div>
