<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.editing", model: t("activerecord.models.agent")) -%></h5>
    <div id="content_list" class="card-body">
      <%= render "form", agent: @agent %>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t("page.show"), @agent -%></li>
      <%- if policy(@agent).destroy? -%>
        <li><%= link_to t("page.destroy"),
          @agent,
          data: {
            confirm: t("page.are_you_sure"),
          },
          method: :delete -%></li>
      <%- end -%>
      <li><%= link_to t("page.back"), agents_path -%></li>
    </ul>
  </div>
</div>
