<div data-role="header">
  <h1 class="title"><%= t('page.showing', model: t('activerecord.models.agent')) -%></h1>
</div>
<div data-role="content">
  <h2 class="resource_title">
    [P]
    <%= @agent.full_name -%>
  </h2>
  <div id="detail">
    <table class="table table-striped index vcard">
      <tr>
        <td><strong><%= t('activerecord.attributes.agent.full_name') -%>:</strong></td>
        <td>
          <span class="fn"><%= @agent.full_name -%></span>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.agent.full_name_transcription') -%>:</strong></td>
        <td><%= @agent.full_name_transcription -%></td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.models.agent_type') -%>:</strong></td>
        <td><%= @agent.agent_type.display_name.localize -%></td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.agent.email') -%>:</strong></td>
        <td>
          <%= mail_to @agent.email, nil, class: 'email' -%>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.agent.url') -%>:</strong></td>
        <td>
          <%= link_to @agent.url, @agent.url, class: 'url' if @agent.url? -%>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.agent.other_designation') -%>:</strong></td>
        <td><%= @agent.other_designation -%></td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.agent.place') -%>:</strong></td>
        <td><%= @agent.place -%></td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.models.language') -%>:</strong></td>
        <td><%= @agent.language.display_name.localize -%></td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.agent.note') -%>:</strong></td>
        <td><%= @agent.note -%></td>
      </tr>
      <tr>
        <td><strong><%= t('page.created_at') -%>:</strong></td>
        <td><%= l(@agent.created_at) -%></td>
      </tr>
      <tr>
        <td><strong><%= t('page.updated_at') -%>:</strong></td>
        <td><%= l(@agent.updated_at) -%></td>
      </tr>
    </table>
  </div>
</div>
