<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.order')) -%></h1>
<div id="content_list">

<table>
  <tr>
    <th><%= t('activerecord.models.order_list') -%></th>
    <th><%= t('activerecord.models.purchase_request') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- @orders.each do |order| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(order.order_list.title), order.order_list -%></td>
    <td><%= link_to h(order.purchase_request.title), purchase_request_path(order.purchase_request) -%></td>
    <td><%= l(order.created_at) -%></td>
    <td><%= l(order.updated_at) -%></td>
    <%- if can? :destroy, order -%>
      <td><%= link_to t('page.show'), order_path(order) -%></td>
      <td><%= link_to t('page.edit'), edit_order_path(order) -%></td>
      <td><%= link_to t('page.destroy'), order_path(order), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@orders) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Order -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.order')), new_order_path -%></li>
    <%- end -%>
  </ul>
</div>
