<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.order')) -%></h1>
<div id="content_list">

<%= form_for(@order) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('activerecord.models.order_list') -%><br />
    <%= f.select(:order_list_id, @order_lists.collect{|l| [l.title, l.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.purchase_request') -%><br />
    <%- if @purchase_request -%>
      <%= link_to h(@purchase_request.title), @purchase_request -%>
      <%= f.hidden_field :purchase_request_id, :value => @purchase_request.id -%>
    <%- else -%>
      <%= f.text_field :purchase_request_id -%>
    <%- end -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), orders_path -%></li>
  </ul>
</div>
