<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.order')) -%></h1>
<div id="content_list">
  
<p>
  <strong><%= t('activerecord.models.order_list') -%>:</strong>
  <%= link_to h(@order.order_list.title), order_list_purchase_requests_path(@order.order_list) -%>
</p>

<p>
  <strong><%= t('activerecord.models.purchase_request') -%>:</strong>
  <%= link_to h(@order.purchase_request.title), purchase_request_path(@order.purchase_request) -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.purchase_request')), order_list_purchase_requests_path(@order.order_list) -%></li>
  </ul>
</div>
