<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.order')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.models.order_list') -%>:</strong>
  <%= link_to @order.order_list.title, purchase_requests_path(order_list_id: @order.order_list_id) -%>
</p>

<p>
  <strong><%= t('activerecord.models.purchase_request') -%>:</strong>
  <%= link_to @order.purchase_request.title, purchase_request_path(@order.purchase_request) -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back_to', model: t('activerecord.models.purchase_request')), purchase_requests_path(order_list_id: @order.order_list_id) -%></li>
  </ul>
</div>
