<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.listing', model: t('activerecord.models.manifestation_relationship')) -%></h1>
<div id="content_list" class="card-body">

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.attributes.manifestation_relationship.parent_id') -%>:</th>
    <th><%= t('activerecord.attributes.manifestation_relationship.child_id') -%>:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manifestation_relationships.each do |manifestation_relationship| %>
  <tr>
    <td><%= link_to manifestation_relationship.parent.original_title, manifestation_relationship.parent %></td>
    <td><%= link_to manifestation_relationship.child.original_title, manifestation_relationship.child %></td>
    <td><%= link_to t('page.show'), manifestation_relationship %></td>
    <td><%= link_to t('page.edit'), edit_manifestation_relationship_path(manifestation_relationship) %></td>
    <td><%= link_to t('page.destroy'), manifestation_relationship, data: {confirm: t('page.are_you_sure')}, method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate(@manifestation_relationships) %>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.new', model: t('activerecord.models.manifestation_relationship')), new_manifestation_relationship_path -%></li>
  </ul>
</div>
