<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.manifestation_relationship')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_relationship.parent') -%>:</strong>
  <%= link_to @manifestation_relationship.parent.original_title, @manifestation_relationship.parent %>
</p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_relationship.child') -%>:</strong>
  <%= link_to @manifestation_relationship.child.original_title, @manifestation_relationship.child %>
</p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_relationship.manifestation_relationship_type_id') -%>:</strong>
  <%= @manifestation_relationship.manifestation_relationship_type.display_name.localize -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_manifestation_relationship_path(@manifestation_relationship) %></li>
    <li><%= link_to t('page.back'), manifestation_relationships_path %></li>
  </ul>
</div>
