<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.editing', model: t('activerecord.models.import_request')) -%></h1>
  <div id="content_list" class="card-body">

  <%= form_for(@import_request) do |f| -%>
    <%= error_messages(@import_request) -%>
    <div class="field">
      <%= f.label :isbn -%><br />
      <%= f.text_field :isbn, class: 'resource_isbn_issn' -%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <%- end -%>

  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), @import_request -%></li>
    <li><%= link_to t('page.back'), import_requests_path -%></li>
  </ul>
</div>
