<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout_stat_has_user')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user_checkout_stat') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.checkout_stat_has_user.checkouts_count') -%></th>
  </tr>

<%- for checkout_stat_has_user in @checkout_stat_has_users -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(checkout_stat_has_user.user_checkout_stat.id), checkout_stat_has_user.user_checkout_stat -%></td>
    <td><%= link_to h(checkout_stat_has_user.user.username), user_path(checkout_stat_has_user.user.username) -%></td>
    <td><%= checkout_stat_has_user.checkouts_count -%></td>
    <td><%= link_to t('page.show'), checkout_stat_has_user -%></td>
    <td><%= link_to t('page.edit'), edit_checkout_stat_has_user_path(checkout_stat_has_user) -%></td>
    <td><%= link_to t('page.destroy'), checkout_stat_has_user, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@checkout_stat_has_users) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.checkout_stat_has_user')), new_checkout_stat_has_user_path -%></li>
  </ul>
</div>
