<div style="color: red"><%= flash[:message] -%></div>

<div class="search_form">
<%= form_for(:withdraw, url: withdraws_path(basket_id: @basket.id), remote: true) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= label_tag :item_identifier, t('activerecord.attributes.item.item_identifier') -%>:
    <%= f.search_field :item_identifier, class: 'resource_item_identifier', value: nil -%>
    <%= f.submit t('withdraw.withdraw'), 'data-disable-with' => t('page.saving') -%>
  </p>
<%- end -%>
</div>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.item') -%></th>
  </tr>
  <%- @withdraws.each_with_index do |withdraw, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= render 'manifestations/show_index', manifestation: withdraw.item.manifestation %>
        <%= link_to withdraw.item.item_identifier, withdraw.item -%> / <%= withdraw.item.call_number %>
        (<%= link_to withdraw.item.shelf.library.display_name.localize, withdraw.item.shelf.library %> /
        <%= link_to withdraw.item.shelf.display_name.localize, withdraw.item.shelf %>)<br />
        <%=l withdraw.created_at %>
      </td>
    </tr>
  <%- end -%>
</table>

<%= javascript_tag("$(function(){$('#withdraw_item_identifier').focus()})") %>
