<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.participate')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.event') -%></th>
  </tr>

<%- @participates.each do |participate| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to participate.patron.full_name, participate.patron %>
    <td><%= link_to participate.event.name, participate.event %>
    <td><%= link_to t('page.show'), participate %></td>
    <td><%= link_to t('page.edit'), edit_participate_path(participate) %></td>
    <td><%= link_to t('page.destroy'), participate, :confirm => t('page.are_you_sure'), :method => :delete %></td>
  </tr>
<%- end %>
</table>

<%= will_paginate(@participates) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.participate')), new_participate_path -%></li>
  </ul>
</div>
