<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.participate')) -%></h1>
<div id="content_list">

<%= form_for(@participate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('activerecord.models.patron') -%><br />
    <%= f.text_field :patron_id %>
  </p>
  <p>
    <%= f.label t('activerecord.models.event') -%><br />
    <%= f.text_field :event_id %>
  </p>
  <p>
    <%= f.submit t('page.create') %>
  </p>
<%- end %>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), participates_path %></li>
  </ul>
</div>
