<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.participate')) -%></h1>
<div id="content_list">
  
<p>
  <strong><%= t('activerecord.models.patron') -%>:</strong>
  <%= link_to h(@participate.patron.full_name), @participate.patron %>
</p>

<p>
  <strong><%= t('activerecord.models.event') -%>:</strong>
  <%= link_to h(@participate.event.name), @participate.event %>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_participate_path(@participate) %></li>
    <li><%= link_to t('page.back'), participates_path %></li>
  </ul>
</div>
