<%= form_for(@lending_policy) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :item_id, t('activerecord.models.item') -%><br />
    <% if @lending_policy.item %>
      <%= link_to @lending_policy.item.item_identifier, @lending_policy.item -%>
      (<%= link_to @lending_policy.item.manifestation.try(:original_title), @lending_policy.item.manifestation %>)
      <%= f.hidden_field :item_id -%>
    <% else %>
      <%= f.text_field :item_id -%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :user_group_id, t('activerecord.models.user_group') -%><br />
    <%= f.select :user_group_id, @user_groups.collect{|u| [u.display_name.localize, u.id]} -%>
  </div>
  <div class="field">
    <%= f.label :loan_period -%><br />
    <%= f.text_field :loan_period -%>
  </div>
  <div class="field">
    <%= f.label :fixed_due_date -%><br />
    <%= f.text_field :fixed_due_date, value: @lending_policy.fixed_due_date.try(:strftime, "%Y-%m-%d"), class: 'date_field', placeholder: "#{t('page.example')}: 2011-04-12"-%>
  </div>
  <div class="field">
    <%= f.label :renewal -%><br />
    <%= f.text_field :renewal -%>
  </div>
  <div class="field">
    <%= f.label :fine -%><br />
    <%= f.text_field :fine -%>
  </div>
  <div class="field">
    <%= f.label :note -%><br />
    <%= f.text_area :note -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
