<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.lending_policy')) -%></h1>
<div id="content_list">

<%= form_for(@lending_policy) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%- if @item -%>
      <%= f.label :item_id, t('activerecord.models.item') -%><br />
      <%= link_to h(@item.item_identifier), @item -%>
      (<%= link_to h(@item.manifestation.original_title), @item.manifestation -%>)
      <%= f.hidden_field :item_id -%>
    <%- else -%>
      <%= f.label :item_id, t('activerecord.models.item') -%><br />
      <%= f.text_field :item_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label :user_group_id, t('activerecord.models.user_group') -%><br />
    <%= f.select :user_group_id, @user_groups.collect{|u| [u.display_name.localize, u.id]} -%>
  </p>
  <p>
    <%= f.label :loan_period, t('activerecord.attributes.lending_policy.loan_period') -%><br />
    <%= f.text_field :loan_period -%>
  </p>
  <p>
    <%= f.label :fixed_due_date, t('activerecord.attributes.lending_policy.fixed_due_date') -%><br />
    <%= f.text_field :fixed_due_date -%>
  </p>
  <p>
    <%= f.label :renewal, t('activerecord.attributes.lending_policy.renewal') -%><br />
    <%= f.text_field :renewal -%>
  </p>
  <p>
    <%= f.label :fine, t('activerecord.attributes.lending_policy.fine') -%><br />
    <%= f.text_field :fine -%>
  </p>
  <p>
    <%= f.label :note, t('activerecord.attributes.lending_policy.note') -%><br />
    <%= f.text_area :note -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), lending_policies_path -%></li>
  </ul>
</div>
