<%= form_for(@agent_merge_list) do |f| -%>
  <%= error_messages(@agent_merge_list) -%>
  <div class="field">
    <%= f.label :title -%><br />
    <%= f.text_field :title -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
