<%= form_for(@realize) do |f| %>
  <% if @realize.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@realize.errors.count, "error") %> prohibited this realize from being saved:</h2>
    <ul>
    <% @realize.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :patron_id %><br />
    <%= f.text_field :patron_id %>
  </div>
  <div class="field">
    <%= f.label :expression_id %><br />
    <%= f.text_field :expression_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
