<%= form_for(@realize) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('activerecord.models.patron') -%><br />
    <%- if @realize.patron -%>
      <%= link_to @realize.patron.full_name, @realize.patron -%>
      <%= f.hidden_field :patron_id -%>
    <%- else -%>
      <%= f.text_field :patron_id -%>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.manifestation') -%><br />
    <%- if @realize.expression -%>
      <%= link_to @realize.expression.original_title, @realize.expression -%>
      <%= f.hidden_field :expression_id -%>
    <%- else -%>
      <%= f.text_field :expression_id -%>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.realize_type') -%><br />
    <%= f.select :realize_type_id, @realize_types.map{|r| [r.display_name.localize, r.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
