<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.realize')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@patron.full_name), @patron -%>
  </h2>
<table class="index">
  <tr>
    <th><%= t('activerecord.models.expression') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- for realize in @realizes -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(realize.expression.original_title), realize.expression -%></td>
    <td><%= l(realize.created_at) -%></td>
    <td><%= l(realize.updated_at) -%></td>
    <%- if can? :destroy, realize -%>
      <td><%= link_to t('page.destroy'), patron_realize_path(@patron, realize), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@realizes) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <%- if can? :create, Realize -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.realize')), new_patron_realize_path(@patron) -%></li>
    <%- end -%>
  </ul>
</div>
