<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.realize')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- for realize in @realizes -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(realize.patron.full_name), realize.patron -%></td>
    <td><%= link_to h(realize.expression.original_title), realize.expression -%></td>
    <%- if can? :destroy, realize -%>
      <td><%= link_to t('page.show'), realize -%></td>
      <td><%= link_to t('page.destroy'), realize, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@realizes) -%>
</div>
</div>

<div id="submenu">
  <%- if can? :create, Realize -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.realize')), new_realize_path -%></li>
    </ul>
  <%- end -%>
</div>
