<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.realize')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to expression.original_title, expression -%>
  </h2>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.agent') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- @realizes.each do |realize| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(realize).destroy? -%>
        <%= realize.first? ? image_tag('icons/stop.png', size: '16x16', class: 'enju_icon') : link_to(image_tag('icons/arrow_up.png', size: '16x16', class: 'enju_icon', alt: t('page.asc')), expression_realize_path(realize.expression, realize, move: 'higher'), method: :put) -%>
        <%= realize.last? ? image_tag('icons/stop.png', size: '16x16', class: 'enju_icon') : link_to(image_tag('icons/arrow_down.png', size: '16x16', class: 'enju_icon', alt: t('page.desc')), expression_realize_path(realize.expression, realize, move: 'lower'), method: :put) -%>
      <%- end -%>
    </td>
    <td><%= link_to realize.agent.try(:full_name), realize.agent -%></td>
    <td><%= l(realize.created_at) -%></td>
    <td><%= l(realize.updated_at) -%></td>
  </tr>
<%- end -%>
</table>

<%= paginate(@realizes) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.listing', model: t('activerecord.models.agent')), agents_path(expression_id: expression.id) -%></li>
    <%- if policy(Realize).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.realize')), new_realize_path(expression_id: expression.id) -%></li>
    <%- end -%>
  </ul>
</div>
