<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.realize')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@expression.original_title), @expression -%>
  </h2>

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- @realizes.each do |realize| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, realize -%>
        <%= realize.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position => (realize.position > 1 ? realize.position - 1 : 1), :id => realize.id, :expression_id => @expression.id}, :method => :put) -%>
        <%= realize.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (realize.position + 1), :id => realize.id, :expression_id => @expression.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to h(realize.expression.original_title), realize.expression -%>
      <%= content_type_icon(@expression.content_type) -%>
      <br />
      <%= raw patrons_list(@expression.patrons, current_user) -%>
    </td>
    <%- if can? :destroy, realize -%>
      <td><%= link_to t('page.destroy'), expression_realize_path(@expression, realize), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@realizes) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), expression_patrons_path(@expression) -%></li>
    <%- if can? :create, Realize -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.realize')), new_expression_realize_path(@expression) -%></li>
    <%- end -%>
  </ul>
</div>
