<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.realize')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to expression.original_title, expression -%>
  </h2>

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- @realizes.each do |realize| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, realize -%>
        <%= realize.first? ? image_tag('icons/stop.png', :size => '16x16') : link_to(image_tag('icons/arrow_up.png', :size => '16x16', :alt => t('page.asc')), expression_realize_path(realize.expression, realize, :move => 'higher'), :method => :put) -%>
        <%= realize.last? ? image_tag('icons/stop.png', :size => '16x16') : link_to(image_tag('icons/arrow_down.png', :size => '16x16', :alt => t('page.desc')), expression_realize_path(realize.expression, realize, :move => 'lower'), :method => :put) -%>
      <%- end -%>
    </td>
    <td><%= link_to realize.patron.try(:full_name), realize.patron -%></td>
    <td><%= l(realize.created_at) -%></td>
    <td><%= l(realize.updated_at) -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@realizes) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), expression_patrons_path(expression) -%></li>
    <%- if can? :create, Realize -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.realize')), new_expression_realize_path(expression) -%></li>
    <%- end -%>
  </ul>
</div>
