<ul>
  <li>
    <%= link_to t('page.edit'), edit_manifestation_path(@manifestation) -%>
  </li>
  <li>
    <%= link_to t('manifestation.edit_item'), items_path(manifestation_id: @manifestation.id) -%>
    (<%= link_to t('manifestation.new_item'), new_item_path(manifestation_id: @manifestation.id) %>)
  </li>
  <li><%= link_to t('manifestation.add_derivation'), manifestations_path(parent_id: @manifestation.id, mode: 'add') -%></li>
  <% if policy(@manifestation).destroy? %>
    <li><%= link_to t('page.destroy'), @manifestation, data: {confirm: t('page.are_you_sure')}, method: :delete -%></li>
  <% end %>
</ul>
