<%= form_for :manifestations, :url => manifestation_manifestations_path(@manifestation), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%= hidden_field_tag 'reservable', h(@reservable) if @reservable -%>
    <% if can? :create, ManifestationRelationship %>
      <%= render 'page/add' %>
    <% end %>
    <%= submit_tag t('page.search') -%>
    <% if !@query.empty? %><input type="button" value="<%= t('page.search_clear') -%>" onclick="$('#search_form_top').val('')"><% end %>
    <br />
    <% if SystemConfiguration.get('manifestation.manage_item_rank') %>
      <% if user_signed_in? and current_user.has_role?('Librarian') %>
        <%- if @all_manifestations %>
          <%= check_box_tag 'all_manifestations', true, true %>
        <%- else -%>
          <%= check_box_tag 'all_manifestations', true %>
        <%- end -%>
        <%= t('advanced_search.all_manifestations') %><br />
      <% end %>
    <% end %>
    <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
    <%= hidden_field_tag 'carrier_type', params[:carrier_type] if params[:carrier_type] -%>
    <%= hidden_field_tag 'language', params[:language] if params[:language] -%>
    <%= hidden_field_tag 'library', params[:library] if params[:library] -%>
    <%= hidden_field_tag 'reservable', params[:reservable] if params[:reservable] -%>
    <%= hidden_field_tag 'sort_by', params[:sort_by] if params[:sort_by] -%>
    <%- if SystemConfiguration.get("manifestations.users_show_output_button") or (user_signed_in? and current_user.has_role?('Librarian')) -%>
      <%= submit_tag t('page.output_pdf', :model => t('page.search_result')), :name => 'output_pdf' -%>
      <%= submit_tag t('page.output_tsv', :model => t('page.search_result')), :name => 'output_tsv'-%>
    <%- end -%>
  </p>
<%- end -%>
