<h2 class="resource_title">
  [S]
  <%= link_to @series_statement.original_title, @series_statement, :itemprop => 'name' -%>
</h2>

<%= render 'paginate_id_link', :manifestation => @series_statement.root_manifestation %>
<div class="search_form">
  <%= form_for :manifestations, :url => series_statement_manifestations_path(@series_statement), :html => {:method => 'get', :class => 'well form-search'} do -%>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search-query', :placeholder => t('page.search_term')} -%>
    <%= hidden_field_tag 'reservable', h(@reservable) if @reservable -%>
    <% if can? :update, Manifestation %>
      <%= render 'page/add' %>
    <% end %>
    <%= submit_tag t('page.search'), :class => 'btn' -%>
    <br />
    <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
  <%- end -%>
</div>
