<h2 class="resource_title">
  [S]
  <%= link_to @series_statement.original_title, @series_statement, :itemprop => 'name' -%>
  <% if @series_statement.periodical %>
    <p>
    <%- unless @series_statement.root_manifestation.creators.readable_by(current_user).empty? -%>
      <%= t('patron.creator') -%>: <%= patrons_list(@series_statement.root_manifestation.creators.readable_by(current_user), :itemprop => 'author') -%>
    <%- end -%>
    <%- unless @series_statement.root_manifestation.contributors.readable_by(current_user).empty? -%>
      <%= t('patron.contributor') -%>: <%= patrons_list(@series_statement.root_manifestation.contributors.readable_by(current_user), :itemprop => 'editor') -%>
    <%- end -%>
    <%- unless @series_statement.root_manifestation.publishers.readable_by(current_user).empty? -%>
      <%= t('patron.publisher') -%>: <%= patrons_list(@series_statement.root_manifestation.publishers.readable_by(current_user), :itemprop => 'publisher') -%>
    <% end %>
    <%- if @series_statement.root_manifestation.pub_date.present? -%>
      <meta itemprop="publishDate" content="<%= @series_statement.root_manifestation.try(:date_of_publication).try(:iso8601) %>" />
      (<%= t('activerecord.attributes.manifestation.pub_date') %>: <%= @series_statement.root_manifestation.pub_date -%>)
    <%- end -%>
    <%- if SystemConfiguration.get('internal_server') -%>
      <%- unless @series_statement.root_manifestation.access_address.blank? -%>
        <br />
        <%= link_to @series_statement.root_manifestation.access_address, @series_statement.root_manifestation.access_address -%>
        <%= link_to image_tag('icons/world_go.png', :size => '16x16', :alt => ('Web'), :title => t('tooltip.web')), @series_statement.root_manifestation.access_address -%>
      <%- end -%>
    <%- end -%>
    </p>
  <% end %>
</h2>

<%= form_for :manifestations, :url => series_statement_manifestations_path(@series_statement), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%= hidden_field_tag 'reservable', h(@reservable) if @reservable -%>
    <%= hidden_advanced_search_field_tags -%>
    <% if can? :update, Manifestation %>
      <%= render 'page/add' %>
    <% end %>
    <%= submit_tag t('page.search') -%>
    <% if @query.present? %><input type="button" value="<%= t('page.search_clear') -%>" onclick="$('#search_form_top').val('')"><% end %>
    <br />
    <% if SystemConfiguration.get('manifestation.manage_item_rank') %>
      <% if user_signed_in? and current_user.has_role?('Librarian') %>
        <%- if @all_manifestations %>
          <%= check_box_tag 'all_manifestations', true, true %>
        <%- else -%>
          <%= check_box_tag 'all_manifestations', true %>
        <%- end -%>
        <%= t('advanced_search.all_manifestations') %><br />
      <% end %>
    <% end %>
    <%= link_to_advanced_search -%> <%= link_to_normal_search -%>
    <br />
    <%= hidden_field_tag 'carrier_type', params[:carrier_type] if params[:carrier_type] -%>
    <%= hidden_field_tag 'language', params[:language] if params[:language] -%>
    <%= hidden_field_tag 'library', params[:library] if params[:library] -%>
    <%= hidden_field_tag 'reservable', params[:reservable] if params[:reservable] -%>
    <%= hidden_field_tag 'sort_by', params[:sort_by] if params[:sort_by] -%>
    <%- if SystemConfiguration.get("manifestations.users_show_output_button") or (user_signed_in? and current_user.has_role?('Librarian')) -%>
      <%= submit_tag t('page.output_pdf', :model => t('page.search_result')), :name => 'output_pdf' -%>
      <%= submit_tag t('page.output_tsv', :model => t('page.search_result')), :name => 'output_tsv'-%>
    <%- end -%>
  </p>
<%- end -%>
