<table class="table table-striped index" id="manifestation_list">
  <%= render manifestations %>
</table>

<%= paginate(manifestations) -%>
<br />

<div>
  <%- if manifestations and manifestations.size > @manifestations.limit_value.div(2) -%>
    <%= form_for :manifestations, html: {method: 'get'} do -%>
      <p>
        <%= label_tag :search_form_bottom, t('page.search_term') -%>:
        <%= search_field_tag 'query', h(@query), {id: 'search_form_bottom', class: 'search_form', placeholder: t('page.search_term')} -%>
        <%= hidden_field_tag 'reservable', h(@reservable) if @reservable -%>
        <%= submit_tag t('page.search') -%>
        <br />
        <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
      </p>
    <%- end -%>
  <%- end -%>
</div>
