<table class="index" id="manifestation_list">
  <%- if @binder -%>
    <%= render 'binding_items' %>
  <%- else %>
    <%= render manifestations %>
  <%- end %>
</table>

<%- if manifestations == @manifestations_article -%>
  <%= paginate(manifestations, :param_name => :page_article) -%>
<%- else -%>
  <%= paginate(manifestations) -%>
<%- end -%>
<br />

<div>
  <%- if manifestations and manifestations.size > @manifestations.limit_value.div(2) -%>
    <%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_bottom', :class => 'search_form', :placeholder => t('page.search_term')} -%>
        <%= submit_tag t('page.search') -%>
        <% if SystemConfiguration.get('manifestation.manage_item_rank') %>
          <% if user_signed_in? and current_user.has_role?('Librarian') %>
            <%= check_box_tag 'all_manifestations', true %><%= t('advanced_search.all_manifestations') %><br />
          <% end %>
        <% end %>
        <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
      </p>
    <%- end -%>
  <%- end -%>
</div>
