<h4><%= t('activerecord.models.manifestation_type') -%></h4>
<ul>
<%- @manifestation_type_facet.each do |facet| -%>
<%- if facet.value == 0 -%>
    <li><%= manifestation_type_facet(facet) %></li>
<%- end -%>
<%- end -%>
<%- @manifestation_type_facet.each do |facet| -%>
<%- if facet.value == 1 -%>
    <li><%= manifestation_type_facet(facet) %></li>
<%- end -%>
<%- end -%>
<%- @manifestation_type_facet.each do |facet| -%>
    <li><%= manifestation_type_facet(facet) %></li>
<%- end -%>

  <%- if params[:manifestation_type] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(params.merge(:manifestation_type => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
