          <tr class="line<%= cycle("0", "1") -%>">
            <td style="width: 30px"><%= itemnum = @manifestations.offset + 1 + manifestation_counter -%></td>
            <td style="480px">
              <%= render 'manifestations/show_index', :manifestation => manifestation -%>
              <div class="access_address">
                <%= link_to manifestation.access_address, manifestation.access_address if manifestation.access_address.present? -%>
              </div>
              <% cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'show_list', :role => current_user_role_name, :locale => @locale, :manifestation_id => nil) do %>
                <%- unless manifestation.items.on_shelf.empty? -%>
                  (<%= link_to_function t('page.holding'), "$('#holding_#{manifestation.id}').toggle()" -%>)
                <%- end -%>
                <% if defined?(EnjuBookmark) %>
                  <%- if manifestation.tags.first -%>
                    (<%= link_to_function t('activerecord.models.tag'), "$('#tag_#{manifestation.id}').toggle()" -%>)
                  <%- end -%>
                  <%= render 'manifestations/show_tag', :manifestation => manifestation -%>
                <% end %>
                <%= render 'manifestations/holding', :manifestation => manifestation -%>
                <%# グループ表示の部分テンプレート %>
                <%= render 'manifestations/show_group', :manifestation => manifestation -%>
              <% end %>
            </td>
            <% if defined?(EnjuCirculation) %>
              <% if signed_in? %>
                <td id="edit_icons">
                  <% unless params[:mode] == 'add' %>
                    <% if manifestation.is_reservable_by?(current_user) %>
                      <%- reserve = manifestation.is_reserved_by?(current_user) -%>
                      <%- if reserve -%>
                        <%= link_to t('reserve.show'), reserve -%>
                      <%- else -%>
                        <%= link_to t('activerecord.models.reserve'), new_reserve_path(:manifestation_id => manifestation.id) if can? :create, Reserve -%>
                      <%- end -%>
                    <% end %>
                    <br />
                  <% end %>
                  <%- if can? :update, manifestation -%>
                    <% unless params[:mode] == 'add' %>
                      <%= link_to image_tag('icons/book_edit.png', :size => '16x16', :alt => t('page.edit')), edit_manifestation_path(manifestation) -%>
                      <% if @series_statement %>
                        <% if manifestation.series_statement == @series_statement %>
                          <%= link_to t('page.destroy'), series_statement_series_has_manifestation_path(manifestation.series_statement, manifestation.series_has_manifestation), :confirm => t('page.are_you_sure'), :method => :delete -%>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% case %>
                      <% when @index_patron[:creator] %>
                        <%= link_to t('page.add'), new_patron_create_path(@index_patron[:creator], :work_id => manifestation.id) unless manifestation.creators.include?(@index_patron[:creator]) -%>
                      <% when @index_patron[:contributor] %>
                        <%= link_to t('page.add'), new_patron_realize_path(@index_patron[:contributor], :expression_id => manifestation.id) unless manifestation.contributors.include?(@index_patron[:contributor]) -%>
                      <% when @index_patron[:publisher] %>
                        <%= link_to t('page.add'), new_patron_produce_path(@index_patron[:publisher], :manifestation_id => manifestation.id) unless manifestation.publishers.include?(@index_patron[:publisher]) -%>
                      <% when @series_statement %>
                        <% unless manifestation.series_statement -%>
                          <%= link_to t('page.add'), new_series_has_manifestation_path(:series_statement_id => @series_statement.id, :manifestation_id => manifestation.id) -%>
                        <% end %>
                      <% when @manifestation %>
                        <%= link_to t('page.add'), new_manifestation_manifestation_relationship_path(@manifestation, :child_id => manifestation.id) unless @manifestation.derived_manifestations.include?(manifestation) or @manifestation == manifestation -%>
                      <% when @item %>
                        <%= link_to t('page.change'), edit_exemplify_path(@item.exemplify, :manifestation_id => manifestation.id) unless @item.manifestation == manifestation -%>
                      <% else %>
                        <%= link_to image_tag('icons/arrow_divide.png', :size => '16x16', :alt => t('manifestation.add_derivation')), manifestation_manifestations_path(manifestation, :mode => 'add') -%>
                      <% end %>
                    <%- end -%>
                  <%- end -%>
                </td>
              <%- end -%>
            <% end %>
          </tr>
