<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.resource')) -%></h1>
<div id="content_list">

<%= form_for(manifestation) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%- if manifestation.series_statement -%>
      <%= f.label t('activerecord.models.series_statement') -%>
      <%= link_to manifestation.series_statement.original_title, manifestation.series_statement -%>
      (<%= link_to t('series_statement.edit'), series_statements_path -%>)
      <%= f.hidden_field :series_statement_id -%>
    <%- else -%>
      <%= f.label t('activerecord.models.series_statement') -%>
      (<%= link_to t('page.listing', :model => t('activerecord.models.series_statement')), series_statements_path -%>)
    <%- end -%>
  </p>

  <p>
    <%= f.label t('page.title') -%><br />
    <%= f.text_field :original_title, :class => 'resource_title' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.manifestation.title_transcription') -%><br />
    <%= f.text_field :title_transcription, :class => 'resource_title' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.manifestation.title_alternative') -%><br />
    <%= f.text_field :title_alternative, :class => 'resource_title' -%>
  </p>
  
  <p>
    <%= f.label t('activerecord.models.carrier_type') -%>
    <%= f.select(:carrier_type_id, @carrier_types.collect{|m| [m.display_name.localize, m.id]}) -%>
    <!-- TODO: Formの切り替え時に入力項目をAjaxで書き換える -->
  </p>

  <p>
    <%= f.label t('activerecord.models.frequency') -%>
    <%= f.select(:frequency_id, @frequencies.collect{|frequency| [frequency.display_name.localize, frequency.id]}) -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.manifestation.date_of_publication') -%>
    <%= f.text_field :date_of_publication, :class => 'date_field' -%>
  </p>

  <%- if manifestation.series_statement -%>
    <%= render :partial => 'manifestations/serial_form', :locals => {:f => f} -%>
  <%- else -%>
    <p>
      <%= f.label t('activerecord.attributes.manifestation.edition') -%>
      <%= f.text_field :edition, :class => 'resource_integer' -%>
      <%= f.label t('activerecord.attributes.manifestation.volume_number_list') -%>
      <%= f.text_field :volume_number_list, :class => 'resource_integer' -%>
    </p>

    <p>
      <%= f.label t('activerecord.attributes.manifestation.isbn') -%>
      <%= f.text_field :isbn, :class => 'resource_isbn_issn', :style => 'ime-mode: disabled' -%>
      <%= link_to_function t('activerecord.attributes.manifestation.wrong_isbn'), "$('#resource_wrong_isbn').toggle()" -%>
      <%= f.text_field :wrong_isbn, :class => 'resource_isbn_issn', :style => 'ime-mode: disabled; display: none' -%>
    </p>
    <p>
      <%= f.label t('activerecord.attributes.manifestation.lccn') -%>
      <%= f.text_field :lccn, :class => 'resource_isbn_issn', :style => 'ime-mode: disabled' -%>
    </p>
  <%- end -%>

  <p>
    <%= f.label t('activerecord.attributes.manifestation.start_page') -%>
    <%= f.text_field :start_page, :class => 'resource_integer' -%>
    <%= f.label t('activerecord.attributes.manifestation.end_page') -%>
    <%= f.text_field :end_page, :class => 'resource_integer' -%>
  </p>

  <p>
  <%= f.label t('activerecord.attributes.manifestation.height') -%>(cm)
    <%= f.text_field :height, :class => 'resource_integer' -%>
  <%= f.label t('activerecord.attributes.manifestation.width') -%>(cm)
    <%= f.text_field :width, :class => 'resource_integer' -%>
  <%= f.label t('activerecord.attributes.manifestation.depth') -%>(cm)
    <%= f.text_field :depth, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.manifestation.price') -%>
    <%= f.text_field :price, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.manifestation.access_address') -%><br />
    <%= f.url_field :access_address, :class => 'resource_url' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.manifestation.repository_content') -%>
    <%= f.check_box :repository_content -%>
  </p>
  
  <p>
    <%= f.label t('role.required_role') -%>
    <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.manifestation.description') -%><br />
    <%= f.text_area :description, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.manifestation.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= hidden_field_tag :patron_id, @patron.id if @patron -%>
    <%= hidden_field_tag :manifestation_id, @original_manifestation.id if @original_manifestation -%>
    <%= f.submit -%>
  </p>
  <%= javascript_tag("$('#resource_original_title').focus()") -%>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @patron -%>
      <li><%= link_to t('page.back'), publisher_manifestations_path(@patron) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), manifestations_path -%></li>
    <%- end -%>
  </ul>
</div>
