<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.resource')) -%></h1>
<div id="content_list">

<%= form_for(manifestation, :html => { :multipart => true, :method => :post }) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :attachment -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.manifestation.original_title') -%><br />
    <%= f.text_field :original_title -%>
  </p>

  <%- if manifestation.respond_to?(:post_to_twitter) -%>
    <%= render :partial => 'manifestations/post_to_twitter', :locals => {:f => f} -%>
  <%- end -%>
  <%- if manifestation.respond_to?(:post_to_scribd) -%>
    <p>
      <%= t('scribd.post_to_scribd') -%>
      <%= f.check_box :post_to_scribd -%>
    </p>
  <%- end -%>

  <p>
    <%= f.submit %>
  </p>

<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), manifestations_path -%></li>
  </ul>
</div>
