<% if flash[:search_query] %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      if(typeof sessionStorage === "undefined"){
        return;
      }else{
        const ids = JSON.parse(sessionStorage.getItem("ids_<%= flash[:search_query] %>"));
        const query = sessionStorage.getItem("query_<%= flash[:search_query] %>");
        const index = $.inArray(<%= manifestation.id %>, ids);
        if(ids[index - 1] > 0){
          document.getElementById("prev_link").html('<a href="<%= manifestations_path %>/' + ids[index - 1] + '"><%= t('page.previous') %></a>');
        };
        if(ids[index + 1] > 0){
          document.getElementById("next_link").html('<a href="<%= manifestations_path %>/' + ids[index + 1] + '"><%= t('page.next') %></a>');
        };
        document.getElementById("back_link").html('<a href="<%= manifestations_path %>?' + query + '"><%= t('page.back_to_index') %></a>');
      };
    });
  </script>
<% end %>
