<%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
  <div>
    <%= paginate_id_link(manifestation, manifestation_ids) if manifestation_ids -%>
    <%= back_to_manifestation_index -%>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', session[:query], {:id => 'search_form_top', :class => 'search_form_short', :placeholder => t('page.search_term')} -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
  </div>
<%- end -%>
