<%- if @search_engines -%>
<%- @search_engines.each do |search_engine| -%>
  <p>
    <%= form_tag search_engine.base_url, :method => search_engine.http_method do -%>
      <%= link_to search_engine.name, search_engine.url -%>
      <%= submit_tag t('page.search') -%>
      <br />
      <%= search_engine.note -%>
      <%= hidden_field_tag search_engine.query_param, h(@query) -%>
      <%- if search_engine.search_params(@query) -%>
        <%- search_engine.search_params(@query).each{|k, v| -%>
          <%= hidden_field_tag k, h(v) -%>
        <%- } -%>
      <%- end -%>
    <%- end -%>
  </p>
<%- end -%>
<%- end -%>
