<div class="nested-fields">
  <%= f.label :original_title %>
  <%= f.text_field :original_title, class: 'resource_title' %>
  <%= link_to_remove_association t('page.remove'), f, data: {confirm: t('page.are_you_sure')} %><br />
  <%= f.label :title_transcription %>
  <%= f.text_field :title_transcription, class: 'resource_title' %><br />
  <%= f.label :volume_number_string %>
  <%= f.text_field :volume_number_string %><br />
  <%= f.label :creator_string %>
  <%= f.text_field :creator_string, class: 'resource_name' %><br />
  <%= f.label :series_master %>
  <%= f.check_box :series_master %>
</div>
