<div class="field">
  <%= f.label :volume_number_string -%>
  <%= f.text_field :volume_number_string, :class => 'resource_integer' -%>
  <%= f.label :issue_number_string -%>
  <%= f.text_field :issue_number_string, :class => 'resource_integer' -%>
  <%= f.label :serial_number_string -%>
  <%= f.text_field :serial_number_string, :class => 'resource_integer', :style => 'ime-mode: disabled' -%>
</div>
