<div class="field">
  <%= f.label :volume_number_string -%>
  <%= f.text_field :volume_number_string -%>
  <%= f.label :volume_number -%>
  <%= f.text_field :volume_number, :class => 'resource_integer' -%>
  <br />
  <%= f.label :issue_number_string -%>
  <%= f.text_field :issue_number_string -%>
  <%= f.label :issue_number -%>
  <%= f.text_field :issue_number, :class => 'resource_integer' -%>
  <br />
  <%= f.label :serial_number -%>
  <%= f.text_field :serial_number, :class => 'resource_integer', :style => 'ime-mode: disabled' -%>
</div>
