<% cache([manifestation, fragment: 'show_holding_html', role: current_user_role_name, locale: @locale]) do %>
<div class="holding">
<table class="table table-striped holding">
  <tr>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <% if defined?(EnjuCirculation) %>
      <th><%= t('activerecord.models.circulation_status') -%></th>
    <% end %>
  </tr>
  <%- items.each do |item| -%>
    <tr>
      <td>
        <%- if item.item_identifier? -%>
          <%= link_to(item.item_identifier, item, id: "item_identifier_item_#{item.id}") -%>
        <%- else -%>
          (<%= link_to t('item.no_number'), item -%>)
        <%- end -%>
      </td>
      <td>
        <%= link_to(item.shelf.library.display_name.localize, item.shelf.library, id: "library_item_#{item.id}") %>
      </td>
      <td>
        <%= link_to(item.shelf_display_name.localize, item.shelf, id: "shelf_item_#{item.id}")-%>
        <%= render 'items/shelf_picture', item: item -%>
      </td>
      <td>
        <%= item.call_number -%>
      </td>
      <% if defined?(EnjuCirculation) %>
        <%= render 'manifestations/circulation_status', item: item %>
      <% end %>
    </tr>
    <% if policy(item).update? %>
      <script>
        $(function(){
          $('a#item_identifier_item_<%= item.id %>').data(
            'powertip',
            'item_identifier: <%= item.item_identifier %>'
          );
          $('a#item_identifier_item_<%= item.id %>').powerTip({
            placement: 'e',
            mouseOnToPopup: true
          });
        });
      </script>
      <%= render 'items/tooltip', item: item %>
    <% end %>
  <%- end -%>
</table>
</div>
<% end %>
