<% cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'show_index', :role => current_user_role_name, :locale => @locale, :manifestation_id => nil) do %>
  <strong>
    <%- if [1, 2].include?(manifestation.missing_issue) %><%= t('manifestation.missing') %><%- end %>
    <% if manifestation.periodical_master and params[:all_manifestations] %>
      <%= link_to manifestation.original_title, manifestation_path(manifestation, :all_manifestations => true)%>
    <% else %>
      <%= link_to manifestation.original_title, manifestation_path(manifestation) -%>
    <% end %>
  </strong>
  <% if manifestation.try(:series_statement).try(:periodical) %>
    <%- if manifestation.pub_date.present? -%><%= t('manifestation.format_year', :year => manifestation.pub_date) -%><%- end -%>
    <%- unless manifestation.volume_number_string.blank? %><%= t('manifestation.format_volume', :volume => manifestation.volume_number_string) %><%- end -%>
    <%- unless manifestation.issue_number_string.blank? %><%= t('manifestation.format_issue', :issue => manifestation.issue_number_string) %><%- end -%>
  <% end %>
  <% if manifestation.periodical_master? %>
    <%- if manifestation.series_statement.try(:first_issue) and manifestation.series_statement.try(:latest_issue) -%>
      <%= manifestation.series_statement.first_issue.date_of_publication.try(:year) -%>
      -
      <%= manifestation.series_statement.latest_issue.date_of_publication.try(:year) -%>
    <%- end -%>
  <%- end -%>
  <%= link_to form_icon(manifestation.carrier_type), manifestation_path(manifestation) -%>
  <%= image_tag('icons/newspaper.png', :size => '16x16', :alt => t('manifestation.serial'), :title => t('tooltip.serial')) if manifestation.serial? -%>
  <%= link_to image_tag('icons/world_go.png', :size => '16x16', :alt => t('manifestation.web'), :title => t('tooltip.web')), manifestation.access_address unless manifestation.access_address.blank? -%>
  <br />
  <div id="creator_list_<%= manifestation.id -%>">
    <%= render 'manifestations/show_creators', :manifestation => manifestation -%>
  </div>
<% end %>
