  <%- if params[:mode] == 'show_all_creators' -%>
    <%= patrons_list(manifestation.creators.readable_by(current_user)) %>
    <%- if manifestation.creators.readable_by(current_user).size > 5 -%>
      (<a href="#" onclick="$.ajax({data:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>'), success:function(request){$('#creator_list_<%= manifestation.id %>').html(request);}, type:'get', url:'<%= manifestation_path(manifestation, :index_num => manifestation.id, :mode => 'show_creators') %>'}); return false;"><%= t('page.hide') %></a>)
    <%- end -%>
  <%- else -%>
    <%= patrons_list(manifestation.creators.readable_by(current_user)[0..2]) %>
    <%- if manifestation.creators.readable_by(current_user).size > 5 -%>
      (<a href="#" onclick="$.ajax({data:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>'), success:function(request){$('#creator_list_<%= manifestation.id %>').html(request);}, type:'get', url:'<%= manifestation_path(manifestation, :index_num => manifestation.id, :mode => 'show_all_creators') %>'}); return false;"><%= t('page.show_all') %></a>)
    <%- end -%>
  <%- end -%>

  <%= patrons_list(manifestation.contributors.readable_by(current_user)) %>
  <%= patrons_list(manifestation.publishers.readable_by(current_user)) %>
  <%- if manifestation.pub_date.present? -%>
    (<%= manifestation.pub_date -%>)
  <%- end -%>
