  <div id="tabs">
    <%= render 'manifestations/tab_menu', :manifestation => manifestation %>
    <div id="detail">
      <%- if manifestation.isbn -%>
        <%= google_book_search_preview(manifestation.isbn) -%>
      <%- end -%>
    <% cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'detail', :role => current_user_role_name, :locale => @locale, :manifestation_id => nil) do %>
      <table id="resource_detail">
        <%= embed_content(manifestation) -%>
        <% if manifestation.title_alternative? %>
          <tr>
            <td style="width: 200px"><%= t('activerecord.attributes.manifestation.title_alternative') -%>:</td>
            <td style="width: 490px"><%= manifestation.title_alternative -%></td>
          </tr>
        <% end %>
        <%- if manifestation.series_statement -%>
          <tr>
            <td style="width: 200px"><%= t('activerecord.models.series_statement') -%>:</td>
            <td style="width: 490px"><%= link_to manifestation.series_statement.original_title, manifestation.series_statement -%>
            <%- if manifestation.issn.present? -%>
              (<%= t('activerecord.attributes.manifestation.issn') -%>: <%= manifestation.issn -%>)
            <%- end -%>
            </td>
          </tr>
        <% end %>
        <%= render 'edition_and_number', :manifestation => manifestation %>
        <tr>
          <td style="width: 200px"><%= t('page.form') -%>:</td>
          <td style="width: 500px">
            <%= form_icon(manifestation.carrier_type) -%> <%= manifestation.carrier_type.display_name.localize -%>
          </td>
        </tr>
        <tr>
          <td><%= t('activerecord.models.language') -%>:</td>
          <td><span itemprop="inLanguage"><%= manifestation.language.display_name.localize -%></span></td>
        </tr>
        <tr>
          <td><%= t('manifestation.physical_description') -%>:</td>
          <td>
            <%- if manifestation.number_of_pages -%>
              <span itemprop="numPages"><%= manifestation.number_of_pages -%></span> p.
              (<%= manifestation.start_page -%> - <%= manifestation.end_page -%>)
            <%- end -%>
            <!-- TODO: センチメートル以外の単位 -->
            <%- if manifestation.height -%>
              <%= manifestation.height -%> cm.
            <%- end -%>
          </td>
        </tr>
        <% if defined?(EnjuSubject) %>
          <%- unless manifestation.subjects.empty? -%>
            <tr>
              <td><%= t('activerecord.models.subject') -%>:</td>
              <td>
                <%- manifestation.subjects.each do |subject| -%>
                  <%= link_to subject.term, subject -%>
                <%- end -%>
              </td>
            </tr>
          <%- end -%>
        <% end %>
        <% if defined?(EnjuBookmark) %>
          <tr>
            <td><%= t('activerecord.models.tag') -%>:</td>
            <td>
              <%= render 'manifestations/tag_list', :manifestation => manifestation -%>
            </td>
          </tr>
        <% end %>
        <% if manifestation.price.present? %>
          <tr>
            <td><%= t('activerecord.attributes.manifestation.price') -%></td>
            <td><%= manifestation.price -%></td>
          </tr>
        <% end %>
        <%- unless manifestation.periodical? -%>
          <tr>
            <td><%= t('page.identifier') -%>:</td>
            <td>
              <%- if manifestation.isbn.present? -%>
                ISBN: <span itemprop="isbn"><%= manifestation.isbn -%></span>
                <%- if manifestation.isbn10.present? -%>
                  ( <%= manifestation.isbn10 -%> )
                <%- end -%>
              <%- end -%>
              <%- if manifestation.nbn.present? -%>
                NBN: <%= manifestation.nbn -%>
              <%- end -%>
              <%- if manifestation.lccn.present? -%>
                <br />
                LCCN: <%= manifestation.lccn -%>
              <%- end -%>
            </td>
          </tr>
        <%- end -%>
        <%- unless manifestation.attachment_file_name.blank? -%>
          <%= render 'manifestations/attachment_file', :manifestation => manifestation -%>
        <%- end -%>
        <tr>
          <td><%= t('manifestation.date_of_acquisition') -%>:</td>
          <td><%=l manifestation.created_at if manifestation.created_at -%></td>
        </tr>
        <tr>
          <td><%= t('page.updated_at') -%>:</td>
          <td><%=l manifestation.updated_at if manifestation.updated_at -%></td>
        </tr>
        <% if manifestation.description.present? %>
          <tr>
            <td><%= t('activerecord.attributes.manifestation.description') -%>:</td>
            <td>
              <%= raw simple_format(h(manifestation.description)) -%>
            </td>
          </tr>
        <% end %>
        <% if manifestation.note.present? %>
          <tr>
            <td><%= t('activerecord.attributes.manifestation.note') -%>:</td>
            <td>
              <%= raw simple_format(h(manifestation.note)) -%>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
      <%- if manifestation.items.on_shelf.exists? -%>
        <%= render 'manifestations/show_holding', :manifestation => manifestation -%>
      <%- end -%>
    </div>
    <%= render 'manifestations/tab_list', :manifestation => manifestation %>
  </div>
