  <%= render 'page/tabview' -%>
  <div id="tabs">
    <% cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'detail', :role => current_user_role_name, :locale => @locale) do %>
    <%= render :partial => 'manifestations/tab_menu', :locals => {:manifestation => manifestation} %>
    <div id="detail">
      <%- if manifestation.isbn -%>
        <%= google_book_search_preview(manifestation.isbn) -%>
      <%- end -%>
      <table id="resource_detail">
        <%= embed_content(manifestation) -%>
        <%- if manifestation.serial? -%>
          <tr>
            <td style="width: 200px"><%= t('manifestation.serial') -%>:</td>
            <td style="width: 490px"><%= link_to h(manifestation.series_statement.original_title), manifestation.series_statement -%>
            <%- if manifestation.issn.present? -%>
              (<%= t('activerecord.attributes.manifestation.issn') -%>: <%= manifestation.issn -%>)
            <%- end -%>
            </td>
          </tr>
          <tr>
            <td><%= t('page.number') -%>:</td>
            <td>
              <%- unless manifestation.volume_number.blank? -%>
                <%= t('activerecord.attributes.manifestation.volume_number_list') -%>: <%= manifestation.volume_number.join("/") -%>
              <%- end -%>
              <%- unless manifestation.issue_number_list.blank? -%>
                <%= t('resource.issue_number') -%>: <%= manifestation.issue_number.join("/") -%>
              <%- end -%>
              <%- unless manifestation.serial_number_list.blank? -%>
                <%= t('resource.serial_number') -%>: <%= manifestation.serial_number.join("/") -%>
              <%- end -%>
            </td>
          </tr>
        <%- end -%>
        <tr>
          <td style="width: 200px"><%= t('page.form') -%>:</td>
          <td style="width: 500px">
            <%= form_icon(manifestation.carrier_type) -%> <%= manifestation.carrier_type.display_name.localize -%>
          </td>
        </tr>
        <tr>
          <td><%= t('activerecord.models.language') -%>:</td>
          <td><%= manifestation.language.display_name.localize -%></td>
        </tr>
        <tr>
          <td><%= t('manifestation.physical_description') -%>:</td>
          <td>
            <%- if manifestation.number_of_pages -%>
              <%= manifestation.number_of_pages -%> p. 
              (<%= manifestation.start_page -%> - <%= manifestation.end_page -%>)
            <%- end -%>
            <!-- TODO: センチメートル以外の単位 -->
            <%- if manifestation.height -%>
              <%= manifestation.height -%> cm.
            <%- end -%>
          </td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.manifestation.price') -%></td>
          <td><%= manifestation.price -%></td>
        </tr>
        <tr>
          <td><%= t('activerecord.models.subject') -%>:</td>
          <td>
            <%- unless manifestation.subjects.empty? -%>
              <%- manifestation.subjects.each do |subject| -%>
                <%= link_to h(subject.term), subject -%>
              <%- end -%>
            <%- end -%>
          </td>
        </tr>
        <tr>
          <td><%= t('activerecord.models.tag') -%>:</td>
          <td>
            <%= render :partial => 'manifestations/tag_list', :locals => {:manifestation => manifestation} -%>
          </td>
        </tr>
        <%- unless manifestation.serial? -%>
          <tr>
            <td><%= t('page.identifier') -%>:</td>
            <td>
              <%- if manifestation.isbn.present? -%>
                ISBN: <%= manifestation.isbn -%>
                <%- if manifestation.isbn10.present? -%>
                  ( <%= manifestation.isbn10 -%> )
                <%- end -%>
              <%- end -%>
              <%- if manifestation.nbn.present? -%>
                NBN: <%= manifestation.nbn -%>
              <%- end -%>
              <%- if manifestation.lccn.present? -%>
                <br />
                LCCN: <%= manifestation.lccn -%>
              <%- end -%>
            </td>
          </tr>
        <%- end -%>
        <%- unless manifestation.attachment_file_name.blank? -%>
          <%= render :partial => 'manifestations/attachment_file', :locals => {:manifestation => manifestation} -%>
        <%- end -%>
        <tr>
          <td><%= t('manifestation.date_of_acquisition') -%>:</td>
          <td><%=l manifestation.created_at if manifestation.created_at -%></td>
        </tr>
        <tr>
          <td><%= t('page.updated_at') -%>:</td>
          <td><%=l manifestation.updated_at if manifestation.updated_at -%></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.manifestation.description') -%>:</td>
          <td>
            <%= raw simple_format(h(manifestation.description)) -%>
          </td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.manifestation.note') -%>:</td>
          <td>
            <%= raw simple_format(h(manifestation.note)) -%>
          </td>
        </tr>
      </table>
      <%- if manifestation.items.on_shelf.first -%>
        <%= render :partial => 'manifestations/show_holding', :locals => {:manifestation => manifestation} -%>
      <%- end -%>

      <h4><%= t('manifestation.user_who_bookmark_this_resource') -%></h4>
      <%= render :partial => 'manifestations/bookmarks_for_this_manifestation', :locals => {:manifestation => manifestation} -%>

    </div>
    <% end %>
    <%= render :partial => 'manifestations/tab_list', :locals => {:manifestation => manifestation} %>
  </div>
