<% cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'show_index', :role => current_user_role_name, :locale => @locale, :manifestation_id => nil) do %>
  <strong>
    <%- if [1, 2].include?(manifestation.missing_issue) %><%= t('manifestation.missing') %><%- end %>
    <% if manifestation.root_of_series? %>
      <%= link_to manifestation.series_statement.original_title, 
        series_statement_manifestations_path(
          manifestation.series_statement,
          params.merge(
            :reservable => nil,
            :carrier_type => nil,
            :library => nil,
            :in_process => nil,
            :language => nil,
            :manifestation_type => nil,
            :missing_issue => nil,
            :circulation_status_in_process => nil,
            :circulation_status_in_factory => nil,
            :page => nil,
            :view => nil
          )
        ) %>
    <% else %>
      <%= link_to manifestation.original_title, manifestation_path(manifestation) -%>
    <% end %>
  </strong>
  <%- unless manifestation.volume_number_string.blank? %><%= t('manifestation.format_volume', :volume => manifestation.volume_number_string) %><%- end -%>
  <%- unless manifestation.issue_number_string.blank? %><%= t('manifestation.format_issue', :issue => manifestation.issue_number_string) %><%- end -%>
  <% if manifestation.periodical_master? %>
    <%- if manifestation.series_statement.try(:first_issue) and manifestation.series_statement.try(:latest_issue) -%>
      <%= manifestation.series_statement.first_issue.date_of_publication.try(:year) -%>
      -
      <%= manifestation.series_statement.latest_issue.date_of_publication.try(:year) -%>
    <%- end -%>
  <%- end -%>
  <%- unless manifestation.exinfo_1.blank? %><%= manifestation.try(:exinfo_1) -%> - <%- end -%>
  <%- unless manifestation.exinfo_6.blank? %><%= manifestation.try(:exinfo_6) -%><%- end -%>
  <%= link_to form_icon(manifestation.carrier_type), manifestation_path(manifestation) -%>
  <%= image_tag('icons/newspaper.png', :size => '16x16', :alt => t('manifestation.serial'), :title => t('tooltip.serial')) if manifestation.serial? -%>
  <%= link_to image_tag('icons/world_go.png', :size => '16x16', :alt => t('manifestation.web'), :title => t('tooltip.web')), manifestation.access_address unless manifestation.access_address.blank? -%>
  <br />
  <div id="creator_list_<%= manifestation.id -%>">
    <%= render 'manifestations/show_creators', :manifestation => manifestation -%>
  </div>
<% end %>
