<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#detail" data-toggle="tab"><%= t('page.detail') %></a></li>
  <%- if manifestation.original_manifestations.exists? or manifestation.derived_manifestations.exists? -%>
    <li><a href="#related_manifestation" data-toggle="tab"><%= t('page.related_manifestation') -%> (<%= manifestation.original_manifestations.size + manifestation.derived_manifestations.size -%>)</a></li>
  <%- end -%>
  <% if defined?(EnjuQuestion) %>
    <%- unless manifestation.questions(:user => current_user).empty? -%>
      <li><a href="#question" data-toggle="tab"><%= t('resource.question') -%></a></li>
    <%- end -%>
  <% end %>
  <%- if current_user.try(:has_role?, 'Librarian') -%>
    <li><a href="#history" data-toggle="tab"><%= t('page.history') -%></a></li>
  <%- end -%>
</ul>
