<%- if user_signed_in? -%>
  <%- unless @bookmark.blank? -%>
    <!-- bookmarked_by_me -->
    <%= form_for(:bookmark, :url => user_bookmark_path(current_user, @bookmark, :mode => 'tag_edit'), :html => { :method => :put }) do |f| -%>
      <div>
        <%= f.text_field :tag_list, :value => @bookmark.tag_list.join(' '), :class => 'editable_text_field' -%>
        <%= submit_tag t('page.update') -%>
        (<a onclick="$.ajax({data:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>'), success:function(request){$('#tag_list').html(request);}, type:'get', url:'<%= manifestation_path(manifestation, :mode => 'tag_list') %>'}); return false;" href="#"><%= t('page.cancel') %></a>)
        <br />
        <%= t('tag.use_space_as_delimiter') -%>
      </div>
    <%- end -%>
    <%= javascript_tag("$('#bookmark_tag_list').focus()") -%>
  <%- else -%>
    <!-- bookmarked_by_other_patron_or_not_bookmarked -->
    <%= form_for(:bookmark, :url => user_bookmarks_path(current_user, :mode => 'tag_edit'), :html => { :method => :post }) do |f| -%>
      <div>
        <%= f.text_field :tag_list, :class => 'editable_text_field' -%>
        <%= f.hidden_field :title, :value => manifestation.original_title -%>
        <%= f.hidden_field :url, :value => manifestation_url(manifestation) -%>
        <%= submit_tag t('page.create') -%>
        (<a onclick="$.ajax({data:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>'), success:function(request){$('#tag_list').html(request);}, type:'get', url:'<%= manifestation_path(manifestation, :mode => 'tag_list') %>'}); return false;" href="#"><%= t('page.cancel') %></a>)
        <br />
        <%= t('tag.use_space_as_delimiter') -%>
      </div>
    <%- end -%>
    <%= javascript_tag("$('#bookmark_tag_list').focus()") -%>
  <%- end -%>
<%- end -%>
