<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.editing', model: t('activerecord.models.manifestation')) -%></h1>
<div id="content_list" class="card-body">
  <%= render 'manifestations/form' %>
</div>
</div>

<div id="submenu" class="col">
  <%= render 'manifestations/book_jacket', manifestation: @manifestation -%>
  <ul>
    <li><%= link_to t('page.show'), @manifestation -%></li>
    <% if policy(@manifestation).destroy? %>
      <li><%= link_to t('page.destroy'), @manifestation, data: {confirm: t('page.are_you_sure')}, method: :delete -%></li>
    <% end %>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
