<div id="content_detail" class="col col-md-9">
  <div class="card">
    <h1 class="title card-header"><%= t('page.search_resource', model: t('page.resource')) -%></h1>
    <div id="content_list" class="card-body">
      <p id="notice"><%= notice %></p>
      <%= render 'manifestations/title', manifestation: @manifestation if @manifestation -%>

      <% case %>
      <% when @index_agent[:creator] %>
        <%= render 'index_form_creator' %>
      <% when @index_agent[:contributor] %>
        <%= render 'index_form_contributor' %>
      <% when @index_agent[:publisher] %>
        <%= render 'index_form_publisher' %>
      <% when @manifestation %>
        <%= render 'index_form_manifestation' %>
      <% when @item %>
        <%= render 'index_form_item' %>
      <% when @parent %>
        <%= render 'index_form_parent' %>
      <% else %>
        <%= render 'index_form' %>
      <% end %>

      <% if @parent %>
        <%= render 'show_parent' %>
      <% end %>

      <%- if @manifestations.total_count > 0 -%>
        <p>
          <%= t('page.number_of_search_results', count: @count[:query_result], numdocs: Manifestation.search.total, seconds: sprintf("%.3f", @seconds)) -%>
          <% if @count[:query_result] > @max_number_of_results %>
            <br />
            <%= t('page.limit_exceeded', count: @max_number_of_results) %>
          <%- end -%>
        </p>

        <div class="field right">
          <%= form_for :manifestations, url: manifestations_path, html: {method: 'get'} do -%>
            <p>
              <%= select_tag 'per_page', options_for_select({
                t('page.per_page', num: 10) => 10,
                t('page.per_page', num: 20) => 20,
                t('page.per_page', num: 50) => 50,
                t('page.per_page', num: 100) => 100,
              }, selected: params[:per_page]) %>
              <%= select_tag 'sort_by', options_for_select({
                [t('page.sort_criteria.created_at'),
                  t('page.sort_criteria.date_desc')].join(" : ") => 'created_at:desc',
                [t('page.sort_criteria.created_at'),
                  t('page.sort_criteria.date_asc')].join(" : ") => 'created_at:asc',
                [t('activerecord.attributes.manifestation.pub_date'),
                  t('page.sort_criteria.date_desc')].join(" : ") => 'pub_date:desc',
                [t('activerecord.attributes.manifestation.pub_date'),
                  t('page.sort_criteria.date_asc')].join(" : ") => 'pub_date:asc',
                [t('page.score'),
                  t('page.sort_criteria.score_desc')].join(" : ") => 'score:desc',
                [t('page.title'),
                  t('page.sort_criteria.title_asc')].join(" : ") => 'title:asc',
                [t('page.title'),
                  t('page.sort_criteria.title_desc')].join(" : ") => 'title:desc',
              }, selected: request.params[:sort_by] || 'created_at:desc') -%>
              <%= hidden_field_tag 'query', @query -%>
              <% [ :reservable, :carrier_type, :library, :language, :pub_year ].each do |p| -%>
                <%= hidden_field_tag p, request.params[p] if request.params[p] -%>
              <% end -%>
              <%= submit_tag t('page.show') -%><br />
            </p>
          <%- end -%>
        </div>

        <div class="autopagerize_page_element" id="list">
          <table class="table table-striped index" id="manifestation_list">
            <%= render @manifestations %>
          </table>

          <%= paginate(@manifestations) -%>
          <br />
        </div>
        <% if defined?(EnjuBookmark) %>
          <%# render 'manifestations/_render_tag_cloud' %>
        <% end %>
      <%- else -%>
        <%- if @parent -%>
          <p><%= t('manifestation.record_not_added') %></p>
        <%- else -%>
          <!-- TODO: 検索結果が少ない場合にも表示させる -->
          <%= render 'manifestations/not_found' -%>
        <%- end -%>
      <%- end -%>

      <div class="autopagerize_insert_before"></div>

    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <div class="card-body">
      <% if @parent and policy(@parent).update? %>
        <%= render 'submenu_parent' %>
      <% end %>
      <h3><%= link_to h("#{t('page.total')}: #{@count[:query_result]}"), url_for(request.params.merge(action: 'index', view: nil, carrier_type: nil, library: nil, language: nil, subject: nil, only_path: true))  -%></h3>
      <div>
        <%- if params[:library_id].blank? -%>
          <%= link_to((image_tag 'icons/feed.png', size: '16x16', alt: t('page.feed'), class: 'enju_icon'), url_for(request.params.merge(format: :rss, page: nil, library_id: nil, only_path: true))) -%> <%= link_to t('page.search_result_feed'), url_for(request.params.merge(format: :rss, page: nil, library_id: nil, commit: nil, only_path: true)) -%>
        <%- else -%>
          <%= link_to((image_tag 'icons/feed.png', size: '16x16', alt: t('page.feed'), class: 'enju_icon'), url_for(request.params.merge(format: :rss, page: nil, only_path: true))) -%> <%= link_to t('page.search_result_feed'), url_for(request.params.merge(format: :rss, page: nil, commit: nil, only_path: true)) -%>
        <%- end -%>
      </div>

      <%- if @manifestations.total_count > 0 -%>
        <%= render 'manifestations/all_facet' -%>
      <%- end -%>
      <%= render 'manifestations/export_list' %>
    </div>
  </div>
</div>

<% if @manifestation_ids and @search_query %>
  <%= render 'session_ids' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('search_form_top').focus();
  });
</script>
