<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.resource')) -%></h1>
  <div id="content_list">
    <%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <div>
        <%= raw paginate_id_link(@manifestation) -%>
        <%= back_to_manifestation_index -%>
        <%= t('page.search_term') -%>:
        <%= search_field_tag 'query', session[:query], {:id => 'search_form_top', :class => 'search_form_short'} -%>
        <%= submit_tag t('page.search') -%>
        <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
      </div>
    <%- end -%>
    <%= javascript_tag("$('#search_form_top').focus()") -%>

    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @manifestation} -%>
    <%- if @version -%>
      <p>(<%= l(@manifestation.versions.find(@version).created_at) -%>)</p>
    <%- end -%>
    <% if current_user.try(:has_role?, 'Librarian') %>
      <%= render :partial => 'manifestations/show_detail_librarian', :locals => {:manifestation => @manifestation} %>
    <% else %>
      <%= render :partial => 'manifestations/show_detail_user', :locals => {:manifestation => @manifestation} %>
    <% end %>

    <%- if params[:mode] == 'generate_cache' -%>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => @manifestation} -%>
      <%= render :partial => 'manifestations/pickup', :locals => {:manifestation => @manifestation} -%>
    <%- end -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @manifestation} -%>
    <%- unless @manifestation.picture_files.empty? -%>
      <ul>
        <%- @manifestation.picture_files.each_with_index do |picture_file, i| -%>
          <%- if @manifestation.amazon -%>
            <%- if i == 0 -%>
              <li><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- else -%>
              <li style="display: none"><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- end -%>
          <%- else -%>
            <%- next if i == 0 -%>
            <%- if i == 1 -%>
              <li><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- else -%>
              <li style="display: none"><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- end -%>
          <%- end -%>
        <%- end -%>
        <li><%= link_to t('page.listing', :model => t('activerecord.models.picture_file')), manifestation_picture_files_path(@manifestation) -%></li>
        <%- if current_user.try(:has_role?, 'Librarian') -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_manifestation_picture_file_path(@manifestation) -%></li>
        <%- end -%>
      </ul>
      <script type="text/javascript">
        $(document).ready(function(){
          $("a[rel='resource_<%= @manifestation.id -%>']").colorbox({transition:"none"});
        })
      </script>
    <%- else -%>
      <%- if current_user.try(:has_role?, 'Librarian') -%>
        <ul>
          <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_manifestation_picture_file_path(@manifestation) -%></li>
        </ul>
      <%- end -%>
    <%- end -%>
  <%- if user_signed_in? -%>
    <div id="call_number_content">
      <%- @manifestation.items.on_shelf.each do |item| -%>
        <%- if item.hold?(current_user.library) -%>
          <%= call_number_label(item) -%>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>

  <div id="resource_bookmark_buttons">
    <%- if user_signed_in? -%>
      <ul>
        <%- if current_user.email.present? -%>
          <li><%= link_to t('manifestation.send_email'), manifestation_path(:mode => 'send_email'), :confirm => t('page.are_you_sure') -%></li>
        <%- end -%>
        <%- if @manifestation.bookmarked?(current_user) -%>
          <li><%= link_to t('bookmark.remove_from_my_bookmark'), bookmark_path(Bookmark.first(:conditions => {:user_id => current_user.id, :manifestation_id => @manifestation.id})), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
        <%- else -%>
          <li><%= link_to t('bookmark.add_to_my_bookmark'), new_user_bookmark_path(current_user, :bookmark => {:url => manifestation_url(@manifestation)}) -%></li>
        <%- end -%>

      <%- unless @manifestation.carrier_type.name == 'file' -%>
        <li>
          <% if @manifestation.reservable? %>
            <%- if current_user.has_role?('Librarian') -%>
              <%= link_to t('manifestation.reserve_this'), new_reserve_path(:manifestation_id => @manifestation.id) -%>
            <%- else -%>
              <%- if @manifestation.is_reserved_by(current_user) -%>
                <%= link_to t('manifestation.cancel_reservation'), user_reserve_path(@reserve.user, @reserve) -%>
              <%- else -%>
                <%= link_to t('manifestation.reserve_this'), new_user_reserve_path(current_user, :manifestation_id => @manifestation.id) -%>
              <%- end -%>
            <%- end -%>
            <br />
            (<%= t('page.number_of_reservations', :count => @reserved_count) -%>)
          <%- else -%>
            <%= link_to t('activerecord.models.purchase_request'), new_user_purchase_request_path(current_user, :purchase_request => {:url => manifestation_url(@manifestation)}) %>
          <%- end -%>
        </li>
      <%- end -%>
      </ul>

      <%- if current_user.has_role?('Librarian') -%>
        <ul>
          <%- case when @expression -%>
            <li><%= link_to t('page.edit'), edit_expression_manifestation_path(@expression, @manifestation) -%></li>
          <%- when @patron -%>
            <li><%= link_to t('page.edit'), edit_publisher_manifestation_path(@patron, @manifestation) -%></li>
          <%- else -%>
            <li><%= link_to t('page.edit'), edit_manifestation_path(@manifestation) -%></li>
          <%- end -%>
          <ul>
            <li><%= link_to t('manifestation.edit_creator'), work_patrons_path(@manifestation) -%></li>
            <li><%= link_to t('manifestation.edit_contributor'), expression_patrons_path(@manifestation) -%></li>
            <li><%= link_to t('manifestation.edit_publisher'), manifestation_patrons_path(@manifestation) -%></li>
            <%- if @manifestation.serial? -%>
              <li><%= link_to t('manifestation.add_next_issue'), new_series_statement_manifestation_path(@manifestation.series_statement) if @manifestation.series_statement -%></li>
            <%- end -%>
          </ul>
          <li><%= link_to t('manifestation.add_derivation'), manifestation_manifestations_path(@manifestation, :mode => 'add') -%></li>
          <li><%= link_to t('page.listing', :model => t('activerecord.models.subject')), work_subjects_path(@manifestation) -%></h1>
          <li><%= link_to t('manifestation.edit_item'), manifestation_items_path(@manifestation) -%></li>
        </ul>
      <%- end -%>
    <%- end -%>
  </div>
</div>

<% if user_signed_in? and @manifestation.isbn.present? %>
<script type="text/javascript">
  window.onload = function() {
    $("#calil_list").load('<%= manifestation_path(@manifestation, :mode => 'calil_list') -%>', null, hideCalilSpinner);
  }

  function hideCalilSpinner(){
    $("#spinner_calil_list").hide();
  }
</script>
<% end %>
