<div data-role="header"> 
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.resource')) -%></h1>
</div>
<div data-role="content">
<%= render :partial => 'title', :locals => {:manifestation => @manifestation} %>
<table>
<tr>
<th>ISBN</th>
<td><%= @manifestation.isbn %></td>
</tr>
<tr>
<th>Price</th>
<td><%= @manifestation.price %></td>
</tr>
<table>
<%- if @manifestation.items.on_shelf.exists? -%>
  <%= render :partial => 'manifestations/show_holding', :locals => {:manifestation => @manifestation} -%>
<%- end -%>
</div>
