<div id="content_detail" class="ui-corner-all" itemscope="itemscope" itemtype="http://schema.org/Book">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.manifestation')) -%></h1>
  <div id="content_list">
    <p id="notice"><%= notice %></p>
    <%= render 'paginate_id_link', :manifestation => @manifestation, :manifestation_ids => @manifestation_ids %>

    <%= render 'manifestations/title', :manifestation => @manifestation -%>
    <%- if @version -%>
      <p>(<%= l(@manifestation.versions.find(@version).created_at) -%>)</p>
    <%- end -%>
    <% if current_user.try(:has_role?, 'Librarian') %>
      <%= render 'manifestations/show_detail_librarian', :manifestation => @manifestation %>
    <% else %>
      <%= render 'manifestations/show_detail_user', :manifestation => @manifestation %>
    <% end %>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render 'manifestations/book_jacket', :manifestation => @manifestation -%>
  <ul>
    <%- if @manifestation.picture_files.exists? -%>
      <li><%= t('page.total') %>: <%= @manifestation.picture_files.count %> <%= t('page.number_of_pictures', :count => @manifestation.picture_files.count) %></li>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.picture_file')), manifestation_picture_files_path(@manifestation) -%></li>
    <% end %>
    <%- if can? :create, PictureFile -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_manifestation_picture_file_path(@manifestation) -%></li>
    <%- end -%>
  </ul>
  <script type="text/javascript">
    $(document).ready(function(){
      $("a[rel='manifestation_<%= @manifestation.id -%>']").colorbox({transition:"none", photo:true});
    })
  </script>
  <%- if user_signed_in? -%>
    <div id="call_number_content">
      <%- @manifestation.items.on_shelf.each do |item| -%>
        <%- if item.hold?(current_user.library) -%>
          <%= call_number_label(item) -%>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>

  <div id="resource_bookmark_buttons">
      <ul>
        <%- if user_signed_in? -%>
          <%- if current_user.email.present? -%>
            <li><%= link_to t('manifestation.send_email'), manifestation_path(:mode => 'send_email'), :data => {:confirm => t('page.are_you_sure')} -%></li>
          <%- end -%>
          <% if defined?(EnjuBookmark) %>
            <li><%= link_to_bookmark(@manifestation) %></li>
          <% end %>
        <% end %>

        <%- unless @manifestation.carrier_type.name == 'file' -%>
          <% if defined?(EnjuCirculation) %>
            <% if user_signed_in? %>
              <% if @manifestation.is_reservable_by?(current_user) %>
                <li><%= link_to_reservation(@manifestation, @reserve) %>
                <br />
                (<%= t('page.number_of_reservations', :count => @reserved_count) -%>)</li>
              <%- else -%>
                <% if defined?(EnjuPurchaseRequest) %>
                  <li><%= link_to t('activerecord.models.purchase_request'), new_purchase_request_path(:purchase_request => {:url => manifestation_url(@manifestation)}) %></li>
                <% end %>
              <%- end -%>
            <% else %>
              <% unless @manifestation.items.for_checkout.empty? %>
                <li><%= link_to_reservation(@manifestation, @reserve) %><br />
                (<%= t('page.number_of_reservations', :count => @reserved_count) -%>)</li>
              <% end %>
            <% end %>
          <% end %>
        <%- end -%>
      </ul>

      <%- if current_user.try(:has_role?, 'Librarian') -%>
        <ul>
          <li>
            <%- case when @expression -%>
              <%= link_to t('page.edit'), edit_expression_manifestation_path(@expression, @manifestation) -%>
            <%- when @patron -%>
              <%= link_to t('page.edit'), edit_publisher_manifestation_path(@patron, @manifestation) -%>
            <%- else -%>
              <%= link_to t('page.edit'), edit_manifestation_path(@manifestation) -%>
            <%- end -%>
            <ul>
              <li><%= link_to t('manifestation.edit_creator'), work_patrons_path(@manifestation) -%></li>
              <li><%= link_to t('manifestation.edit_contributor'), expression_patrons_path(@manifestation) -%></li>
              <li><%= link_to t('manifestation.edit_publisher'), manifestation_patrons_path(@manifestation) -%></li>
              <%- if @manifestation.periodical? -%>
                <li><%= link_to t('manifestation.add_next_issue'), new_series_statement_manifestation_path(@manifestation.series_statement) if @manifestation.series_statement -%></li>
              <%- end -%>
            </ul>
          </li>
          <% if can? :destroy, @manifestation %>
            <li><%= link_to t('page.destroy'), @manifestation, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%></li>
          <% end %>
          <li><%= link_to t('manifestation.add_derivation'), manifestation_manifestations_path(@manifestation, :mode => 'add') -%></li>
          <% if defined?(EnjuSubject) %>
            <li><%= link_to t('page.listing', :model => t('activerecord.models.subject')), work_subjects_path(@manifestation) -%></li>
          <% end %>
          <li><%= link_to t('manifestation.edit_item'), manifestation_items_path(@manifestation) -%></li>
        </ul>
      <% end %>
  </div>
</div>
