<script>
  $(document).ready(function() {
    var $tgt_parent = $("input.check-parent");
    var $tgt_child = $("input.check-child");

    $tgt_parent.click(function(){
      $(this).parents("div.parent").find('input.check-child').attr('checked', this.checked);
    });
    $tgt_child.click(function(){
      var checkNum = $(this).parents("div.parent").find('input.check-child:checked').length;
      var listNum = $(this).parents("div.parent").find('input.check-child').length;
      if(checkNum < listNum)
        $(this).parents("div.parent").find("input.check-parent").attr('checked', false);
      if(checkNum == listNum)
        $(this).parents("div.parent").find("input.check-parent").attr('checked', true);
    });
  });
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.retained_manifestation')) -%></h1>
<div id="content_list">
<p id="notice"><%= raw flash[:notice] -%></p>

<div>
<%= form_for :reserves, :url => retained_manifestations_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('activerecord.attributes.reserve.receipt_library') -%>:<%= select("library", "id", @librarlies, {:include_blank => t('advanced_search.all_libraries'), :selected=>@selected_library}  ) -%><br />
    <%= t('activerecord.attributes.reserve.information_type') -%>:
    <div class="parent">
        <%= check_box_tag "all_information_type", true, @selected_information_type.size == @information_types.size ? true : false, :class=>'check-parent' -%><%= t('advanced_search.all', :model=>t('activerecord.attributes.reserve.information_type')) -%><br />
        &nbsp;
        <%- @information_types.each do |type| -%>
<%-if false-%>
          <input type='checkbox', name='information_type[]', id='information_type', class='check-child', value="<%=type-%>", <%= @selected_information_type.index(type) ? true : false -%>><%= i18n_information_type(type) -%></input>
<%-end-%>
          <%= check_box_tag "information_type[]", type, @selected_information_type.index(type) ? true : false, :class=>'check-child' -%><%= i18n_information_type(type) -%>
        <%- end -%>
    </div>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%><br />
    <%= t('activerecord.attributes.user.birth_date') -%>:
    <%= text_field_tag 'birth_date', @date_of_birth, :class => 'wide_date_text_field', :placeholder => "#{t('page.example')}: 2011-04-12" -%>
    <%= t('activerecord.attributes.user.adddress') -%>:
    <%= text_field_tag 'address', @address, :class => 'search_form' -%><br />
    <%= submit_tag t('page.search') -%>
    <%= submit_tag t('page.output_pdf', :model => (t('page.listing', :model => t('activerecord.models.retained_manifestation')))), :name => :output_pdf %>
    <%= submit_tag t('page.output_tsv', :model => (t('page.listing', :model => t('activerecord.models.retained_manifestation')))), :name => :output_tsv %>
  </p>
<%- end -%>
</div>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.manifestation.original_title') -%></th>
    <th><%= t('activerecord.attributes.reserve.information_type') -%></th>
    <th></th>
  </tr>
<%- @retained_manifestations.each_with_index do |reserve, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to reserve.user.username, reserve.user if reserve.user -%><br />
      <%= link_to reserve.user.patron.full_name, reserve.user if reserve.user.patron -%>
    </td>
    <td><%= render 'reserves/title', :reserve => reserve -%></td>
    <td>
      <%= i18n_information_type(reserve.information_type_id) -%>&nbsp;
      <%- if reserve.information_type_id == 1 -%>
        <%= mail_to Reserve.get_information_type(reserve), Reserve.get_information_type(reserve), :subject => reserve.retained_mail_title, :body => reserve.retained_mail_message -%>
      <%- else -%>
        <%= Reserve.get_information_type(reserve)-%>
      <%- end -%>
    </td>
    <td>
      <%= form_for :reserve, :url => {:action => :set_retained} do |f| -%>
        <%= f.hidden_field :id, :value => reserve.id -%> 
        <%= f.hidden_field :retained, :value=>true -%> 
        <%= submit_tag t('activerecord.attributes.retained_manifestation.done') -%>
      <%- end -%>
    </td>
  </tr>    
<%- end -%>
</table>
<br />
<%= will_paginate(@retained_manifestations) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('reserve.all_reservation'), reserves_path -%></li>
    <li><%= link_to t('reserve.my_reservation'), user_reserves_path(current_user) -%></li>
  </ul>
</div>
