<%= simple_form_for(@permission) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :action %>
    <%= f.input :subject_class %>
    <%= f.input :subject_id %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
