<div class="row-fluid">
  <div class="span9">
<h1>Listing permissions</h1>

<table class="table table-striped">
  <tr>
    <th>Action</th>
    <th>Subject class</th>
    <th>Subject</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.action %></td>
    <td><%= permission.subject_class %></td>
    <td><%= permission.subject_id %></td>
    <td><%= permission.user.username %></td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

  </div>

  <div class="span3">
    <%= link_to 'New Permission', new_permission_path %>
  </div>
</div>
