<div class="row-fluid">
  <div class="span9">
<p id="notice"><%= notice %></p>

<p>
  <b>Action:</b>
  <%= @permission.action %>
</p>

<p>
  <b>Subject class:</b>
  <%= @permission.subject_class %>
</p>

<p>
  <b>Subject:</b>
  <%= @permission.subject_id %>
</p>

<p>
  <b>User:</b>
  <%= @permission.user.username %>
</p>

  </div>

  <div class="span3">
    <ul>
      <li><%= link_to 'Edit', edit_permission_path(@permission) %></li>
      <li><%= link_to 'Back', permissions_path %></li>
    </ul>
  </div>
</div>
