<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.extent')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.extent.name') -%></th>
    <th><%= t('activerecord.attributes.extent.note') -%></th>
    <th></th>
    <th></th>
  </tr>

<%- @extents.each do |extent| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :update, extent -%>
        <%= move_position(extent) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to extent.display_name.localize, extent -%>
      <br />
      (<%= link_to extent.name, extent -%>)
    </td>
    <td><%= extent.note -%></td>
    <td>
      <%- if can? :update, extent -%>
        <%= link_to t('page.edit'), edit_extent_path(extent) -%>
      <% end %>
      <%- if can? :destroy, extent -%>
        <%= link_to t('page.destroy'), extent, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@extents) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.extent')), new_extent_path -%></li>
  </ul>
</div>
