<div id="opac_header">
  <div class="opac_title">
    <h1><%= t('page.new', :model => t('activerecord.models.reserve')) %></h1>
  </div>
  <div class="opac_head_button_area">
    <div class="opac_head_button">
      <%= link_to t('page.showing', :model => t('activerecord.models.checkout')), manifestation_path(@checkout, :opac => true) %>
    </div>
    <div class="opac_head_button">
      <%= link_to t('page.listing', :model => t('activerecord.models.checkout')), user_checkouts_path(@checkout.user, :opac => true) %>
    </div>
    <div class="opac_head_button">
      <%= link_to t('opac.finish'), opac_path %>
    </div>
    <% if user_signed_in? %>
      <div class="opac_head_button">
        <%= link_to t('page.sign_out'), destroy_user_session_path %>
      </div>
    <% end %>
  </div>
</div>

<div id="opac_content_detail">
  <%= render 'opac/manifestations/manifestation_info', :manifestation => @checkout.item.manifestation if @checkout.item -%>
  <br />
  <h4><%= t('checkout.renewal') %></h4>
  <% if @checkout.checkout_renewable? %>
    <%= form_for(@checkout, :url => user_checkout_path(@checkout.user, @checkout)) do |f| %>
      <%= t('checkout.new_due_date') %>: <%= l(@renew_due_date, :format => :only_date) if @renew_due_date %>
      <%= f.hidden_field :due_date, :value => @renew_due_date %>
      <br />
      <%= f.submit :disable_with => t('page.wait'), :class => 'opac_submit_button' %>
    <% end %>
  <% else %>
    <div class="field"><%= t('checkout.this_item_cant_be_renewed') %></div>
  <% end %>
</div>
