<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= @title -%></h1>
<div id="content_list">
<%= form_for :manifestations, :html => {:method => 'get'} do -%>
  <p>
    <div style="color: red"><%= flash[:message] -%></div>
    <%= t('page.search_term') -%>
    <%= t('advanced_search.from_date') -%> <%= text_field_tag 'search_date_first', h(@start_date), :size => 9 -%>
    <%= t('advanced_search.to_date') -%> <%= text_field_tag 'search_date_last', h(@end_date), :size => 9 -%></td>
    <%= submit_tag t('page.search') -%>
    <br />
    <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
  </p>
<%- end -%>
<table class="index">
  <tr>
    <th>
      <%= t('page.exstatistics.ranknumber') -%> 
    </th>
    <th>
      <%= t('activerecord.attributes.manifestation.original_title') -%> 
    </th>
    <th>
    </th>
    <th>
      <%= t('page.exstatistics.requestcount') -%>
    </th>
  </tr>
</table>

</div>
</div>

