<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.event_import_result')) -%></h1>
<div id="content_list">
  <% if @event_import_file %>
    <h2 class="event_title">
      <%= link_to @event_import_file.event_import_file_name, @event_import_file %>
    </h2>
  <% end %>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.event_import_file') %></th>
    <th><%= t('activerecord.models.event') %></th>
    <th></th>
  </tr>

<% @event_import_results.each do |event_import_result| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to event_import_result.event_import_file.event_import_file_name, event_import_result.event_import_file %>
      <br />
      <%=l event_import_result.created_at %>
    </td>
    <td><%= link_to event_import_result.event.display_name.localize, event_import_result.event if event_import_result.event %></td>
    <td>
      <%= link_to t('page.show'), event_import_result %>
      <%= link_to t('page.destroy'), event_import_result, :confirm => t('page.are_you_sure'), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@event_import_results) %>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li>
    <% if @event_import_file %>
      <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'CSV', :class => 'icon'), event_import_file_event_import_results_path(@event_import_file, :format => :csv, :locale => @locale.to_s) -%>
      (<%= link_to 'CSV', event_import_file_event_import_results_path(:format => :csv, :locale => @locale.to_s) -%>)
    <% else %>
      <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'CSV', :class => 'icon'), event_import_results_path(:format => :csv, :locale => @locale.to_s) -%>
      (<%= link_to 'CSV', event_import_results_path(:format => :csv, :locale => @locale.to_s) -%>)
    <% end %>
    </li>
  </ul>
</div>
