<div class="push_touchpanel">
  <%= t('opac.push_touchpanel') %>
</div>

<div id="opac_contents">
  <div id="opac_menu">
    <%= link_to opac_search_path do %>
      <div id="opac_search_col">
        <h1><img src="/assets/opac/book.png"/ style="width:20px;">&nbsp<%= t('opac.catalog_search') %></h1>
      </div>
    <% end %>
    <%= link_to edit_my_account_path do %>
      <div id="opac_session_col"><%= t('opac.edit_user') %></div>
    <% end %>
    <div id="opac_easy">
      <%= link_to manifestation_exstats_bestreader_path do %>
        <div class="opac_bestreader"><%= t('opac.best_reader') %></div>
      <% end %>
      <%= link_to manifestation_exstats_bestrequest_path do %>
        <div class="opac_bestrequest"><%= t('opac.best_request') %></div>
      <% end %>
    </div>
  </div>

  <div id="opac_news">
    <h3><%= t('opac.news') %></h3>
    <dl class="opac_news_column">
      <dt class="opac_new_date">2012/09/10:</dt>
      <dd class="opac_new_detail">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</dd>
      <dt class="opac_new_date">2012/09/12:</dt>
      <dd class="opac_new_detail">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</dd>
      <dt class="opac_new_date">2012/09/15:</dt>
      <dd class="opac_new_detail">cccccccccccccccccccccccccccccccc</dd>
      <dt class="opac_new_date">2012/09/18:</dt>
      <dd class="opac_new_detail">dddddddddddddddddddddddddddddddd</dd>
      <dt class="opac_new_date">2012/09/22:</dt>
      <dd class="opac_new_detail">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</dd>
    </dl>
  </div>
</div>
