<div id="opac_index_header">
  <div class="opac_head_button_area">
    <% if user_signed_in? %>
      <div class="opac_head_button"><%= link_to t('page.sign_out'), destroy_user_session_path(:opac => true) %></div>
    <% end %>
  </div>
  <div style="clear: both;">
    <h1 class="opac_index_libraryname"><%= LibraryGroup.system_name(@locale) %></h1>
  </div>
</div>

<div class="opac_menu_info">  
  <%= t('opac.push_touchpanel') %>
</div>
<div id="opac_contents">
  <div id="opac_menu">
    <div><p id="notice"><%= notice %></p></div>
    <div id="opac_search_col">
      <%= link_to opac_search_path do %>
        <h1><img src="/assets/opac/book.png"/ style="width:20px;">&nbsp<%= t('opac.catalog_search') %></h1>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div id="opac_session_col">
        <%= link_to t('user.edit_profile'), edit_my_account_path(:opac => true) %>
      </div>
      <div id="opac_session_col">
        <%= link_to t('page.listing', :model => t('activerecord.models.reserve')), user_reserves_path(current_user, :opac => true) %> 
      </div>
      <div id="opac_session_col">
        <%= link_to t('page.listing', :model => t('activerecord.models.checkout')), user_checkouts_path(current_user, :opac => true) %>
      </div>
    <% else %>
      <div id="opac_session_col">
        <%= link_to new_user_session_path(:opac => true) do %>
          <%= t('opac.login') %>
          <div class="opac_button_description"><%= t('opac.login_description')%></div>
        <% end %>
      </div>
    <% end %>

    <div id="opac_easy">
      <div class="opac_bestreader">
        <%= link_to t('opac.manifestation_exstats.bestreader'), manifestation_exstats_bestreader_path(:opac => true) %>
      </div>
      <div class="opac_bestrequest">
        <%= link_to t('opac.manifestation_exstats.bestrequest'), manifestation_exstats_bestrequest_path(:opac => true) %>
      </div>
    </div>
  </div>

  <div id="opac_news">
    <h4><%= t('opac.news') %></h4>
    <dl class="opac_news_column">
      <% @events.each do |event| %>
        <dt class="opac_new_date">
          <%= l(event.start_at, :format => :short) %> - <%= l(event.end_at, :format => :short) -%>
        </dt>
        <dd class="opac_new_detail"><%= event.display_name %></dd>
      <% end %>
    </dl>
  </div>
</div>
