<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.user_group_has_checkout_type')) -%></h1>
<div id="content_list">

<%= form_for(@user_group_has_checkout_type) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.user_group') -%><br />
    <%= f.select(:user_group_id, @user_groups.collect{|u| [u.display_name.localize, u.id]}) -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.checkout_type') -%><br />
    <%= f.select(:checkout_type_id, @checkout_types.collect{|c| [c.display_name.localize, c.id]}) -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.user_group_has_checkout_type.checkout_limit') -%><br />
    <%= f.text_field :checkout_limit, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.user_group_has_checkout_type.checkout_period') -%><br />
    <%= f.text_field :checkout_period, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.user_group_has_checkout_type.checkout_renewal_limit') -%><br />
    <%= f.text_field :checkout_renewal_limit, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.user_group_has_checkout_type.reservation_limit') -%><br />
    <%= f.text_field :reservation_limit, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.user_group_has_checkout_type.reservation_expired_period') -%><br />
    <%= f.text_field :reservation_expired_period, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.user_group_has_checkout_type.set_due_date_before_closing_day') -%>
    <%= f.check_box :set_due_date_before_closing_day -%>
  </p>

  <p>
  <%= f.label t('activerecord.attributes.user_group_has_checkout_type.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @user_group_has_checkout_type -%></li>
    <li><%= link_to t('page.back'), user_group_has_checkout_types_path -%></li>
  </ul>
</div>
