<%= form_for(@area) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name -%>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address -%>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => t('page.wait') %>
  </div>
<% end %>
