<%= form_with(model: event_export_file) do |f| %>
  <%= error_messages(event_export_file) %>

  <%= f.hidden_field :mode, value: "export" if event_export_file.new_record? %>
  <div class="actions mt-3">
    <% if event_export_file.new_record? %>
      <%= f.submit t("page.export"), class: "btn btn-primary" %>
    <% else %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
