<%- if manifestation.items.exists? -%>
<div id="holding">
<table class="holding">
  <tr>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.models.circulation_status') -%></th>
  </tr>
  <% cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'holding', :role => current_user_role_name, :locale => @locale, :manifestation_id => nil) do %>
  <%# - manifestation.items.on_shelf.each do |item| -%>
  <%- manifestation.items.each do |item| -%>
    <tr>
      <td>
        <%= link_to item.shelf.library.display_name.localize, item.shelf.library if item.shelf.library %>
      </td>
      <td>
        <%= link_to item.shelf.display_name.localize, item.shelf if item.shelf -%>
        <%= render 'items/shelf_picture', :item => item -%>
      </td>
      <td>
        <%= call_numberformat(item) -%>
      </td>
      <td>
        <%- if item.item_identifier? -%>
          <%= link_to item.item_identifier, item -%>
        <%- else -%>
          (<%= link_to t('item.no_number'), item -%>)
        <%- end -%>
      </td>
      <td>
        <%= item.circulation_status.display_name.localize if item.circulation_status -%>
        <%- if item.rent? -%>
          (
            <%= t('activerecord.attributes.checkout.due_date') -%>:
            <%= l(item.checkouts.first.due_date, :format => :only_date) -%>
          )
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
  <%- end -%>
</table>
</div>
<%- end -%>
