<div id="opac_header">
  <div class="opac_title">
    <h1><%= t('page.showing', :model => t('activerecord.models.manifestation')) %></h1>
  </div>
  <div class="opac_head_button_area">
    <%= link_to opac_search_path do %><div class="opac_head_button"><%= t('opac.catalog_search') %></div><% end %>
    <%= link_to opac_path do %><div class="opac_head_button"><%= t('opac.finish') %></div><% end %>
  </div>
</div>

<div id="opac_content_detail">
  <div>
    <div style="float: right;">
      <% if session[:params] %>
        <%= link_to url_for(session[:params].merge(:view => nil, :controller => :manifestations)) do %>
          <div class="opac_head_button"><%= t('page.back') %></div>
        <% end %>
      <% else %>
        <%= link_to :back do %>
          <div class="opac_head_button"><%= t('page.back') %></div>
        <% end %>
      <% end %>

      <% if session[:manifestation_ids].is_a?(Array) %>
        <% if session[:manifestation_ids].index(@manifestation.id) %>
           <% unless @manifestation.id == session[:manifestation_ids].last %>
             <%= link_to manifestation_path(session[:manifestation_ids][session[:manifestation_ids].index(@manifestation.id) + 1], :opac => true) do %>
               <div class="opac_head_button"><%= t('page.next') %></div>
             <% end %>
           <% end %>
           <% unless @manifestation.id == session[:manifestation_ids].first %>
             <%= link_to manifestation_path(session[:manifestation_ids][session[:manifestation_ids].index(@manifestation.id) - 1], :opac => true) do %>
               <div class="opac_head_button"><%= t('page.previous') %></div>
             <% end %>
           <% end %>
        <% end %>
      <% end %>
    </div>
    <br style="clear: both;"/>
  </div>

  <div> 
    <div id="opac_manifestation_book_jacket">
      <% if @manifestation %>
        <%= opac_book_jacket(@manifestation) %>
      <% end %>
      <% if @manifestation.picture_files.exists? %>
        <br />
        <%= t('page.total') %>: <%= @manifestation.picture_files.count %> 
        <%= t('page.number_of_pictures', :count => @manifestation.picture_files.count) %>
      <% end %>
    </div>
    <div id="opac_manifestation_title">
      <%= render 'opac/manifestations/title', :manifestation => @manifestation %>
      <div>
        <% unless @manifestation.carrier_type.name == 'file' %>
          <% if @manifestation.reservable? %>
            <span class="manifestation_reserves_number">
              <%= t('activerecord.attributes.manifestation.reserves_number') %>:
              <%= @reserved_count %>
            </span>
          <% end %>
        <% end %>
        <span class="manifestation_items_number">
          <%= t('activerecord.attributes.item.items_number') %>
          <%= @manifestation.items.size %>
        </span>
       </div>
    </div>
  </div>
  <br style="clear: both;" />

  <div>
    <%= link_to({:action => 'output_show'}, {:method => :post}) do %>
      <div id="opac_reserve_button">
        <%= t('page.output', :model => t('activerecord.attributes.manifestation.detail')) %>
      </div>
    <% end %>
    <% unless @manifestation.carrier_type.name == 'file' %>
      <% if @manifestation.reservable? %>
        <div>
          <% if (user_signed_in? && current_user.has_role?('Librarian')) or !user_signed_in? %>
            <%= link_to new_reserve_path(:manifestation_id => @manifestation.id) do %>
              <div id="opac_reserve_button"><%= t('manifestation.reserve_this') %></div>
            <% end %>
          <% else %>
            <% if @manifestation.is_reserved_by(current_user) %>
              <%= link_to user_reserve_path(@reserve.user, @reserve) do %>
                <div id="opac_reserve_button"><%= t('manifestation.cancel_reservation') %></div>
              <% end %>
            <% else %>
              <% if @manifestation.reservable_with_item?(current_user) %>
                <%= link_to new_user_reserve_path(current_user, :manifestation_id => @manifesation.id) do %>
                  <div id="opac_reserve_button"><%= t('manifestation.reserve_this') %></div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <br style="clear:both;"/>

  </div>

  <% if @manifestation.periodical_master? %>
    <%= render 'opac/manifestations/periodical_list', :manifestation => @manifestation %>
  <% else %>
    <%= render 'opac/manifestations/show_detail', :manifestation => @manifestation %>
  <% end %>
</div>

