<%= form_for(@subject) do |f| -%>
  <%= f.error_messages -%>
  <div class="field">
    <%= f.label t('activerecord.models.subject_type') -%>
    <%= f.select(:subject_type_id, @subject_types.collect{|s| [s.display_name.localize, s.id]}) -%>
  </div>

  <div class="field">
    <%= f.label :term -%><br />
    <%= f.text_field :term -%>
  </div>
  <div class="field">
    <%= f.label :term_transcription -%><br />
    <%= f.text_field :term_transcription -%>
  </div>
  <div class="field">
    <%= f.label :note -%><br />
    <%= f.text_area :note -%>
  </div>
  <%- if @classification -%>
    <div class="field">
      <%= f.label t('activerecord.models.classification') -%>
      <%= link_to @classification.category, @classification -%>
      <%= f.hidden_field :classification_id -%>
    </div>
  <%- end -%>
  <%- if @subject_heading_type -%>
    <div class="field">
      <%= f.label t('activerecord.models.subject_heading_type') -%>
      <%= link_to @subject_heading_type.display_name.localize, @subject_heading_type -%>
      <%= f.hidden_field :subject_heading_type_id -%>
    </div>
  <%- end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
