<div id="content_detail">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subject')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    [W]
    <%= link_to h(@work.original_title), @work -%>
  </h2>

<%= form_for :subjects, :url => work_subjects_path(@work), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
    <%- if can? :create, WorkHasSubject -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.note') -%></th>
    <th></th>
  </tr>
  <%- subjects.each do |subject| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to h(subject.term), subject -%></td>
      <td><%= subject.note -%></td>
      <%- if can? :destroy, subject -%>
        <td>
          <%= link_to t('page.edit'), edit_subject_path(subject) -%>
        </td>
        <td>
          <%- if params[:mode] == 'add' -%>
            <%= link_to t('page.add'), new_work_work_has_subject_path(@work, :subject_id => subject.id) unless @work.subjects.include?(subject) -%>
          <%- else -%>
            <%- has_subject = @work.work_has_subjects.find_by_subject_id(subject) -%>
            <%= link_to t('page.destroy'), work_work_has_subject_path(@work, has_subject), :confirm => t('page.are_you_sure'), :method => :delete -%>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(subjects) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if can? :create, Subject -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.subject')), new_work_subject_path(@work) -%></li>
    <%- end -%>
  </ul>
</div>
