<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subject')) -%></h1>
<div id="content_list">
<%= form_for :subjects, :url => subjects_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.note') -%></th>
    <th></th>
  </tr>
  <%- subjects.each do |subject| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to subject.term, subject -%></td>
      <td><%= subject.note -%></td>
      <td>
        <%- if can? :destroy, subject -%>
          <%= link_to t('page.edit'), edit_subject_path(subject) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(subjects) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Subject -%>
      <%- if @subject_heading_type -%>
        <li><%= link_to t('page.new', :model => t('activerecord.models.subject')), new_subject_heading_type_subject_path(@subject_heading_type) -%></li>
      <%- else -%>
        <li><%= link_to t('page.new', :model => t('activerecord.models.subject')), new_subject_path -%></li>
      <%- end -%>
    <%- end -%>
  </ul>
</div>
