<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subject')) -%></h1>
<div id="content_list">
  <h2 class="resource_title"><%= link_to h(@classification.category), @classification -%></h2>
<%= form_for :subjects, :url => classification_subjects_path(@classification), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
    <%- if can? :create, WorkHasSubject -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.note') -%></th>
    <th></th>
  </tr>
  <%- subjects.each do |subject| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to h(subject.term), subject -%></td>
      <td><%= subject.note -%></td>
      <%- if can? :destroy, subject -%>
        <td>
          <%= link_to t('page.edit'), edit_subject_path(subject) -%>
        </td>
        <td>
          <%- if params[:mode] == 'add' -%>
            <%= link_to t('page.add'), new_classification_subject_has_classification_path(@classification, :subject_id => subject.id) unless @classification.subjects.include?(subject) -%>
          <%- else -%>
            <%- has_classification = @classification.subject_has_classifications.find_by_subject_id(subject) -%>
            <%= link_to t('page.destroy'), classification_subject_has_classification_path(@classification, has_classification), :confirm => t('page.are_you_sure'), :method => :delete if has_classification -%>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(subjects) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Subject -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.subject')), new_classification_subject_path(@classification) -%></li>
    <%- end -%>
  </ul>
</div>
