<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.subject')) -%></h1>
<div id="content_list">
<h2 class="resource_title">
  [S]
  <%= @subject.term -%>
</h2>
  <p>
    (<%= link_to_wikipedia(@subject.term) -%>)
  </p>

  <p>
    <%- @subject.subject_heading_types.uniq.each do |subject_heading_type| -%>
      <%= link_to h(subject_heading_type.display_name.localize), subject_heading_type -%>
    <%- end -%>
  </p>

  <div id="tabs">
    <ul>
      <li title="active" class="selected"><a href="#work"><em><%= t('activerecord.models.work') -%></em></a></li>
      <li><a href="#classification"><em><%= t('activerecord.models.classification') -%></em></a></li>
    </ul>
    <%= render :partial => 'subjects/show_work_list' -%>
    <%- cache(:controller => :subjects, :action => :show, :id => @subject.id, :page => 'detail', :role => current_user_role_name, :locale => @locale) do -%>
    <div id="classification">
      <table class="index">
        <tr>
          <th><%= t('activerecord.attributes.classification.category') -%></th>
          <th><%= t('activerecord.models.classification_type') -%></th>
        </tr>
        <%- @subject.classifications.each do |classification| -%>
          <tr class="line<%= cycle("0", "1") -%>">
            <td><%= link_to h(classification.category), classification -%></td>
            <td><%= link_to h(classification.classification_type.name), classification.classification_type -%></td>
          </tr>
        <%- end -%>
      </table>

      <p>
        <strong><%= t('activerecord.attributes.subject.note') -%>:</strong>
        <%= @subject.note -%>
      </p>
    </div>
    <%- end -%>
    </div>
    <%= render :partial => 'page/tabview' -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if flash[:query] -%>
      <li><%= link_to t('page.back'), subjects_path(:query => flash[:query]) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), subjects_path -%></li>
    <%- end -%>
    <%- if can? :create, SubjectHasClassification -%>
      <li><%= link_to t('page.edit'), edit_subject_path(@subject) -%></li>
      <li><%= link_to t('page.destroy'), subject_path(@subject), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- end -%>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.classification')), subject_classifications_path(@subject) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), subject_works_path(@subject) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.subject_heading_type')), subject_subject_heading_types_path(@subject) -%></li>
  </ul>
</div>
