<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div data-role="header">
    <h1 class="title"><%= t('page.sign_in') -%> : Next-L Enju</h1>
  </div>

  <div data-role="content">
    <div data-role="fieldcontain">
      <p>
        <%= f.label t('activerecord.attributes.user.username') %><br />
        <%= f.text_field :username, :class => 'login_password' %>
      </p>

      <p>
        <%= f.label t('activerecord.attributes.user.password') %><br />
        <%= f.password_field :password, :class => 'login_password' %>
      </p>

      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <p><%= f.submit t('page.sign_in') %></p>
    </div>

    <%= javascript_tag("$('#user_username').focus()") -%>

    <%= render "devise/shared/links" %>

  </div>
<% end -%>
