<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.agent_relationship_type')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.agent_relationship_type.name') -%></th>
    <th>
      <%= t('activerecord.attributes.agent_relationship_type.display_name') -%>
      /
      <%= t('activerecord.attributes.agent_relationship_type.note') -%>
    </th>
    <th></th>
  </tr>

<%- @agent_relationship_types.each do |agent_relationship_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(agent_relationship_type).update? -%>
        <%= move_position(agent_relationship_type) -%>
      <%- end -%>
    </td>
    <td><%= agent_relationship_type.name -%></td>
    <td>
      <%= link_to agent_relationship_type.display_name.localize, agent_relationship_type -%>
      <br />
      <%= agent_relationship_type.note %>
    </td>
    <td>
      <%- if policy(agent_relationship_type).update? -%>
        <%= link_to t('page.edit'), edit_agent_relationship_type_path(agent_relationship_type) -%>
      <% end %>
      <%- if policy(agent_relationship_type).destroy? -%>
        <%= link_to t('page.destroy'), agent_relationship_type_path(agent_relationship_type), data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- if policy(AgentRelationshipType).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.agent_relationship_type')), new_agent_relationship_type_path -%></li>
    <%- end -%>
  </ul>
</div>
