<%- form_for(@barcode) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.barcode.code_word') -%><br />
    <%= f.text_field :code_word -%>
    <%= javascript_tag("$('#barcode_code_word').focus()") -%>
  </p>
  <p>
    <%= f.submit -%>
  </p>
<%- end -%>


