<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.classification')) -%></h1>
<div id="content_list">
  <h2><%= link_to @subject.term, @subject -%></h2>

  <%= form_for :classifications, :url => subject_classifications_path(@subject), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%= submit_tag t('page.search') -%>
      <%- if can? :create, SubjectHasClassification -%>
        <%= render 'page/add' %>
      <%- end -%>
    </p>
  <%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.classification') -%></th>
    <th><%= t('activerecord.attributes.classification.note') -%></th>
    <th><%= t('activerecord.models.classification_type') -%></th>
    <th></th>
    <th></th>
  </tr>

<%- @classifications.each do |classification| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to classification.category, subject_classification_path(@subject, classification) -%></td>
    <td><%= classification.note -%></td>
    <td><%= classification.classification_type.display_name.localize -%></td>
    <td>
      <%- if can? :destroy, classification -%>
        <%= link_to t('page.edit'), edit_classification_path(classification) -%>
      <% end %>
    </td>
    <td>
      <%- if can? :destroy, classification -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_subject_subject_has_classification_path(@subject, :classification_id => classification.id) unless @subject.classifications.include?(classification) -%>
        <%- else -%>
          <%- has_classification = @subject.subject_has_classifications.find_by_classification_id(classification) -%>
          <%= link_to t('page.destroy'), subject_subject_has_classification_path(@subject, has_classification), :confirm => t('page.are_you_sure'), :method => :delete if has_classification -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@classifications) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Classification -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.classification')), new_classification_path -%></li>
    <%- end -%>
  </ul>
</div>
