<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.showing', model: t('activerecord.models.classification')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.models.classification_type') -%>:</strong>
  <%= link_to @classification.classification_type.display_name.localize, @classification.classification_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification.category') -%>:</strong>
  <%= @classification.category %>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification.label') -%>:</strong>
  <%= @classification.label %>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification.url') -%>:</strong>
  <%= link_to @classification.url, URI.parse(@classification.url).to_s if @classification.url %>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification.note') -%>:</strong>
  <%= @classification.note %>
</p>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(@classification).update? -%>

      <li><%= link_to t('page.edit'), edit_classification_path(@classification) %></li>
    <%- end -%>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
