<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.classification')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.classification.parent') -%>:</strong>
  <%= link_to @classification.parent.category, @classification.parent %>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification.category') -%>:</strong>
  <%= @classification.category %>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification.note') -%>:</strong>
  <%= @classification.note %>
</p>

<p>
  <strong><%= t('activerecord.models.classification_type') -%>:</strong>
  <%= link_to @classification.classification_type.localize, @classification.classification_type %>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_classification_path(@classification) %></li>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
