<%= form_for(@checkout) do |f| %>
  <% if @checkout.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>
    <ul>
    <% @checkout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.datetime_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
