<div id="content_detail">
<h1 class="title"><%= t('checkout.listing_overdue_item') -%></h1>
<div id="content_list">

  <%= form_for(:checkouts, :url => checkouts_path, :html => {:method => 'get'}) do -%>
    <p>
      <%= t('checkout.number_of_day_overdue') -%>:
      <%= text_field_tag 'days_overdue', h(@days_overdue), :class => 'resource_integer' -%>
      <%= hidden_field_tag 'view', 'overdue' -%>
      <%= submit_tag t('page.search') -%>
    </p>
  <%- end -%>

<%= render :partial => 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.checkout')), checkouts_path -%></li>
  </ul>
  <p>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => 'RSS', :border => 0), checkouts_path(:format => :rss, :view => 'overdue') -%>
    (<%= link_to 'RSS', checkouts_path(:format => :rss, :view => 'overdue') -%>)
    (<%= link_to 'CSV', checkouts_path(:format => :csv, :view => 'overdue', :locale => @locale) -%>)
  </p>
</div>
