<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
<%= render 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

<%= will_paginate(@checkouts) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('checkout.all_checkout'), checkouts_path -%></li>
      <li><%= link_to t('checkout.my_checkout'), user_checkouts_path(current_user) -%></li>
    <%- end -%>
    <%- if @user -%>
      <li><%= link_to t('page.listing', :model => 'activerecord.models.checkout'), user_checkouts_path(@user) -%></li>
    <%- end -%>
    <li><%= link_to t('page.overdue'), checkouts_path(:view => 'overdue') -%></li>
  </ul>
  <p>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => 'RSS', :title => t('tooltip.feed'),:class => 'icon'), checkouts_path(:format => :rss) -%>
    (<%= link_to 'RSS', checkouts_path(:format => :rss) -%>)
    <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'CSV', :title => t('tooltip.csv'), :class => 'icon'), checkouts_path(:format => :csv, :locale => @locale.to_s) -%>
    (<%= link_to 'CSV', checkouts_path(:format => :csv, :locale => @locale.to_s) -%>)
  </p>
</div>
