<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>
<%= render 'list', checkouts: @checkouts -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- user.profile.user_group.user_group_has_checkout_types.each do |available_checkout_type| -%>
      <li>
        <%= available_checkout_type.checkout_type.display_name.localize -%>:
        <%= user.checked_item_count[:"#{available_checkout_type.checkout_type.name}"] -%> / <%= available_checkout_type.checkout_limit -%>
      </li>
    <%- end -%>
    <li><%= link_to t('activerecord.models.reserve'), reserves_path(user_id: user.username) -%></li>
    <% if current_user.has_role?('Librarian') %>
      <li><%= link_to t('checkout.all_checkout'), checkouts_path -%></li>
    <% end %>
  </ul>
  <%= render 'reserved_facet' %>
  <h4><%= t('page.other_format') %></h4>
  <ul>
    <% if current_user.profile.checkout_icalendar_token? %>
      <li>
        <%= link_to 'iCalendar', checkouts_path(icalendar_token: user.profile.checkout_icalendar_token, format: :ics) -%>
        <%= link_to image_tag('icons/date.png', size: '16x16', class: 'enju_icon', alt: 'iCalendar'), checkouts_path(user_id: user.username, format: :ics) -%>
      </li>
    <% end %>
    <%- if params[:days_overdue].present? -%>
      <li>
        <%= link_to 'RSS', checkouts_path(user_id: user.username, format: :rss, days_overdue: 1) -%>
        <%= link_to image_tag('icons/feed.png', size: '16x16', class: 'enju_icon', alt: 'RSS'), checkouts_path(user_id: user.username, format: :rss, days_overdue: 1) -%>
      </li>
      <li>
        <%= link_to 'TSV', checkouts_path(user_id: user.username, format: :txt, days_overdue: 1, locale: @locale.to_s) -%>
        <%= link_to image_tag('icons/page_white_excel.png', size: '16x16', class: 'enju_icon', alt: 'TSV'), checkouts_path(user_id: user.username, format: :txt, days_overdue: 1, locale: @locale.to_s) -%>
      </li>
    <%- else -%>
      <li>
        <%= link_to 'RSS', checkouts_path(user_id: user.username, format: :rss) -%>
        <%= link_to image_tag('icons/feed.png', size: '16x16', class: 'enju_icon', alt: 'RSS'), checkouts_path(user_id: user.username, format: :rss) -%>
      </li>
      <li>
        <%= link_to 'TSV', checkouts_path(user_id: user.username, format: :txt, locale: @locale.to_s) -%>
        <%= link_to image_tag('icons/page_white_excel.png', size: '16x16', class: 'enju_icon', alt: 'TSV'), checkouts_path(user_id: user.username, format: :txt, locale: @locale.to_s) -%>
      </li>
    <%- end -%>
  </ul>
  <ul>
    <% if @user == current_user %>
      <li><%= link_to t('checkout.remove_all_history'), remove_all_checkouts_path(user_id: current_user.id), method: :put, data: {confirm: t('page.are_you_sure')} %></li>
    <% end %>
  </ul>
</div>
