<script>
  function push_submit(format) {
    var o = document.getElementById('form');
    if (format == 'pdf')
      o.action = "<%= checkouts_path(:format => 'pdf') %>";
    else if(format == 'tsv')
      o.action = "<%= checkouts_path(:format => 'tsv') %>";
    else
      o.action = "<%= checkouts_path %>";
    o.submit();
  }
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('checkout.listing_overdue_item') -%></h1>
<div id="content_list">

  <%= form_for(:checkouts, :url => checkouts_path, :html => {:method => 'get', :id => 'form'}) do -%>
    <p>
      <%= t('advanced_search.library') -%>:<%= select("library", "id", @libraries, {:include_blank => t('advanced_search.all_libraries'), :selected=>@selected_library})%>
      &nbsp;
      <%= t('checkout.number_of_day_overdue') -%>:<%= text_field_tag 'days_overdue', h(@days_overdue), :class => 'resource_integer' -%>
      <%= hidden_field_tag 'view', 'overdue' -%><%= t('activerecord.attributes.checkout.over') -%>&nbsp;
      <%= submit_tag t('page.search') -%>
      <br />
      <%= submit_tag t('page.output_pdf', :model =>t('page.listing', :model => t('activerecord.models.checkout'))), :onclick => "push_submit('pdf');" -%>
      <%= submit_tag t('page.output_tsv', :model =>t('page.listing', :model => t('activerecord.models.checkout'))), :onclick => "push_submit('tsv');"  -%>
    </p>
  <%- end -%>

<%= render 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

<%= paginate(@checkouts) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.checkout')), checkouts_path -%></li>
  </ul>
</div>
