<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
<%= render :partial => 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.overdue'), checkouts_path(:view => 'overdue') -%></li>
  </ul>
  <p>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => 'RSS', :border => 0), checkouts_path(:format => :rss, :view => 'overdue') -%>
    (<%= link_to 'RSS', checkouts_path(:format => :rss) -%>)
    (<%= link_to 'CSV', checkouts_path(:format => :csv, :locale => @locale) -%>)
  </p>
</div>
