<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
  <p id="notice"><%= notice %></p>

  <h2><%= link_to item.item_identifier, item %></h2>
  <p>(<%= link_to item.manifestation.original_title, item.manifestation %>)

<%= render 'list', checkouts: @checkouts -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li>
      <%= link_to 'RSS', item_checkouts_path(item, format: :rss) -%>
      <%= link_to image_tag('icons/feed.png', size: '16x16', class: 'enju_icon', alt: 'RSS'), item_checkouts_path(item, format: :rss) -%>
    </li>
    <li>
      <%= link_to 'TSV', item_checkouts_path(item, format: :txt, locale: @locale.to_s) -%>
      <%= link_to image_tag('icons/page_white_excel.png', size: '16x16', class: 'enju_icon', alt: 'TSV'), item_checkouts_path(item, format: :txt, locale: @locale.to_s) -%>
    </li>
  </ul>
</div>
