<script>
  function push_submit(format) {
    var o = document.getElementById('form');
    if (format == 'pdf')
      o.action = "<%= checkouts_path(:format => 'pdf') %>";
    else if(format == 'tsv')
      o.action = "<%= checkouts_path(:format => 'tsv') %>";
    else
      o.action = "<%= checkouts_path %>";
    o.submit();
  }
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
<%= form_for :checkout, :url => checkouts_path, :html => {:method => 'get', :id => 'form'} do -%>
  <p>
    <%= t('advanced_search.library') -%>:
    <%= select("library", "id", @libraries, {:include_blank => t('advanced_search.all_libraries'), :selected => @selected_library})%>
    <%= submit_tag t('page.search'), :onclick => "push_submit(null);" -%><br />
    <%= submit_tag t('page.output_pdf', :model =>t('page.listing', :model => t('activerecord.models.checkout'))), :onclick => "push_submit('pdf');" -%>
    <%= submit_tag t('page.output_tsv', :model =>t('page.listing', :model => t('activerecord.models.checkout'))), :onclick => "push_submit('tsv');"-%>
  </p>
<%- end -%>

<%= render 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

<%= paginate(@checkouts) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('checkout.all_checkout'), checkouts_path -%></li>
      <li><%= link_to t('checkout.my_checkout'), user_checkouts_path(current_user) -%></li>
    <%- end -%>
    <%- if @user -%>
      <li><%= link_to t('page.listing', :model => 'activerecord.models.checkout'), user_checkouts_path(@user) -%></li>
    <%- end -%>
    <li><%= link_to t('page.overdue'), checkouts_path(:view => 'overdue') -%></li>
  </ul>
</div>
