<script>
  function push_user_submit(format) {
    var o = document.getElementById('form');
    o.action = "<%= user_checkouts_path(:user => @user, :format => 'pdf') %>";
    o.submit();
  }
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>
<%- unless @checkouts.size == 0 -%>
  <%= form_for(:checkouts, :url => user_checkouts_path(user), :html => {:method => 'get', :id => 'form'}) do -%>
    <%= submit_tag t('activerecord.attributes.checkout.output_checkoutlist'), :onclick => "push_user_submit('pdf');" -%>
  <%- end -%>
<%- end -%>
<%= render 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

<%= paginate(@checkouts) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- user.user_group.user_group_has_checkout_types.each do |available_checkout_type| -%>
      <li>
        <%= available_checkout_type.checkout_type.display_name.localize -%>:
        <%= user.checked_item_count[:"#{available_checkout_type.checkout_type.name}"] -%> / <%= available_checkout_type.checkout_limit -%>
      </li>
    <%- end -%>
  </ul>
  <ul>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('checkout.all_checkout'), checkouts_path -%></li>
      <li><%= link_to t('checkout.my_checkout'), user_checkouts_path -%></li>
    <%- end -%>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.reserve')), user_reserves_path(user) -%></li>
    <% if current_user.checkout_icalendar_token? %>
      <li><%= link_to 'iCalendar', checkouts_path(:icalendar_token => user.checkout_icalendar_token, :format => :ics) -%></li>
    <% end %>
  </ul>
  <p>
    <%- if params[:view] == 'overdue' -%>
      <%= link_to (image_tag 'icons/feed.png', :size => '16x16', :alt => 'RSS', :title => t('tooltip.feed'), :class => 'icon'), user_checkouts_path(user, :format => :rss, :view => 'overdue') -%>
      (<%= link_to 'RSS', user_checkouts_path(user, :format => :rss, :view => 'overdue') -%>)
      <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'TSV', :title => 'TSV', :class => 'icon'), user_checkouts_path(user, :format => :tsv) -%>
      (<%= link_to 'TSV', user_checkouts_path(user, :format => :tsv, :view => 'overdue', :locale => @locale.to_s, :format => :tsv) -%>)
    <%- else -%>
      <%= link_to (image_tag 'icons/feed.png', :size => '16x16', :alt => 'RSS', :title => t('tooltip.feed'), :class => 'icon'), user_checkouts_path(user, :format => :rss) -%>
      (<%= link_to 'RSS', user_checkouts_path(user, :format => :rss) -%>)
      <%= link_to (image_tag 'icons/page_white_excel.png', :size => '16x16', :alt => 'TSV', :title => 'TSV', :class => 'icon'), user_checkouts_path(user, :format=> :tsv) -%>
      (<%= link_to 'TSV', user_checkouts_path(user, :format => :tsv) -%>)
    <%- end -%>
  </p>

</div>
