<table class="index">
  <tr>
    <th><%= t('activerecord.models.user') %></th>
    <th class="checked_item_title"><%= t('page.title') %></th>
    <th><%= t('activerecord.attributes.checkout.due_date') %></th>
    <th><%= t('activerecord.attributes.checkout.renewal_count') %></th>
    <th></th>
  </tr>

<%- if @checkouts -%>
  <%- @checkouts.each_with_index do |checkout, i| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to checkout.user_username, checkout.user %>
      <br />
      (<%= link_to checkout.user_user_number, checkout.user %>)
    </td>
    <td>
      <%= render 'manifestations/show_index', :manifestation => checkout.item.manifestation -%>
      <%= t('activerecord.attributes.item.call_number') -%>: <%= link_to call_numberformat(checkout.item), item_path(checkout.item) -%> /
      <%= t('activerecord.attributes.item.item_identifier') -%>: <%= link_to checkout.item.item_identifier, item_path(checkout.item) -%>
    </td>
    <td><%= l(checkout.due_date, :format => :only_date) -%></td>
    <td><%= checkout.checkout_renewal_count -%> / <%= checkout.item.checkout_status(checkout.user).checkout_renewal_limit-%></td>
    <td>
      <%= link_to t('page.show'), user_checkout_path(checkout.user, checkout) -%>
      <br />
      <%- if can? :update, checkout -%>
        <%= link_to t('checkout.extend'), edit_user_checkout_path(checkout.user, checkout) -%>
      <%- end -%>
    </td>
    <!--
    <td>
      <%- if can? :destroy, checkout -%>
        <%= link_to t('page.destroy'), user_checkout_path(checkout.user, checkout), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
    -->
  </tr>
  <%- end -%>
<%- end -%>
</table>
