<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.checkout')) -%></h1>
<div id="content_list">

  <%= render :partial => 'manifestations/title', :locals => {:manifestation => @checkout.item.manifestation} if @checkout.item -%>
  
<h3><%= t('checkout.renewal') -%></h3>
<%- if @checkout.checkout_renewable? -%>
  <%= form_for(@checkout, :url => user_checkout_path(@checkout.user.username, @checkout)) do |f| -%>
    <%= t('checkout.new_due_date') -%>: <%= l(@renew_due_date, :format => :only_date) if @renew_due_date -%>
    <%= f.hidden_field :due_date, :value => @renew_due_date -%>
    <br />
    <%= f.submit t('page.update') -%>
  <%- end -%>
<%- else -%>
  <p><%= t('checkout.this_item_cant_be_renewed') -%></p>
<%- end -%>

<h3><%= t('checkout.editing_due_date') -%></h3>

<%= form_for(@checkout, :url => user_checkout_path(@checkout.user.username, @checkout)) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <label for="checkout_due_date"><%= t('activerecord.attributes.checkout.due_date') -%></label>
    <%= f.hidden_field :user_id -%>
    <%= f.hidden_field :item_id -%>
    <%= f.text_field :due_date, :value => @checkout.due_date.try(:strftime, "%Y-%m-%d"), :class => 'date_field' -%>
  </p>
  <p>
    <%= t('checkout.renewal_count') -%>: <%= f.text_field :checkout_renewal_count, :class => 'resource_integer' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>

<div id="submenu">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @checkout.item.manifestation} if @checkout.item -%>
  <ul>
    <li><%= link_to t('page.show'), user_checkout_path(@checkout.user.username, @checkout) -%></li>
    <li><%= link_to t('page.back'), user_checkouts_path(@checkout.user.username) -%></li>
  </ul>
</div>
