<h1 class="title"><%= t('page.new', :model => t('activerecord.models.checkouts')) -%></h1>

<%= form_for(@checkout) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('activerecord.models.user') -%><br />
    <%= f.text_field :user_id -%>
  </div>
  <div class="field">
    <%= f.label t('activerecord.models.item') -%><br />
    <%= f.text_field :item_id -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>

<%= link_to t('page.back'), user_checkouts_path(@user) -%>
