<h1 class="title"><%= t('page.new', :model => t('activerecord.models.checkouts')) -%></h1>

<%= form_for(@checkout) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.user') -%><br />
    <%= f.text_field :user_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.item') -%><br />
    <%= f.text_field :item_id -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

<%= link_to t('page.back'), user_checkouts_path(@user.username) -%>
