<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

  <%= render 'manifestations/title', :manifestation => @checkout.item.manifestation -%>
  <p>
    <strong><%= t('activerecord.attributes.item.item_identifier') -%></strong><br />
    <%= link_to @checkout.item.item_identifier, @checkout.item -%>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.checkout.due_date') -%></strong><br />
    <%= l(@checkout.due_date, :format => :only_date) if @checkout.due_date -%>
  </p>
  <%- if can? :destroy, @checkout -%>
    <p>
      <strong><%= t('checkout.current_user') -%></strong><br />
      <%= link_to @checkout.user_username, @checkout.user -%>
    </p>
  <%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render 'manifestations/book_jacket', :manifestation => @checkout.item.manifestation -%>
  <ul>
    <li><%= link_to t('page.edit'), edit_user_checkout_path(@checkout.user, @checkout) -%></li>
    <li><%= link_to t('page.back'), user_checkouts_path(@checkout.user) -%></li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('page.back_to', :model => t('activerecord.models.checkout')), checkouts_path -%></li>
    <%- end -%>
  </ul>
</div>
