<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.showing', model: t('activerecord.models.checkout')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

  <%= render 'manifestations/title', manifestation: @checkout.item.manifestation -%>
  <p>
    <strong><%= t('activerecord.attributes.item.item_identifier') -%></strong><br />
    <%= link_to @checkout.item.item_identifier, @checkout.item -%>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.checkout.due_date') -%></strong><br />
    <%= l(@checkout.due_date, format: :only_date) if @checkout.due_date -%>
  </p>
  <%- if policy(@checkout).update? -%>
    <p>
      <strong><%= t('checkout.current_user') -%></strong><br />
      <% if @checkout.user.try(:profile) -%>
        <%= link_to @checkout.user_username, @checkout.user.profile if @checkout.user.try(:profile) -%>
        (
          <%= t('activerecord.attributes.profile.user_number') %>:
          <%= @checkout.user.profile.user_number %>
        )
      <% end %>
    </p>
  <%- end -%>
</div>
</div>

<div id="submenu" class="col">
  <%= render 'manifestations/book_jacket', manifestation: @checkout.item.manifestation -%>
  <ul>
    <li><%= link_to t('page.edit'), edit_checkout_path(@checkout) -%></li>
    <li><%= link_to t('page.back'), :back -%></li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('page.listing', model: t('activerecord.models.checkout')), checkouts_path -%></li>
    <%- end -%>
  </ul>
</div>
