<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.resource_import_file')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th>Id</th>
    <th><%= t('activerecord.attributes.resource_import_file.resource_import_file_name') -%></th>
    <th><%= t('activerecord.attributes.resource_import_file.imported_at') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.resource_import_file.state') -%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%- for resource_import_file in @resource_import_files -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to (resource_import_file.id), resource_import_file -%></td>
    <td><%= resource_import_file.resource_import_file_name -%></td>
    <td><%= l(resource_import_file.imported_at) if resource_import_file.imported_at -%></td>
    <td><%= link_to h(resource_import_file.user.username), user_path(resource_import_file.user.username) -%></td>
    <td><%= localized_state(resource_import_file.state) -%></td>
    <td><%= link_to t('page.show'), resource_import_file -%></td>
    <td><%= link_to t('page.edit'), edit_resource_import_file_path(resource_import_file) -%></td>
    <td><%= link_to t('page.destroy'), resource_import_file, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@resource_import_files) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.resource_import_file')), new_resource_import_file_path -%></li>
  </ul>
</div>
