<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.new', :model => t('activerecord.models.resource_import_file')) -%></h1>
<div id="content_list">

<%= form_for(@resource_import_file, :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :resource_import -%>
  </div>

  <div class="field">
    <%= f.label :edit_mode -%><br />
    <%= f.radio_button :edit_mode, 'create', :checked => 'checked' %>
    <%= t('page.create') %>
    <%= f.radio_button :edit_mode, 'create' %>
    <%= t('page.update') %>
    <%= f.radio_button :edit_mode, 'destroy' %>
    <%= t('page.destroy') %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), resource_import_files_path -%></li>
  </ul>
</div>
