<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.resource_import_file')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @resource_import_file.id -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.resource_import_file_name') -%>:</strong>
  <% if @resource_import_file.attachment.attached? %>
    <%= link_to @resource_import_file.attachment.filename, rails_blob_path(@resource_import_file.attachment) %>
    (<%= @resource_import_file.attachment.content_type -%>)
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.resource_import_file_size') -%>:</strong>
  <%= @resource_import_file.attachment.byte_size -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@resource_import_file.created_at) if @resource_import_file.created_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.executed_at') -%>:</strong>
  <%= l(@resource_import_file.executed_at) if @resource_import_file.executed_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.edit_mode') -%>:</strong>
  <%= @resource_import_file.edit_mode -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.user_encoding') -%>:</strong>
  <%= @resource_import_file.user_encoding -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.default_shelf_id') -%>:</strong>
  <%= link_to @resource_import_file.default_shelf.name, @resource_import_file.default_shelf if @resource_import_file.default_shelf -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.state') -%>:</strong>
  <%= localized_state(@resource_import_file.current_state) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.resource_import_file.error_message') -%>:</strong>
  <%= @resource_import_file.error_message -%>
</p>

<div>
  <strong><%= t('page.notice') -%>:</strong>
<ul>
  <% @resource_import_file.resource_import_results.skipped.each do |resource_import_result| %>
    <li><%= resource_import_result.error_message %></li>
  <% end %>
</ul>
</div>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @resource_import_file.user.username, @resource_import_file.user.profile if @resource_import_file.user.try(:profile) -%>
</p>

<% if @resource_import_results %>
  <%= render 'results' %>
<% end %>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <%= form_for(@resource_import_file) do |f| %>
  <ul>
    <li><%= back_to_index(flash[:page_info]) -%></li>
    <% if current_user.has_role?('Administrator') %>
      <li><%= link_to 'Queue', mission_control_jobs %></li>
    <% end %>
  </ul>
  <% end %>
</div>
