<%= form_with(model: bookstore) do |f| %>
  <%= error_messages(bookstore) %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :zip_code %><br/>
    <%= f.text_field :zip_code, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :address %><br/>
    <%= f.text_area :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number %><br/>
    <%= f.phone_field :telephone_number, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :fax_number %><br/>
    <%= f.phone_field :fax_number, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :url %><br/>
    <%= f.url_field :url, class: "form-control resource_url" %>
  </div>

  <div class="field">
    <%= f.label :note %><br/>
    <%= f.text_area :note, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<%- end %>
