<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.bookstore')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.bookstore.name') -%></th>
    <th><%= t('activerecord.attributes.bookstore.telephone_number') -%></th>
    <th><%= t('activerecord.attributes.bookstore.fax_number') -%></th>
    <th id="edit_icons"></th>
  </tr>

<%- @bookstores.each_with_index do |bookstore, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, bookstore -%>
        <%= move_position(bookstore) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to h(bookstore.name), bookstore -%><br />
      <%= link_to h(bookstore.url), bookstore.url -%>
    </td>
    <td><%= bookstore.telephone_number -%></td>
    <td><%= bookstore.fax_number -%></td>
    <td>
      <%- if can? :destroy, bookstore -%>
        <%= link_to image_tag('/icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit')), edit_bookstore_path(bookstore) -%>
        <%= link_to image_tag('/icons/delete.png', :size => '16x16', :alt => t('page.destroy')), bookstore, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@bookstores) -%>
</div>
</div>

<div id="submenu">
  <%- if can? :create, Bookstore -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.bookstore')), new_bookstore_path -%></li>
    </ul>
  <%- end -%>
</div>
