<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.bookstore')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.bookstore.name') -%>:</strong>
  <%= @bookstore.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookstore.zip_code') -%>:</strong>
  <%= @bookstore.zip_code -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookstore.address') -%>:</strong>
  <%= @bookstore.address -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookstore.telephone_number') -%>:</strong>
  <%= @bookstore.telephone_number -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookstore.fax_number') -%>:</strong>
  <%= @bookstore.fax_number -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookstore.url') -%>:</strong>
  <%= link_to h(@bookstore.url), @bookstore.url -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.bookstore.note') -%>:</strong>
  <%= @bookstore.note -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_bookstore_path(@bookstore) -%></li>
    <li><%= link_to t('page.back'), bookstores_path -%></li>
    <li><%= link_to t('activerecord.models.order_list'), bookstore_order_lists_path(@bookstore) -%></li>
  </ul>
</div>
