<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.role')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.role.name') -%></th>
    <th><%= t('activerecord.attributes.role.display_name') -%></th>
    <th></th>
  </tr>

<%- @roles.each do |role| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to role.name, role -%></td>
    <td><%= link_to role.display_name.localize, role -%></td>
    <td>
      <%= link_to t('page.edit'), edit_role_path(role) -%>
      <%= link_to t('page.destroy'), role, :confirm => t('page.are_you_sure'), :method => :delete -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
