<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.role')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.role.name') -%>:</strong>
  <%= @role.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.role.display_name') -%>:</strong>
  <%= @role.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.role.score') -%>:</strong>
  <%= @role.score -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.role.note') -%>:</strong>
  <%= @role.note -%>
</p>

<p>
<strong><%= t('page.created_at') -%>:</strong>
  <%= l(@role.created_at) if @role.created_at -%>
</p>

<p>
<strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@role.updated_at) if @role.created_at -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_role_path(@role) -%></li>
    <li><%= link_to t('page.back'), roles_path -%></li>
  </ul>
</div>
