<% if manifestation %>
  <%= render 'manifestations/title', :manifestation => manifestation -%>
<% end %>

<%# = render 'page/required_field' %>
<%= simple_form_for(@item) do |f| -%>
  <%= f.error_messages -%>
  <%= f.hidden_field :manifestation_id %>

  <div class="field">
    <%= f.label t('activerecord.models.library') -%><strong> / <%= t('activerecord.models.shelf') -%></strong><br />
    <%= f.select :library_id, @libraries.map{|l| [l.display_name.localize, l.id]}, {} %>
    <%#= f.select :shelf_id, @shelves.map{|s| [s.display_name.localize, s.id]}, {} %>
    <%= select_tag :shelf_category, options_for_select(@shelf_categories.map{|c|[i18n_shelf_category(c),c]}) %>
    <%= f.select :shelf_id, @shelves.map{|s| [s.display_name.localize, s.id]} %>
    <%= render 'observe_field' %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.retention_period') %><br />
    <%= f.select(:retention_period_id, @retention_periods.collect{|r| [r.display_name.localize, r.id]}) %>
  </div>

  <div class="field">
    <%= f.label :call_number %><br />
    <%= f.text_field :call_number %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.bookstore') %>
    <%= f.select(:bookstore_id, @bookstores.collect{|b| [b.name, b.id]}, :include_blank => true) %>
    <%= text_field :search_bookstore, :input %>
    <span id="error" style="color: red"></span>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.url_field :url, :class => 'resource_url' %>
  </div>

  <div class="field">
    <%= f.label :include_supplements %>
    <%= f.check_box :include_supplements %>
  </div>

  <div class="field">
    <%= f.label t('role.required_role') %>
    <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) %>
  </div>

  <div class="field">
    <%= f.label :non_searchable %>
    <%= f.check_box :non_searchable %>
  </div>

  <div class="field">
<script>
$(function(){
  $('#item_acquired_at').setCalendar({src:'/assets/calendar.png'});
});
</script>
    <%= f.label :acquired_at %>
    <% if @item.acquired_at %>
      <%= f.text_field :acquired_at, :value => @item.acquired_at.try(:strftime, "%Y-%m-%d"), :class => 'date_field' %>
    <% else %>
      <%= f.text_field :acquired_at, :class => 'date_field', :placeholder => "#{t('page.example')}: 2011-04-12"%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :class => 'resource_textarea' %>
  </div>

  <div class="actions">
    <%= f.hidden_field :checkout_type_id, :value => CheckoutType.where(:name => 'article').first.id %>
    <%= f.hidden_field :circulation_status_id, :value =>  CirculationStatus.where(:name => 'Not Available').first.id %>
    <%= f.hidden_field :item_identifier, :value => Numbering.do_numbering('article') unless @item.item_identifier %>
    <%= f.hidden_field :use_restriction_id, :value => UseRestriction.where(:name => 'Not For Loan').first.id %>
    <%= f.hidden_field :rank, :value => 0.to_i %>
    <%= f.submit :disable_with => t('page.wait') %>
  </div>
  <%= javascript_tag("$('#item_retention_period_id').focus()") %>
<%- end -%>
