<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :manifestation_id %><br />
    <%= f.text_field :manifestation_id %>
  </div>
  <div class="field">
    <%= f.label :item_identifier %><br />
    <%= f.text_field :item_identifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
