<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.item')) -%></h1>
  <div id="content_list">
    <%= render 'form', item: @item %>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <%= render 'manifestations/book_jacket', manifestation: @item.manifestation -%>
  <ul>
    <li><%= link_to t('page.show'), @item -%></li>
    <% if policy(@item).destroy? %>
      <li><%= link_to t('page.destroy'), @item, data: {confirm: t('page.are_you_sure')}, method: :delete -%></li>
    <% end %>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
