<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">

<%= form_for(@item) do |f| -%>
  <%= f.error_messages -%>

  <%- if @item.manifestation -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @item.manifestation} -%>
  <%- end -%>

  <p>
    <%= f.label t('activerecord.models.library') -%> / <%= t('activerecord.models.shelf') -%><br />
    <%= f.select :library_id, @libraries.map{|l| [l.display_name.localize, l.id]} %>
    <%= f.select :shelf_id, @shelves.map{|s| [s.display_name.localize, s.id]} %>
    <%= render :partial => 'observe_field' %>
  </p>

  <p>
    <%= f.label t('activerecord.models.checkout_type') -%><br />
    <%= f.select(:checkout_type_id, @checkout_types.collect{|c| [c.display_name.localize, c.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.circulation_status') -%><br />
    <%= f.select(:circulation_status_id, @circulation_statuses.collect{|c| [c.display_name.localize, c.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.item.call_number') -%><br />
    <%= f.text_field :call_number -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.item.price') -%><br />
    <%= f.text_field :price -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.item.url') -%><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>
 
  <p>
    <%= f.label t('activerecord.attributes.item.include_supplements') -%>
    <%= f.check_box :include_supplements -%>
  </p>
 
  <!--
  <p>
  <%= f.label t('activerecord.models.use_restriction') -%>:<br />
  <%- @use_restrictions.each do |use_restriction| -%>
    <%= check_box_tag "use_restriction_id[]", use_restriction.id, @item.use_restrictions.include?(use_restriction), :id => "use_restriction_id_#{use_restriction.id}" -%>
    <%= use_restriction.display_name.localize -%><br />
  <%- end -%>
  </p>
  -->

  <p>
    <%= f.label t('role.required_role') -%>
    <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.item.item_identifier') -%><br />
    <%= f.text_field :item_identifier, :class => 'resource_item_identifier' -%>
  </p>
 
  <p>
    <%= f.submit t('page.update') -%>
  </p>
  <%= javascript_tag("$('#library_id').focus()") -%>
<%- end -%>
</div>
</div>

<div id="submenu">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @item.manifestation} -%>
  <ul>
    <li><%= link_to t('page.show'), @item -%></li>
    <li><%= link_to t('page.back'), manifestation_items_path(@item.manifestation) -%></li>
  </ul>
</div>
