<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.item')) -%></h1>
    <%= render 'manifestations/title', :manifestation => @item.manifestation -%>
    <%= render 'form' %>
  </div>

  <div class="span3">
    <%= render 'manifestations/book_jacket', :manifestation => @item.manifestation -%>
    <ul>
      <li><%= link_to t('page.show'), @item -%></li>
      <% if can? :destroy, @item %>
        <li><%= link_to t('page.destroy'), @item, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%></li>
      <% end %>
      <li><%= link_to t('page.back'), manifestation_items_path(@item.manifestation) -%></li>
    </ul>
  </div>
</div>
