<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('activerecord.attributes.item.loss_item') -%></h1>
<div id="content_list">
  <%- if @item.manifestation -%>
    <%= render 'manifestations/title', :manifestation => @item.manifestation -%>
    <br />
  <%- end -%>
  <div style="color: red"><%= flash[:message] -%></div>
  <strong><%= t('activerecord.attributes.item.will_loss_item') -%></strong><br />
  <%= form_tag({:action => 'update_loss_item'}) do -%>
    <div class="field">
      <%= hidden_field_tag :loss_item, true -%>
    </div>
    <div class="actions">
     <%= submit_tag t('activerecord.attributes.item.set_status'), :disable_with => t('page.wait') -%>
    </div>
  <%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.showing', :model => t('activerecord.models.item')), @item -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.item')), items_path -%></li>
  </ul>
</div>
