<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.new', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">
  <%= render 'manifestations/title', :manifestation => @manifestation if @manifestation -%>
  <%= render 'form' %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%- if @manifestation -%>
    <%= render 'manifestations/book_jacket', :manifestation => @manifestation -%>
  <%- end -%>

  <ul>
    <%- if @manifestation -%>
      <li><%= link_to t('page.back'), manifestation_items_path(@manifestation) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), items_path -%></li>
    <%- end -%>
  </ul>
</div>
