<div data-role="header">
  <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" class="ui-btn-left"><%= t('page.back') %></a>
  <h1 class="title"><%= t('page.showing', model: t('activerecord.models.item')) -%></h1>
</div>
<div data-role="content">
  <%- if @item.manifestation -%>
    <%= render 'manifestations/title', manifestation: @item.manifestation -%>
  <%- end -%>
  <div id="detail">
<p>
  <strong><%= t('activerecord.models.shelf') -%>:</strong>
  <%= link_to @item.shelf_display_name.localize, @item.shelf -%>
  <%= render 'items/shelf_picture', item: @item -%>
  (<%= link_to @item.shelf.library.display_name.localize, @item.shelf.library -%>)
</p>

<% if defined?(EnjuCirculation) %>
  <p>
    <strong><%= t('activerecord.attributes.item.checkout_type') -%>:</strong>
    <%= @item.checkout_type.display_name.localize -%>
  </p>

  <p>
    <strong><%= t('activerecord.models.circulation_status') -%>:</strong>
    <%= @item.circulation_status.display_name.localize -%>
    <%- if current_user.try(:has_role?, 'Librarian') -%>
      <%- unless @item.checkouts.not_returned.blank? -%>
        (<%= link_to t('item.current_checkout'), checkout_path(@item.checkouts.not_returned.first) -%>)
      <%- end -%>
    <%- end -%>
  </p>

  <p>
    <strong><%= t('activerecord.models.use_restriction') -%>:</strong>
    <% if @item.use_restriction %>
      <ul>
        <li><%= @item.use_restriction.display_name.localize -%></li>
      </ul>
    <% end %>
  </p>
<% end %>

<p>
  <strong><%= t('activerecord.attributes.item.call_number') -%>:</strong>
  <%= @item.call_number -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.item_identifier') -%>:</strong>
  <%= @item.item_identifier -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.price') -%>:</strong>
  <%= @item.price -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.url') -%>:</strong>
  <%= @item.url -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.include_supplements') -%>:</strong>
  <%= localized_boolean(@item.include_supplements) -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@item.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@item.updated_at) -%>
</p>
</div>
</div>
