<div style="color: red"><%= flash[:message] -%></div>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">
  <%- if @item.manifestation -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @item.manifestation} -%>
  <%- end -%>

<p>
  <strong><%= t('activerecord.models.shelf') -%>:</strong>
  <%= link_to h(@item.shelf.display_name.localize), shelf_path(@item.shelf_id) -%>
  <%= render :partial => 'items/shelf_picture', :locals => {:item => @item} -%>
  (<%= link_to h(@item.shelf.library.display_name.localize), library_path(@item.shelf.library.name) -%>)
</p>

<p>
  <strong><%= t('activerecord.attributes.item.checkout_type') -%>:</strong>
  <%= link_to h(@item.checkout_type.display_name.localize), @item.checkout_type -%>
</p>

<p>
  <strong><%= t('activerecord.models.lending_policy') -%>:</strong>
  <ul>
    <%- @item.lending_policies.each do |lending_policy| -%>
      <li><%= link_to h(lending_policy.user_group.display_name.localize), lending_policy -%></li>
    <%- end -%>
  </ul>
</p>

<p>
  <strong><%= t('activerecord.models.circulation_status') -%>:</strong>
  <%= link_to h(@item.circulation_status.display_name.localize), @item.circulation_status -%>
  <%- if user_signed_in? -%>
    <%- if current_user.has_role?('Librarian') -%>
      <%- unless @item.checkouts.not_returned.blank? -%>
        (<%= link_to t('item.current_checkout'), user_checkout_path(@item.checkouts.not_returned.first.user.username, @item.checkouts.not_returned.first) -%>)
      <%- end -%>
    <%- end -%>
  <%- end -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.call_number') -%>:</strong>
  <%= @item.call_number -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.item_identifier') -%>:</strong>
  <%= @item.item_identifier -%>
  <br/>
  <%= image_tag("#{barcode_url(@item.barcode)}.png", :alt => @item.item_identifier) if @item.barcode -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.price') -%>:</strong>
  <%= @item.price -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.url') -%>:</strong>
  <%= @item.url -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.include_supplements') -%>:</strong>
  <%= localized_boolean(@item.include_supplements) -%>
</p>

<!--
<p>
  <strong><%= t('activerecord.models.use_restriction') -%>:</strong>
  <ul>
    <%- @item.use_restrictions.each do |use_restriction| -%>
      <li><%= link_to h(use_restriction.display_name.localize), use_restriction_path(use_restriction) -%></li>
    <%- end -%>
  </ul>
</p>
-->

<%- cache(:controller => :items, :action => :show, :id => @item.id, :role => current_user_role_name, :locale => @locale) do -%>
<%- if can? :update, @item -%>
  <p>
    <strong><%= t('item.donor') -%>:</strong>
    <%- @item.donors.each do |patron| -%>
      <%= link_to h(patron.full_name), patron -%>
    <%- end -%>
  </p>
<%- end -%>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@item.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@item.updated_at) -%>
</p>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @item.manifestation} -%>
  <ul>
    <%- if @shelf -%>
      <li><%= link_to t('page.edit'), edit_library_shelf_item_path(@shelf.library, @shelf, @item) -%></li>
    <%- else -%>
      <li><%= link_to t('page.edit'), edit_item_path(@item) -%></li>
    <%- end -%>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.inter_library_loan')), item_inter_library_loans_path(@item) -%></li>
    <li><%= link_to t('page.back'), items_path -%></li>
    <li><%= link_to t('page.destroy'), @item, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- if @item.inter_library_loans.empty? -%>
      <li><%= link_to t('item.add_new_copy'), new_manifestation_item_path(@item.manifestation) -%></li>
    <%- end -%>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.lending_policy')), item_lending_policies_path(@item) -%></li>
  </ul>
</div>
