<div style="color: red"><%= flash[:message] -%></div>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

  <%- if @item.manifestation -%>
    <%= render 'manifestations/title', :manifestation => @item.manifestation -%>
  <%- end -%>

<p>
  <strong><%= t('activerecord.models.shelf') -%>:</strong>
  <%= link_to @item.shelf_display_name.localize, @item.shelf -%>
  <%= render 'items/shelf_picture', :item => @item -%>
  (<%= link_to @item.shelf.library.display_name.localize, @item.shelf.library -%>)
</p>

<% if defined?(EnjuCirculation) %>
  <p>
    <strong><%= t('activerecord.attributes.item.checkout_type') -%>:</strong>
    <%= link_to @item.checkout_type.display_name.localize, @item.checkout_type -%>
  </p>

  <p>
    <strong><%= t('activerecord.models.lending_policy') -%>:</strong>
    <ul>
      <%- @item.lending_policies.each do |lending_policy| -%>
        <li><%= link_to lending_policy.user_group.display_name.localize, lending_policy -%></li>
      <%- end -%>
    </ul>
  </p>

  <p>
    <strong><%= t('activerecord.models.circulation_status') -%>:</strong>
    <%= link_to @item.circulation_status.display_name.localize, @item.circulation_status -%>
    <%- if user_signed_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
       <%- unless @item.checkouts.not_returned.blank? -%>
          (<%= link_to t('item.current_checkout'), checkout_path(@item.checkouts.not_returned.first) -%>)
        <%- end -%>
      <%- end -%>
    <%- end -%>
    </p>

  <p>
    <strong><%= t('activerecord.models.use_restriction') -%>:</strong>
    <% if @item.use_restriction %>
      <ul>
        <li><%= @item.use_restriction.display_name.localize %></li>
      </ul>
    <% end %>
  </p>
<% end %>

<p>
  <strong><%= t('activerecord.attributes.item.call_number') -%>:</strong>
  <%= @item.call_number -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.item_identifier') -%>:</strong>
  <%= @item.item_identifier -%>
</p>

<p>
  <strong><%= t('activerecord.models.bookstore') -%>:</strong>
  <%= @item.bookstore.try(:name) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.price') -%>:</strong>
  <%= @item.price -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.url') -%>:</strong>
  <%= @item.url -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.include_supplements') -%>:</strong>
  <%= localized_boolean(@item.include_supplements) -%>
</p>

<!--
<%- if can? :update, @item -%>
  <p>
    <strong><%= t('item.donor') -%>:</strong>
    <%- @item.donors.each do |patron| -%>
      <%= link_to patron.full_name, patron -%>
    <%- end -%>
  </p>
<%- end -%>
-->

<%- cache(:controller => :items, :action => :show, :id => @item.id, :page => 'detail', :role => current_user_role_name, :locale => @locale, :item_id => nil) do -%>
<p>
  <strong><%= t('activerecord.attributes.item.acquired_at') -%>:</strong>
  <%= l(@item.acquired_at, :format => :only_date) if @item.acquired_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.note') -%>:</strong>
  <%= @item.note %>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@item.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@item.updated_at) -%>
</p>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render 'manifestations/book_jacket', :manifestation => @item.manifestation -%>
  <ul>
    <li><%= back_to_index(flash[:page_info]) -%></li>
    <% if can? :update, @item %>
      <%- if @shelf -%>
        <li><%= link_to t('page.edit'), edit_library_shelf_item_path(@shelf.library, @shelf, @item) -%></li>
      <%- else -%>
        <li><%= link_to t('page.edit'), edit_item_path(@item) -%></li>
      <%- end -%>
      <li><%= link_to t('item.edit_exemplification'), item_manifestations_path(@item, :mode => 'add') -%></li>
    <% end %>
    <% if defined?(EnjuInterLibraryLoan) %>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.inter_library_loan')), item_inter_library_loans_path(@item) -%></li>
    <% end %>
    <% if can? :destroy, @item %>
      <li><%= link_to t('page.destroy'), @item, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <% end %>
    <% if defined?(EnjuInterLibraryLoan) %>
      <%- if @item.inter_library_loans.empty? -%>
        <li><%= link_to t('item.add_new_copy'), new_manifestation_item_path(@item.manifestation) -%></li>
      <%- end -%>
    <% end %>
    <% if defined?(EnjuCirculation) %>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.lending_policy')), item_lending_policies_path(@item) -%></li>
    <% end %>
  </ul>
</div>
