<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.showing', model: t('activerecord.models.budget_type')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.budget_type.name') -%>:</strong>
  <%= @budget_type.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.budget_type.display_name') -%>:</strong>
  <%= @budget_type.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.budget_type.note') -%>:</strong>
  <%= @budget_type.note -%>
</p>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(@budget_type).update? -%>
      <li><%= link_to t('page.edit'), edit_budget_type_path(@budget_type) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
