<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('exstatistics.checkout_report') %></h1>
<div id="content_list">
<%= form_for :checkoutlists, :html => { :method => 'get', :id => 'form' } do %>
  <div class="field">
    <p id="notice"><%= notice %></p>
    <%= label :list_condition, t('activerecord.attributes.item_list.list_condition') %>:<br />
    <div class="parent">
      <%= check_box_tag "all_circulation_status", true,
         @selected_circulation_status.size == @circulation_status.size ? true : false, :class => 'check-parent' %>
      <%= t('advanced_search.all', :model => t('activerecord.models.circulation_status')) %><br />
      <div id="list_condition_200">
        <% @circulation_status.each_with_index do |c, g| %>
          &nbsp;&nbsp;
          <%= check_box_tag "circulation_status[]", c.id,
            @selected_circulation_status.index(c.id) ? true : false, :class => 'check-child' %>
          <%= c.display_name.localize %><br />
          <% if g == 6 %>
        </div>
      <div id="list_condition_200">
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <br style="clear:both;"/>
  <div class="actions">
    <%= submit_tag t('page.output_pdf', :model => t('activerecord.models.checkoutlist')),
      :onclick => "push_submit('pdf');" %>
    <%= submit_tag t('page.output_tsv', :model => t('activerecord.models.checkoutlist')),
      :onclick => "push_submit('tsv');" %>
  </div>
<% end %>

<% @displist.each do |d| %>
  <br />
  <h3><strong><%= d.circulation_status %></strong></h3>
  <table class="index">
    <tr>
      <th><%= t('activerecord.attributes.manifestation.original_title') %></th>
      <th><%= t('activerecord.models.library') %></th>
      <th><%= t('activerecord.models.shelf') %></th>
      <th><%= t('activerecord.attributes.item.call_number') %></th>
      <th><%= t('activerecord.attributes.item.item_identifier') %></th>
    </tr>
    <% num = 0 %>
    <% d.items.each do |item| %>
      <tr class="line<%= num %>">
        <td><%= link_to item.manifestation.original_title, item.manifestation %></td>
        <td><%= link_to item.shelf.library.display_name, item.shelf.library %></td>
        <td><%= link_to item.shelf.display_name.localize, item.shelf %></td>
        <td><%= call_numberformat(item) if item.call_number %></td>
        <td><%= link_to item.item_identifier, item if item.item_identifier %></td>
      </tr>
      <% num = num == 0 ? 1 : 0 %>
    <% end %>
  </table>
<% end %>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), page_extensions_path %></li>
  </ul>
</div>
