<script>
  function checkAll(objAll) {
    if (objAll.checked == true)
      $('.circulation_status').attr('checked', true);
    else
      $('.circulation_status').attr('checked', false);
  }

  function clear_checkAll(objOne) {
    if (objOne.checked == false) {
      $('#all_circulation_status').attr('checked', false);
      return;
    }
    for (var i = 0; i < document.circulation_status.length; i++) 
      if (document.circulation_status[i].type == "checkbox") 
        if (document.circulation_status[i].checked == false && document.circulation_status[i].name != "all_circulation_status")
          return;
    document.circulation_status.all_circulation_status.checked = true;
  }
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('exstatistics.checkout_report') -%></h1>
<div id="content_list">
<%= form_for :chekoutlist, :url => {:controller => 'checkoutlists', :action => :output}, :html => {:method => 'get', :name => 'circulation_status'} do -%>
  <div class="field">
    <p id="notice"><%= notice %></p>
    <%= label :list_condition, t('activerecord.attributes.item_list.list_condition') -%>:<br />

    <%= check_box_tag "all_circulation_status", true, @checked_nil ? false : true, :id=>'all_circulation_status', :name=>'all_circulation_status', :onclick=>'checkAll(this);' -%><%= t('advanced_search.all', :model=>t('activerecord.models.circulation_status')) -%><br />
    <div id="list_condition_200">
      <%- @circulation_status.each_with_index do |c, g| -%>
        &nbsp;&nbsp;<%= check_box_tag "circulation_status[]", c.id, @checked_nil ? false : true, :class => 'circulation_status', :onclick => 'clear_checkAll(this);' -%><%= c.display_name.localize -%><br />
        <%- if g == 6 -%>
    </div>
    <div id="list_condition_200">
          <%- end -%>
        <%- end -%>
    </div>
    <br style="clear:both;"/>
  </div>
  <div class="actions">
    <%= submit_tag t('page.output_pdf', :model => t('activerecord.models.checkoutlist')), :name => 'output_pdf' %>
    <%= submit_tag t('page.output_tsv', :model => t('activerecord.models.checkoutlist')), :name => 'output_tsv' %>
  </div>
<%- end -%>

<%- @displist.each do |d|-%>
  <br />
  <h3><strong><%= d.display_name -%></strong></h3>
  <table class="index">
    <tr>
      <th><%= t('activerecord.attributes.manifestation.original_title') -%></th>
      <th><%= t('activerecord.models.library') -%></th>
      <th><%= t('activerecord.models.shelf') -%></th>
      <th><%= t('activerecord.attributes.item.call_number') -%></th>
      <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    </tr>
    <%- line = 0 -%>
    <%- d.items.each do |item| -%>
      <%- if line == 0 -%>
        <tr class="line0">
        <%- line = 1 -%>
      <%- else -%>
        <tr class="line1">
        <%- line = 0 -%>
      <%- end -%>
        <td><%= item.manifestation.original_title -%></td>
        <td><%= item.shelf.library.display_name -%></td>
        <td><%= item.shelf.display_name.localize -%></td>
        <td><%= item.call_number-%></td>
        <td><%= item.item_identifier-%></td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <p>
    <li><%= link_to t('page.back'), page_exstatistics_path -%></li>
  </p>
</div>
