<%= form_with(model: resource_export_file) do |f| %>
  <%= error_messages(resource_export_file) %>

  <%= f.hidden_field :mode, value: 'export' if resource_export_file.new_record? %><br>
  <div class="actions">
    <% if resource_export_file.new_record? %>
      <%= f.submit t('page.export') %>
    <% else %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
