<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.manifestation_checkout_stat')) -%></h1>
<div id="content_list">

<%= form_for(@manifestation_checkout_stat) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.manifestation_checkout_stat.start_date') -%><br />
    <%= f.datetime_select :start_date -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.manifestation_checkout_stat.end_date') -%><br />
    <%= f.datetime_select :end_date -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.manifestation_checkout_stat.note') -%><br />
    <%= f.text_area :note -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @manifestation_checkout_stat -%></li>
    <li><%= link_to t('page.back'), manifestation_checkout_stats_path -%></li>
  </ul>
</div>
