<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('activerecord.attributes.barcode_list.print_label') -%></h1>
<div id="content_list">
  <%= form_tag("create_pdf") do  %>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.barcode_name') -%>:</strong>
  <%= @barcode_list.barcode_name -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.usage_type') -%>:</strong>
  <%= barcode_list_usage_name(@barcode_list.usage_type) -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.barcode_type') -%>:</strong>
  <%= @barcode_list.barcode_type -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.barcode_prefix') -%>:</strong>
  <%= @barcode_list.barcode_prefix -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.barcode_suffix') -%>:</strong>
  <%= @barcode_list.barcode_suffix -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.sheet_id') -%>:</strong>
  <%= @barcode_list.sheet.name -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.label_note') -%>:</strong>
  <%= @barcode_list.label_note -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.last_number') -%>:</strong>
  <%= @barcode_list.last_number -%>
</p>
<br />
<p>
  <strong><%= t('activerecord.attributes.barcode_list.start_number') -%>:</strong>
  <%= text_field_tag "barcode_list[start_number]" -%>
</p>
<p>
  <strong><%= t('activerecord.attributes.barcode_list.end_number') -%>:</strong>
  <%= text_field_tag "barcode_list[end_number]" -%>
</p>
<br />
<br />
  <div class="actions">
    <%= submit_tag t('activerecord.attributes.barcode_list.print_label_2') %>
  </div>
<%- end -%>


</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), barcode_lists_path -%></li>
  </ul>
</div>
