<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.country')) -%></h1>
<div id="content_list">

<%= form_for(@country) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name, :class => 'resource_textarea' -%>
  </div>

  <div class="field">
    <%= f.label :note -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), countries_path -%></li>
  </ul>
</div>
