<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.terminal')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.terminal.ipaddr') -%>:</strong>
  <%= @terminal.ipaddr -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.terminal.name') -%>:</strong>
  <%= @terminal.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.terminal.comment') -%>:</strong>
  <%= @terminal.comment %>
</p>

<p>
  <strong><%= t('activerecord.attributes.terminal.checkouts_autoprint') -%>:</strong>
  <%= @terminal.checkouts_autoprint ? t('activerecord.attributes.terminal.boolean_yes') : t('activerecord.attributes.terminal.boolean_no') -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.terminal.reserve_autoprint') -%>:</strong>
  <%= @terminal.reserve_autoprint ? t('activerecord.attributes.terminal.boolean_yes') : t('activerecord.attributes.terminal.boolean_no') -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.terminal.manifestation_autoprint') -%>:</strong>
  <%= @terminal.manifestation_autoprint ? t('activerecord.attributes.terminal.boolean_yes') : t('activerecord.attributes.terminal.boolean_no') -%>
</p>
</div>
</div>


<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_terminal_path(@terminal) -%></li>
    <li><%= link_to t('page.back'), terminals_path -%></li>
  </ul>
</div>
