<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.listing', model: t('activerecord.models.realize_type')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.realize_type.name') -%></th>
    <th>
      <%= t('activerecord.attributes.realize_type.display_name') -%>
      /
      <%= t('activerecord.attributes.realize_type.note') -%>
    </th>
    <th></th>
  </tr>

<%- @realize_types.each do |realize_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(realize_type).update? -%>
        <%= move_position(realize_type) -%>
      <%- end -%>
    </td>
    <td><%= realize_type.name -%></td>
    <td>
      <%= link_to realize_type.display_name.localize, realize_type -%>
      <br />
      <%= realize_type.note %>
    </td>
    <td>
      <%- if policy(realize_type).update? -%>
        <%= link_to t('page.edit'), edit_realize_type_path(realize_type) -%>
      <% end %>
      <%- if policy(realize_type).destroy? -%>
        <%= link_to t('page.destroy'), realize_type_path(realize_type), data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(RealizeType).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.realize_type')), new_realize_type_path -%></li>
    <%- end -%>
  </ul>
</div>
