<%= simple_form_for(@thema) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :publish %><br />
    <%= f.select :publish,
        Thema::PUBLISH_PATTERN %> 
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="inputs">
    <%= f.label :position %><br />
    <%= f.select :position,
        Thema::POSITION_PATTERN %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

