<%= simple_form_for(@thema) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :publish %><br />
    <%= f.select :publish,
        { '0' => 0 , '1' => 1}  %> 
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="inputs">
    <%= f.label :position %><br />
    <%= f.select :publish,
        { '0' => 0 , '1' => 1} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

