<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.listing', model: t('activerecord.models.produce_type')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.produce_type.name') -%></th>
    <th>
      <%= t('activerecord.attributes.produce_type.display_name') -%>
      /
      <%= t('activerecord.attributes.produce_type.note') -%>
    </th>
    <th></th>
  </tr>

<%- @produce_types.each do |produce_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(produce_type).update? -%>
        <%= move_position(produce_type) -%>
      <%- end -%>
    </td>
    <td><%= produce_type.name -%></td>
    <td>
      <%= link_to produce_type.display_name.localize, produce_type -%>
      <br />
      <%= produce_type.note %>
    </td>
    <td>
      <%- if policy(produce_type).update? -%>
        <%= link_to t('page.edit'), edit_produce_type_path(produce_type) -%>
      <% end %>
      <%- if policy(produce_type).destroy? -%>
        <%= link_to t('page.destroy'), produce_type_path(produce_type), data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(ProduceType).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.produce_type')), new_produce_type_path -%></li>
    <%- end -%>
  </ul>
</div>
