<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.produce_type')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.produce_type.name') -%>:</strong>
  <%= @produce_type.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.produce_type.display_name') -%>:</strong>
  <%= @produce_type.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.produce_type.note') -%>:</strong>
  <%= @produce_type.note -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_produce_type_path(@produce_type) -%></li>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
