<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.work_has_subject')) -%></h1>
<div id="content_list">

<%= form_for(@work_has_subject) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.work_has_subject.work') -%><br />
    <%= f.text_field :work_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.work_has_subject.subject') -%><br />
    <%= f.text_field :subject_id -%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @work_has_subject -%></li>
    <li><%= link_to t('page.back'), work_has_subjects_path -%></li>
  </ul>
</div>
