<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work_has_subject')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.subject') -%></th>
    <th><%= t('activerecord.attributes.work_has_subject.work') -%></th>
  </tr>

<%- @work_has_subjects.each do |work_has_subject| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(work_has_subject.subject.term), work_has_subject.subject -%></td>
    <!-- TODO: Manifestation以外 -->
    <td><%= link_to h(work_has_subject.work.original_title), work_has_subject.work -%></td>
    <td><%= link_to t('page.show'), work_has_subject -%></td>
    <td><%= link_to t('page.edit'), edit_work_has_subject_path(work_has_subject) -%></td>
    <td><%= link_to t('page.destroy'), work_has_subject, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@work_has_subjects) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.work_has_subject')), new_work_has_subject_path -%></li>
  </ul>
</div>
