<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.work_has_subject')) -%></h1>
<div id="content_list">

<%= form_for(@work_has_subject) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.work_has_subject.work') -%><br />
    <%- if @work_has_subject.work -%>
      <%= link_to h(@work_has_subject.work.original_title), @work_has_subject.work -%>
      <%= f.hidden_field :work_id -%>
    <%- else -%>
      <%= f.text_field :work_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.work_has_subject.subject') -%><br />
    <%- if @work_has_subject.subject -%>
      <%= link_to h(@work_has_subject.subject.term), @work_has_subject.subject -%>
      <%= f.hidden_field :subject_id -%>
    <%- else -%>
      <%= f.text_field :subject_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <%- if @work -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), work_subjects_path(@work) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back_to_index'), work_has_subjects_path -%></li>
    <%- end -%>
  </ul>
</div>
