<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.work_has_subject')) -%></h1>
<div id="content_list">

<%= form_for(@work_has_subject) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :work -%><br />
    <%- if @work_has_subject.work -%>
      <%= link_to @work_has_subject.work.original_title, @work_has_subject.work -%>
      <%= f.hidden_field :work_id -%>
    <%- else -%>
      <%= f.text_field :work_id -%>
    <%- end -%>
  </div>
  <div class="field">
    <%= f.label :subject -%><br />
    <%- if @work_has_subject.subject -%>
      <%= link_to @work_has_subject.subject.term, @work_has_subject.subject -%>
      <%= f.hidden_field :subject_id -%>
    <%- else -%>
      <%= f.text_field :subject_id -%>
    <%- end -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @work -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), work_subjects_path(@work) -%></li>
    <%- else -%>
      <li><%= back_to_index -%></li>
    <%- end -%>
  </ul>
</div>
