<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work_has_subject')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.work_has_subject.work') -%>:</strong>
  <!-- TODO: Manifestation以外 -->
  <%= link_to h(@work_has_subject.work.original_title), @work_has_subject.work if @work_has_subject.work -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.work_has_subject.subject') -%>:</strong>
  <%= link_to h(@work_has_subject.subject.term), @work_has_subject.subject -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.work_has_subject')), work_has_subjects_path -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.subject')), subjects_path -%></li>
  </ul>
</div>
