<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.use_restriction')) -%></h1>
<div id="content_list">

<%= form_for(@use_restriction) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('activerecord.attributes.use_restriction.name') -%><br />
    <%= @use_restriction.name -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.use_restriction.display_name') -%><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.use_restriction.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @use_restriction -%></li>
    <li><%= link_to t('page.back'), use_restrictions_path -%></li>
  </ul>
</div>
