<div id="content_detail" class="col col-md-9">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.use_restriction')) -%></h1>
<div id="content_list">

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.use_restriction.name') -%></th>
    <th>
      <%= t('activerecord.attributes.use_restriction.display_name') -%>
      /
      <%= t('activerecord.attributes.use_restriction.note') -%>
    </th>
    <th></th>
  </tr>

<%- @use_restrictions.each do |use_restriction| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(use_restriction).update? -%>
        <%= move_position(use_restriction) -%>
      <%- end -%>
    </td>
    <td><%= use_restriction.name -%></td>
    <td>
      <%= link_to use_restriction.display_name.localize, use_restriction -%>
      <br />
      <%= use_restriction.note %>
    </td>
    <td>
      <%- if policy(use_restriction).update? -%>
        <%= link_to t('page.edit'), edit_use_restriction_path(use_restriction) -%>
      <% end %>
      <%- if policy(use_restriction).destroy? -%>
        <%= link_to t('page.destroy'), use_restriction_path(use_restriction), data: {confirm: t('page.are_you_sure')}, method: :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if policy(UseRestriction).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.use_restriction')), new_use_restriction_path -%></li>
    <%- end -%>
  </ul>
</div>
