<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.exemplify')) -%></h1>
<div id="content_list">

<%= form_for(@exemplify) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.manifestation') -%><br />
    <%= f.text_field :manifestation_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.item') -%><br />
    <%= f.text_field :item_id -%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), exemplifies_path -%></li>
  </ul>
</div>
