<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.exemplify')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.manifestation') -%>:</strong>
  <%= link_to h(@exemplify.manifestation.original_title), @exemplify.manifestation -%>
</p>

<p>
  <strong><%= t('activerecord.models.item') -%>:</strong>
  <%= link_to h(@exemplify.item.item_identifier), @exemplify.item -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_exemplify_path(@exemplify) -%></li>
    <li><%= link_to t('page.back'), exemplifies_path -%></li>
  </ul>
</div>
