<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('activerecord.models.statistic_report') -%></h1>
<div id="content_list">
<div style="color: green"><%= flash[:message] -%></div>
<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.statistic_report.type') -%></th>
    <th><%= t('activerecord.attributes.statistic_report.term') -%></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_monthly_report)  do -%>
    <td><%= t('statistic_report.monthly_report') -%></td>
    <td><%= text_field_tag :term, @year if @year %>  <%= t('statistic_report.year') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_daily_report)  do -%>
    <td><%= t('statistic_report.daily_report') -%></td>
    <td><%= text_field_tag :term, @month if @month %>  <%= t('statistic_report.month_ex') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_timezone_report)  do -%>
    <td><%= t('statistic_report.timezone_report') -%></td>
    <td><%= text_field_tag :start_at, @t_start_at if @t_start_at %> - <%= text_field_tag :end_at, @t_end_at if @t_end_at %>  <%= t('statistic_report.day') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_day_report)  do -%>
    <td><%= t('statistic_report.day_report') -%></td>
    <td><%= text_field_tag :start_at, @d_start_at if @d_start_at %> - <%= text_field_tag :end_at, @d_end_at if @d_end_at %>  <%= t('statistic_report.day') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_age_report)  do -%>
    <td><%= t('statistic_report.age_report') -%></td>
    <td><%= text_field_tag :start_at, @a_start_at if @a_start_at %> - <%= text_field_tag :end_at, @a_end_at if @a_end_at %>  <%= t('statistic_report.day') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_items_report)  do -%>
    <td><%= t('statistic_report.items_report') -%></td>
    <td><%= text_field_tag :term, @items_year if @items_year %>  <%= t('statistic_report.year_or_month') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_inout_items_report)  do -%>
    <td><%= t('statistic_report.inout_items_report') -%></td>
    <td><%= text_field_tag :term, @inout_term if @inout_term %>  <%= t('statistic_report.year_or_month') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_loans_report)  do -%>
    <td><%= t('statistic_report.loans_report') -%></td>
    <td><%= text_field_tag :term, @loans_term if @loans_term %>  <%= t('statistic_report.year_or_month') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

  <tr class="line<%= cycle("0", "1") -%>">
<%= form_tag(:action => :get_groups_report)  do -%>
    <td><%= t('statistic_report.groups_report') -%></td>
    <td><%= text_field_tag :term, @group_term if @loans_term %>  <%= t('statistic_report.year_or_month') -%></td>
    <td><%= submit_tag t('statistic_report.submit') %></td>
    <td><%= submit_tag(t('statistic_report.submit_tsv'), :name => "tsv") %></td>
<%- end -%>
  </tr>

</table>

</div>
</div>
