<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.produce')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to patron.full_name, patron -%>
  </h2>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.manifestation.original_title') -%></th>
    <th></th>
  </tr>

<%- @produces.each do |produce| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to produce.manifestation_original_title, produce.manifestation -%>
      <%= form_icon(produce.manifestation.carrier_type) -%><br />
      <%= patrons_list(produce.manifestation.creators.readable_by(current_user)) -%>
      <%= patrons_list(produce.manifestation.contributors.readable_by(current_user)) -%>
      <%= patrons_list(produce.manifestation.publishers.readable_by(current_user)) -%>
    </td>
    <td>
      <%- if can? :destroy, produce -%>
        <%= link_to t('page.destroy'), patron_produce_path(produce.patron, produce), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@produces) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.manifestation')), publisher_manifestations_path(patron) -%></li>
    <%- if can? :create, Produce -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.produce')), new_patron_produce_path(patron) -%></li>
    <%- end -%>
  </ul>
</div>
