<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.produce')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@patron.full_name), @patron -%>
  </h2>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
  </tr>
  
<%- @produces.each do |produce| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(produce.manifestation.original_title), produce.manifestation -%>
      <%= form_icon(produce.manifestation.carrier_type) -%><br />
      <%= raw patrons_list(produce.manifestation.creators, current_user) -%>
      <%= raw patrons_list(produce.manifestation.contributors, current_user) -%>
      <%= raw patrons_list(produce.manifestation.patrons, current_user) -%>
    </td>
    <%- if can? :destroy, produce -%>
      <td><%= link_to t('page.destroy'), patron_produce_path(produce.patron, produce), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@produces) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.manifestation')), patron_manifestations_path(@patron) -%></li>
    <%- if can? :create, Produce -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.produce')), new_patron_produce_path(@patron) -%></li>
    <%- end -%>
  </ul>
</div>
