<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.produce')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to manifestation.original_title, manifestation -%>
  </h2>

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
    <th></th>
  </tr>

<%- @produces.each do |produce| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, produce -%>
        <%= produce.first? ? image_tag('icons/stop.png', :size => '16x16') : link_to(image_tag('icons/arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :move => 'higher', :id => produce.id, :manifestation_id => manifestation.id}, :method => :put) -%>
        <%= produce.last? ? image_tag('icons/stop.png', :size => '16x16') : link_to(image_tag('icons/arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :move => 'lower', :id => produce.id, :manifestation_id => manifestation.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td><%= link_to create.patron.try(:full_name), create.patron -%></td>
    <td><%= l(create.created_at) -%></td>
    <td><%= l(create.updated_at) -%></td>
    <td>
      <%- if can? :destroy, produce -%>
        <%= link_to t('page.destroy'), manifestation_produce_path(manifestation, produce), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@produces) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), manifestation_patrons_path(manifestation) -%></li>
    <%- if can? :create, Produce -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.produce')), new_manifestation_produce_path(manifestation) -%></li>
    <%- end -%>
  </ul>
</div>
