<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.listing', model: t('activerecord.models.produce')) -%></h1>
<div id="content_list" class="card-body">
  <h2 class="resource_title">
    <%= link_to manifestation.original_title, manifestation -%>
  </h2>

<table class="table table-striped index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.agent') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- @produces.each do |produce| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if policy(produce).update? -%>
        <%= produce.first? ? image_tag('icons/stop.png', size: '16x16', class: 'enju_icon') : link_to(image_tag('icons/arrow_up.png', size: '16x16', class: 'enju_icon', alt: t('page.asc')), manifestation_produce_path(produce.manifestation, produce, move: 'higher'), method: :put) -%>
        <%= produce.last? ? image_tag('icons/stop.png', size: '16x16', class: 'enju_icon') : link_to(image_tag('icons/arrow_down.png', size: '16x16', class: 'enju_icon', alt: t('page.desc')), manifestation_produce_path(produce.manifestation, produce, move: 'lower'), method: :put) -%>
      <%- end -%>
    </td>
    <td><%= link_to produce.agent.try(:full_name), produce.agent -%></td>
    <td><%= l(produce.created_at) -%></td>
    <td><%= l(produce.updated_at) -%></td>
  </tr>
<%- end -%>
</table>

<%= paginate(@produces) -%>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.listing', model: t('activerecord.models.agent')), agents_path(manifestation_id: manifestation.id) -%></li>
    <%- if policy(Produce).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.produce')), new_produce_path(manifestation_id: manifestation.id) -%></li>
    <%- end -%>
  </ul>
</div>
