<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.produce')) -%></h1>
<div id="content_list">

<%= form_for(@produce) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.patron') -%><br />
    <%- if @produce.patron -%>
      <%= link_to h(@produce.patron.full_name), @produce.patron -%>
      <%= f.hidden_field :patron_id -%>
    <%- else -%>
      <%= f.text_field :patron_id -%>
    <%- end -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.manifestation') -%><br />
    <%- if @produce.manifestation -%>
      <%= link_to h(@produce.manifestation.original_title), @produce.manifestation -%>
      <%= f.hidden_field :manifestation_id -%>
    <%- else -%>
      <%= f.text_field :manifestation_id -%>
    <%- end -%>
  </p>

  <p>
  <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if @produce.patron -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), patron_manifestations_path(@produce.patron) -%></li>
    <%- end -%>
    <%- if @produce.manifestation -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.manifestation')), manifestation_patrons_path(@produce.manifestation) -%></li>
    <%- end -%>
  </ul>
</div>
