<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.showing', model: t('activerecord.models.produce')) -%></h1>
  <div id="content_list">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t('activerecord.models.agent') -%>:</strong>
      <%= link_to @produce.agent.full_name, @produce.agent -%>
    </p>

    <p>
      <strong><%= t('activerecord.models.manifestation') -%>:</strong>
      <%= link_to @produce.manifestation_original_title, @produce.manifestation -%>
    </p>

  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back_to', model: t('activerecord.models.agent')), agents_path(manifestation_id: @produce.manifestation_id) -%></li>
    <li><%= link_to t('page.back_to', model: t('activerecord.models.manifestation')), manifestations_path(publisher_id: @produce.agent_id) -%></li>
  </ul>
</div>
