<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation_reserve_stat')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.manifestation_reserve_stat.start_date') -%></th>
    <th><%= t('activerecord.attributes.manifestation_reserve_stat.end_date') -%></th>
    <th><%= t('activerecord.attributes.manifestation_reserve_stat.note') -%></th>
  </tr>

<%- @manifestation_reserve_stats.each do |manifestation_reserve_stat| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= l(manifestation_reserve_stat.start_date) -%></td>
    <td><%= l(manifestation_reserve_stat.end_date) -%></td>
    <td><%= manifestation_reserve_stat.note -%></td>
    <td><%= link_to t('page.show'), manifestation_reserve_stat -%></td>
    <td><%= link_to t('page.edit'), edit_manifestation_reserve_stat_path(manifestation_reserve_stat) -%></td>
    <td><%= link_to t('page.destroy'), manifestation_reserve_stat, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@manifestation_reserve_stats) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation_reserve_stat')), new_manifestation_reserve_stat_path -%></li>
  </ul>
</div>
