<%= form_for(@news_feed) do |f| -%>
  <%= error_messages(@news_feed) -%>

  <div class="field">
    <%= f.label t('activerecord.attributes.news_feed.title') -%><br />
    <%= f.text_field :title, class: 'resource_title' -%>
  </div>
  <div class="field">
    <%= f.label t('activerecord.attributes.news_feed.url') -%><br />
    <%= f.text_field :url, class: 'resource_url' -%>
  </div>
  <div class="actions">
    <%= f.submit -%>
  </div>
<%- end -%>
