<div id="content_detail" class="col col-md-9 ui-corner-all">
<h1 class="title card-header"><%= t('page.showing', model: t('activerecord.models.news_feed')) -%></h1>
<div id="content_list" class="card-body">
<p>
  <strong><%= t('activerecord.attributes.news_feed.title') -%>:</strong>
  <%= @news_feed.title -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.news_feed.url') -%>:</strong>
  <%= link_to h(@news_feed.url), @news_feed.url -%>
</p>

<div id="news_feed_box">
  <%= render partial: 'news_feeds/content', :locals => {:news_feed => @news_feed} -%>
</div>

<%= form_for(@news_feed, url: news_feed_url(@news_feed, mode: 'force_reload')) do |f| -%>
  <%= error_messages(@news_feed) -%>

  <p>
    <%= f.submit t('page.force_reload') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="col ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_news_feed_path(@news_feed) -%></li>
    <li><%= link_to t('page.back'), news_feeds_path -%></li>
  </ul>
</div>
