<%= form_for(@user_export_file) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :mode, value: 'export' if @user_export_file.new_record? %><br>
  <!--
  <div class="field">
    <%= f.label :user_id %><br>
    <%= @user_export_file.user.username %>
  </div>
  <div class="field">
    <%= f.label :user_export %><br>
    <%= f.text_field :user_export %>
  </div>
  -->
  <div class="actions">
    <% if @user_export_file.new_record? %>
      <%= f.submit t('page.export') %>
    <% else %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
