<%= form_with(model: user_export_file) do |f| %>
  <%= error_messages(user_export_file) %>

  <%= f.hidden_field :mode, value: "export" if user_export_file.new_record? %><br>
  <div class="actions mt-3">
    <% if user_export_file.new_record? %>
      <%= f.submit t("page.export"), class: "btn btn-primary" %>
    <% else %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
