<%= form_with(model: user_export_file) do |f| %>
  <%= error_messages(user_export_file) %>

  <%= f.hidden_field :mode, value: 'export' if user_export_file.new_record? %><br>
  <div class="actions">
    <% if user_export_file.new_record? %>
      <%= f.submit t('page.export') %>
    <% else %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
