<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.user_export_file')) -%></h1>
<div id="content_list">

<table class="table table-striped index">
  <thead>
    <tr>
      <th>Id</th>
      <th><%= t('activerecord.models.user') %></th>
      <th><%= t('activerecord.attributes.user_export_file.user_export_file_name') -%></th>
      <th><%= t('activerecord.attributes.user_export_file.state') -%></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_export_files.each do |user_export_file| %>
      <tr class="line<%= cycle("0", "1") -%>">
        <td><%= link_to user_export_file.id, user_export_file %></td>
        <td><%= user_export_file.user.try(:username) %></td>
        <td>
          <%= link_to user_export_file.user_export_file_name, user_export_file.user_export.url if user_export_file.user_export.path %>
          <br />
          <%= user_export_file.created_at %>
        </td>
        <td><%= localized_state(user_export_file.current_state) -%></td>
        <td>
          <%= link_to t('page.destroy'), user_export_file, data: {confirm: t('page.are_you_sure')}, method: :delete -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@user_export_files) %>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.new', model: t('activerecord.models.user_export_file')), new_user_export_file_path -%></li>
  </ul>
</div>
