<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <title>Next-L Enju Leaf</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= render 'page/include' %>
</head>
<body>

  <%= render 'page/menu' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'page/footer' %>

</body>
</html>
