<%= form_for(@checkin) do |f| %>
  <%= error_messages(@checkin) %>

  <div class="field">
    <%= f.text_field :item_id %>
  </div>

  <div class="field">
    <%= f.text_field :librarian_id %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
