<div style="color: red"><%= flash[:message].to_s -%></div>
<%- remote_form_for @checkin, :html => {:method => :post}, :update => :checkin_list, :url => user_basket_checkins_path(@basket.user.username, @basket, :mode => 'list') do |f| -%>

  <p><%= t('activerecord.attributes.item.item_identifier') -%>:
    <%= f.text_field :item_identifier, :class => 'resource_item_identifier' -%>
    <%= f.hidden_field :librarian_id, :value => current_user.id -%>
    <%= submit_tag t('checkin.checkin') -%></p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.item') -%></th>
    <th><%= t('activerecord.attributes.checkout.due_date') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
  </tr>
  
<%- checkins.each_with_index do |checkin, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => checkin.item.manifestation} -%>
      <%= render :partial => 'manifestations/holding', :locals => {:manifestation => checkin.item.manifestation} -%>
    </td>
    <td>
      <%= link_to h(checkin.item.item_identifier), checkin.item -%>
      <br />
      <%- unless checkin.item.shelf.library == current_user.library -%>
        <span style="color: red"><%= link_to t('activerecord.models.inter_library_loan'), item_inter_library_loans_path(checkin.item) -%></span>
      <%- end -%>
    </td>
    <td>
      <%- if checkin.checkout -%>
        <%= l(checkin.checkout.due_date, :format => :only_date) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(checkin.checkout.user.username), user_path(checkin.checkout.user.username) if checkin.checkout -%></td>
  </tr>
<%- end -%>
</table>

<%= javascript_tag("$('#checkin_item_identifier').focus()") -%>
