<div style="color: red">
  <%- unless @checkins.blank? -%>
    <%- if @checkins[0].checkout -%>
      <%= user_notice(@checkins[0].checkout.user) if @checkins[0].checkout -%>
      <br />
    <%- end -%>
    <%- unless @family_users.blank? -%>
      <%- @family_users.each do |f_user| -%>
        <%= user_notice(f_user) unless f_user == @checkins[0].checkout.user -%>     
      <%- end -%>
      <br />
    <%- end -%>
  <%- end -%>
  <%= raw flash[:message] -%>
</div>

<div>
<%- unless @loan.nil? -%>
  <%= form_tag({:controller => 'inter_library_loans', :action => 'output', :id => @loan.id}, {:method => 'post'}) do -%>
    <%= submit_tag t('page.output', :model => t('activerecord.models.inter_library_loan')) -%>
  <%- end -%>
<%- end -%>
<%- unless @reserve.nil? -%>
  <%= form_tag({:controller => 'reserves', :action => 'output', :id => @reserve.id}, {:method => 'post'}) do -%>
    <%= submit_tag t('page.output', :model => t('activerecord.attributes.reserve.reserve_list')) -%>
  <%- end -%>
<%- end -%>
<%- unless @close_shelf_item.nil? -%>
  <%= form_tag({:controller => 'shelves', :action => 'output', :item => @close_shelf_item }, {:method => 'post'}) do -%>
    <%= submit_tag t('page.output', :model => t('activerecord.models.shelf')) -%>
  <%- end -%>
<%- end -%>
</div>

<%- if flash[:sound] -%>
<script>
playSound('<%= root_path -%><%= flash[:sound] -%>');
</script>
<%- end -%>
<%= form_for @checkin, :html => {:method => :post}, :url => user_basket_checkins_path(@basket.user, @basket, :mode => 'list'), :remote => true do |f| -%>

  <p><%= t('activerecord.attributes.item.item_identifier') -%>:
    <%= f.text_field :item_identifier, :class => 'resource_item_identifier' -%>
    <%= f.hidden_field :librarian_id, :value => current_user.id -%>
    <%= submit_tag t('checkin.checkin'), :disable_with => t('page.wait') -%></p>
<%- end -%>

<table class="index">
  <tr>
    <%- if SystemConfiguration.get("checkins.disp_title") -%>
      <th><%= t('page.title') -%></th>
    <%- end -%>
    <th><%= t('activerecord.models.item') -%></th>
    <th><%= t('activerecord.attributes.item.note') -%></th>
    <th><%= t('activerecord.attributes.checkout.due_date') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
  </tr>

<%- @checkins.each_with_index do |checkin, i| -%>
<%- if checkin.checkout.overdue? -%>
  <tr class="line<%= cycle("2") -%>">
<%- else -%>
  <tr class="line<%= cycle("0", "1") -%>">
<%- end -%>
    <%- if SystemConfiguration.get("checkins.disp_title") -%>
      <td>
        <%= render 'manifestations/show_index', :manifestation => checkin.item.manifestation -%>
      </td>
    <%- end -%>
    <td>
      <%= link_to checkin.item.item_identifier, checkin.item -%>
      <br />
      <%- unless checkin.item.shelf.library == current_user.library -%>
        <span style="color: red"><%= link_to t('activerecord.models.inter_library_loan'), item_inter_library_loans_path(checkin.item) -%></span>
      <%- end -%>
    </td>
    <td><%= checkin.item.note -%></td>
    <td>
      <%- if checkin.checkout -%>
        <%= l(checkin.checkout.due_date, :format => :only_date) -%>
      <%- end -%>
    </td>
    <%- if SystemConfiguration.get("checkins.disp_user") -%>
      <td><%= link_to checkin.checkout.user.username, checkin.checkout.user if checkin.checkout -%></td>
    <%- else -%>
      <td><%= link_to t('page.userdetail'), checkin.checkout.user if checkin.checkout -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<br />
<%- unless @checkins.blank? -%>
  <%- if @checkins[0].checkout -%>
    <%- unless @checkins[0].checkout.user.blank? -%>
      <br />
      <div id="checkouts_list">
        <%= render 'page/checkouts_list', :user => @checkins[0].checkout.user -%>
      </div>
      <br />
      <div id="reserves_list">
        <%= render 'page/reserves_list', :user => @checkins[0].checkout.user -%>
      </div> 
      <%- unless @family_users.blank? -%>
        <br />
        <div id="checkouts_family_list">
          <%= render 'page/checkouts_family_list' -%>
        </div>
        <br />
        <div id="reserves_family_list">
          <%= render 'page/reserves_family_list'-%>
        </div>
      <%- end -%>
    <%- end -%>
  <%- end -%>
<%- end -%>

<br />

<%= javascript_tag("$('#checkin_item_identifier').focus()") -%>
