<div id="content_detail" class="col col-md-9">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.checkin')) -%></h1>
  <div id="content_list">
    <div id="checkin_list">
      <p id="notice"><%= notice %></p>
      <%= render 'list', checkin: @checkin -%>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.new', model: t('activerecord.models.checkout')), new_basket_path -%></li>
    <li><%= link_to t('page.listing', model: t('activerecord.models.checkin')), checkins_path -%></li>
  </ul>
</div>
