<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.showing', model: t('activerecord.models.checkin')) -%></h1>
<div id="content_list" class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.models.item') -%>:</strong>
  <%= link_to @checkin.item.manifestation.original_title, @checkin.item -%>
</p>

<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to @checkin.librarian.username, @checkin.librarian.profile -%>
</p>

</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.edit'), edit_checkin_path(@checkin) -%></li>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
</div>
