<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.classification_type')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.classification_type.name') -%></th>
    <th><%= t('activerecord.attributes.classification_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.classification_type.note') -%></th>
    <th></th>
  </tr>

<%- @classification_types.each do |classification_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, classification_type -%>
        <%= move_position(classification_type) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(classification_type.name), classification_type -%></td>
    <td><%= link_to h(classification_type.display_name.localize), classification_type -%></td>
    <td><%= classification_type.note -%></td>
    <td>
      <%- if can? :destroy, classification_type -%>
        <%= link_to t('page.edit'), edit_classification_type_path(classification_type) -%>
        <%= link_to t('page.destroy'), classification_type, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, ClassificationType -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.classification_type')), new_classification_type_path -%></li>
    <%- end -%>
  </ul>
</div>
