<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.classification_type')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.classification_type.name') -%>:</strong>
  <%= @classification_type.name -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification_type.display_name') -%>:</strong>
  <%= @classification_type.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification_type.note') -%>:</strong>
  <%= @classification_type.note -%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.classification')), classification_type_classifications_path(@classification_type) -%></li>
    <li><%= link_to t('page.edit'), edit_classification_type_path(@classification_type) -%></li>
    <li><%= link_to t('page.back'), classification_types_path -%></li>
  </ul>
</div>
