<%= form_for(@patron_relationship) do |f| %>
  <% if @patron_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patron_relationship.errors.count, "error") %> prohibited this patron_relationship from being saved:</h2>

      <ul>
      <% @patron_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @patron_relationship.try(:parent) %>
      <%= f.label :parent_id %><br />
      <%= link_to @patron_relationship.parent.full_name, @patron_relationship.parent %>
      <%= f.hidden_field :parent_id %>
    <% else %>
      <%= f.label :parent_id %><br />
      <%= f.text_field :parent_id %>
    <% end %>
  </div>
  <div class="field">
    <% if @patron_relationship.child.try(:full_name) %>
      <%= f.label :child_id %><br />
      <%= link_to @patron_relationship.child.full_name, @patron_relationship.child %>
      <%= f.hidden_field :child_id %>
    <% else %>
      <%= f.label :child_id %><br />
      <%= f.text_field :child_id %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :patron_relationship_type_id %><br />
    <%= f.select(:patron_relationship_type_id, @patron_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
