<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron_relationship')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th>Parent</th>
    <th>Child</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patron_relationships.each do |patron_relationship| %>
  <tr>
    <td><%= patron_relationship.parent_id %></td>
    <td><%= patron_relationship.child_id %></td>
    <td><%= link_to t('page.show'), patron_relationship %></td>
    <td><%= link_to t('page.edit'), edit_patron_relationship_path(patron_relationship) %></td>
    <td><%= link_to t('page.destroy'), patron_relationship, :confirm => t('page.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to 'New Patron relationship', new_patron_relationship_path %></li>
  </ul>
</div>
