<div id="content_detail">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.picture_file')) -%></h1>
<div id="content_list">

<h2 class="resource_title"><%= link_to h(@shelf.display_name.localize), @shelf -%></h2>

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('page.attachable') -%></th>
    <th><%= t('activerecord.attributes.picture_file.picture_file_size') -%></th>
    <th><%= t('activerecord.attributes.picture_file.picture_content_type') -%></th>
    <th><%= t('activerecord.attributes.picture_file.picture_file_name') -%></th>
    <th></th>
  </tr>
  <%- @picture_files.each do |picture_file| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%- if can? :destroy, picture_file -%>
          <%= move_position(picture_file) -%>
        <%- end -%>
      </td>
      <td>
        <%= link_to "#{h(picture_file.picture_attachable_type)}/#{h(picture_file.picture_attachable_id)}", picture_file.picture_attachable if picture_file.picture_attachable -%>
      </td>
      <td><%= picture_file.picture_file_size -%></td>
      <td><%= picture_file.picture_content_type -%></td>
      <td><%= link_to h(picture_file.picture_file_name), picture_file_path(picture_file, :format => :download, :size => 'original') -%></td>
      <td>
        <%- if can? :destroy, picture_file -%>
          <%= link_to t('page.show'), picture_file -%>
          <%= link_to t('page.edit'), edit_picture_file_path(picture_file) -%>
          <%= link_to t('page.destroy'), picture_file, :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@picture_files) -%>
</div>
</div>

<div id="submenu">
  <%- if can? :create, PictureFile -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_shelf_picture_file_path(@shelf) -%></li>
    </ul>
  <%- end -%>
</div>
