<%= form_for(@picture_file, :url => manifestation_picture_files_path(@manifestation), :html => { :multipart => true, :method => :post }) do |f| -%>
  <%= f.error_messages -%>
  <div class="field">
    <%= f.label t('page.attachable') -%><br />
    <%= link_to @manifestation.original_title, @manifestation -%>
    <%= f.hidden_field :picture_attachable_id -%>
    <%= f.hidden_field :picture_attachable_type -%>
  </div>

  <div class="field">
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :picture -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
