<%= form_for(@picture_file, :url => shelf_picture_files_path(@shelf), :html => { :multipart => true, :method => :post }) do |f| -%>
  <%= f.error_messages -%>
  <div class="field">
    <%= f.label t('page.attachable') -%><br />
    <%= link_to @shelf.library.display_name.localize, library_path(@shelf.library) -%>
    <%= link_to @shelf.display_name.localize, @shelf -%>
    <%= f.hidden_field :picture_attachable_id -%>
    <%= f.hidden_field :picture_attachable_type -%>
  </div>

  <div class="field">
    <%= f.label t('page.file') -%><br />
    <%= f.file_field :picture -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
