<div data-role="header">
  <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" class="ui-btn-left"><%= t('page.back') %></a>
  <h1 class="title"><%= t('page.showing', model: t('activerecord.models.shelf')) -%></h1>
</div>
<div data-role="content">

<p>
  <strong><%= t('page.attachable') -%>:</strong>
  <%= link_to h("#{(@picture_file.picture_attachable_type)}/#{(@picture_file.picture_attachable_id)}"), @picture_file.picture_attachable if @picture_file.picture_attachable_type? -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.picture_file.picture_file_size') -%>:</strong>
  <%= @picture_file.attachment.byte_size -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.picture_file.picture_content_type') -%>:</strong>
  <%= @picture_file.attachment.content_type -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.picture_file.picture_file_name') -%>:</strong>
  <%- if @picture_file.attachment.attached? -%><br />
    <%= link_to @picture_file.attachment.filename, rails_blob_path(@picture_file.attachment) -%><br />
    <%= render 'picture_files/link', picture_file: @picture_file %>
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.picture_file.width') -%>:</strong>
  <%= @picture_file.attachment.metadata['width'] -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.picture_file.height') -%>:</strong>
  <%= @picture_file.attachment.metadata['height'] -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.picture_file.picture_fingerprint') -%>:</strong>
  <%= Base64.decode64(@picture_file.attachment.checksum).unpack("H*").first %>
</p>

<p>
  <strong><%= t('activerecord.attributes.picture_file.picture_updated_at') -%>:</strong>
  <%= l(@picture_file.picture_updated_at) if @picture_file.picture_updated_at -%>
</p>

</div>
</div>
