<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <title><%= title(controller.controller_name) %></title>
  <%= render 'page/include' %>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, url_for(request.params.merge(format: 'rss', page: nil, commit: nil, only_path: true)), title: (t('agent.library_group_agent', library_group_name: @library_group.display_name.localize) + " (RSS)")) %>
    <%= auto_discovery_link_tag(:atom, url_for(request.params.merge(format: 'atom', page: nil, commit: nil, only_path: true)), title: (t('agent.library_group_agent', library_group_name: @library_group.display_name.localize) + " (Atom)")) %>
  <%- end -%>
</head>
<body>

<div class="container">
  <%= render 'page/header' %>
  <%= render 'page/menu' %>

  <div class="row" id="content">

    <%= yield %>

  </div>

  <%= render 'page/footer' %>
</div>

</body>
</html>
