<!DOCTYPE html>
<html>
  <head>
    <title><%= title(controller.controller_name) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= book_jacket_header(@library_group.book_jacket_source) %>
  </head>

  <body>
    <%= render 'page/menu' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'page/footer' %>
  </body>
</html>
