<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="<%= @locale -%>"
  lang="<%= @locale -%>"
>
  <head>
    <meta charset="UTF-8"/>
    <%- if @library -%>
      <title><%= t("calendar.library_calendar", library_name: @library.display_name.localize) -%>
        -
        <%= LibraryGroup.system_name(@locale) -%></title>
    <%- else -%>
      <title><%= t("calendar.calendar") -%>
        -
        <%= LibraryGroup.system_name(@locale) -%></title>
    <%- end -%>
    <%= auto_discovery_link_tag(
      :rss,
      events_url(format: :rss),
      title:
        (
          t(
            "event.library_group_event",
            library_group_name: @library_group.display_name.localize,
          ) + " (RSS)"
        ),
    ) %>
    <%= auto_discovery_link_tag(
      :atom,
      events_url(format: :atom),
      title:
        (
          t(
            "event.library_group_event",
            library_group_name: @library_group.display_name.localize,
          ) + " (Atom)"
        ),
    ) %>
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      href="<%= page_opensearch_url -%>"
      title="<%= @library_group.display_name.localize -%>"
    />
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application",
    "data-turbo-track": "reload",
    type: "module" %>
  </head>
  <body>
    <%= render "page/menu" %>
    <div class="container">
      <div class="row mt-3 mb-3" id="content">
        <%= yield %>
      </div>
      <%= render "page/footer" %>
    </div>
  </body>
</html>
