<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <%= javascript_include_tag 'application' %>
  <title><%= @manifestation.original_title %></title>
</head>

<%= yield %>

</body>
</html>
