<!DOCTYPE html>
<html lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <title><%= resource_title(@manifestation, controller.action_name) %></title>
  <%= render 'page/include' %>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => :rss, :page => nil, :commit => nil, :only_path => true)), :title => (t('manifestation.library_group_manifestation', :library_group_name => @library_group.display_name.localize) + " (RSS)")) %>
    <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => :atom, :page => nil, :commit => nil, :only_path => true)), :title => (t('manifestation.library_group_manifestation', :library_group_name => @library_group.display_name.localize) + " (Atom)")) %>
  <%- end -%>
  <% if controller.action_name == 'show' %>
    <script type="text/javascript" src="https://encrypted.google.com/books/previewlib.js"></script>
  <% end %>
</head>
<body>

  <%= render 'page/header' %>

  <div class="container">

    <%= yield %>

    <%= render 'page/footer' %>
  </div>

</body>
</html>
