<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <%= render 'page/include' %>
  <title><%= t('page.two_factor_authentication') %></title>
</head>

<%= render 'page/header' %>
<%= render 'page/menu' %>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
