<%= form_for(@system_configuration) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :keyname %><br />
    <%= f.text_field :keyname, :disabled => true -%>
  </div>

  <% if @system_configuration and @system_configuration.typename == 'Boolean' %>
    <div class="field">
      <%= f.label :v %><br />
      <%= f.select :v, ["true", "false"] -%> <br />
    </div>
  <% else %>
    <div class="field">
      <%= f.label :v %><br />
      <%= f.text_field :v -%> <br />
    </div>
  <% end %>

  <div class="field">
    <%= f.label :typename %><br />
    <%= f.select(:typename, SystemConfiguration.typenames, {}, {:disabled => true}) -%>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :size => 100  -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
