<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.system_configuration')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.system_configuration.key') -%></th>
    <th><%= t('activerecord.attributes.system_configuration.v') -%></th>
    <th><%= t('activerecord.attributes.system_configuration.typename') -%></th>
    <th><%= t('activerecord.attributes.system_configuration.description') -%></th>
    <th></th>
  </tr>

<%- @system_configurations.each do |system_configuration| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= system_configuration.keyname -%></td>
    <td>
      <%- if system_configuration.v.length > 15 -%>
        <%= system_configuration.v.slice(0..15) -%>...
      <%- else -%>
        <%= system_configuration.v-%>
      <%- end -%>
    </td>
    <td><%= system_configuration.typename-%></td>
    <td>
      <%- if system_configuration.description.length > 15 -%>
        <%= system_configuration.description.slice(0..15) -%>...
      <%- else -%>
        <%= system_configuration.description -%>
      <%- end -%>
    </td>
    <td>
      <%- if can? :update, system_configuration -%>
        <%= link_to t('page.edit'), edit_system_configuration_path(system_configuration) -%>
      <% end %>
      <%- if false -%>
        <%- if can? :destroy, system_configuration -%>
          <%= link_to t('page.destroy'), system_configuration, :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
        <%= link_to t('page.show'), system_configuration -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if false -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.system_configuration')), new_system_configuration_path -%></li>
    <%- end -%>
  </ul>
</div>
