<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.system_configuration')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.system_configuration.key') -%></th>
    <th><%= t('activerecord.attributes.system_configuration.v') -%></th>
    <th></th>
  </tr>

<%- @system_configurations.each do |system_configuration| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= system_configuration.keyname -%></td>
    <td><%= system_configuration.v-%></td>
    <td>
      <%- if can? :update, system_configuration -%>
        <%= link_to t('page.edit'), edit_system_configuration_path(system_configuration) -%>
      <% end %>
      <%- if can? :destroy, system_configuration -%>
        <%= link_to t('page.destroy'), system_configuration, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
        <%= link_to t('page.show'), system_configuration -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.system_configuration')), new_system_configuration_path -%></li>
  </ul>
</div>
