<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.system_configuration')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.system_configuration.key') -%>:</strong>
  <%= @system_configuration.keyname -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.system_configuration.v') -%>:</strong>
  <%= @system_configuration.v-%>
</p>

<p>
  <strong><%= t('activerecord.attributes.system_configuration.typename') -%>:</strong>
  <%= @system_configuration.typename-%>
</p>

<p>
  <strong><%= t('activerecord.attributes.system_configuration.description') -%>:</strong>
  <%= @system_configuration.description-%>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_system_configuration_path(@system_configuration) -%></li>
    <li><%= link_to t('page.back'), system_configurations_path -%></li>
  </ul>
</div>
