<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.series_statement_relationship')) -%></h1>
    <div id="content_list">
    <p id="notice"><%= notice %></p>

    <p>
      <b><%= t('activerecord.models.relationship_family') %>:</b>
      <%= link_to @series_statement_relationship.relationship_family.display_name, @series_statement_relationship.relationship_family %>
    </p>
    <p>
      <b><%= t('activerecord.attributes.series_statement_relationship.seq') %>:</b>
      <%= @series_statement_relationship.seq %>
    </p>
    <p>
      <b><%= t('activerecord.attributes.series_statement_relationship.before_series_statement_relationship') %>:</b>
      <% if @series_statement_relationship.before_series_statement_relationship_id %>
        <%= link_to @series_statement_relationship.before_series_statement_relationship.original_title,
          @series_statement_relationship.before_series_statement_relationship %>
      <% end %>
    </p>
    <p>
      <b><%= t('activerecord.attributes.series_statement_relationship.after_series_statement_relationship') %>:</b>
      <% if @series_statement_relationship.after_series_statement_relationship_id %>
        <%= link_to @series_statement_relationship.after_series_statement_relationship.original_title,
          @series_statement_relationship.after_series_statement_relationship %>
      <% end %>
    </p>
    <p>
      <b><%= t('activerecord.models.series_statement_relationship_type') %>:</b>
      <%= @series_statement_relationship.series_statement_relationship_type.display_name %>
    </p>
    <p>
      <b><%= t('activerecord.attributes.series_statement_relationship.source') %>:</b>
      <%= SeriesStatementRelationship::SOURCES[@series_statement_relationship.source] %>
    </p>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_series_statement_relationship_path(@series_statement_relationship) %></li>
    <li><%= link_to t('page.showing', :model => t('activerecord.models.relationship_family')), relationship_family_path(@series_statement_relationship.relationship_family) %></li>
  </ul>
</div>
